{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<script type="text/javascript">	
	var nav_cfg = {$nav_cfg|json_encode};	
	var adv_type = 0;
	var data_json = new Object();
</script>
<load href='__TMPL__Common/js/mnav_cfg.js' />
<load href='__TMPL__Common/js/m_zt_adv.js' />
<div class="main">
<div class="main_title">{%ADD} <a href="{:u("MAdv/index")}" class="back_list">{%BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{%NAME}:</td>
		<td class="item_input">
			<input type="text" class="textbox require" name="name"  />
		</td>
	</tr>
	<tr style="display:none;">
		<td class="item_title">{%MAdv_City}:</td>
		<td class="item_input">
		<select name="city_id">
			<option value="0" <if condition="$vo['city_id'] eq 0">selected="selected"</if>>{%MAdv_Show_all}</option>
			<foreach name="city_list" item="city_item">
				<option value="{$city_item.id}" <if condition="$city_item['pid'] eq 0">disabled="disabled"</if>>{$city_item.title_show}</option>
			</foreach>
		</select>
		</td>
	</tr>
	<tr style="display:none;">
		<td class="item_title">{%MAdv_cellphone_type}:</td>
		<td class="item_input">
			<select name=mobile_type id = "mobileTypeSelect">
				<foreach name="nav_cfg" item="cfg">
					<option value="{$cfg.mobile_type}" <if condition="$vo['mobile_type'] eq $cfg['mobile_type']">selected="selected"</if>>{$cfg.name}</option>					
				</foreach>
			</select>
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%MAdv_Display_position}:</td>
		<td class="item_input">
			<select name=position  id = "advposition">
					<option value="0" <if condition="$vo['position'] eq 0">selected="selected"</if>>{%MAdv_Home}</option>
					<!--<option value="2" <if condition="$vo['position'] eq 2">selected="selected"</if>>首页专题位</option>	-->					
					<!--<option value="1" <if condition="$vo['position'] eq 1">selected="selected"</if>>启动页</option>	-->					
			</select>
		</td>
	</tr>
	
	<tr id="zt_tr">
		<td class="item_title">{%MAdv_Thematic_bit}:</td>
		<td class="item_input">
		<table>
			<tr>
				<td>
					<select name=zt_id  id="zt_id">		
						<option value="0">{%MAdv_tips01}</option>
						<foreach name="zt_list" item="zt">
							<option value="{$zt.id}" <if condition="$vo['zt_id'] eq $zt['id']">selected="selected"</if>>{$zt.name}</option>
						</foreach>	
					</select>
				</td>
				<td id="preview"></td>
			</tr>
		</table>
			
		</td>
	</tr>
	
	<tr id="zt_layout">
		<td class="item_title">{%MAdv_Thematic_spots}:</td>
		<td class="item_input">
			<select name=zt_position  id="zt_position">		
				
			</select>
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%ADV_IMAGE}:</td>
		<td class="item_input">
			<html:imgUpload name = 'img' id='img' />
			<span class='tip_span'>{%ADV_PAGE_TIPS}</span>
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%ADV_TYPE}:</td>
		<td class="item_input">
			<select name="type" id='typeSelect'>
				<foreach name="nav_list" item="nav">
					<option value="{$nav.type}" <if condition="$vo['type'] eq $nav['type']">selected="selected"</if>>{$nav.name}</option>					
				</foreach>
			</select>
		</td>
	</tr>
	
	<tr id="type" style="display:none;">
		<td class="item_title"></td>
		<td class="item_input">
			<input type="text" class="textbox " name=""  />
		</td>
	</tr>
	
	<tr style="display:none;">
		<td class="item_title">{%MAdv_tips02}:</td>
		<td class="item_input">
			<select name="is_middle">
				<option value="0">{%common_no}</option>
				<option value="1">{%common_Yes}</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="item_title">{%SORT}:</td>
		<td class="item_input">
			<input type="text" class="textbox " name="sort" value="{$new_sort}"  />
		</td>
	</tr>	
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="MAdv" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="insert" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{%ADD}" />
			<input type="reset" class="button" value="{%RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer" />