{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<script type="text/javascript">
	$(document).ready(function(){
		var u_action="{$vo.u_action}";		
		load_u_define(u_action);
		$("select[name='u_module']").bind("change",function(){ u_action="";load_u_define(u_action);});		
	});
	function load_u_define(u_action)
	{
		if($("select[name='u_module']").val()=='')
		{
			$("#u_config").hide();
			$("#u_act").hide();
			$("#u_define").show();
		}
		else
		{
			if(u_action==""){
				var module = $("select[name='u_module']").val();
				$.ajax({ 
						url: ROOT+"?"+VAR_MODULE+"=Nav&"+VAR_ACTION+"=load_module&module="+module, 
						data: "ajax=1",
						dataType: "json",
						success: function(obj){
							if(obj.data)
							{
								var html="<select name='u_action'>";
								for(nameo in obj.data)
								{
									html+="<option value='"+nameo+"' ";
									if(obj.info==nameo)
									{
										html+=" selected='selected' ";
									}
									html+=" >"+obj.data[nameo]+"</option>";
								}
								html+="</select>";
								$("#u_act").html(html);
							}
							else
							{
								$("#u_act").html("");
							}
						}
				});
			}

			$("#u_act").show();
			$("#u_define").hide();
			$("#u_config").show();
		}
	}
</script>
<div class="main">
<div class="main_title">{$vo.title}{%EDIT} <a href="{:u("Article/index")}" class="back_list">{%BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{%ARTICLE_TITLE}:</td>
		<td class="item_input"><input type="text" class="textbox require" name="title" value="{$vo.title}" /></td>
	</tr>
	<!-- 
	<tr>
		<td class="item_title">附标题:</td>
		<td class="item_input"><input type="text" class="textbox" name="sub_title" value="{$vo.sub_title}" /> 
			<span class="tip_span">[仅用于公告的推荐显示]</span>
		</td>
	</tr>
	<tr>
		<td class="item_title">简介:</td>
		<td class="item_input"><textarea class="textarea" name="brief" >{$vo.brief}</textarea></td>
	</tr>
	<tr>
		<td class="item_title">{%URL_UNAME}:</td>
		<td class="item_input"><input type="text" class="textbox word-only" name="uname" value="{$vo.uname}" /> </td>
	</tr>	
	<tr>
		<td class="item_title">{%REL_URL}:</td>
		<td class="item_input"><input type="text" class="textbox" name="rel_url" value="{$vo.rel_url}" /></td>
	</tr>
	
	
	<tr>
		<td class="item_title">{%NAV_URL}:</td>
		<td class="item_input">
			<select name="u_module">
					<option value="">{%U_DEFINE}</option>
					<foreach name="jump_url" item="nav" key="key" >
						<option value="{$key}" <if condition="$key eq $vo['u_module']">selected="selected"</if> >{$nav.name}</option>
					</foreach>
			</select>
			<span id="u_act">
					<select name="u_action">					
					<foreach name="jump_url_child" item="nav" key="key" >
						<option value="{$key}" <if condition="$key eq $vo['u_action']">selected="selected"</if> >{$nav}</option>
					</foreach>
					</select>				
			</span>
			<span id="u_config">				
				{%U_PARAM}：<input type="text" class="textbox" name="u_param"  value="{$vo.u_param} "/>
			</span>
			
			<span id="u_define">
				<input type="text" class="textbox" name="url" value="{$vo.url}" />
			</span>
		</td>
	</tr>	
	 -->
	
	<tr>
		<td class="item_title">{%SORT}:</td>
		<td class="item_input"><input type="text" class="textbox" name="sort" value="{$vo.sort}" /></td>
	</tr>
	<tr>
		<td class="item_title">{%Adv_edit_form_classification}:</td>
		<td class="item_input">
		<select name="cate_id" class="require">
			<option value="0">=={%NO_SELECT_CATE}==</option>
			<foreach name="cate_tree" item="cate_item">
				<option value="{$cate_item.id}" <if condition="$vo['cate_id'] eq $cate_item['id']">selected="selected"</if>>{$cate_item.title}</option>
			</foreach>
		</select>
		</td>
	</tr>
	<!-- 
	<tr id="notice_page">
		<td class="item_title">公告显示位置:</td>
		<td class="item_input">
		<select name="notice_page">
			<option value="0" <if condition="$vo['notice_page'] eq 0">selected="selected"</if>>全部</option>
			<option value="1" <if condition="$vo['notice_page'] eq 1">selected="selected"</if>>首页</option>
			<option value="2" <if condition="$vo['notice_page'] eq 2">selected="selected"</if>>商城</option>		
		</select>
		
		<span class="tip_span">[仅用于公告的显示]</span>
		</td>
	</tr>	
	 -->

	<tr>
		<td class="item_title">{%IS_EFFECT}:</td>
		<td class="item_input">
			<lable>{%IS_EFFECT_1}<input type="radio" name="is_effect" value="1" <if condition="$vo['is_effect'] eq 1">checked="checked"</if> /></lable>
			<lable>{%IS_EFFECT_0}<input type="radio" name="is_effect" value="0" <if condition="$vo['is_effect'] eq 0">checked="checked"</if> /></lable>
		</td>
	</tr>
	<tr>
		<td class="item_title">{%ARTICLE_CONTENT}:</td>
		<td class="item_input">
			 <html:editor id="editor" name="content" type="KINDEDITOR" content="{$vo.content}" />
		</td>
	</tr>
	<!--
	<tr>
		<td class="item_title">{%ARTICLE_SEO_TITLE}:</td>
		<td class="item_input"><textarea class="textarea" name="seo_title" >{$vo.seo_title}</textarea></td>
	</tr>
	<tr>
		<td class="item_title">{%ARTICLE_SEO_KEYWORD}:</td>
		<td class="item_input"><textarea class="textarea" name="seo_keyword" >{$vo.seo_keyword}</textarea></td>
	</tr>
	<tr>
		<td class="item_title">{%ARTICLE_SEO_DESCRIPTION}:</td>
		<td class="item_input"><textarea class="textarea" name="seo_description" >{$vo.seo_description}</textarea></td>
	</tr>
	-->
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$vo.id}" />

			<input type="hidden" name="{:conf("VAR_MODULE")}" value="Article" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{%EDIT}" />
			<input type="reset" class="button" value="{%RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer" />