{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<php>
	function get_cate_name($cate_id)
	{
		return M("ArticleCate")->where("id=".$cate_id)->getField("title");
	}
</php>
<div class="main">
<div class="main_title">{$main_title}</div>
<div class="blank5"></div>
<div class="button_row">
	<input type="button" class="button" value="{%ADD}" onclick="add();" />
	<input type="button" class="button" value="{%DEL}" onclick="foreverdel();" />
</div>
<div class="blank5"></div>
<div class="search_row">
	<form name="search" action="__APP__" method="get">
		{%common_Name}：<input type="text" class="textbox" name="title" value="{:strim($_REQUEST['title'])}" />
		<input type="hidden" value="Article" name="m" />
		<input type="hidden" value="index" name="a" />
		<input type="submit" class="button" value="{%SEARCH}" />
	</form>
</div>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="article" 
	checkbox="true" 
	action="true" 
	datasource="list" 
	show="id:{%ID}|50px,title:{%ARTICLE_TITLE}:edit,cate_id|get_cate_name:{%CATE_TREE},is_effect|get_is_effect=$article['id']:{%IS_EFFECT},create_time|to_date:{%CREATE_TIME},sort|get_sort=$article['id']:{%SORT},click_count:{%CLICK_COUNT}" 
	actionlist="edit:{%EDIT}, foreverdel:{%DEL}" /> 

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />