{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<script type="text/javascript" src="__TMPL__Common/js/calendar/calendar.php?lang=zh-cn" ></script>
<load href='__TMPL__Common/js/calendar/calendar.css' />
<load href='__TMPL__Common/js/calendar/calendar.js' />
<PHP>
	function get_handle($id, $duobaoItem)
	{
		$str.="&nbsp;&nbsp;<a href='javascript:foreverdel(".$id.");'>".l("DEL")."</a>";
		return $str;
	}
	function get_has_lottery($has_lottery){
		if($has_lottery == 1){
			$str = '{$DuobaoItem_index_Draw}';
		}else{
			$str = '{$DuobaoItem_index_No_draw}';
		}
		return $str;
	}
</php>
<load href='__TMPL__Common/js/jquery.bgiframe.js' />
<load href='__TMPL__Common/js/jquery.weebox.js' />
<load href='__TMPL__Common/style/weebox.css' />
<div class="main">
<div class="main_title">{%DuobaoItemHistory_index_Loot_list}</div>
<div class="blank5"></div>
<form name="search" action="__APP__" method="get">	
<div class="button_row">
	<input type="button" class="button" value="删除" onclick="foreverdel();" />
</div>
<div class="blank5"></div>
<div class="search_row">

	{%DuobaoItemHistory_index_Num}：<input type="text" class="textbox" name="id" value="{:strim($_REQUEST['id'])}" style="width:100px;" />
	{%DuobaoItemHistory_index_product_name}：<input type="text" class="textbox" name="duobaoitem_name" value="{:strim($_REQUEST['duobaoitem_name'])}" style="width:100px;" />
	{%DuobaoItemHistory_index_Category_Name}：<input type="text" class="textbox" name="cate_name" value="{:strim($_REQUEST['cate_name'])}" style="width:100px;" />
	{%DuobaoItemHistory_index_Winner}：<input type="text" class="textbox" name="user_name" value="{:strim($_REQUEST['user_name'])}" style="width:100px;" />
	{%DuobaoItemHistory_index_Draw_time}：
		<input type="text" class="textbox" name="begin_time" id="begin_time" value="{:strim($_REQUEST['begin_time'])}" onfocus="return showCalendar('begin_time', '%Y-%m-%d %H:%M:%S', false, false, 'btn_begin_time');" />
		<input type="button" class="button" id="btn_begin_time" value="{%SELECT_TIME}" onclick="return showCalendar('begin_time', '%Y-%m-%d %H:%M:%S', false, false, 'btn_begin_time');" />	
		-
		<input type="text" class="textbox" name="end_time" id="end_time" value="{:strim($_REQUEST['end_time'])}" onfocus="return showCalendar('end_time', '%Y-%m-%d %H:%M:%S', false, false, 'btn_end_time');" />
		<input type="button" class="button" id="btn_end_time" value="{%SELECT_TIME}" onclick="return showCalendar('end_time', '%Y-%m-%d %H:%M:%S', false, false, 'btn_end_time');" />
		
		
		<input type="hidden" value="DuobaoItemHistory" name="m" />
		<input type="hidden" value="index" name="a" />
		
		<input type="submit" class="button" value="{%SEARCH}" />
</div>
</form>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="duobaoItem" 
	checkbox="true" 
	action="true" 
	datasource="list" 
	show="id:{%ID}|50px
			,duobaoitem_name:{%DuobaoItemHistory_index_product_name}
			,cate_name:{%DuobaoItemHistory_index_Category_Name}
			,brand_name:{%DuobaoItemHistory_index_brand_name}
			,user_name:{%DuobaoItemHistory_index_Winner}
			,lottery_sn:{%DuobaoItemHistory_index_prize_number}
			,has_lottery|get_has_lottery:{%DuobaoItemHistory_index_Lotterystatus}
			,success_time|to_date:{%DuobaoItemHistory_index_Success_time}
			,lottery_time|to_date:{%DuobaoItemHistory_index_Draw_time}
			,fair_sn:{%DuobaoItemHistory_index_Notary_number}
		 	,is_effect|get_toogle_status=$duobaoItem['id']#is_effect:{%DuobaoItemHistory_index_effective}"
	actionlist="id|get_handle=$duobaoItem" />

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />