<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/anno_user_center.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

?>
{include file="inc/header_title_home.html"}
<header class="uc-info-head">
    <div class="head-pic fl">
    <img src="{function name="get_user_avatar" uid=$user_info.id type="small"}"  width="100%" height="100%">
    </div>
    <div class="user-box fl">
	    <p class="user-name">{$user_info.user_name}</p>
	    <p class="user-id">ID:<span>{$user_info.id}</span></p>
    </div>
</header>
<div class="slider-nav split-line">
  <ul>
	  <li class="nav-item"><a href="{url x="index" r="anno_user_center#index" p="lucky_user_id=$user_info.id"}" {if $log_type eq 0}class= "cur"{/if}>Treasure Record</a></li>
	  <li class="nav-item"><a href="{url x="index" r="anno_user_center#index" p="log_type=1&lucky_user_id=$user_info.id"}" {if $log_type eq 1} class="cur"{/if}>Lucky record</a></li>
	  <li class="nav-item"><a href="{url x="index" r="anno_user_center#index" p="log_type=2&lucky_user_id=$user_info.id"}" {if $log_type eq 2} class="cur"{/if}>Posting an order</a></li>
  </ul>
</div>

{if $list and $log_type neq 2}
	<div class="m-content">
		<ul class="scroll_bottom_list">
			{foreach from=$list item=item}
			<li class="dblist {if $item.success_time eq 0}inprogress{else}finish{/if}">
				<div class="dblistimg">
					{if $item.min_buy eq 10}
						<div class="tenyen"></div>
					{/if}
					{if $item.min_buy eq 100}
						<div class="hundred"></div>
					{/if}
					<a href="{url x="index" r="duobao" p="data_id=$item.id"}"><img alt="" src="{$item.icon}"/></a>
				</div>
				<div class="dblistmain">
					<a class="tit" href="{url x="index" r="duobao" p="data_id=$item.id"}">{$item.name}</a>
					<div class="prl">
						<div class="lable">Issue&nbsp;:&nbsp;{$item.id}</div>
						<div class="progressBar">
		                    <span class="bar" style="width:{$item.progress}%"><i class="color"></i></span>
		                </div>
						<div class="lable fl">Total need&nbsp;:&nbsp;{$item.max_buy}Person times</div>
						<div class="lable fl surplus">Remaining&nbsp;:&nbsp;<em>{$item.less}</em>Person times</div>
							<a class="tacked" href="{url x="index" r="duobao" p="data_id=$item.id"}">Follow to buy</a>
						</div>
					{if $item.has_lottery eq 1 and $log_type eq 0}
					<div class="prl">
						<div class="partake fl">Participate in this issue&nbsp;:&nbsp;<em>{$item.number}</em>Person times</div>
						<a class="lookno fr" href="{url x="index" r="anno_user_center#my_no" p="id=$item.id&uid=$user_info.id"}">View Raiders Number</a>
					</div>
					<div class="announce">
						<div class="mline">Winner&nbsp;:&nbsp;<span><a href="{url x="index" r="anno_user_center" p="lucky_user_id=$item.luck_user_id"}">{$item.luck_user_name}</a></span> </div>
						<div class="mline">Participation in this issue <em>{$item.luck_user_total}</em> person times</div>
						<div class="mline">Lucky number<em>{$item.lottery_sn}</em> </div>
						<div class="mline">Announce the time {$item.lottery_time}</div>
					</div>
					{elseif  $log_type eq 1}
					<div class="prl">
						<div class="partake fl">Participate in this issue&nbsp;:&nbsp;<em>{$item.number}</em>Person times</div>
					</div>
					<div class="mline">Lucky number&nbsp;:&nbsp;<em>{$item.lottery_sn}</em></div>
					<div class="mline">Announce time&nbsp;:&nbsp;{$item.lottery_time}</div>
					{else}
						<div class="announce">
							<div class="mline">Waiting for the draw</div>
						</div>
					{/if}
				</div>
			</li>
			{/foreach}
		</ul>
	</div>
{elseif empty($list) and $log_type neq 2}
	<div class="content">
	<div class="null_data">
		<p class="icon"><i class="iconfont">&#xe6e8;</i></p>
		<p class="message">No data</p>
	</div>
</div>
{/if}

{if $share_list and $log_type eq 2}<!-- 他人的夺宝中心，只显示审核通过的晒单 -->
	<div class="m-content">
		<ul class="share-list scroll_bottom_list">
			{foreach from=$share_list item=ome}
			<li class="item">
				<div class="clear"></div>
				<a href="{url r="index" r="share#detail" p="id=$ome.share_id"}" class="share-info">
					<div class="content">
						<h2 class="share-title">{$ome.title}</h2>
						<p class="goods-name">{$ome.name}</p>
						<p class="code">Issue：{$ome.duobao_item_id}</p>
						<p class="share-time">Time：{$ome.create_time}</p>
						<p class="share-txt">{$ome.content}</p>
						{if $ome.image_list}
						<ul class="share-pic clearfix">
							{foreach from=$ome.image_list item=ome}
							<li>
								<img src="{$ome.path}">
							</li>
							{/foreach}
						</ul>
						{/if}
					</div>
				</a>
			</li>
			{/foreach}
		</ul>
	</div>
{elseif empty($share_list) and $log_type eq 2}
<div class="content">
	<div class="null_data">
		<p class="icon"><i class="iconfont">&#xe6e8;</i></p>
		<p class="message">No data</p>
	</div>
</div>
{/if}

{if $pages}
	<div class="fy scroll_bottom_page">
		{$pages}
	</div>
{/if}
{include file="inc/footer_menu.html"}
{include file="inc/footer_index.html"}
