<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/anno.css";


$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";



$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/anno.js";
//$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/anno.js";

?>

{include file="inc/header_title_only.html"}

<div class="wrap">
      {if $list}
      <ul class="goods-list scroll_bottom_list">
      	{foreach from=$list item=item}
        <li>
        <a href="{url x="index" r="duobao" p="data_id=$item.id"}">
            <div class="imgbox">
            	{if $item.min_buy eq 10}
                	<div class="tenyen"></div>
              	{/if}
              	<a href="{url x="index" r="duobao" p="data_id=$item.id"}">
            		<img src="{$item.icon}" alt="">
           		</a>
            </div>

            {if $item.has_lottery == 1}
            <div class="txtbox announced">
              <h1><a href="{url x="index" r="duobao" p="data_id=$item.id"}">
            		{$item.duobaoitem_name}
           		</a></h1>
              <ul class="txtlist fl">
                  <li>Issue number: <span class="code">{$item.id}</sapn></li>
                  <li>Recipient: <span class="user"><a href="{url x="index" r="anno_user_center" p="lucky_user_id=$item.luck_user_id"}">{$item.luck_user_name} </a></span></li>
                  <li>Number of participants: <span class="people">{$item.luck_user_buy_count}</span></li>
                  <li>Lucky number: <span class="luckycode">{$item.lottery_sn}</span></li>
                  <li>Announcement time: <time>{$item.date}{$item.lottery_time_show}</time></li>
              </ul>
            </div>
            <!--
            <div style="display:none;" class="txtbox announcing">
	              <h1>中国黄金 AU9999万足金50g薄片</h1>
	              <p class="code">
	               		 期号：
	                <span>301202399</span>
	              </p>
	              <h2>
	                <i class="iconfont">&#xe629;</i>
	                	<span class="set_hint_info">即将开奖</span>
	              </h2>

	              <time class="w-countdown-nums" nowtime="{$now_time}000" endtime="{$item.lottery_time}000">11:36:79</time>
             </div>
            -->
            {else}

            <!--
            <div style="display:none;" class="txtbox announced">
              <div class="flexbox">
              <h1></h1>
              </div>
              <ul class="txtlist fl">
                <li>期号</li>
                <li>获得者</li>
                <li>参与人次</li>
                <li>幸运号码</li>
                <li>揭晓时间</li>
              </ul>
              <ul class="fl">
                <li>:<span class="code"></sapn></li>
                <li>:<span class="user"></span></li>
                <li>:<span class="people"></span></li>
                <li>:<span class="luckycode"></span></li>
                <li>:<time></time></li>
              </ul>
              <div class="clear"></div>
            </div>
            -->
            <div class="txtbox announcing">
	              <h1>{$item.duobaoitem_name}</h1>
	              <p class="code">
                      Issue:
	                <span>{$item.id}</span>
	              </p>
	              <h2>
	                <i class="iconfont">&#xe629;</i>
	                	<span class="set_hint_info">Coming soon</span>
	              </h2>

	              <time class="w-countdown-nums" nowtime="{$now_time}" endtime="{$item.lottery_time}">00:00:00</time>
                      <div class="w-countwaiting" data-pro="countdownwaiting" style="">calculating...</div>
	              <!-- <time class="w-countdown-nums" nowtime="1453335545750" endtime="1453335546770">11:36:79</time>  -->
             </div>

            {/if}

          </a>
        </li>
        {/foreach}
	<div class="clear"></div>
    </ul>
	{if $pages}
	<div class="fy scroll_bottom_page">
		{$pages}
	</div>
	{/if}
	<!-- 无数据↓ -->
	{else}
    <div class="null_data">
      <p class="icon"><i class="iconfont">&#xe6e8;</i></p>
      <p class="message">No data</p>
    </div>
	{/if}
</div>
{include file="inc/footer_menu.html"}
{include file="inc/footer_index.html"}
