<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/cart_check.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/cart_order.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/cart_order.js";


?>
{include file="inc/header_title_home.html"}

<script type="text/javascript">
	var ajaxing = false; //ajax计算中，true是不允许提交订单
	var order_id = '{$data.order_id}';  //订单号
</script>
<div class="wrap">

	 
	<form  action="{url a="index" r="cart#order_done"}" method="POST"  id="pay-form" class="pay-form">
	<input name="order_id" type="hidden" value="{$data.order_id}" />
	<div class="back-white">
	<div class="goodsum list-li">
	<header>
		<i class="iconfont up-btn order-info-btn fr">&#xe6c4;</i>
		<i class="iconfont down-btn order-info-btn fr">&#xe6c3;</i>

		<p>Order Details</p>
		<div class="clear"></div>
	</header>
	</div>
	<section class="goodsum-info split-line">
		<div class="info">
			<h2>Note: Please confirm the following order details</h2>
			<div class="txtbox">
      {foreach from=$data.cart_list item=item}
      		<div class="txtbox-info">
			<p class="fl txt-over">{$item.name}</p>
			<p class="fr"><span>{$item.number}</span>Person times</p>
			<div class="clear"></div>
			</div>
      {/foreach}
            </div>

		</div>
	</section>
	<div class="blank-bar"></div>
	<!--留言-->
        <!--
	<div class="normal-fieldset">
		<h4 class="mj-title m-t10 list-li">留言信息</h4>
		<div class="textarea-box split-line">
		<textarea name="content" placeholder="请填写附加要求">{$data.order_memo}</textarea>
		</div>
    </div>
        ==>
	<!--end 留言-->


	<!--支付方式-->
	{if $data.show_payment}
    <div class="normal-fieldset">
		<h4 class="mj-title m-t10 list-li">Select Payment Method</h4>
        <section class="items-common common-radio-box">
            {foreach from=$data.payment_list item=payment name=payment }
            <div class="item-common list-li" {if $smarty.foreach.payment.last }style="border-bottom:none;"{/if}>
                    <label class="pay-ways" rel="payment">{$item.bank_name}<span class="payment-name"  bank_name="{$item.bank_name}" rel="{$item.id}" ></span>{$payment.name}</label>
                    <input class="payment-item" type="radio"  value="{$payment.id}" name="payment" style="display:none;" />
            </div>
			{/foreach}
        </section>
    </div>
	{/if}
	<!--end 支付方式-->
	<div class="blank-line" style="color: #000"></div>

  <!--余额-->
	{if $data.has_account }
    <div class="normal-fieldset">
       <h4 class="mj-title m-t10 list-li">Balance payment</h4>
        <section class="items-common common-radio-box">
            <div class="item-common list-li" style="border-bottom:none;">
                <label class="pay-ways" rel="all_account_money">{$item.bank_name}<span class="payment-name"></span>	Current account balance: {$account_amount}, use balance to pay</label>
                  <input class="payment-item"  type="checkbox" value="1" name="all_account_money" style="display:none;"/>

            </div>
        </section>
    </div>
	{/if}
	<!--end 余额-->

	<!--代金券-->
	<div class="blank-line"></div>
        {if $data.has_ecv eq 1 and $data.voucher_list}
		<div class="normal-fieldset" style="background: #fff">
			<h4 class="mj-title m-t10 list-li">Please choose the red envelope first</h4>
	            <div class="item-common list-li">
	            <i class="iconfont down-arrow">&#xe6c3;</i>
	               <select name="ecvsn" class="red-bag">
	               		<option value="">No red envelope</option>
						{foreach from=$data.voucher_list item=voucher}
						<option value="{$voucher.sn}">{$voucher.name}</option>
						{/foreach}
	               </select>
	            </div>
		</div>
        {/if}

	<!--end代金券-->

	<div class="blank-line"></div>
	<!--总计-->
	<div id="cart_total"></div>
	<!--end总计-->


	<div class="btn_order">
			<input class="sub" type="submit" value="To settle">
	  </div>
	</div>
	</form>
<div class="blank50"></div>
</div>

	<div class="am-layer ">
	    <div class="am-layer-title"><span class="title-txt">Payment reminder</span><div class="cencel-btn iconfont"></div></div>
	  <div class="am-layer-con">
			<div style=" padding:0.2rem; text-align:center;" id="payment_tip">
				<p style="font-size:0.6rem;">
					Please complete the payment on the newly opened page.
				</p>
				<div class="blank10"></div>
				<div class="blank10"></div>
				<div class="notice" style="font-size: 0.54rem;color:#808080">
					<p class="txt-red">Please do not close this window until the payment is complete. </p>
					After completing the payment, please click the button below according to your situation: </div>
				<div class="blank10"></div>
				<div class="blank10"></div>
				<div class="tip_btn">
					<a class="btn btn-blue reload-btn" href="">Re-initiate payment</a>
					<a class="btn btn-red success-btn" href="">Payment completed</a>
				</div>
			</div>
	  </div>


</div>
{include file="inc/no_footer.html"}
