<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/duobao_record.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/TouchSlide.1.1.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

?>
{include file="inc/header_title_home.html"}
<div class="wrap">
	<div class="content">
		{if $list}
		<div class="record-wrap scroll_bottom_list">
			{foreach from=$list item=item}
			{if $item.has_lottery == 0}
			<ul class="recording">
				
				<li>
					<a href="{url x="index" r="duobao" p="data_id=$item.id"}">Issue number: <em>{$item.id}</em> will be announced soon, now Countdown...</a>
				</li>	
							
			</ul>
			{else}
			<ul class="recorded ">
				
				<li>
					
					<header>
						<a href="{url x="index" r="duobao" p="data_id=$item.id"}">Issue number: <em>{$item.id}</em> (Announcement time: <time>{$item.date}{$item.lottery_time_show}</time>)</a>
					</header>
					<section>
						<a class="head-pic" href="javascript:void(0);" style="background:url({function name="get_user_avatar" uid=$item.luck_user_id type="small"});background-size: contain"></a>
						<ul>
							<li>Winners:
								<a href="{url x="index" r="anno_user_center" p="lucky_user_id=$item.luck_user_id"}" class="user">{$item.user_name}</a>
							</li>
							<li class="ip-ad">
								({$item.duobao_area}IP: <em>{$item.duobao_ip}</em>)
							</li>
							<li>
								User ID: {$item.luck_user_id} (unchanged unique identifier)
							</li>
							<li>
								Lucky number: <span>{$item.lottery_sn}</span>
							</li>

						</ul>
						<div class="clear"></div>
					</section>
					
				</li>
				
			</ul>
			{/if}
			{/foreach}
		</div>
		{if $pages}
		<div class="fy scroll_bottom_page">
			{$pages}
		</div>
		{/if}
		{else}
		 <div class="null_data">
	      <p class="icon"><i class="iconfont">&#xe6e8;</i></p>
	      <p class="message">No data</p>
	    </div>
		{/if}
	</div>
</div>
{include file="inc/footer_index.html"}
