<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/duobao_detail.css";


$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";


$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/duobao_detail.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/duobao_detail.js";


?>

{include file="inc/header_title_home.html"}

<script type="text/javascript">
	//减少移动端触发"Click"事件时300毫秒的时间差
window.addEventListener('load', function() {
    FastClick.attach(document.body);
}, false);
var fair_check_link = "{$data.fair_check_link}";
</script>
<div class="wrap">
    <div class="content">
    	<div class="formula-wrap split-line">
		<div class="formula">
			<h1>Calculation formula</h1>
			<p>[(Number A + Number B) /required number of people for the product] Take the remainder +100000001</p>
		</div>
		</div>
		<ul class="info-list">
			<li class="split-line">
				<h1>Value A</h1>
				<p>= The last 50 site-wide participation records as of the end of the product draw time</p>
				<p class="open-box fr">Expand<i class="iconfont">&#xe6c3;</i></p>
				<p class="close-box fr">Put away<i class="iconfont">&#xe6c4;</i></p>
				<p>= <span>{$data.value_a}</span></p>	
			</li>
			<dl class="user-list">
				<dt class="split-line">
					<p class="fl">Treasure hunting time</p>
					user account
				</dt>
				{foreach from=$data.duobao_item_log item=log}
				<dd class="split-line">
					<div class="txtbox">
					<time>{$log.create_time_format}</time> 
					 <span><i class="iconfont">&#xe6d4;</i>{$log.fair_sn_local}</span>
					 </div>
					 <p class="user-name">{$log.user_name}</p>
				</dd>
				{/foreach}
			</dl>
			<li class="split-line">
				<h1>Value B</h1>
				{if $data.fair_name}
				<p>= Results of the most recent {$data.fair_name}</p>
				<p>= 
				
				{if $data.value_b}
				<span>{$data.value_b}</span>		
				{else}
					<em>Waiting for the draw...</em>
				{/if}		
			
				{if $data.value_b eq $data.default_value_b}
					The lottery communication failed, use the default value {$data.default_value_b}
					{elseif $data.fair_period eq 000000}
					The expiration number is not obtained, use the default value {$data.default_value_b}
					{else}
					(Period {$data.fair_period}<a {if $is_app}href="javascript:void(0);" onclick="app_open_url();" {else} href="{$data.fair_check_link}" {/if} class="check">Lottery query</a>
				{/if}
				</p>
				{else}
					{if $data.value_b}
					<span>{$data.value_b}</span>		
					{else}
					<em>Waiting for the draw...</em>
					{/if}	
				{/if}
			</li>
			<div class="blank-line split-line"></div>
			<li class="split-line">
				<h1>Calculation result</h1>
				{if $data.lottery_sn}
				<h2>Lucky number: <span>{$data.lottery_sn}</span></h2>
				{else}
				<h2>Lucky number: <em>Waiting to be announced...</em>
				{/if}
			</li>
		</ul>
    </div>
</div>
{include file="inc/footer_menu.html"}
{include file="inc/footer_index.html"}

