<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/index.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/TouchSlide.1.1.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.fly.min.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/onload.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/swipe.js";


$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/index.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/index.js";


?>
{include file="inc/header_index_new.html"}
<script type="text/javascript">
//减少移动端触发"Click"事件时300毫秒的时间差
window.addEventListener('load', function() {
    FastClick.attach(document.body);
}, false);
var login_url='{url i="index" r="user#login"}';
</script>
<div class="wrap">
	{if $data.advs}
		<div class="top">
			<section>
				<div id="index-adv-box" class="index-adv-box">
					<div class="bd">
						<ul>
						{foreach from="$data.advs" item="adv"}
							<li>
								<a href="{$adv.url}"><img src="{$adv.img}" alt="" border="0" style="width:100%;"></a>
							</li>
						{/foreach}
						</ul>
					</div>
					<div class="hd"><ul></ul></div>
				</div>
			</section>
		</div>
		<script>
			TouchSlide({
				slideCell:"#index-adv-box",
				titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
				mainCell:".bd ul", 
				effect:"leftLoop", 
				autoPage:true,//自动分页
				autoPlay:true, //自动播放
				delayTime:750
			});
		</script>
	{/if}

	{if $data.indexs}
	<div class="sort_nav" id="sort_nav">
		  <div class="sort_list split-line">
		  <ul>
			<?php $i=0; ?>
		  	{foreach from=$data.indexs item=indexs key=key}
			<?php $i++; ?>
		  	<li>
		  	{foreach from=$indexs item=item}
				<a class="sort_li" href="{$item.url}">
 	    			<i class="diyfont yuan" style="background-color:{$item.color}">{$item.icon_name}</i>
				<span class="txt">{$item.name}</span>
				</a>
			{/foreach}
		  	</li>
		  	{/foreach}
		  </ul>
		  </div>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		var i=<?php echo $i; ?>;
		if (i>1) {
			TouchSlide({
			slideCell:"#sort_nav",
			effect:"leftLoop",
			mainCell:"#sort_nav ul",
			autoPlay:false,
			pnLoop:false,
			});
		};
	});
	</script>
	{/if}
	
    <!--公告-->
    {if $data.newest_lottery_list}
    <div class="notice-box split-line">
        <div class="left-icon">
          <span class="iconfont">&#xe6c0;</span>
        </div>
        <div class="r-content">
          <ul class="n-list-box">
           {foreach from=$data.newest_lottery_list item=lottery_unit}
            <li class="n-item"><a href="{url a="index" r="duobao#index" p="data_id=$lottery_unit.id"}"><span>{$LANG.index_gx}</span>{$lottery_unit.user_name}<span>{$lottery_unit.span_time}obtain{$lottery_unit.name}</sapn></a></li>
		   {/foreach}
          </ul>
        </div>
    </div>
    {/if}
    <!--end 公告-->
    
	<!--最新揭晓-->
	{if $data.newest_doubao_list}
	<div class="m-index-mod split-line">
	  <div class="m-index-mod-hd split-line">
	    <h3>Latest announcement</h3>
	  </div>
	  <div class="m-index-mod-cont">
	    <ul class="w-goodslist-item">
	    {foreach from=$data.newest_doubao_list item=newest_unit}
	      <li class="w-goods-item">
	        <div class="w-goods-pic">
	          <a href="{url a="index" r="duobao#index" p="data_id=$newest_unit.id"}" style="display: block;">
	            <img src="{$newest_unit.icon}"/>
	          </a>
	        </div>
	
			{if $newest_unit.has_lottery eq 0}
	        <!--即将开奖-->
	        <div class="w-countdown" data-pro="">
	          <span class="w-countdown-title">Countdown</span>
	          <span id="no1" class="w-countdown-nums" nowtime="{$data.now_time}" endtime="{$newest_unit.lottery_time}"></span>
	        </div>
	        <div class="w-countwaiting">
	          <div class="w-countwaiting" data-pro="countdownwaiting" style="display:none">calculating...</div>
	        </div>
	        <!--end即将开奖-->
			{else}
	        <!--中奖了-->
			  <p class="w-goods-user f-txtabb">Congratulations to <a href="{url x="index" r="anno_user_center" p="lucky_user_id=$newest_unit.luck_user_id"}">{$newest_unit. luck_user_name}</a> won the prize</p>
			  <p class="w-goods-sn f-txtabb">Lucky number<span>{$newest_unit.lottery_sn}</span></p>
        	<!--end 中奖了-->
			{/if}
	      </li>
		{/foreach}
	    </ul>
	  </div>
	</div>
	{/if}
	<!--end 最新揭晓-->
	
	<!--筛选条件-->
	<div class="slider-nav split-line-top split-line">
	  <ul style="margin-right: 15px;">
		  <li class="nav-item"><a class="{if $data.order eq'click_count'} cur{/if}" href="{url r="index" i="index" p=" order=click_count" }">popularity</a></li>
		  <li class="nav-item"><a class="{if $data.order eq'sort'} cur{/if}" href="{url r="index" i="index" p=" order=sort" }">Recommend</a></li>
		  <li class="nav-item"><a class="new sort-box {if $data.order eq'create_time'} cur{/if}"" href="{url r="index" i=" index" p="order=create_time" }">Latest</a></li>
		  <li class="nav-item"><a class=" {if $data.order eq'progress'} cur{/if}" href="{url r="index" i="index" p=" order=progress" }">Progress</a></li>
		  <li class="nav-item">
			  <a class="sort-box last {if $data.order eq'max_buy'} cur {if $data.order_dir eq 1} f-up {else} f-down{/if} {/if} "href= "javascript:void(0);" >Total number of people required
	        <span class="sort-icon iconfont i-up" data_url="{url r="index" i="index" p="order=max_buy&order_dir=1" }">&#xe6c4;</span>
	        <span class="sort-icon iconfont i-down" data_url="{url r="index" i="index" p="order=max_buy&order_dir=0" }">&#xe6c3;</span>
	      </a>
	  </li>
	  </ul>
	</div>
	
    <div class="content">
      {if $data.index_duobao_list}
       <!--在此处改变类名改变样式 tuan-ul-list  tuan-ul-img-->
       <ul class="tuan-ul tuan-ul-img split-line-top">
      	{foreach from=$data.index_duobao_list item=item  key=key}
        <li class="tuan_li split-line">
             <a class="blw" href="{url a="index" r="duobao#index" p="data_id=$item.id"}">
              <div class="pic">
              	{if $item.min_buy eq 10}
                	<div class="tenyen"></div>
				{/if}
				{if $item.unit_price eq 100}
					<div class="hundredyen"></div>
				{/if}
                <img src="{$item.icon}" lazy="true" />
               </div>
             </a>
             <div class="info">
              <div class="info-tit">
              {$item.name}
              </div>

              <div class="progress-box">
                <div class="left-box">
                  <div class="progress-info">Draw progress<span>{$item.progress}%</span></div>
                  <progress max="{$item.max_buy}" value="{$item.current_buy}"></progress>
                </div>
                  <a class="right-box add_cart_item" buy_num="{$item.min_buy}" data_id="{$item.id}" rel="{$item.icon}" onclick="add_cart(this)">Add to list</a>
                </div>
             </div>
        </li>
        {/foreach}
       </ul>

        {if $pages}
        	<a href="{url x="index" r="duobaos"}" class="more_duobao page-load">see more</a>
        {/if}
        {else}
	        <div class="null_data">
		        <p class="icon"><i class="iconfont">&#xe6e8;</i></p>
		        <p class="message">No data</p>
	        </div>
        {/if}
    </div>
    
</div>
{include file="inc/footer_menu.html"}
{include file="inc/footer_index.html"}
