{foreach from=$ecv_list item=row}
    	<li class="ecv-item">
    		<div class="e-info">
    			<div class="ei-pirce"><span>&yen;</span>{$row.money}</div>
    			<div class="ei-note">{$row.name}</div>
    			<div class="ei-status {if $row.use_status eq 1}e-use{/if}">{if $row.use_status eq 1}Expired {else} available{/if}</div>
    		</div>
    		<div class="e-datetiem">Valid until：{$row.datetime}</div>
    	</li>
{/foreach}
	            