<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/payment.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/user_login.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";



?>
{include file="inc/header_title_home.html"}
<div class="pay-result split-line">
	<div class="result-txt">
		<div class="pay-suc">
			<p>Congratulations, your participation is successful! </p>
			<p>Please wait for the system to announce for you! </p>
		</div>
		<div class="pay-fail">
			<p>Unfortunately, the participation failed! </p>
			<p>You have been refunded, please go to <a href="">Member Center</a></p>
		</div>
	</div>
	<div class="btn-box">
		<a href="" class="btn duobao">Continue to hunt for treasures</a>
		<a href="" class="btn check-duobao">View duobao records</a>
	</div>
</div>
<div class="result-info">
	<h2>You have successfully participated in <b>1</b> products, a total of <b>1</b> times, the information is as follows:</h2>
	<div class="result-goods-info">
		<div class="title-num">
			<a href="" class="title">Zhibin's spiral flying explosion</a>
			<div class="num"><b>1</b> person-time</div>
		</div>
		<p>Product period number:</p>
		<p>Treasure number: <span></span></p>
	</div>
</div>
<div class="result-info fail-info">
	<h2>Participate in the failed treasure hunting event</h2>
	<div class="result-goods-info">
		<div class="title-num">
			<a href="" class="title">Zhibin's spiral flying explosion</a>
			<div class="num"><b>1</b> person-time</div>
		</div>
		<p>Product period number:</p>
		<p>Treasure number: <span></span></p>
	</div>
</div>
{include file="inc/footer_index.html"}
