<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";	
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";	
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";	
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/search_new.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/search.js";


?>
{include file="inc/header_title_home.html"}
<div class="wrap">
				<div class="content">

				<form name="search_form" action="{url r="index" p="search#do_search"}" method="post" >
				<div class="search_box">
					
					  <div class="search_text">
					  	    <div class="ico"><i class="iconfont">&#xe662;</i></div>
							<div class="box"><input type="text" name = "keyword" id = "keyword" value="{$search_keyword}" placeholder="Please enter the search keyword"></div>
					  </div>
					  <div class="search_bottom">
					  	  <input type="hidden" name="search_type" value="{$search_type}"/>
					  	  <input type="button" onclick = "search_submit()"  value="Search">
					  </div>
				
				</div>	 
				</form>
               
                  
				{if $hot_kw}
				<div class="hot_tag_box">
					 <ul class="hot_list">
					   	     <li><a class="hot-link title" href="javascript:void(0);">popular searches</a></li>
					   	     {foreach from=$hot_kw item=row}
					   	     	 <li class="hot_item"><a class="hot-link " href="javascript:void(0);">{$row}</a></li>
					   	     {/foreach}
					   </ul>
				</div>
				{/if}
				</div>
			
</div>				

{include file="inc/footer_index.html"}
