<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/user_login.css";


$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/uc_account.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/uc_account.js";

?>
{include file="inc/header_title_home.html"}

<div class="wrap">

	<div class="content">
	<div class="comment_list_txt1">

		 <div class="Contentbox">

		   <div class="hover">

			{if $user_info.is_tmp eq 1}
			<form action="{url x="index" r="uc_account#save"}" name="account_form">
					<section class="login-normal con-1">
						<ul class="input-list split-line-top split-line">
							<li>
								<i class="iconfont">&#xe6f1;</i>
								<div class="input-box split-line">
								<label class="com-input">
									<input type="text" placeholder="Please enter your username, it can only be modified once" name="user_name" value="{$user_info.user_name}">
								</label>
								</div>
							</li>
							<li>
								<i class="iconfont">&#xe69e;</i>
								<div class="input-box split-line">
								<label class="com-input">
									<input type="text" placeholder="Please input the email address" name="user_email" value="{$user_info.email}">
								</label>
								</div>
							</li>
                                                        {if $user_info.is_phone_register eq 1 }
                                                        {else}
							<li>
								<i class="iconfont">&#xe6ef;</i>
								<div class="input-box split-line">
								<label class="com-input">
									<input type="password"  placeholder="Please set login password" name="user_pwd">
								</label>
								</div>
							</li>
							<li>
								<i class="iconfont">&#xe6ef;</i>
								<div class="input-box split-line">
								<label class="com-input">
									<input type="password"  placeholder="Please enter the login password again" name="cfm_user_pwd" >
								</label>
								</div>
							</li>
                                                        {/if}
						</ul>
							<div class="login-btn-box">
                                                            <input type="hidden" value="{$user_info.is_phone_register}" name="is_phone_register" />
                                                            <input type="hidden" value="{$user_info.is_tmp}" name="is_tmp" />
							<input type="submit" value="save" class="login-btn login-btn-red">
							</div>
						</section>
		</form>
			{else}
				<div class="list-view">
				      <section class="login-normal con-1">
						<ul class="input-list split-line-top split-line">
				       	    <li>
								<i class="iconfont">&#xe6f1;</i>
								<div class="input-box split-line">
								<label class="com-input">
									<input type="text" placeholder="please enter user name" name="user_name" value="{$user_info.user_name}" readonly="readonly">
								</label>
								</div>
							</li>
							<li>
								<i class="iconfont">&#xe69e;</i>
								<div class="input-box split-line">
								<label class="com-input">
									<input type="text" placeholder="Please input the email address" name="user_email" value="{$user_info.email}"  readonly="readonly">
								</label>
								</div>
							</li>
				       </ul>

						</section>
				</div>
			{/if}
				<section>
			<div class="a-box">
				<a href="{url x="index" r="uc_account#phone"}">
				{if $user_info.mobile eq ''}
				Bind mobile phone number
				{else}
				Change phone number
				{/if}
					</a>
			<div class="clear"></div>
			</div>

	</section>

		   </div>


		 </div>

	 </div>
	</div>
</div>

{include file="inc/footer_index.html"}
