<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_duobao_record.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/uc_duobao_record.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/uc_duobao_record.js";

?>
{include file="inc/header_title_home.html"}

<div class="dbdeatail">
	<a class="tit" href="javascript:void(0);">{$data.duobao_item.name}</a>
	<div class="lable">Issue&nbsp;:&nbsp;{$data.duobao_item.id}</div>
	<div class="lable">participate<em>{$data.duobao_count}</em>Person times</div>
</div>
<div class="dbdeatailcon">
<div class="dbdeatailtit">
	<span class="fl">Treasure hunting time</span>
	<span class="fr">Number of participants</span>
</div>
<div class="clear"></div>
<ul class="dbtimelist">
	{foreach from=$list item=duobao}
	<li>
		<div class="dbtimel">{$duobao.create_time}</div>
		<div class="dbtimer">
			<div class="times"><em>{$duobao.number}</em>Person times</div>
			<a class="lookno" href="{url r="index" p="uc_duobao_record#my_no_all" a="id=$data.duobao_item.id"}">Check my number</a>
		</div>
	</li>
	{/foreach}
	<div class="clear"></div>
</ul>
</div>
<div class="dbdeatailcon">

</div>
{include file="inc/footer_index.html"}