<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_duobao_record.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";


$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/uc_duobao_record.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/uc_duobao_record.js";

?>
{include file="inc/header_title_only.html"}

<div class="slider-nav split-line">
  <ul>
	  <li class="nav-item"><a href="{url x="index" r="uc_duobao_record#index"}" {if $log_type eq 0}class="cur"{/if}>All</a></li>
	  <li class="nav-item"><a href="{url x="index" r="uc_duobao_record#index" p="log_type=1"}" {if $log_type eq 1}class="cur" {/if}>In progress</a></li>
	  <li class="nav-item"><a href="{url x="index" r="uc_duobao_record#index" p="log_type=2"}" {if $log_type eq 2}class="cur" {/if}>Revealed</a></li>
  </ul>
</div>
{if $list}
<div class="m-content">
<ul class="scroll_bottom_list">
	{foreach from=$list item=item}
	<li class="dblist {if $item.success_time eq 0}inprogress{else}finish{/if}">
		<div class="dblistimg">
		<a href="{url x="index" r="duobao" p="data_id=$item.id"}"><img alt="" src="{$item.icon}"/></a>
		</div>
		<div class="dblistmain">
			<a class="tit" href="{url x="index" r="duobao" p="data_id=$item.id"}">{$item.name}</a>
			<div class="prl">
				<div class="lable">Issue&nbsp;:&nbsp;{$item.id}</div>
				<div class="progressBar">
                    <span class="bar" style="width:{$item.progress}%"><i class="color"></i></span>
                </div>
				<div class="lable fl">Total need&nbsp;:&nbsp;{$item.max_buy}</div>
				<div class="lable fl surplus">Remaining&nbsp;:&nbsp;<em>{$item.less}</em></div>
				<a class="tacked" href="{url x="index" r="duobao" p="data_id=$item.id"}">Append</a>
			</div>
			<div class="prl">
				<div class="partake fl">Participate in this issue&nbsp;:&nbsp;<em>{$item.number}</em>Person times</div>
				<a class="lookno fr" href="{url x="index" r="uc_duobao_record#my_no" p="id=$item.id"}">Check my number</a>
			</div>
			{if $item.has_lottery eq 1}
			<div class="announce">
				<div class="mline">Winner&nbsp;:&nbsp;<span><a href="{url x="index" r="anno_user_center" p="lucky_user_id=$item.luck_user_id"}">{$item.luck_user_name}</a></span></div>
				<div class="mline">Participate in this issue&nbsp;:&nbsp;<em>{$item.luck_user_total}</em>Person times</div>
				<div class="mline">Lucky number&nbsp;:&nbsp;<em>{$item.lottery_sn}</em> </div>
				<div class="mline">Announce time&nbsp;:&nbsp;{$item.lottery_time}</div>
			</div>
			{else}
			<div class="announce">
				<div class="mline">Waiting for the draw</div>
			</div>
			{/if}
		</div>
	</li>

	{/foreach}
</ul>
</div>
{else}
<div class="content">
<div class="null_data">
		<p class="icon"><i class="iconfont">&#xe6e8;</i></p>
		<p class="message">No data</p>
</div>
</div>
{/if}
{if $pages}
	<div class="fy scroll_bottom_page">
		{$pages}
	</div>
{/if}
{include file="inc/footer_menu.html"}
{include file="inc/footer_index.html"}
