<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";	
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";	
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_ecv.css";	
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";	

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/uc_ecv.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/uc_ecv.js";
?>
{include file="inc/header.html"}
<script>
var ajax_url  = '{$ajax_url}';
var n_valid = '{$n_valid}';
</script>
<a href="{url x="index" r="uc_ecv#exchange"}" class="exchange">Exchange</a>
<div class="wrap">
<nav class="ecv_criteria_tab">
   <ul class="ecv_tab_box" >
       <li class="{if $n_valid eq 0}this{/if}"><a href="{url x="index" r="uc_ecv#index" }">be usable</a></li>
   	     <li class="{if $n_valid eq 1}this{/if}"><a href="{url x="index" r="uc_ecv#index" p="&n_valid=1"}">expired</a></li>
   </ul>
</nav>
{if $ecv_list}
{if $n_valid eq 0}
<ul class="evc-list avilable scroll_bottom_list">
    {foreach from=$ecv_list item=item}
	<li>

		<div class="evc-info split-line">
			<div class="evc-count">&yen;<span class="evc-count-sum">{$item.money}</span></div>
			<div class="evc-count-info">
				<h2>{$item.name}</h2>
				{if $item.memo}<p>{$item.memo}</p>{/if}
			</div>
		</div>
		<div class="evc-time">
			<p>
			{$item.datetime}
			</p>
		</div>
		<div class="evc-border">
		</div>
	</li>
        {/foreach}
</ul>
{else}
<ul class="evc-list unavilable scroll_bottom_list">
    {foreach from=$ecv_list item=item}
	<li>
		<div class="evc-info split-line">
			<div class="evc-count">&yen;<span class="evc-count-sum">{$item.money}</span></div>
			<div class="evc-count-info">
				<h2>{$item.name}</h2>
				{if $item.memo}<p>{$item.memo}</p>{/if}
			</div>
		</div>
		<div class="evc-time">
			<p>
			{$item.datetime}
			</p>
		</div>
		<div class="evc-border">
		</div>
	</li>
        {/foreach}
</ul>
{/if}
{if $pages}
                <div class="fy scroll_bottom_page">
                        {$pages}
                </div>
              
  {/if}
  {else}
    <div class="lose">
    <div class="bgbox">
    </div>
		<h1>You have no red envelopes yet</h1>
		<a href="{url x="index" r="index#index"}"><button>Capture the treasure now</button></a>
  </div>

  {/if}   
{include file="footer_index"}