<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/weebox.css";	
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/fanweUI.css";	
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";	
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";		
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_fxinvite.css";	
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";


?>
{include file="inc/header_title_home.html"}


<div class="wrap">
	<div class="content">
		<ul class="invit-info">
			<li>
				<div class="info-border-box">
				<h1>Get Raiders Coins Today</h1>
				<p class="num-info">
					{$data.today_total_brokerage_money}
				</p>
				</div>
<!-- 				<p class="other-info">
	我的{$data.fx_name}创收：{$data.today_first_money}
</p> -->
			</li>
			<li>
				<h1>Invite friends to accumulate income</h1>
				<p class="num-info">
					{$data.total_brokerage_money}
				</p>
<!-- 				<p class="other-info">
	我{$data.fx_name}的{$data.fx_name}创收：{$data.today_second_money}
</p> -->
			</li>
		</ul> 
		<div class="farmer-info split-line split-line-top">
			<a href="{$data.fx_user1_url}" class="split-line title-bar">
				<i class="iconfont main-icon">&#xe6ec;</i>
				<p class="myfarmer">First level invited users</p>

				<p class="farmer-num">All {$data.first_user_count} people in total</p>
				<i class="iconfont row-right">&#xe704;</i>
				 
			</a>
			<div class="farmers split-line">
				{foreach from="$data.first_fx_user" item="u"}
				<a href="{url a="index" r="anno_user_center#index" p="lucky_user_id=$u.id"}">
					<div class="imgbox">
						<img src="{if $u.user_logo}{$u.user_logo}{else}{$data.no_user_logo}{/if}" alt="">
					</div>
					<p class="farmer-name">
						{$u.user_name}
					</p>
				</a>
				{/foreach}
				 					
			</div>
			<div class="other-info">
				<p class="defult-info">Today my first level invited user transactions:</p>
				<p class="deal-info">
					<span>{$data.today_first_order_money}</span> a treasure coin, <span>{$data.fx_count.three_fx_count}</span> number of orders, according to {if $data.fx_salary_type==1 }{$ data.fx_level_one_salary}%{else}fixed {$data.fx_level_one_salary}{/if} commission, I earn <span>{$data.today_first_money}</span>
				</p>
			</div>
		</div>
		<div class="farmer-info split-line split-line-top">
			<a href="{$data.fx_user2_url}" class="split-line title-bar">
				<i class="iconfont main-icon">&#xe702;</i>
				<p class="myfarmer">Second-level invited users</p>
				 
				<p class="farmer-num">All together{$data.second_user_count}people</p>
				<i class="iconfont row-right">&#xe704;</i>
				 
			</a>
			<div class="farmers split-line">
				{if $data.second_user_count}
				{foreach from="$data.second_fx_user" item="u"}
				<a href="{url a="index" r="anno_user_center#index" p="lucky_user_id=$u.id"}">
					<div class="imgbox">
						<img src="{if $u.user_logo}{$u.user_logo}{else}{$data.no_user_logo}{/if}" alt="">
					</div>
					<p class="farmer-name">
						{$u.user_name}
					</p>
				</a>
				{/foreach}
				{/if}
			</div>
			<div class="other-info">
				<p class="defult-info">Today I invite users to trade at the second level:</p>
				<p class="deal-info">
					<span>{$data.today_second_order_money}</span> a treasure coin, <span>{$data.fx_count.second_fx_count}</span> number of orders, according to {if $data.fx_salary_type==1 }{$ data.fx_level_two_salary}%{else}fixed {$data.fx_level_two_salary}{/if} commission, I earn <span>{$data.today_second_money}</span>
				</p>
			</div>
		</div>
		
		
		<div class="farmer-info split-line split-line-top">
			<a href="{$data.fx_user3_url}" class="split-line title-bar">
				<i class="iconfont main-icon">&#xe702;</i>
				<p class="myfarmer">Third-level invited users</p>

				<p class="farmer-num">All {$data.three_user_count} people in total</p>
				<i class="iconfont row-right">&#xe704;</i>
				 
			</a>
			<div class="farmers split-line">
				{if $data.three_user_count}
				{foreach from="$data.three_fx_user" item="u"}
				<a href="{url a="index" r="anno_user_center#index" p="lucky_user_id=$u.id"}">
					<div class="imgbox">
						<img src="{if $u.user_logo}{$u.user_logo}{else}{$data.no_user_logo}{/if}" alt="">
					</div>
					<p class="farmer-name">
						{$u.user_name}
					</p>
				</a>
				{/foreach}
				{/if}
			</div>
			<div class="other-info">
				<p class="defult-info">Today, my three-level invited users trade:</p>
				<p class="deal-info">
					<span>{$data.today_three_order_money}</span> a treasure coin, <span>{$data.fx_count.first_fx_count}</span> number of orders, according to {if $data.fx_salary_type==1 }{$ data.fx_level_three_salary}%{else}fixed {$data.fx_level_three_salary}{/if} commission, I earn <span>{$data.today_three_money}</span>
				</p>
			</div>
		</div>
		
		
		<div class="rule split-line-top split-line">
			<a class="split-line title-bar">
				<i class="iconfont main-icon">&#xe705;</i>
				<p class="myfarmer">Invitation commission rules</p>
			</a>
			<div class="rule-info">
				<p class="rule-title">Invite users at the first level:</p>
				<p>refers to users I directly invited. </p>
				<p class="rule-title">Second-level invited users:</p>
				<p>refers to users invited by my first-level invite users. </p>
				<p class="rule-title">Three levels of invited users:</p>
				<p>refers to the user invited by my secondary invite user. </p>
				<p class="rule-title last-rule-title">
					For example, I invite A, A invites B, B invites C, and C invites D. A is my first-level invited user, B is my second-level invited user, and C is my third-level invited user. <br />
					If A spends 100 yuan, I will get 3% commission, which is 3 yuan. <br />
					If B spends 100 yuan, A will get 3% commission or 3 yuan, and I will get 2% commission or 2 yuan. <br />
					If C spends 100 yuan, B will get 3% of the commission that is 3 yuan, A will get 2% of the commission that is 2 yuan, and I will get 1% of the commission that is 1 yuan. <br />
					If D spends 100 yuan, C will get 3% commission or 3 yuan, B will get 2% commission or 2 yuan, and A will get 1% commission or 1 yuan. I don't get commission. <br />
				</p>
			</div>
		</div>
		<div class="htg-farmer split-line-top">
			<a class="split-line title-bar">
				<i class="iconfont main-icon">&#xe706;</i>
				<p class="myfarmer">How to get invited users</p>
			</a>
			<div class="htg-farmer-info">
				<p>
					Click on the upper right corner of the screen on any page, and click "Send to Friend" or "Share to Moments". If you want to get more users, you must often "send to friends" or "share to friends circle", and then leave messages to friends and let them play together!
				</p>
				<div class="img-info">
					<div class="imgbox imgbox-1"></div>
					<div class="imgbox imgbox-2"></div>
				</div>				
			</div>
		</div>
	</div>
</div>
{include file="inc/footer_index.html"}