<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/weebox.css";	
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/fanweUI.css";	
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";	
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";		
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_fxinvite.css";	
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";


?>
{include file="inc/header_title_home.html"}


<div class="wrap">
	<div class="content">
		<ul class="invit-info">
			<li>
				<div class="info-border-box">
				<h1>今日获得夺宝币</h1>
				<p class="num-info">
					36.64
				</p>
				</div>
				<p class="other-info">
					我的佃户创收：16.00
				</p>
			</li>
			<li>
				<h1>邀请好友累计收入</h1>
				<p class="num-info">
					3066.64
				</p>
				<p class="other-info">
					我佃户的佃户创收：20.64
				</p>
			</li>
		</ul>
		<div class="farmer-info split-line split-line-top">
			<a href="" class="split-line title-bar">
				<i class="iconfont main-icon">&#xe6ec;</i>
				<p class="myfarmer">我的佃户</p>
				<p class="farmer-num">全部37人</p>
				<i class="iconfont row-right">&#xe704;</i>
			</a>
			<div class="farmers split-line">
				<a href="">
					<div class="imgbox">
						<img src="http://ossweb-img.qq.com/images/lol/img/champion/Poppy.png" alt="">
					</div>
					<p class="farmer-name">
						波比
					</p>
				</a>
				<a href="">
					<div class="imgbox">
						<img src="http://ossweb-img.qq.com/images/lol/img/champion/Jinx.png" alt="">
					</div>
					<p class="farmer-name">
						金克丝
					</p>
				</a>
				<a href="">
					<div class="imgbox">
						<img src="http://ossweb-img.qq.com/images/lol/img/champion/Annie.png" alt="">
					</div>
					<p class="farmer-name">
						安妮
					</p>
				</a>
				<a href="">
					<div class="imgbox">
						<img src="http://ossweb-img.qq.com/images/lol/img/champion/Akali.png" alt="">
					</div>
					<p class="farmer-name">
						阿卡丽
					</p>
				</a>					
			</div>
			<div class="other-info">
				<p class="defult-info">今日我的佃户交易：</p>
				<p class="deal-info">
					400个夺宝币，按照4%的佣金，我收入<span>16</span>个夺宝币的租子
				</p>
			</div>
		</div>
		<div class="farmer-info split-line split-line-top">
			<a href="" class="split-line title-bar">
				<i class="iconfont main-icon">&#xe702;</i>
				<p class="myfarmer">我佃户的佃户</p>
				<p class="farmer-num">全部66人</p>
				<i class="iconfont row-right">&#xe704;</i>
			</a>
			<div class="farmers split-line">
				<a href="">
					<div class="imgbox">
						<img src="http://ossweb-img.qq.com/images/lol/img/champion/Poppy.png" alt="">
					</div>
					<p class="farmer-name">
						波比
					</p>
				</a>
				<a href="">
					<div class="imgbox">
						<img src="http://ossweb-img.qq.com/images/lol/img/champion/Jinx.png" alt="">
					</div>
					<p class="farmer-name">
						金克丝
					</p>
				</a>
				<a href="">
					<div class="imgbox">
						<img src="http://ossweb-img.qq.com/images/lol/img/champion/Annie.png" alt="">
					</div>
					<p class="farmer-name">
						安妮
					</p>
				</a>
				<a href="">
					<div class="imgbox">
						<img src="http://ossweb-img.qq.com/images/lol/img/champion/Akali.png" alt="">
					</div>
					<p class="farmer-name">
						阿卡丽
					</p>
				</a>	
			</div>
			<div class="other-info">
				<p class="defult-info">今日我佃户的佃户交易：</p>
				<p class="deal-info">
					2064个夺宝币，按照1%的佣金，我收入<span>20.64</span>个夺宝币的租子
				</p>
			</div>
		</div>
		<div class="rule split-line-top split-line">
			<a class="split-line title-bar">
				<i class="iconfont main-icon">&#xe705;</i>
				<p class="myfarmer">收租规则</p>
			</a>
			<div class="rule-info">
				<p class="rule-title">我的佃户：</p>
				<p>是指我直接邀请的人（该人为首次被邀请），将获得该用户终身交易额<span>4%</span>的佣金收入。</p>
				<p class="rule-title">佃户家的佃户：</p>
				<p>是指我直接邀请的人，再邀请到的其他人，将获得该用户终身交易额<span>1%</span>的佣金收入。</p>
				<p class="rule-title last-rule-title">佃户家的佃户再邀请的人，就和你没关系咯</p>
			</div>
		</div>
		<div class="htg-farmer split-line-top">
			<a class="split-line title-bar">
				<i class="iconfont main-icon">&#xe706;</i>
				<p class="myfarmer">如何获得佃户</p>
			</a>
			<div class="htg-farmer-info">
				<p>
					只要把任何一个奖品详情转发出去，要是有人不小心点进来，他就是你的 佃户啦！但是要得租子的话，不要忘了让他多参与夺宝哟！
				</p>
				<div class="img-info">
					<div class="imgbox imgbox-1"></div>
					<div class="imgbox imgbox-2"></div>
				</div>				
			</div>
		</div>
	</div>
</div>
{include file="inc/footer_index.html"}