<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/weebox.css";	
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/fanweUI.css";	
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";	
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";		
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_fxwithdraw.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_invite.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";


?>
{include file="inc/header.html"}


<div class="wrap">
	<div class="content">
		<div style="padding:15px;">
			<div class="money_box">
				Total rebate:
				<span style="font-weight:bold;color:#dd344f;">{$data.total_score} points</span>
			</div>
			<div>
				<div>
					<h4 style="margin-bottom:10px;">This is your special invitation link, please send it to your friends via social software:</h4>
					<h4 style="margin-bottom:8px;color:red;">(Users invited by the invitation link will also become third-level distribution users)</h4>
					<input type="text" class="ui-textbox"  value="{$data.share_register_url}" style=" width:95%; padding: 0px 10px;height: 46px;border-radius: 5px;font-size: 16px;border: 1px solid #CCC;">	
				</div>
			</div>
			<div style="text-align:center;margin-top:10px;"><img src="{$data.share_register_qrcode}"   /></div>
		</div>
	
		<h2 class="add" style="text-align:center;line-height:2rem">My referrer：{$data.pname}</h2>
	 	<div class="blank"></div>
	 	
	 	<div class="info_table">
			<table class="split-line-top">
				<tbody>
					<tr>
						<th class="split-line">People I recommend</th>
						<th class="split-line">The points I got from this member</th>
					</tr>
					
					{foreach from=$data.list item=row}
					<tr class="alt">
						<td class="split-line">
						{$row.user_name}
						</td>
                        <td class="split-line">
                        	<h1>{$row.score}</h1>
                        </td>
                     </tr>
                    {/foreach}
                         
                    <tr>
                    	{if $data.list}
                    	{if $pages}
                        <td colspan="4"><div class="pages">{$pages}</div></td>
                        {/if}
                        {else}
                        <td colspan="4"><span>No offline members</span></td>
                        {/if}
                    </tr>
				</tbody>
			</table>
	 	</div>
	 	
	 	<div class="blank50"></div>

	</div>
</div>
{include file="inc/footer_index.html"}