<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_money_incharge.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/uc_duobao_record.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/uc_duobao_record.js";

?>
{include file="inc/header_title_home.html"}

<h1>Select the recharge amount</h1>
<div class="money" id="money1">
	<input type="text" value="20" readonly="readonly" class="selected">
	<input type="text" value="50" readonly="readonly">
	<input type="text" value="100" readonly="readonly">
</div>
<div class="money" id="money2">
	<input type="text" value="200" readonly="readonly">
	<input type="text" value="500" readonly="readonly">
	<input type="text" placeholder="Other amount">
</div>
<h1>Choose a recharge method</h1>
<ul class="pay-way">
	<li>
		<label for="weixin">
			<input type="radio" name="way" value=" weixin" id="weixin" checked="checked">WeChat Pay
		<span class="checked"></span>
		</label>
	</li>
</ul>
<div class="subbox">
<input type="button" value="Confirm recharge" class="sub">
</div>

	

{include file="inc/footer_index.html"}
