<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_money_withdraw.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/uc_money_withdraw.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/uc_money_withdraw.js";

?>
{include file="inc/header_getpassword.html"}


<div class="wrap">
	<div class="content">
	 	<div id="withdraw">
						<ul class="address-input">
							{if $data.step eq 1}
							<form action="{url r="index" p="uc_money#do_withdraw"}" method="post" name="withdraw">
							<li class="split-line">
								<span>Withdraw to</span>
								<input name="bank_name" class="ui-textbox" readonly="readonly" value=""  />
								<input type="hidden"  value="" name="bank_id" />
							</li>
							<li class="split-line">
								<span>Amount</span>
								<input class="ui-textbox" value="" name="money" placeholder="The current balance that can be withdrawn{$data.money}$" />
							</li>
							<li class="split-line">
								<span>password</span>
								<input class="ui-textbox" value="" name="pwd" type="password"  placeholder="Please enter the login password again" />
							</li>
							<div class="blank"></div>
						
							{foreach from=$data.bank_list item=item key=key}
							<li class="split-line bank" >
								<label>{$item.bank_name}<span  bank_name="{$item.bank_name}" rel="{$item.id}"  {if $key eq 0}class="checked"{/if}></span></label>
							</li>
							{/foreach}
							<div class="blank"></div>
							<li class="split-line add_card" >
								<a href="{url r="index" p="uc_money#add_card"}">Add bank card</a>
							</li>	
							<div class="blank"></div>
							<div class="subbox">
							<input type="submit" class="sub goahead" value="Confirm withdrawal">
							</div>
							</form>
							{elseif $data.step eq 2}
							<form action="{url r="index" p="uc_money#do_bind_bank"}" method="post" name="add_card">
							<li class="split-line">
								<span>Card number</span>
								<input name="bank_account" value="" class="ui-textbox" placeholder="Please enter the bank card number" />
							</li>
							<li class="split-line">
								<span>Account Bank</span>
								<input name="bank_name" value="" class="ui-textbox" placeholder="Please enter the name of the account bank" />
							</li>
							<li class="split-line">
								<span>Account Name</span>
								<input name="bank_user" value="" class="ui-textbox" holder="Please enter the real name of the bank that opened the account" />
							</li>
							<li>
								<span>Verification Code</span>
								<input class="ui-textbox ph_verify" id="sms_verify" name="sms_verify" holder="Please enter the verification code" />
								<button class="btn_phone" type="Button" id="sms_btn" lesstime="{$sms_lesstime}" account="1" >Get verification code</button>
							</li>
							<div class="subbox">
								<input type="submit" class="sub" value="Submit">
							</div>
							</form>						

							{/if}


						</ul>
	 	</div>
	</div>
</div>
{include file="inc/sms_verify_code.html"}
{include file="inc/footer_index.html"}