<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_money_setting.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/uc_duobao_record.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/uc_duobao_record.js";

?>
{include file="inc/header_title_home.html"}
<div class="uc-list-view split-line-top split-line">
   <ul class="uc-list-v-items">
        <li class="uc-v-item split-line">
            <a href="{url r="index" p="uc_money#index"}">
                <div class="sub-uc-v-item">
                  <i class="iconfont green-color">&#xe6f3;</i>
                    <span>Account balance</span>
                    <p><em>{$data.money}</em> Loot Coin</p>
                  <i class="right-jt iconfont">&#xe6fa;</i>
                </div>
              </a>
          </li>
          <li class="uc-v-item split-line">
              <a href="{url r="index" p="uc_charge"}">
                  <div class="sub-uc-v-item">
                    <i class="iconfont pinker-color">&#xe6f2;</i>
                      <span>Recharge</span>

                    <i class="right-jt iconfont">&#xe6fa;</i>
                  </div>
                </a>
          </li>
   </ul>
 </div>
{include file="inc/footer_index.html"}