<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/user_center.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

?>
<?php echo $this->fetch('inc/header_evc.html'); ?>


<div class="wrap">
	<div class="content">
			<!--用户信息部分-->
{include file="inc/uc_info_head.html"}
<!--end 用户信息部分-->



	 <div class="uc-list-view" style="margin-top: .4rem;">
	 	 <ul class="uc-list-v-items split-line split-line-top">
	 				 <li class="uc-v-item">
	 						 <a href="{url r="index" p="user#getpassword"}">
	 								 <div class="sub-uc-v-item">
	 									 <i class="left-icon iconfont font-violet">&#xe6cc;</i>
	 									 <div class="flex-box split-line">
	 									 <span>Change Password</span>
	 								 <i class="right-jt iconfont">&#xe6fa;</i>
	 								 </div>
	 								 </div>
	 							 </a>
	 				 </li>
					  <li class="uc-v-item">
	 						 <a href="{url x="index" p="uc_account#phone"}">
	 								 <div class="sub-uc-v-item ">
	 									 <i class="left-icon iconfont font-pink">&#xe700;</i>
	 									 <div class="flex-box split-line">
	 									 <span>Modify phone</span>
	 								 <i class="right-jt iconfont">&#xe6fa;</i>
	 								 </div>
	 								 </div>
	 							 </a>
	 				 </li>

					 <li class="uc-v-item">
	 						 <a href="{url r="index" p="uc_address"}">
	 								 <div class="sub-uc-v-item">
	 									 <i class="left-icon iconfont font-light-green">&#xe6cd;</i>
	 									 <div class="flex-box">			 	
	 									 <span>Delivery address</span>
	 								 <i class="right-jt iconfont">&#xe6fa;</i>
	 								 </div>
	 								 </div>
	 							 </a>
	 				 </li>


	 	 </ul>
	 </div>


	<div class="blank8"></div>
   	<div class="blank8"></div>

				<div class="buy ">
						  <a href="{url x="index" r="user#loginout"}" class="plank" style="color:#fff;">Log out of current account</a>
				</div>

				</div>

</div>
{include file="inc/no_footer.html"}
