<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_share.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/uc_duobao_record.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/uc_duobao_record.js";

?>
{include file="inc/header_title_home.html"}
{if !$luck_list and !$share_list}
<!-- 没有数据 -->
<div class="null-data">
	<div class="blank15"></div>
	<div class="share-none"></div>
	<p>You haven’t posted a single record yet</p>
	<a href="{url x="index"}">Get the treasure now</a>
</div>
{else}
<!-- 有数据 -->
<div class="luck-data">
	<div class="luck-data-hd">
		<p class="title txt-red">If you are lucky, you will want to show off! Take the single red envelope award and win!</p>
	</div>
	<!-- 中奖未晒单 -->
	<ul class="luck-list">
		{foreach from=$luck_list item=ome}
		<li class="item split-line">
			<div class="pic" onclick="window.location.href= '{url r="index" r="duobao" p="data_id=$ome.duobao_item_id"}';return false"><img src="{$ome.deal_icon}"></div>
			<div class="info">
				<p class="goods-name" onclick="window.location.href= '{url r="index" r="duobao" p="data_id=$ome.duobao_item_id"}';return false">{$ome.name}</p>
				<p class="code">Issue number: {$ome.duobao_item_id}</p>
				<a href="{url x="index" r="uc_share#rule" p="id=$ome.duobao_item_id"}" class="share-now">Place the order now</a>
			</div>
		</li>
		{/foreach}
	</ul>
	
	<!-- 已晒单 -->
	<ul class="share-list scroll_bottom_list">
	{foreach from=$share_list item=ome}
		<li class="item">
			<a href="{url x="index" r="uc_winlog"}" class="avatar"><img src="{function name="get_user_avatar" uid=$ome.user_id type="small"}"></a>
			<a href="{url x="index" r="uc_winlog"}" class="user-name">{$ome.user_name}</a>
			<p class="time">{$ome.create_time}</p>
			<div class="clear"></div>
			<a href="{url r="index" r="share#detail" p="id=$ome.share_id"}" class="share-info">
				<div class="content">
					<div class="arrow-ico"></div>
					<h2 class="share-title">{$ome.title}</h2>
					<p class="goods-name">{$ome.name}</p>
					<p class="code">Issue number: {$ome.duobao_item_id}</p>
					<p class="status">Order status:
						{if $ome.is_check eq 0}
						<span class="txt-orange">Under review</span>
						{else}
						{if $ome.is_effect eq 1}
						<span class="txt-green">Approved by</span>
						{else}
						<span class="txt-red">Failed to review</span>
						{/if}
					{/if}
					<p class="share-txt">{$ome.content}</p>
					{if $ome.image_list}
					<ul class="share-pic clearfix">
						{foreach from=$ome.image_list item=ome}
						<li>
							<img src="{$ome.path}">
						</li>
						{/foreach}
					</ul>
					{/if}
				</div>
			</a>
		</li>
		{/foreach}
	</ul>
	
	{if $pages}
	<div class="fy scroll_bottom_page">
		{$pages}
	</div>
	{/if}
</div>
{/if}
{include file="inc/footer_index.html"}