<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/winlog.css";


$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.spanr.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/anno.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/anno.js";

?>

{include file="inc/header_title_home.html"}


<div class="wrap">
    <div class="content">
      <header class="uc-info-head">
        <div class="head-pic fl">
        <img src="{function name="get_user_avatar" uid=$data.user_id type="small"}"  width="100%" height="100%">
        </div>
        <div class="user-box fl">
        <p class="user-name">{$data.user_name}</p>
        <p class="user-id">ID:<span>{$data.user_id}</span></p>
        </div>
      </header>
      {if $data.list}
      <ul class="win-list scroll_bottom_list">
      	{foreach from=$data.list item=item}

        <li class="split-line">
        <a href="{$item.url}">
          <div class="goods-img">
            <img src="{$item.deal_icon}" alt="">
          </div>
          </a>
          <div class="txtbox">
          <a href="{$item.url}">
          <div class="flex-box">
            <h2>{$item.name}</h2>
          </div>
          </a>
            <dl>

              <dd>参与期号:<span class="code">{$item.duobao_item_id}</span></dd>
              <dd>幸运号码:<span class="luckycode">{$item.lottery_sn}</span></dd>

              <dd>下单时间:<span>{$item.create_time}</span></dd>
              <dd>状态:<span class="status_info">
              {if $item.cate_id }
              	 {if $item.delivery_status eq 0}
             	 	等待商品派发
	             {elseif $item.is_arrival eq 0 and $item.delivery_status eq 1}
						<a href="{url a="index" r="uc_order#verify_delivery" p="item_id=$item.id"}" class="confirm">Confirm receipt</a>
				 {elseif $item.is_arrival eq 1 and $item.delivery_status eq 1 && $item.is_send_share eq 0}	
				 <a href="javascript:void(0);" target="_blank" onclick="fictitious('{$item.fictitious_info}')" >View information</a>
				 <a href='{url a="index" r="uc_share#rule" p="id=$item.duobao_item_id"}'>Post</a>
				 received
                    {/if}
                                   {else}
                    {if $item.delivery_status eq 5}
                    No need to ship
	             {/if}
				 {if $item.delivery_status eq 0}
						{if $item.is_set_consignee eq 0}
						<!-- 请完善配送地址或联系客服，否则奖品在7天后失效 <a href='{url a="index" r="uc_address"}'>&nbsp;完善地址</a> -->
						<a href='{url a="index" r="uc_winlog#winlog_address" p="order_item_id=$item.id"}'>Choose shipping address</a>
						{else}
						Waiting for merchandise dispatch
                        {/if}
                        {/if}
                        {if $item.is_arrival eq 0 && $item.delivery_status eq 1}
                        <a href="{url a="index" r="uc_order#check_delivery" p="item_id=$item.id"}" target="_blank">View logistics</a>
                                          <a href="{url a="index" r="uc_order#verify_delivery" p="item_id=$item.id"}" class="confirm">Confirm receipt</a>

				 {/if}
				 {if $item.is_arrival eq 1}
				    received
                {if $item.is_send_share eq 0}
                <a href='{url a="index" r="uc_share#rule" p="id=$item.duobao_item_id"}'>Post orders</a>
                {/if}
                {/if}
                {if $item.is_arrival eq 2}
                Rights defending
				 {/if}
               {/if}
              </span></dd>
            </dl>
          </div>
          <div class="clear"></div>
        </li>
        </a>
		{/foreach}
      </ul>
      {if $pages}
			<div class="fy scroll_bottom_page">
				{$pages}
			</div>
		{/if}
<div class="clear"></div>
{else}
<!-- 无数据↓ -->
    <div class="lose">
      <div class="bgbox">
      </div>
        <h1>You have no winning record yet</h1>
        <a href='{url a="index"}'><button>Get the treasure now</button></a>
    </div>
    {/if}
    </div>
</div>
{include file="inc/footer_menu.html"}
{include file="inc/footer_index.html"}
