<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/user_center.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

?>
<?php echo $this->fetch('inc/no_header.html'); ?>


<div class="wrap">
<div class="content">
{include file="inc/uc_info_head.html"}
<!--副导航-->
	<div class="uc-sub-nav split-line">
		<ul class="uc-nav-list">
			<li class="uc-nav-item">
				<a href="{url r="index" p="uc_duobao_record" b="log_type=1"}">
					<div class="iconfont">&#xe6e0;</div>
					<div class="nav-title">Ongoing</div>
				</a>
			</li>
			<li class="uc-nav-item">
				<a href="{url r="index" p="uc_duobao_record" b="log_type=2"}">
					<div class="iconfont">&#xe6f6;</div>
					<div class="nav-title">Has been revealed</div>
				</a>
			</li>
			<li class="uc-nav-item">
				<a href="{url r="index" p="uc_winlog#index" }">
					<div class="iconfont">&#xe6e1;</div>
					<div class="nav-title">Winning record</div>
				</a>
			</li>
		</ul>
	</div>
	<!--end 副导航-->


	<div class="uc-list-view split-line">
	     <ul class="uc-list-v-items">
	     	    <li class="uc-v-item">
	       	    	<a href="{url x="index" r="uc_duobao_record#index"}">
	       	    	    <div class="sub-uc-v-item">
	       	    	    	<i class="left-icon iconfont font-green">&#xe6ff;</i>
								<span>All Treasure Records</span>
							<i class="right-jt iconfont">&#xe6fa;</i>
	       	    	    </div>
	       	        </a>
							</li>
	     </ul>
	</div>
	<div class="uc-list-view split-line-top split-line">
		<ul class="uc-list-v-items">
			<li class="uc-v-item">
	        	<a href="{url a="index" r="uc_ecv#index"}">
	        		<div class="sub-uc-v-item">
	        	    	<i class="left-icon iconfont font-pink">&#xe6c7;</i>
	        	    	<div class="flex-box split-line">
	 					<span>My red envelope</span>
	 					<i class="right-jt iconfont">&#xe6fa;</i>
	 					</div>
	        	    </div>
	        	</a>
	 		</li>
			<li class="uc-v-item">
	        	<a href="{url a="index" r="uc_msg#index"}">
	        		<div class="sub-uc-v-item">
	        	    	<i class="left-icon iconfont font-light-gray">&#xe6fb;</i>
						<span>My message<em class="msg_count">{if $data.msg_count} ({$data.msg_count} unread items){/if}</em></span>
	 					<i class="right-jt iconfont">&#xe6fa;</i>
	        		</div>
	        	</a>
	 		</li>
		</ul>
	</div>
	<div class="uc-list-view split-line-top split-line">
		<ul class="uc-list-v-items">
			<li class="uc-v-item">
				<a href="{url r="index" p="uc_money#setting"}">
					<div class="sub-uc-v-item">
						<i class="left-icon iconfont font-violet">&#xe6c9;</i>
						<div class="flex-box split-line">
						<span>Funding records</span>
						<i class="right-jt iconfont">&#xe6fa;</i>
						</div>
					</div>
				</a>
			</li>
			<li class="uc-v-item">
				<a href="{url x="index" r="uc_winlog#index"}">
					<div class="sub-uc-v-item">
						<i class="left-icon iconfont font-light-green">&#xe6fe;</i>
						<div class="flex-box split-line">
						<span>Winning record</span>
						<i class="right-jt iconfont">&#xe6fa;</i>
						</div>
					</div>
				</a>
			</li>
			<li class="uc-v-item">
				<a href="{url x="index" r="uc_share"}">
					<div class="sub-uc-v-item">
					<i class="left-icon iconfont font-blue">&#xe6ce;</i>
						<div class="flex-box split-line">
							<span>My order</span>
							<i class="right-jt iconfont">&#xe6fa;</i>
						</div>
					</div>
				</a>
			</li>
			 
		</ul>
		 	
	</div>  
	<div class="uc-list-view split-line-top split-line">
		<ul class="uc-list-v-items">
				{if $data.is_open_scan && $data.fx_is_open == 1}
				<li class="uc-v-item">
	       	    	<a href="{url a="index" r="uc_fxinvite#index1"}">
	       	    	    <div class="sub-uc-v-item">
	       	    	    	<i class="left-icon iconfont  font-gules">&#xe6fc;</i> 
	       	    	    	<div class="flex-box split-line">
								<span>My invitation</span>
								<i class="right-jt iconfont">&#xe6fa;</i>
							</div>
	       	    	    </div>
	       	        </a>
				</li>
				{/if}
				<li class="uc-v-item">
					<a href="{url a="index" r="uc_fxinvite#index"}">
						<div class="sub-uc-v-item">
							<i class="left-icon iconfont font-orange">&#xe65b;</i>
							<div class="flex-box split-line">
								<span>Link promotion</span>
								<i class="right-jt iconfont">&#xe6fa;</i>
							</div>
						</div>
					</a>
				</li>
				
				{if $data.is_open_scan && $data.fx_is_open == 1}
				<li class="uc-v-item">
					<a href="{url a="index" r="user_center#qrcode" p="data_id=$data.uid"}"}">
						<div class="sub-uc-v-item">
							<i class="left-icon iconfont font-light-gray">&#xe650;</i>
							<span>WeChat channel QR code</span>
							<i class="right-jt iconfont">&#xe6fa;</i>
						</div>
					</a>
				</li>
				{/if}
		</ul>
	</div>
	 
	<!--设置里面
		修改密码
		配送地址
		退出登录 -->
	<div class="uc-list-view split-line-top split-line">
		<ul class="uc-list-v-items">
			<li class="uc-v-item">
				<a href="{url x="index" r="uc_setting#index"}">
					<div class="sub-uc-v-item">
						<i class="left-icon iconfont">&#xe6cf;</i>
						<span>Set up</span>
						<i class="right-jt iconfont">&#xe6fa;</i>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
</div>
{include file="inc/footer_menu.html"}
{include file="inc/footer_index.html"}