<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/user_login.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/user_login.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/user_login.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/sms_verify.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/sms_verify.js";

?>
{include file="inc/header_login.html"}

<div class="wrap">

	{if $user_info.is_tmp eq 1 and $user_info.mobile eq ''}
	<!--请绑定手机-->
	<form action="{url x="index" r="user#dophbind"}" id="ph_login_box">
	<section class="login-phone ">
		<ul class="input-list split-line-top split-line">
			<li>
				<i class="iconfont">&#xe6eb;</i>
				<div class="input-box split-line">
				<label class="com-input">
					 <input type="tel" maxlength="11" id="mobile" class="mobile" name="mobile" placeholder="Please enter phone number">
				</label>
				<label>
					<input class="btn_phone" type="Button"  id="sms_btn" unique="1" value="Click for authentication code" lesstime="{$sms_lesstime}" />
				</label>
				</div>
			</li>
			<li>
				<i class="iconfont">&#xe6f0;</i>
				<div class="input-box split-line">
				<label class="com-input">
                                    <input class="testing third" maxlength="6" type="tel" id = "sms_verify" name="sms_verify"  placeholder="Please enter the verification code in the SMS" style="width: 60%;">
				</label>
				</div>
			</li>
		</ul>
		<div class="login-btn-box">
		<input id="ph_login_box" type="submit" value="Bind phone" class="login-btn">
		</div>
	</section>
	</form>
	{else}
		 {if $user_info }
		 
		 {if $user_info.mobile}
		 <!--手机验证登录-->
		 <form action="{url x="index" r="user#dologin"}" id="com_login_box">
		 <section class="login-phone">
	 		<ul class="input-list split-line-top split-line">
	 			<li>
	 				<i class="iconfont">&#xe6eb;</i>
	 				<div class="input-box split-line">
	 				<label class="com-input">
	 					 <input type="tel" maxlength="11" id="mobile" class="mobile" name="mobile" placeholder="Please enter phone number">
	 				</label>
	 				<label>
	 					<input class="btn_phone" type="Button"  id="sms_btn" unique="0" value="Click for authentication code" lesstime="{$sms_lesstime}" />
	 				</label>
	 				</div>
	 			</li>
	 			<li>
	 				<i class="iconfont">&#xe6f0;</i>
	 				<div class="input-box split-line">
	 				<label class="com-input">
	 					<input class="testing third" type="tel" maxlength="6" id = "sms_verify" name="sms_verify"  placeholder="Please enter the verification code in the SMS"  style="width: 60%;">
	 				</label>
	 				</div>
	 			</li>
	 		</ul>
	 		<div class="login-btn-box">
	 		<input  id="ph_login_box" type="submit" value="log in" class="login-btn">
	 		</div>
			<div class="a-box">
			<a href="javascript:void(0);" class="swich fl">login by phone</a>
			<div class="clear"></div>
			</div>
	 	</section>
	</form>
		 {/if}
		 {else}
		 <!--手机账户邮箱登录-->
<form action="{url x="index" r="user#dologin"}" id="com_login_box">
		<section class="login-normal con-1">
		<ul class="input-list split-line-top split-line">
			<li>
				<i class="iconfont">&#xe6f1;</i>
				<div class="input-box split-line">
				<label class="com-input">
					<input type="text" name="user_key" class="mobile" placeholder="Please enter your phone number / email / username" >
				</label>
				</div>
			</li>
			<li>
				<i class="iconfont">&#xe6ef;</i>
				<div class="input-box split-line">
				<label class="com-input">
					<input type="password" placeholder="Please enter password" class="password" name="user_pwd">
				</label>
				</div>
			</li>
		</ul>
                    <div class="login-btn-box" >
                            <a  id="com_login_box" type="button" class="login-btn" onclick="$(this).submit();">log in</a>
			</div>
			<div class="a-box">
			<a href="#" class="swich fl">Mobile account login</a>
			<a href="{url x="index" r="user#getpassword"}" class="forget fr">forget password?</a>
			<div class="clear"></div>
			</div>
		</section>
	</form>

	<!--手机验证登录-->
	<form action="{url x="index" r="user#dophlogin"}" id="ph_login_box">
	<section class="login-phone con-2">
	 <ul class="input-list split-line-top split-line">
		 <li>
			 <i class="iconfont">&#xe6eb;</i>
			 <div class="input-box split-line">
			 <label class="com-input">
				 <input type="tel" maxlength="11" id="mobile" class="mobile" name="mobile" placeholder="Please enter phone number">
			 </label>
			 <label>
				 <input class="btn_phone" type="Button"  id="sms_btn" unique="0" value="Click for authentication code" lesstime="{$sms_lesstime}" />
			 </label>
			 </div>
		 </li>
		 <li>
			 <i class="iconfont">&#xe6f0;</i>
			 <div class="input-box split-line">
			 <label class="com-input">
				 <input class="testing third" type="tel" maxlength="6" id = "sms_verify" name="sms_verify"  placeholder="Please enter the verification code in the SMS"  style="width: 60%;">
			 </label>
			 </div>
		 </li>
	 </ul>
	 <div class="login-btn-box">
	 <input id="ph_login_box" type="submit" value="log in" class="login-btn">
	 </div>
	 <div class="a-box">
		 <a href="javascript:void(0);" class="swich fl">Mobile login</a>
		 <a href="{url x="index" r="user#getpassword"}" class="forget fr">Forgot your password? </a>
	 <div class="clear"></div>
	 </div>
 </section>
</form>
		 {/if}
	{/if}
</div>
<div class="third-login">
	<p><span>Third party log in</span></p>
	<div class="third-login-info">
		{if $is_weixin}
		<a href="javascript:void(0);" onclick="weixin_login();" class="weixin-login">
			<i class="iconfont">&#xe6f7;</i>
			<span>WeChat login</span>
		</a>
		{/if}
		{if $is_app and m_config.wx_mappid neq '' and $m_config.wx_mappsecret neq ''}
		<a href="javascript:void(0);" onclick="weixin_login_app();" class="weixin-login">
			<i class="iconfont">&#xe6f7;</i>
			<span>WeChat login</span>
		</a>
		{/if}
	</div>
</div>

{include file="inc/sms_verify_code.html"}
{include file="inc/footer_index.html"}
