<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/user_login.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/user_register.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/user_register.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/sms_verify.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/sms_verify.js";

?>
{include file="inc/header_register.html"}

<div class="wrap">
	<form action="{url x="index" r="user#dophregister"}" id="register_box">
	<section class="register">
		<ul class="input-list split-line-top split-line">
			<li>
				<i class="iconfont">&#xe6eb;</i>
				<div class="input-box split-line">
				<label class="com-input">
					<input class="phone-num"  type="tel" maxlength="11" class="mobile" name="mobile" id="mobile" placeholder="Please enter phone number" placeholder="please enter your phone number">
				</label>
				<label>
					<input class="btn_phone" type="Button"  id="sms_btn" unique="1" value="Click for authentication code" lesstime="{$sms_lesstime}" />
				</label>
				</div>
			</li>
			<li>
				<i class="iconfont">&#xe6f0;</i>
				<div class="input-box split-line">
				<label class="com-input">
                                    <input class="testing third" maxlength="6" type="tel" id = "sms_verify" name="sms_verify"  placeholder="Please enter the verification code in the SMS" style="width:80%">
				</label>
				
				</div>
			</li>
			<li>
				<i class="iconfont">&#xe6ef;</i>
				<div class="input-box split-line">
				<label class="com-input">
					<input type="password" name="user_pwd" placeholder="Please enter your login password" class="password">
				</label>
				</div>
			</li>

		</ul>
		<div class="login-btn-box">
		<input type="submit" value="Complete registration" class="login-btn login-btn-red">
		</div>
		<div class="a-box">
		<a href="{url x="index" r="user#getpassword"}" class="forget fr">forget password?</a>
		<div class="clear"></div>
		</div>
	</section>
</form>
</div>
{include file="inc/sms_verify_code.html"}
{include file="inc/footer_index.html"}
