<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/public.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/color.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/user_login.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery-1.6.2.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.touchwipe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/fastclick.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/user_getpassword.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/user_getpassword.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/sms_verify.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/sms_verify.js";

?>
{include file="inc/header_getpassword.html"}

<div class="wrap">

	<div class="content">

		<form action="{url x="index" r="user#phmodifypassword"}" id="ph_password_box">
				<section class="login-normal con-1">
				<ul class="input-list split-line-top split-line">
					<li>
		 				<i class="iconfont">&#xe6eb;</i>
		 				<div class="input-box split-line">
		 				<label class="com-input">
							{if $user_info.mobile eq ''}
		 					<input type="tel" class="phone" id="mobile" name="mobile" placeholder="Please enter phone number">
							{else}
							<input class="phone" disabled="true" value="{$user_info.mobile}" style="background:none;" >
							<input type="hidden" name="mobile" id="mobile" value="{$user_info.mobile}" />
							{/if}
		 				</label>
		 				
		 				</div>
		 			</li>
					<li>
		 				<i class="iconfont">&#xe6f0;</i>
		 				<div class="input-box split-line">
		 				<label class="com-input">
		 					<input class="testing third" type="tel" maxlength="6" id = "sms_verify" name="sms_verify"  placeholder="Please enter the verification code in the SMS">
		 				</label>
						<label>
		 					<input class="btn_phone" type="Button"  id="sms_btn" unique="2" value="Click for authentication code" lesstime="{$sms_lesstime}" />
		 				</label>
		 				</div>
		 			</li>
					<li>
						<i class="iconfont">&#xe6ef;</i>
						<div class="input-box split-line">
						<label class="com-input">
                                                    <input  class="testing third" type="password" name="new_pwd"  placeholder="Please enter a new password of 4 characters or more" >
						</label>
						</div>
					</li>
					<li>
						<i class="iconfont">&#xe6ef;</i>
						<div class="input-box split-line">
						<label class="com-input">
							<input  class="testing third" type="password" name="cfm_new_pwd"  placeholder="Please enter the new password again">
						</label>
						</div>
					</li>
				</ul>
					<div class="login-btn-box">
					<input id="ph_password_box" type="submit" value="Reset Password" class="login-btn">
					</div>

				</section>
			</form>


	</div>
</div>
{include file="inc/sms_verify_code.html"}
{include file="inc/footer_index.html"}
