{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<PHP>


	function get_handle($id,$order_item)
	{
		$str = "<a href='".u("DealOrder/view_order",array("id"=>$order_item['order_id']))."'>".l("DealOrder_index_See_details")."</a>";
		
		return $str;
	}
	function get_delivery_status($status)
	{
		if($status==0)
		return "{$DealOrder_index_Not_shipped}";
		else
		return "{$DealOrder_index_Shipped}";
	}


</php>
<load href='__TMPL__Common/js/jquery.bgiframe.js' />
<load href='__TMPL__Common/js/jquery.weebox.js' />
<load href='__TMPL__Common/style/weebox.css' />
<div class="main">
<div class="main_title">{%DEAL_ORDER}</div>
<div class="blank5"></div>
<form name="search" action="__APP__" method="get">	

<div class="search_row">

		{%ORDER_SN}：<input type="text" class="textbox" name="order_sn" value="{:strim($_REQUEST['order_sn'])}" style="width:100px;" />
	{%DealOrder_index_tips01}：<input type="text" class="textbox" name="duobao_item_id" value="{:strim($_REQUEST['duobao_item_id'])}" style="width:100px;" />
	{%DealOrder_index_Member_name}：<input type="text" class="textbox" name="user_name" value="{:strim($_REQUEST['user_name'])}" style="width:100px;" />
	{%DealOrder_index_Delivery_situation}：
		<select name="delivery_status_item">
			<option value="-1" <if condition="intval($_REQUEST['delivery_status_item']) eq '-1'">selected="selected"</if>>{%DealOrder_index_All}</option>
			<option value="0" <if condition="intval($_REQUEST['delivery_status_item']) eq '0'">selected="selected"</if>>{%DealOrder_index_Not_shipped}</option>
			<option value="1" <if condition="intval($_REQUEST['delivery_status_item']) eq 1">selected="selected"</if>>{%DealOrder_index_Shipped}</option>
		</select>
		<input type="hidden" value="DealOrder" name="m" />
		<input type="hidden" value="index" name="a" />
		<input type="submit" class="button" value="{%SEARCH}" />

</div>
</form>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="deal_order_item" 
	action="true" 
	datasource="list" 
	show="id:{%ID}|50px,name:{%DealOrder_index_Event_name},order_sn:{%DealOrder_index_Order_number},duobao_item_id:{%DealOrder_index_Issue},user_id|get_user_name:{%USER_NAME},create_time|to_date:{%ORDER_CREATE_TIME},delivery_status|get_delivery_status:{%DealOrder_index_Ship},lottery_sn:{%DealOrder_index_Lucky_number}"
	actionlist="id|get_handle=$deal_order_item" /> 

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />