{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<PHP>


	function get_handle($id,$order)
	{
		$str = "<a href='".u("DealOrder/view_order_history",array("id"=>$order['id']))."'>{%DealOrder_index_See_details}</a>";
		
		return $str;
	}
	
	function get_is_delete($is_delete)
	{
		if($is_delete)
		return "{%DealOrder_trash_Trading_closed}";
		else
		return "{%DealOrder_trash_Normal_order}";
	}
	
	function get_order_item_history($item)
	{
		$items = unserialize($item);
		if(count($items)>1)
		return $items[0]['name'].count($items)."{%DealOrder_trash_Treasure_hunting_event}";
		else
		return $items[0]['name'];
	}

</php>
<load href='__TMPL__Common/js/jquery.bgiframe.js' />
<load href='__TMPL__Common/js/jquery.weebox.js' />
<load href='__TMPL__Common/style/weebox.css' />
<div class="main">
<div class="main_title">{%DEAL_ORDER}</div>
<div class="blank5"></div>
<form name="search" action="__APP__" method="get">	

<div class="search_row">

		{%ORDER_SN}：<input type="text" class="textbox" name="order_sn" value="{:strim($_REQUEST['order_sn'])}" style="width:100px;" />		

		<input type="hidden" value="DealOrder" name="m" />
		<input type="hidden" value="trash" name="a" />
		<input type="submit" class="button" value="{%SEARCH}" />
		<input type="button" class="button" value="{%DEL}" onclick="foreverdel();" />

</div>
</form>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	checkbox="true" 
	style="dataTable" 
	name="deal_order" 
	action="true" 
	datasource="list" 
	show="id:{%ID}|50px,history_deal_order_item|get_order_item_history:{%DealOrder_index_Event_name},order_sn:{%DealOrder_index_Order_number},user_id|get_user_name:{%USER_NAME}"
	actionlist="id|get_handle=$deal_order" /> 

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />