<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{:conf("APP_NAME")}{:l("ADMIN_PLATFORM")}</title>
<script type="text/javascript" src="__ROOT__/public/runtime/admin/lang.js"></script>
<script type="text/javascript">
	var version = '{:app_conf("DB_VERSION")}';
	var app_type = '{$apptype}';
	var ofc_swf = '__TMPL__Common/js/open-flash-chart.swf';
	var sale_line_data_url = '{:urlencode(u("Ofc/sale_line"))}';
</script>
<load href='__TMPL__Common/style/style.css' />
<load href='__TMPL__Common/style/main.css' />
<load href='__TMPL__Common/js/jquery.js' />
<load href='__TMPL__Common/js/swfobject.js' />
<load href='__TMPL__Common/js/script.js' />
<load href='__TMPL__Common/js/main.js' />
</head>

<body>
	<div class="main">
	<div class="main_title">{:conf("APP_NAME")}{:l("ADMIN_PLATFORM")} {%HOME}	</div>
	<div class="notify_box">
		<table>
			<tr>
			<td class="version_box">
				<table>
					<tr><td>
						{%Index_current_version}：{:conf("DB_VERSION")}<php>if(app_conf("APP_SUB_VER")){</php>.{:app_conf("APP_SUB_VER")}<PHP>}</PHP><br />
						<div id="version_tip"></div>
						<!--<div>授权号：{$FANWE_APP_ID}</div>-->
					</td></tr>
				</table>
			</td><!--version_box 版本提示-->
			<td class="order_box">
				<table>
					<tr><td>
						{%Index_Cumulative_order_turnover}{$income_order|format_price}<br />
						
						<if condition="$dealing_order gt 0">
							{%Index_Total_pending_orders}{$dealing_order} <a href="{:u("DealOrder/index",array("delivery_status_item"=>0,"type"=>0,"is_robot"=>0))}">【{%Index_To_deal_with}】</a> <br />
						</if>
						
					</td></tr>
				</table>
			</td><!--order_box 订单提醒-->
			<td class="user_box">
				<table>
					<tr><td>
						{%Index_Total_number_of_platform_members}{$user_count}<br />
						<if condition="$income_incharge gt 0">
							{%Index_Total_amount_of_advance_payment}{$income_incharge|format_price}<br />
						</if>
						<if condition="$withdraw gt 0">
							{%Index_Total}{$withdraw}{%Index_Cash_withdrawal_application}<a href="{:u("User/withdrawal_index",array("is_paid"=>0))}">【{%Index_To_deal_with}】</a>
						</if>
					</td></tr>
				</table>
			</td><!--user_box 会员提醒-->		
			<td class="tuan_box">
				<table>
					<tr><td>
						{%Index_Total}{$duobao_count}{%Index_Treasure_hunting_event}<br />
						{%Index_In_progress}{$duobaoing_count}{%Index_period}<br />
						{%Index_Announced}{$lotterying_count}{%Index_period}<br />
						{%Index_Revealed_in_total}{$lottery_count}{%Index_period}<br />
					</td></tr>
				</table>
			</td><!--tuan_box 团购提醒-->	
			</tr>
			
	
		</table>
	</div>	
	<div class="blank5"></div>
	<div class="blank5"></div>
	<div class="blank5"></div>
	<div class="blank5"></div>
	<div class="main_title">{%Index_tips04}</div>
	<table width=100%>
		
		<tr>
			<td width=10>&nbsp;</td>
			<td width=100%>
				<div id="sale_line_data_chart"></div>
			</td>	
			<td width=10>&nbsp;</td>
		</tr>
	</table>
	</div>
</body>
</html>
