{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<php>
	function get_message($id)
	{
		if($id)
		return "<a href='".u("Message/index",array("id"=>$id))."'>".l("VIEW")."</a>";
		else
		return l("NO_REL_DATA");
		
	}
	
	function get_list_content($content)
	{
		return  msubstr(empty_tag($content),0,10);
	}
	
	function get_topic_type($type)
	{
		return l("TOPIC_TYPE_".$type);
	}
	function get_group_name($id)
	{
		return M("TopicGroup")->where("id=".$id)->getField("name");
	}
</php>
<script type="text/javascript">

function view_reply(id)
{
	location.href = ROOT+"?"+VAR_MODULE+"=TopicReply&"+VAR_ACTION+"=index&topic_id="+id;
}
</script>
<div class="main">
<div class="main_title">{$main_title}</div>
<div class="blank5"></div>
<div class="button_row">
	<input type="button" class="button" value="{%DELETE}" onclick="del();" />
</div>
<div class="blank5"></div>
<div class="search_row">
	<form name="search" action="__APP__" method="get">
		{%Topic_username}：<input type="text" class="textbox" name="user_name" value="{:strim($_REQUEST['user_name'])}" />
		{%Topic_Key_words}：<input type="text" class="textbox" name="keyword" value="{:strim($_REQUEST['keyword'])}" />
		{%Topic_Group_ID}：<input type="text" class="textbox" name="group_id" size=4 value="{:strim($_REQUEST['group_id'])}" />
		{%Topic_Types_of}：<select name="type">
			<option value="all" <if condition="$_REQUEST['type'] eq 'all'">selected="selected"</if>>{%common_All}</option>
			<option value="share" <if condition="$_REQUEST['type'] eq 'share'">selected="selected"</if>>{%Topic_Common_share}</option>
			<option value="tuancomment" <if condition="$_REQUEST['type'] eq 'tuancomment'">selected="selected"</if>>{%Topic_Group_buy_reviews}</option>
			<option value="shopcomment" <if condition="$_REQUEST['type'] eq 'shopcomment'">selected="selected"</if>>{%Topic_Mall_shopping_reviews}</option>
			<option value="youhuicomment" <if condition="$_REQUEST['type'] eq 'youhuicomment'">selected="selected"</if>>{%Topic_Voucher_reviews}</option>
			<option value="fyouhuicomment" <if condition="$_REQUEST['type'] eq 'fyouhuicomment'">selected="selected"</if>>{%Topic_Coupon_reviews}</option>
			<option value="eventcomment" <if condition="$_REQUEST['type'] eq 'eventcomment'">selected="selected"</if>>{%Topic_Activity_reviews}</option>
			<option value="slocationcomment" <if condition="$_REQUEST['type'] eq 'slocationcomment'">selected="selected"</if>>{%Topic_Store_reviews}</option>
			<option value="eventsubmit" <if condition="$_REQUEST['type'] eq 'eventsubmit'">selected="selected"</if>>{%Topic_event_registration}</option>
			<option value="sharetuan" <if condition="$_REQUEST['type'] eq 'sharetuan'">selected="selected"</if>>{%Topic_Share_group_buy}</option>
			<option value="sharegoods" <if condition="$_REQUEST['type'] eq 'sharegoods'">selected="selected"</if>>{%Topic_Share_goods}</option>
			<option value="sharefyouhui" <if condition="$_REQUEST['type'] eq 'sharefyouhui'">selected="selected"</if>>{%Topic_Share_coupons}</option>
			<option value="sharebyouhui" <if condition="$_REQUEST['type'] eq 'sharebyouhui'">selected="selected"</if>>{%Topic_Sharing_vouchers}</option>
			<option value="shareevent" <if condition="$_REQUEST['type'] eq 'shareevent'">selected="selected"</if>>{%Topic_Sharing_activities}</option>
			<option value="fav" <if condition="$_REQUEST['type'] eq 'fav'">selected="selected"</if>>{%Topic_like}</option>
			<option value="relay" <if condition="$_REQUEST['type'] eq 'relay'">selected="selected"</if>>{%Topic_Forward}</option>

		</select>
	
		<input type="hidden" value="Topic" name="m" />
		<input type="hidden" value="index" name="a" />
		<input type="submit" class="button" value="{%SEARCH}" />
	</form>
</div>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="topic" 
	checkbox="true" 
	action="true" 
	datasource="list" 
	show="id:{%ID}|50px	
	,user_id|get_user_name:{%USER_NAME}
	,title|msubstr:{%TITLE}
	,forum_title|msubstr:{%Topic_theme}
	,group_id|get_group_name:{%Topic_group}
	,content|get_list_content:{%CONTENT}	
	,reply_count:{%REPLY_COUNT}
	,is_best|get_toogle_status=$topic['id']#is_best:{%Topic_Essence}
	,is_top|get_toogle_status=$topic['id']#is_top:{%Topic_Top}
	,is_recommend|get_toogle_status=$topic['id']#is_recommend:{%IS_RECOMMEND}
	,type|get_topic_type:{%Topic_Topic_type}
	,has_image|get_status:{%HAS_IMAGE}
	,create_time|to_date:{%CREATE_TIME}	
	" 
	actionlist="edit:{%EDIT},view_reply:{%VIEW_REPLY},del:{%DELETE}" /> 

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />