{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<load href='__TMPL__Common/js/duobao.js' />
<div class="main">
<div class="main_title">{%Duobao_add_Add_Loot_Plan}<a href="{:u("Duobao/index")}" class="back_list">{%Duobao_add_Back_to_list}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{%Duobao_add_product_name}:</td>
		<td class="item_input">
			<select class="require" name="deal_id">
				<option value="0" >=={%Duobao_add_No_product_selected}==</option>
			</select>
			<input type="text" class="textbox" name="deal_key" /> 
			<input type="button" name="deal_key_btn" class="button" value="{%Duobao_add_Search}" />
		</td>
	</tr>
	

	<tr>
		<td class="item_title">{%Duobao_add_Special_area}:</td>
		<td class="item_input">
			<select class="require" name="buy_type">
				<option selected="selected" value="1">{%Duobao_add_One_dollar_purchase}</option>
				<option value="10">{%Duobao_add_10_district}</option>
				<option value="100">{%Duobao_add_100_district}</option>
			</select><!-- 新字段，数据库不存在，一元购：min_buy为1，unit_price为1,  十元区：min_buy为10，unit_price为1,  百元区：min_buy为1，unit_price为100 -->
			<span class="tip_span">{%Duobao_add_tips01}</span>
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%Duobao_add_Purchase_limit}:</td>
		<td class="item_input">
			<input type="text" class="textbox" name="user_max_buy" value="" />
			<span class="tip_span">{%Duobao_add_tips02}</span>
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%Duobao_add_tips03}:</td>
		<td class="item_input">
			<input type="text" class="textbox require" name="max_buy" value="" />
			<span class="tip_span">[ × <span class="set_min_buy">1</span> ]</span>
		</td>
	</tr>
	 
	<tr>
		<td class="item_title">{%Duobao_add_tips04}:</td>
		<td class="item_input">
			<input type="text" class="textbox require" name="max_schedule" value="" />
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%Duobao_add_Raiders_return_points}:</td>
		<td class="item_input">
			<input type="text" class="textbox" name="duobao_score" value="" />
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%Duobao_add_Referrer_Points}:</td>
		<td class="item_input">
			<input type="text" class="textbox" name="invite_score" value="" />
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%Duobao_add_tips05}:</td>
		<td class="item_input">
			<select name="fair_type">
				<option value="wy">{%Duobao_add_Lottery}</option>
				<option value="yydb">{%Duobao_add_tips06}</option>
			</select>
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%Duobao_add_Turn_on_the_robot}:</td>
		<td class="item_input">
			<lable>{%common_Yes}<input type="radio" name="robot_is_db" value="1" checked="checked"  /></lable>
			<lable>{%common_no}<input type="radio" name="robot_is_db" value="0"   /></lable>
			
			<label id="robot_is_lottery">{%Duobao_add_Robot_must_hit}<input type="checkbox" name="robot_is_lottery" value="1" <if condition="$result['robot_is_lottery'] eq 1">checked="checked"</if> /></label>
		</td>
	</tr>
	
	<tr id="robot_type">
		<td class="item_title">{%Duobao_add_tips07}:</td>
		<td class="item_input">
			<select name="robot_type">
				<option value="0">{%Duobao_add_By_deadline}</option>
				<option value="1">{%Duobao_add_At_specified_frequency}</option>
			</select>
		</td>
	</tr>
	
	<tr id="robot_buy_time">
		<td class="item_title">{%Duobao_add_Robot_order_interval}:</td>
		<td class="item_input">
			<input type="text" class="textbox" size=5 name="robot_buy_min_time" value="30" />
			-
			<input type="text" class="textbox" size=5 name="robot_buy_max_time" value="60" /> {%Duobao_add_second}
		</td>
	</tr>
	
	<tr id="robot_buy">
		<td class="item_title">{%Duobao_add_tips08}:</td>
		<td class="item_input">
			<input type="text" class="textbox" size=5 name="robot_buy_min" value="1" />
			-
			<input type="text" class="textbox" size=5 name="robot_buy_max" value="5" /> {%Duobao_add_Times}
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%Duobao_add_tips09}:</td>
		<td class="item_input">
			<lable>{%common_Yes}<input type="radio" name="is_recomend" value="1" checked="checked"  /></lable>
			<lable>{%common_no}<input type="radio" name="is_recomend" value="0"   /></lable>
		</td>
	</tr>
	
	<tr id="robot_is_db_box">
		<td class="item_title">{%Duobao_add_Treasure_hunting_time}:</td>
		<td class="item_input">
			<input type="text" class="textbox" name="robot_end_time" value="5" />
			<span class="tip_span">[{%Duobao_add_Unit_minutes}]</span>
		</td>
	</tr>
	
	 
	
	
	 
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->			
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="Duobao" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="insert" />
			 <input type="hidden" name="is_effect" value="1" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{%ADD}" />
			<input type="reset" class="button" value="{%RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer" />