{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<script type="text/javascript" src="__TMPL__Common/js/calendar/calendar.php?lang=zh-cn" ></script>
<load href='__TMPL__Common/js/calendar/calendar.css' />
<load href='__TMPL__Common/js/calendar/calendar.js' />
<PHP>
	function get_handle($id, $duobao)
	{
		$str = "<a href='".u("Duobao/edit",array("id"=>$id))."'>".l("EDIT")."</a>";
		$str.="&nbsp;&nbsp;<a href='javascript:foreverdel(".$id.");'>".l("DEL")."</a>";
		return $str;
	}
	
	function get_current_schedule($schedule, $duobao_id){
		$str = "<a href='".u("DuobaoItem/index",array("duobao_id"=>$duobao_id))."'>".$schedule."</a>";
		return $str;
	}
</php>
<load href='__TMPL__Common/js/jquery.bgiframe.js' />
<load href='__TMPL__Common/js/jquery.weebox.js' />
<load href='__TMPL__Common/style/weebox.css' />
<div class="main">
<div class="main_title">{%Duobao_index_Loot_list}</div>
<div class="blank5"></div>
<form name="search" action="__APP__" method="get">	
<div class="button_row">
	<input type="button" class="button" value="{%ADD}" onclick="add();" />
	<input type="button" class="button" value="{%DEL}" onclick="foreverdel();" />
</div>
<div class="blank5"></div>
<div class="search_row">

	{%Duobao_index_Num}：<input type="text" class="textbox" name="id" value="{:strim($_REQUEST['id'])}" style="width:100px;" />
	{%Duobao_index_Product_name}：<input type="text" class="textbox" name="duobao_name" value="{:strim($_REQUEST['duobao_name'])}" style="width:100px;" />
	{%Duobao_index_Category_Name}：<input type="text" class="textbox" name="cate_name" value="{:strim($_REQUEST['cate_name'])}" style="width:100px;" />
	{%Duobao_index_Brand_name}：<input type="text" class="textbox" name="brand_name" value="{:strim($_REQUEST['brand_name'])}" style="width:100px;" />
		<input type="hidden" value="Duobao" name="m" />
		<input type="hidden" value="index" name="a" />
		
		<input type="submit" class="button" value="{%SEARCH}" />
</div>
</form>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="duobao" 
	checkbox="true" 
	action="true" 
	datasource="list" 
	show="id:{%ID}|50px
			,duobao_name:{%Duobao_index_Product_name}
			,cate_name:{%Duobao_index_Category_Name}
			,brand_name:{%Duobao_index_Brand_name}
			,max_buy:{%Duobao_index_Total_number_of_people_required}
		 	,min_buy:{%Duobao_index_Minimum_order_amount}
		 	,max_schedule:{%Duobao_index_tips01}
		 	,current_schedule|get_current_schedule=$duobao['id']:{%Duobao_index_Number_of_open_periods}
		 	,robot_is_db|get_status:{%Duobao_index_Treasure_Robot}
		 	,is_effect|get_toogle_status=$duobao['id']#is_effect:{%Duobao_index_effective}"
	actionlist="id|get_handle=$duobao" />

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />