@CHARSET "UTF-8";
/* 顶部分类 */
/* 标题 */
.cate-title{
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}
.cate-title a{
    font-size:16px;
    font-weight:bold;
    color:#3c3c3c;
}
.cate-title a:hover{
    color:@main_color;
    text-decoration:none;
}
/* 相关商品数量 */
.subtitle{
    color:#808080;
    font-size: 12px;
    font-weight: normal;
}
.cate-list-wrap{
    margin-bottom:10px;
    padding-top: 20px;
    height: 100px;
    border: 1px solid #ddd;
    border-top: 0;
}
.cate-list .cate-item{
    float: left;
    border-right: 1px solid #ddd;
}
.cate-list .last{
    border-right:none;
}

.cate-list .cate-item a{
    display: block;
    width: 149px;
    height: 85px;
    text-align: center;
}
.cate-list .last a{
    width:148px;
}
.cate-list .cate-item a:hover{
    text-decoration:none;
}

/* 分类图 */
.dxys{
    margin: 0 auto 10px;
    display: block;
    width:60px;
    height: 60px;
    overflow: hidden;
    position: relative;
}
.dxys .diyfont{
    display: block;
    font-size:40px;
    width: 60px;
    height:60px;
    overflow: hidden;
    line-height: 60px;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}
.dxys .cate-hovered{
    margin-top:-60px;
}
.cate-list .cate-item .name{
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
    font-size: 14px;
    line-height: 14px;
    color: #3d3d3d;
    font-weight: normal;
}
/* 分类选中状态 */
.cate-list .cate-item .current{
    color:@main_color;
    font-weight:bold;
}
/* 排序 */
.order-list-wrap{
    padding: 10px;
    height: 27px;
    background-color: #f5f5f5;
    border-top: 2px solid #888;
    position: relative;
}
.order-list-wrap h3{
    float: left;
    width: 40px;
    line-height: 27px;
}
.order-list-wrap li{
    float: left;
    margin-right:10px;
}
.order-list-wrap a{
    display: block;
    padding: 7px 0;
    width: 98px;
    height: 12px;
    line-height: 12px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #fff;
    color: #7f7f7f;
}
.order-list-wrap a:hover{
    text-decoration:none;
    color:@main_color;
}
.standard{
    color: @main_color;    
    font-weight: bold;
    font-size: 14px;
}

.order-list-wrap .scurrent a{
    color:#fff;
    border-color:@main_color;
    background-color:@main_color;
}
.order-list-wrap .ico-arrow-sort{
    margin-top:-2px;
}
/* 选中状态箭头样式 */
.order-list-wrap .scurrent .ico-arrow-sort-gray-up{
    background-position:-60px -160px !important;
}
.order-list-wrap .scurrent .ico-arrow-sort-gray-down{
    background-position:-70px -160px !important;
}

/* 鼠标悬停箭头样式 */
.order-list-wrap a:hover .ico-arrow-sort-gray-up{
    background-position:-100px -160px;
}
.order-list-wrap a:hover .ico-arrow-sort-gray-down{
    background-position:-110px -160px;
}
/* 分类页商品列表 */
.cate-goods-list{
    margin-top:20px;
}
.cate-goods-list .goods{
        margin:0;
        width: 292px;
        height: 463px;
        border: 1px solid #ddd;
        overflow: hidden;
        position: relative;
}
.cate-goods-list .goods .goods-wrap{
    margin: 20px auto 0;
    width: 250px;
    height: auto;
    overflow: visible;
}
.cate-goods-list .goods .imgbox{
    margin-bottom:2px;
}
/* 进度条 */
.cate-goods-list .goods .progress{
    margin-top:16px;
    background-position: 0 -16px;
}
.cate-goods-list .goods .progress-bar{
    background-position: 0 -24px;
}
/* 购买 */
.cate-goods-list .goods .buy-info{
    margin: 18px -22px 0;
    *width:292px;
    *position: absolute;
    *bottom:0;
    *left:0;
    *margin:0;
    padding: 16px 0;
    text-align: center;
    background-color: #F5F5F5;
    border-top: 1px dashed #ddd;
}
/* 加减商品数量 */
.cate-goods-list .goods .buy-info .goods-number{
    display: inline-block;
    width: 125px;
    height: 30px;
    vertical-align: middle;
}
.cate-goods-list .goods .buy-info .goods-number{
    *display:inline;
}
.cate-goods-list .goods .buy-info .number-box{
    padding: 0 24px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
/* 加减按钮 */
.cate-goods-list .goods .buy-info .number-box .num-btn{
    font-size: 18px;
    width: 26px;
    height: 26px;
    line-height: 24px;
    text-decoration: none;
    position: absolute;
    right: 0;
    text-align: center;
    overflow: hidden;
    background: #F5F5F5;
    color: #9e9e9e;
    border: 1px solid #e0e0e0;
}
/* 减号 */
.cate-goods-list .goods .buy-info .number-box .num-btn-min{
    right: auto;
    left: 0;
    top: 0;
}
/* 加号 */
.cate-goods-list .goods .buy-info .number-box .num-btn-plus{
    right: 0;
    top: 0;
}
/* 输入框 */
.cate-goods-list .goods .buy-info .number-box .num-input{
    font-size: 14px;
    text-align: center;
    width: 45px;
    border: 1px solid #e0e0e0;
    height: 22px;
    padding: 2px 4px;
    outline: none;
}
.cate-goods-list .goods .buy-info .btn-box{
    margin-top:12px;
}
.cate-goods-list .goods .buy-info .btn-box .btn{
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    border-radius: 4px;
    width:90px;
}
.cate-goods-list .goods .buy-info .btn-box .cate-duobao-now{
    background:@main_color;
}

.sub_nav{ padding:15px 0px; font-size:14px;}
.keyword_row{ padding:15px 0px; font-size:16px; background:#f5f5f5; border:solid 1px #ddd; margin-top:10px; text-indent:15px; font-weight: bolder;}
.keyword_row span{ color:#dd344f;}
.not{background:url(../images/goods_duobaos.jpg)}
