@CHARSET "UTF-8";
.border_bottom{ border-bottom:1px solid @border_color;}

.fix_cate_tree{
	width:240px;
	float:left;
	color:#fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.fix_cate_tree dl{ height:30px; z-index:20; }
.fix_cate_tree dt{ display:block; background:@box_color;}
/* 广告左侧 */
.left-side{
	width: 240px;
}
.left-side .index-news{
	margin-top: 347px;
	padding: 0 12px;
	height: 213px;
	background: #ebe1b0;
	color: #666633;
	position: relative;
}
.left-side .index-news h1{
	padding-top: 10px;
    width: 100%;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #666633;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom:5px;
}
.left-side .index-news .agreement_content{
	line-height: 18px;
	height:108px;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
}
.agreement_content img{
	display: inline;
    margin: 0;
}
.left-side .index-news .check-info{
	position: absolute;
	bottom: 10px;
	right: 12px;
}
.left-side .index-news .check-info a{
	font-family:simsun;
	font-weight:normal;
	color:#666333;
}
/* 更多 */
.main-title .title-more{
	position: absolute;
	right: 0;
	bottom: 0;
	*bottom:9px;
	line-height: 30px;
	color: #808080;
	font-family: "simsun";
	font-size:12px;
	font-weight:normal;
}
.main-title .title-more:hover{
	text-decoration: underline;
	color:@main_color;
}
/* 首页列表样式 */
.index-goods-list,.index-new-goods-list,.index-share-list{
	margin-top:11px;
}
.goods-list{
    width:960px;
}
.goods .goods-wrap{
    margin:10px 19px 11px;
    width: 200px;
    height: 377px;
    overflow: hidden;
}
.index-goods-list .imgbox{
	margin: 0 auto 2px;
}
/* 左边图片 */
.cate_list{
    width:239px;
    height:400px;
    overflow: hidden;
    background:#fff;
    border: 1px solid #e8e8e8;
}
.cate_list img{
    width:100%;
}
/* 最新上架列表 */
.index-new-goods-list .goods .goods-wrap{
    margin:10px 19px 13px;
    width: 200px;
    height: 250px;
    overflow: hidden;
}
.index-new-goods-list .goods .p-price{
	margin-bottom:0;
}
/* 按钮 */
.goods .btn-box{
	height:45px;
	text-align: center;
    margin-top:17px;
}
.goods .btn-box .duobao-now{

	width:110px;
}
/* 购物车按钮 */
.goods .btn-box .cart-btn{
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 45px;
	-webkit-transition:none;
	   -moz-transition:none;
	    -ms-transition:none;
	     -o-transition:none;
	        transition:none;
	background: url(../images/cart-btn.png) no-repeat;
	_background: url(../images/cart-btn.png) no-repeat;
}
.goods .btn-box .cart-btn{
	*display: inline;
}
.goods .btn-box .cart-btn:hover{
	background: url(../images/cart-btn.png) no-repeat;
	_background: url(../images/cart-btn.png) no-repeat;
	background-position:0 -50px;
}
/* 中奖纪录 */
.lottery_list{
	margin-top:10px;
	width:230px;
}
/* 标题 */
.lottery_list .lottery-title{
	padding-left: 15px;
	height: 34px;
	background-color: #898989;
	line-height: 34px;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
}
/* 中奖纪录列表 */
.lottery_list .lottery_box{
	min-height:768px;
	border: 1px solid #ddd;
	border-top: 0;
	border-bottom: 0;
}
/* 列表信息 */
.lottery_list .lottery_box .lottery_info{
	padding: 15px 10px;
	height: 65px;
	border-bottom: 1px solid #fff;
	line-height: 22px;
	vertical-align:top;
}
/* 灰色背景 */
.lottery_list .lottery_box .gray-bac{
	background:#f5f5f5;
}
.lottery_list .lottery_box .lottery_info .bonus-info{
	margin-left:10px;
	width:158px;
}
/* 中奖者 */
.lottery_list .lottery_box .lottery_info .user_name{
	display: inline-block;
	width: 70px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lottery_list .lottery_box .lottery_info .user_name:hover{
	color:@main_color;
}
.lottery_list .lottery_box .lottery_info .info{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.lottery_list .lottery_box .lottery_info .info .bonus-goods{
	color:#333;
}
.lottery_list .lottery_box .lottery_info .info .bonus-goods:hover{
	color:@main_color;
}
.lottery_list h2{
	height: 32px;
    background-color: #f5f5f5;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #808080;
    border: 1px solid #ddd;
    border-top: 0;
}
/* 中奖用户头像 */
.lottery_list .user-pic{
	width:40px;
	height:40px;
	margin-top:5px;
}
/* 轮播图 */
.main-banner{
	width:730px;
	height:560px;
}
.main-banner .slideBox{
	height:350px;
	width:730px;
	overflow: hidden;
	position: relative;
	z-index:500;
}
/* 控制小点 */
.main-banner .slideBox .hd{
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 0;
	z-index: 1;
}
.main-banner .slideBox .hd ul li{
	margin: 0 3px;
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #b7b7b7;
	overflow: hidden;
}
.main-banner .slideBox .hd ul li{
	*display: inline;
}
.main-banner .slideBox .hd ul .on{
	background:#db3652;
}
/* 左右箭头 */
.main-banner .slideBox .control-btn{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 148px;
	background: #b2b2b2;
	background: rgba(0,0,0,.3);
	display:none;
}
.main-banner .slideBox .prev:hover,.right-side .new-goods-recommend .txtScroll-left-2 .txtScroll-left-2-control-btn:hover,.main-banner .slideBox .next:hover,.main-banner .txtScroll-left .txtScroll-left-control-btn:hover{
	background: #7f7f7f;
	background: rgba(0,0,0,.6);
}
.prev{
	left: 0;
}
.next{
	right: 0;
}
/* 大箭头 */
.arrow-large{
	width: 14px;
	height: 23px;
	position: absolute;
	cursor:pointer;
}
.arrow-large-l{
	background-position: -100px -60px;
}
.arrow-large-r{
	background-position: -120px -60px;
}
/* 小箭头 */
.arrow-small{
	cursor:pointer;
	width: 10px;
	height: 15px;
	position: absolute;
}
.arrow-small-l{
	background-position: -100px -64px;
}
.arrow-small-r{
	background-position: -124px -64px;
}
.main-banner .slideBox .arrow-large-l{
	top: 8px;
	left:12px;
}
.main-banner .slideBox .arrow-large-r{
	top: 8px;
	right:12px;
}
/* 最新揭晓左右轮播 */
.main-banner #txtScroll-left{
	padding-top: 10px;
	width: 100%;
	height: 199px;
	border-bottom: 1px solid #e8e8e8;
	background: #fff;
	overflow: hidden;
}
.main-banner .txtScroll-left{
	height:170px;
	position: relative;
}
/* 最新揭晓 */
.main-banner .txtScroll-left .new-goods{
	position: relative;
	padding: 5px 0 0 20px;
	width: 344px;
	height: 169px;
	color: #3c3c3c;
}
/* 最新揭晓图标 */
.main-banner .txtScroll-left .new-goods-logo{
	width: 64px;
	height: 64px;
	background-position: 0 -210px;
	position: absolute;
	right: 10px;
}
/* 正在揭晓图标 */
.main-banner .txtScroll-left .goods-revealing-logo{
	background-position: -70px -210px;
}
/* 最新揭晓轮播内容 */
.main-banner .txtScroll-left .infoList li{
	width: 364px;
	height: 170px;
	border-right: 1px solid #e8e8e8;
}
/* 商品标题 */
.main-banner .txtScroll-left .new-goods-title{
	width: 230px;
	height: 45px;
	overflow: hidden;
	font-size: 14px;
	line-height: 20px;
}
.main-banner .txtScroll-left .new-goods-title a{
	color: #3c3c3c;
	line-height: 22px;
	font-size:14px;
}
.main-banner .txtScroll-left .new-goods-title a:hover{
	color:@main_color;
}
/* 左右箭头 */
.main-banner .txtScroll-left .txtScroll-left-control-btn{
	display: none;
	width: 38px;
	height: 38px;
	top: 75px;
	position: absolute;
	background: #b2b2b2;
	background: rgba(0,0,0,.3);
}
.main-banner .txtScroll-left .arrow-large-l{
	top: 7px;
	left:11px;
}
.main-banner .txtScroll-left .arrow-large-r{
	top: 7px;
	right:11px;
}
/* 商品图片 */
.main-banner .txtScroll-left .new-goods-pic{
	margin-right:10px;
}
/* 揭晓内容 */
.main-banner .txtScroll-left .goods-price{
	margin-top: 2px;
	color: #808080;
}
.main-banner .txtScroll-left .code{
	margin: 2px 0 10px 0;
	color: #808080;
}
/* 已揭晓 */
.main-banner .txtScroll-left .goods-record{
	line-height: 20px;
}
/* 获奖者 */
.main-banner .txtScroll-left .goods-record .owner{
	width: 180px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.main-banner .txtScroll-left .goods-record .owner a{
	font-weight:bold;
}
.main-banner .txtScroll-left .goods-record .owner a:hover{
	color:@main_color;
}
/* 错误信息 */
.main-banner .txtScroll-left .goods-error{
	color:#808080;
}
/* 倒计时 */
.main-banner .txtScroll-left .goods-countdown{
	font-size: 14px;
	color: #464239;
}
.main-banner .txtScroll-left .goods-countdown .countdown{
	margin-top: 6px;
	line-height: 30px;
}
.main-banner .txtScroll-left .goods-countdown .countdown-nums{
	font-size: 26px;
	position: relative;
	vertical-align: middle;
}
.main-banner .txtScroll-left .goods-countdown .countdown-nums b{
	background-color: #464239;
	 border-radius: 4px;
	 color: #fff;
	 display: inline-block;
	 height: 30px;
	 margin-right: 2px;
	 text-align: center;
	 width: 20px;
	 font-size:22px;
	 font-weight:normal;
}
/* 翻页小点 */
.main-banner .txtScroll-left .hd{
	position: relative;
	bottom: 0;
	left: 0;
	padding-top: 10px;
	width: 100%;
    text-align: center;
    font-size: 0;
    z-index: 1;
}
.main-banner .txtScroll-left .hd li{
	width: 10px;
	height: 10px;
	margin: 0 3px;
	display: inline-block;
	border-radius: 50%;
	background: #b7b7b7;
	overflow: hidden;
}
.main-banner .txtScroll-left .hd li{
	*display: inline;
}
.main-banner .txtScroll-left .hd .on{
	background: #db3652;
}
/* 广告图右侧 */
.right-side{
	width: 230px;
}
/* 推荐夺宝 */
.right-side .goods-recommend{
	padding: 10px 15px;
	width: 200px;
	height: 329px;
	background: #ffffff;
	position: relative;
	border-right: 1px solid #e8e8e8;
}
.right-side .goods-recommend .goods-recommend-logo{
	background-position:-200px -280px;
	width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;;
}
.right-side .goods-recommend .recommend{
	width: 200px;
	height: 373px;
	overflow: hidden;
}
/* 推荐夺宝图片 */
.right-side .goods-recommend .recommend .goods-pic{
	margin-bottom:5px;
}
.right-side .goods-recommend .recommend .goods-pic img{
	margin: 0 auto;
}
/* 商品名称 */
.right-side .goods-recommend .recommend .goods-title{
	font-size:14px;
}
/* 商品价格 */
.right-side .goods-recommend .recommend .goods-price{
	color:#808080;
	margin-bottom:6px;
}
/* 进度条 */
.right-side .goods-recommend .recommend .progress{
	margin-bottom: 3px;
}
/* 按钮 */
.right-side .goods-recommend .recommend .btn-box{
	margin-top:12px;
	text-align: center;
}
.right-side .goods-recommend .recommend .btn-box .duobao-now{
	padding: 0 20px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    border-radius: 4px;
    background:@main_color;
}
.right-side .goods-recommend .recommend .btn-box .duobao-now:hover{
	background: @hover_color;
}
/* 推荐夺宝end */
/* 新品推荐 */
.right-side .new-goods-recommend{
	margin-left: -1px;
	width: 100%;
	height: 209px;
	border: 1px solid #e8e8e8;
	background: #fff;
	position: relative;
	overflow: hidden;
}
/* 新品推荐图标 */
.right-side .new-goods-recommend .new-goods-recommend-logo{
	width: 84px;
	height: 24px;
	background-position: -140px -210px;
	position: absolute;
	left: 0;
	top: 10px;
	z-index: 1;
}
/* 轮播 */
.right-side .new-goods-recommend .txtScroll-left-2{
	position: relative;
}
.right-side .new-goods-recommend .txtScroll-left-2 .txtScroll-left-2-control-btn{
	display:none;
	width: 20px;
	height: 38px;
	top: 85px;
	position: absolute;
	background: #b2b2b2;
	background: rgba(0,0,0,.3);
}
.right-side .new-goods-recommend .txtScroll-left-2 .prev i{
	top: 12px;
	left: 5px;
}
.right-side .new-goods-recommend .txtScroll-left-2 .next i{
	top: 12px;
	right: 5px;
}
.right-side .new-goods-recommend .txtScroll-left-2 .bd{
	overflow: hidden;
	position: relative;
}
.right-side .new-goods-recommend .txtScroll-left-2 .bd li{
	width:190px;
	padding:0 20px;
}
.right-side .new-goods-recommend .txtScroll-left-2 .bd li .goods-pic{
	padding-top:15px;
	height:130px;
	text-align: center;
	border-bottom:1px dotted #c9c9c9;
}
.right-side .new-goods-recommend .txtScroll-left-2 .bd li .goods-pic img{
	margin: 0 auto;
}
.right-side .new-goods-recommend .txtScroll-left-2 .bd li .goods-title{
	margin-top:11px;
	line-height: 23px;
	text-align: center;
}
.right-side .new-goods-recommend .txtScroll-left-2 .bd li .cm{
	color:#808080;
	text-align: center;
}
/* 晒单分享 */
.index-share-list .multipleLine .bd{
	height: 261px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	overflow: hidden;
	position: relative;
}
.index-share-list .index-share{
	padding: 20px;
	width: 559px;
	height: 90px;
	border-bottom: 1px dotted #ddd;
}
.index-share-list .left{
	border-right: 1px dotted #ddd;
}
/* 图片 */
.index-share-list .index-share .share-pic{
	display: block;
	float: left;
	width: 110px;
	height: 90px;
	line-height: 90px;
	font-size: 0;
	overflow: hidden;
	border: 1px solid #ddd;
}
.index-share-list .index-share .share-pic img{
	vertical-align: middle;
	display: inline;
}
/* 内容 */
.index-share-list .index-share .share-info{
	position: relative;
	margin-left: 120px;
	padding: 10px 40px;
	height: 70px;
	overflow: hidden;
	line-height: 24px;
}
.index-share-list .index-share .share-info .share-txt{
	height: 50px;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
}
.index-share-list .index-share .share-info .author{
	margin-top: 5px;
	text-align: right;
	color: #b5b5b5;
}
.index-share-list .index-share .share-info .author a:hover{
	color:@main_color;
}
/* 双引号 */
.index-share-list .index-share .share-info .quote{
	position: absolute;
}
.index-share-list .index-share .share-info .quote-b{
	top: 0;
	left: 10px;
}
.index-share-list .index-share .share-info .quote-a{
	bottom: 0;
	right: 10px;
}


.agreement_content{overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    height: 150px;
}


.goods-error{display:none;}
