@CHARSET "UTF-8";
body{
    font-size:12px;
    line-height:1.666;
    }
    body,input,textarea{
        font-family: "microsoft yahei",simhei,sans-serif;
}
header,footer,section,aside,article,nav,hgroup,figure,figcaption,body,h1,h2,h3,h4,h6,h6,ul,ol,li,form,p,dl,dt,dd,blockquote,legend,table,th,td,fieldset,menu,pre{
    margin:0;
    padding:0;
}
table,th,td,img,fieldset{
    border:0;
}
time,mark,output,meter,address,cite,em,code,var,dfn,ins,i,th,caption{
    font-style:normal;
    text-decoration:none;
}
h1,h2,h3,h4,h5,h6,th{
    font-size:100%;
    font-weight:normal;
}
input,select,button,textarea,table{
    outline:none;
    margin:0;
    font-family:inherit;
    font-size:100%;
}
textarea{
    resize:none;
}
abbr,acronym{
    border:0;
    font-variant:normal;
}
q:before,q:after{
    content:"";
}
img{
    display: block;
    margin: 0 auto;
}
ul,ol{
    list-style:none;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}th,caption{
    text-align:left;
}
header,footer,section,aside,article,nav,hgroup,figure,figcaption{
    display:block;
}
textarea{ resize:none;}
div{ margin:0 auto;}

.wrap_full{ width:990px; height:auto;} /*主体容器*/
.wrap_full_w{ width:1200px; height:auto;margin: 0 auto;} /*主体容器*/

.wrap_s{ width:200px; height:auto;} /*边布局*/
.wrap_m{ width:780px; height:auto;} /*主框*/

/*另一套布局左右宽度*/
.wrap_s1{ width:240px; height:auto;} /*边布局*/
.wrap_m1{ width:740px; height:auto;} /*主框*/

/*另一套布局左右宽度，全宽的商品列表布局*/
.wrap_s2{ width:225px; height:auto;} /*边布局*/
.wrap_m2{ width:750px; height:auto;} /*左面局 990总宽*/
.wrap_full2{ width:960px; height:auto;} /*主框*/

.wrap_full .wrap_filter{ width:820px; }
.wrap_full_w .wrap_filter{ width:1040px;}

.empty_tip{ padding:20px; text-align:center;}
.tip_btn .btn{height:40px;width:120px;}
.f_l{float:left;}
.f_r{float:right;}
.tl{ text-align:left;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.loading{ height:100px; text-align:center; line-height:100px; background:url(../images/css_bg/loading.gif) no-repeat center;}
/*自动高对齐*/
.clearfix:after{
content:"."; display:block; height:0; clear:both;
visibility:hidden;
}
*html .clearfix{
 height:1%;
}
*+html .clearfix{
 height:1%;
}
.cf {
    zoom: 1;
}
/*全局链接样式*/
a{
    color: #39f;
    cursor:pointer;
    text-decoration:none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
a:hover{text-decoration:underline;}
/* 按钮通用样式 */
.btn{
    border: none;
    white-space: nowrap;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background: #3399FE;
    padding: 0 15px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none!important;
    font-family: "Microsoft Yahei",simhei;
    outline: none;
    font-weight:normal;
}
.btn{
    *display:inline;
}
.btn-main{
    background:@main_color;
}
.btn-main:hover{
    background:@hover_color;
}
.btn-sim{
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    font-weight: normal;
    font-family: "Verdana";
    color: #808080;
    border: 1px solid #cccccc;
    border-radius: 2px;
    background: #F5F5F5;
}
.btn-sim:focus,.btn-sim:hover{
    background:#fff;
}
/*英文强制换行*/
.word{word-break:break-all;}

/*页面留白*/
.clear{height:0px; line-height:0px; clear:both; visibility:hidden;}
.blank{height:10px; line-height:10px; clear:both; visibility:hidden;}
.blank5{height:5px; line-height:5px; clear:both; visibility:hidden;}
.blank10{height:10px; line-height:10px; clear:both; visibility:hidden;}
.blank15{height:15px; line-height:15px; clear:both; visibility:hidden;}
.blank20{ height:20px; line-height:20px; clear:both; visibility:hidden; }
.blank25{ height:25px; line-height:25px; clear:both; visibility:hidden; }
.blank30{ height:30px; line-height:30px; clear:both; visibility:hidden; }
/*阴影*/
.shadow{
-moz-box-shadow: 2px 2px 10px @shadow_color;/*firefox*/
-webkit-box-shadow: 2px 2px 10px @shadow_color;/*safari或chrome*/
box-shadow:2px 2px 10px @shadow_color;/*opera或ie9*/
}

/*以下关于页面头部底部样式*/
.top_nav{ background:#f5f6f8; height:31px; line-height:29px;color:#8e8e8e;}
.head_tip li{ float:right; padding-left:15px; display:inline-block; height:31px;}
.head_tip li span{
    margin: 0 5px;
}
.head_tip a{
    color:#8e8e8e;
}
#user_drop .iconfont{
    cursor:pointer;
}
#user_drop:hover #user_drop .iconfont{
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
    color:@main_color !important;
}
.head_tip .login_tip a{
    color:#39f;
}
.head_tip a:hover{
    text-decoration:none;
}
.head_tip .user_tip span.user_name a{ cursor:pointer;color:#39f;}
.head_tip .user_tip span.user_name a:hover{color:@main_color;}
.head_tip .user_tip span.user_name .level_bg{ vertical-align:middle;}
.head_tip .user_tip span.user_name i.iconfont{ font-size:10px; color:#999;}

/*顶部搜索下拉框UI样式*/
.top_search{
    float: right;
    margin-top: 28px;
}
.search{
    width: 310px;
    height: 32px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
    position: relative;
}
/*顶部搜索的关键词输入*/

.top_search .search_keyword{
    width: 250px;
    height: 16px;
    line-height: 16px;
    border: 0;
    color: #808080;
    padding:8px;
}
.top_search .search_keyword.hover{
    box-shadow:none;
}
.top_search .search_keyword.normal{background:@box_color;}
/* 站内地图 */
.web-map{
    padding-top:20px;
    margin-bottom:10px;
    line-height: normal;
    height:16px;
    line-height: 16px;
}
.web-map li{
    float: left;
    margin-right: 5px;
    color: #7F7F7F;
}
.web-map li a{
    color: #7F7F7F;
}
.web-map li span{
    padding-left:6px;
}
/*顶部搜索的按钮*/
.top_search .search_btn{
    position: absolute;
    top: -1px;
    right: -1px;
    display: block;
    width: 35px;
    height: 34px;
    border: 1px solid #c7c7c7;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #f1f1f1;
    background: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#e3e3e3));
    background: -moz-linear-gradient(top,#fefefe,#e3e3e3);
    background: -o-linear-gradient(top,#fefefe,#e3e3e3);
    background: -ms-linear-gradient(top,#fefefe,#e3e3e3);
}
.top_search .search_btn:hover{
    border-color: #C92945;
    background: #ED4461;
    background: -webkit-gradient(linear,left top,left bottom,from(#F64D6A),to(#E03C57));
    background: -moz-linear-gradient(top,#F64D6A,#E03C57);
    background: -o-linear-gradient(top,#F64D6A,#E03C57);
    background: -ms-linear-gradient(top,#F64D6A,#E03C57);
}
.top_search .search_btn:hover .search-ico{
    color:#fff !important;
}
/*顶部购物车*/
.cart_tip{
    position: relative;
    display: block;
    padding: 9px 0 8px 40px;
    width: 90px;
    height: 17px;
    border-radius: 3px;
    background-color: #db3652;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    text-decoration: none;
    z-index:100;
}
.cart_tip_margin{ margin-left:10px; margin-top:28px;position: relative;}
a.cart_tip,a.cart_tip:hover{ color:#fff; text-decoration:none;}
.cart_tip .ico-mini-cart{
    position: absolute;
    top: 7px;
    left: 10px;
}
.cart_tip .cart_title{ letter-spacing: 3px;}
.cart_tip .ico-white-solid-l{
    position: absolute;
    top: 5px;
    left: -4px;
    display:block !important;
}
.cart_tip .cart-count-wrap{
    margin-left: 10px;
    display: inline-block;
    width: 30px;
    text-align: center;
    line-height: 17px;
    color: #db3652;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
}
.cart_tip .cart-count-wrap{
    *display:inline;
}
.cart_tip_result_list{overflow-y:auto; overflow-x:hidden;}
.cart_tip_result_title{ padding:5px 10px 0; font-weight:bold;}
.cart_tip_result_item{
    padding: 5px 10px;
    position: relative;
    zoom: 1;
    overflow: hidden;
}
.cart_tip_result_img{
    margin-right: 5px;
    width: 74px;
}
.cart_tip_result_cnt{overflow: hidden;zoom: 1;}
.cart_tip_result_cnt span{ font-weight:bold;font-size:12px;}
.cart_tip_result_bar{
    padding: 5px 10px;
    background: #F5F5F5;
    border-top: 1px solid #ddd;
    text-align: right;
}
.cart_tip_result_count{font-weight:bold;text-align:right; }
.cart_tip_result_count span{
    color:@main_color;
}
.cart_tip_result_btn{
    background:@main_color;
    margin:5px 0;
}
.cart_tip_result_btn:hover{background:@hover_color;}
.cart_tip_result_desc{ color:@main_color;}

.cart_tip_result_op a{
    color:#808080;
}
.top_cart_list{
    display:none;
    width: 320px;
    position: absolute;
    right: 0;
    top: 34px;
    background: #fff;
    border: 1px solid #E36974;
    margin-top: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    color: #3C3C3C;
    z-index: 10000;
    font-size:12px;
}
.top_cart_list .empty{ color:#ccc; padding:30px 0px; text-align:center;}

/*主导航条样式*/
.float_nav_bar{ position: absolute;left:0; width:100%; display: none; z-index:999;}
.nav_bar{ border-bottom:3px solid @main_color;padding-top:10px; height:38px; background:#fff; }
.nav_bar .main_nav{ float:left; height:40px; }
.nav_bar .main_nav ul li{
    position: relative;
    float: left;
    padding: 7px 0 3px;
    _height: 28px;
    _overflow: hidden;
}
.nav_bar .main_nav ul li a{
    font-size:16px;
    display: block;
    margin: 0 5px 0 12px;
    width: 130px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #3c3c3c;
    font-weight: bold;
}
.nav_bar .main_nav ul li a:hover{ background:#f5f5f5; color:@main_color;text-decoration:none;}
.nav_bar .main_nav ul li.current a{ color:@main_color;}
.nav_bar .drop_nav{
    float:left;
    width:240px;
    height:37px;
    position:relative;
    z-index:50;
}
.nav_bar .drop_nav .drop_title{
    font-size:15px;
    padding-left:30px;
    height: 37px;
    font-weight: bold;
    line-height: 37px;
    background: #db3652;
    border-bottom: 1px solid #ca1b38;
    position: relative;
    display:block;
    cursor:pointer;
    color:#fff;
}
.nav_bar .drop_nav .drop_title i{
    height: 8px;
    width: 13px;
    position:absolute;
    right:30px;
    top:15px;
    overflow:hidden;
    background-position:-60px -130px;;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.nav_bar .drop_nav .drop_title i.up{
    background-position:-60px -140px;
}


.nav_bar .drop_nav .drop_box{
    width:240px;
    display:none;
    position:absolute;
    top:38px;
    left:0px;
}
/*关于菜单树*/
.cate_tree{
    padding-bottom: 8px;
    background: #db3652;
    height: 342px;
    margin-top:-2px;
}
/* .cate_tree i.diyfont{ color:@main_color; font-weight:normal; font-size:18px;} */
/* .cate_tree dl{ position:relative; display:block; height:55px;border-bottom:1px @border_color solid; }

.cate_tree dl{-moz-transition: all 0.2s ;  -webkit-transition: all 0.2s ;   transition: all 0.2s ;}
.cate_tree dl:hover,.cate_tree dl.no_border:hover{ padding-left:10px; *padding-left:0px; _padding-left:0px;}

.cate_tree dl.no_border{ border-bottom:0px; margin:0px; padding:0px;}
.cate_tree dt{ font-size:14px; font-weight:bolder; display:block; height:25px; line-height:25px; }

.cate_tree dd.sub_nav{ display:block; padding-right:20px; height:30px; overflow:hidden; background:url(../images/css_bg/com_bg.gif) no-repeat right -165px @box_color; }
.cate_tree dd.no_arrow{ background:#fff;}

.cate_tree dd.pop_nav{ display:none; top:-12px; left:206px; width:300px; padding:10px; padding-left:20px; position:absolute; background:#fff; border:@dark_color solid 2px;
-moz-box-shadow:inset 2px 0px 5px 0px @shadow_color;opera或ie9
-webkit-box-shadow:inset 2px 0px 5px 0px @shadow_color;opera或ie9
box-shadow:inset 2px 0px 5px 0px @shadow_color;opera或ie9}

.cate_tree dd.sub_nav li{ display:inline;  line-height:30px; padding:0px 5px 0 0; word-break:keep-all;   }
.cate_tree dd.pop_nav span{font-size:14px; font-weight:bolder; display:block; height:30px; line-height:30px; }
.cate_tree dd.pop_nav li{ display:inline;  line-height:30px; padding:0px 5px 0 0; word-break:keep-all;  }
.cate_tree dd.sub_nav li a.heavy,.cate_tree dd.pop_nav li a.heavy{
    color:@main_color;
}
.cate_tree dd.sub_nav li a.heavy:hover,.cate_tree dd.pop_nav li a.heavy:hover{
    color:@dark_color;
} */
.cate_tree ul li{
    line-height: 34px;
    border-bottom: 1px solid #ca1b38;
    border-top: 1px solid #fb3657;
}
.cate_tree ul li a{
    font-size:15px;
    display: block;
    padding-left: 30px;
    width: 210px;
    color: #fff;
    line-height: 36px;
}
.cate_tree ul li a:hover{
    background-color: #C61935;
    text-decoration: none;
}
.nav-bolan{
    width:100%;
    height: 4px;
    background-position: 0 0;
    background-repeat: repeat-x;
    overflow: hidden;
}
/*更多*/
.more{ display:block; border:solid 1px @border_color; background:@box_color; height:auto; line-height:normal; padding:3px 20px 3px 5px; background:url(../images/css_bg/com_bg.gif) no-repeat right -160px @box_color;}




/*滚动到头部*/
#go_top{ background:url(../images/css_bg/gotop.gif) 12px 12px no-repeat @main_color;  cursor:pointer;

    position:fixed;
    _position:absolute;
    right:23px; bottom:20px;
    width:60px;
    height:60px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    display:none;
    z-index:60;
}
#go_top:hover{ background:url(../images/css_bg/gotop.gif) 12px 12px no-repeat @dark_color; }


/* 关于布局盒子的外框  */
.layout_box{ border:@border_color solid 1px;}
.layout_box .title{ background:url(../images/css_bg/com_bg.gif) repeat-x 0 -227px @box_color; height:40px; line-height:40px;  font-size:20px; font-family:"微软雅黑";color:#000;text-align: center;}
.layout_box .content{ background:@box_color;}


.filter_cbo{ height:11px; background:url(../images/css_bg/com_bg.gif) no-repeat 0 -617px; padding-left:13px;}
.filter_cbo_checked{ height:11px; background:url(../images/css_bg/com_bg.gif) no-repeat 0 -595px; padding-left:13px;}
/*以下关于登录框的样式*/
.login_box{
    padding:30px 20px 10px 5px;
}

.login-tab {
    border-bottom: 1px solid @border_color;
    height: 35px;
    margin: -10px 0 0 0px;
    padding-left: 30px;

}
.login-tab a {
    background: url("../images/user/login_tab.png") no-repeat #fff;
}
.login-tab a {
    background-position: 0 0;
    color: @font_color;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 17px;
    line-height: 17px;
    margin-bottom: -1px;
    margin-right: 12px;
    overflow: hidden;
    padding: 10px 0 9px;
    position: relative;
    text-align: center;
    width: 149px;
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}
.login-tab a.current {
    background-position: 0 -36px;
    color: @font_color;
}
.login-tab a span {
    display: inline-block;

}

.login-tab a:hover {
    text-decoration: none;
}


/*关于表单*/
.form_panel dl{ display:block; height:50px;}
.form_panel dl.cbo_line{ height:40px;}
.form_panel dl dt{ display:block; float:left;font-size:14px; width:110px;text-align:right;margin-right:15px;margin-top:7px; }
.form_panel dl dd{ display:block; float:left; height:40px; }
.form_panel dl dd .ui-textbox{ font-size:14px; padding:9px; width:230px;   display:inline-block; float:left; margin-right:5px;outline:none;}
.form_panel dl dd i{ display:inline-block; float:left;}
.form_panel dl dd img,
.form_panel dl dd a,
.form_panel dl dd span.form_tip{ display:inline-block; float:left; line-height:40px; margin-right:5px; }
.form_panel dl dd img.verify{ padding:9px 0px; margin-right:5px; cursor:pointer; width:50px; height:22px; }
.form_panel dl dd a.refresh_verify{ color:@main_color; }
.form_panel dl dd a.refresh_verify:hover{ color:@dark_color; }
.form_panel dl dd span.form_tip span.tip{ background:url(../images/css_bg/com_bg.gif) no-repeat 0 -375px; padding:2px 0px 2px 20px; color:#5885db; }
.form_panel dl dd span.form_tip span.error{ background:url(../images/css_bg/com_bg.gif) no-repeat 0 -435px; padding:2px 0px 2px 20px; color:#d60c0d; }
.form_panel dl dd span.form_tip span.success{ background:url(../images/css_bg/com_bg.gif) no-repeat 0 -405px; padding:2px 0px 2px 20px;  }

.login-panel div.panel{ display:none;}
.login-panel .ph_img_verify{ display:none;}
.form_panel dl dd .regist_btn{ margin-left:10px; float:left; display:block;}
.form_panel dl dd .img_verify{ width:100px;}
.form_panel dl dd .ph_verify{ width:100px;}
.form_panel dl dd .ph_verify_btn{ margin-right:5px; }
.form_panel dl dd .ph_verify_btn span{ width:150px; text-align:center;}

.cop_site{ border-top:1px solid @border_color; margin-top:10px;}
.cop_site .title{ font-size:14px; height:40px; line-height:40px; background:@box_color; font-family:arial; color:@font_color;}
.cop_site .wx_login{ padding-top:10px; text-align:center;}
.cop_site .wx_login a{ font-size:50px; line-height:50px; color:#c7ed81; cursor:pointer; -moz-transition: all 0.5s ;  -webkit-transition: all 0.5s ;   transition: all 0.5s ;}
.cop_site .wx_login a:hover{ text-decoration:none; font-size:50px; line-height:50px; color:#87c710; cursor:pointer; -moz-transition: all 0.5s ;  -webkit-transition: all 0.5s ;   transition: all 0.5s ;}


.form_panel dl.pwd_chk_line{ height:30px;}
.form_panel dl.pwd_chk_line dd{ height:30px;}
.form_panel dl.pwd_chk_line ul{ display:block; width:250px;  height:18px; overflow:hidden;}
.form_panel dl.pwd_chk_line ul li{ -moz-transition: all 0.5s ;  -webkit-transition: all 0.5s ;   transition: all 0.5s ; display:inline-block; float:left; background:#e0e0e0; color:#fff; text-align:center; line-height:18px; width:76px; height:18px; margin-right:11px; }
.form_panel dl.pwd_chk_line ul .no_margin{ margin-right:0px;}
.form_panel dl.pwd_chk_line ul li.act{ background:@main_color; color:#fff;}


/* 关于分页 */
.pages{ text-align:right;margin:10px 0;}
.pages a,.pages span{
    margin:0 3px;
    border: none;
    white-space: nowrap;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    color: #3c3c3c;
    background: #e2e2e2;
    padding: 0 15px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none!important;
    font-family: "Microsoft Yahei",simhei;
    outline: none;
}
.pages a:hover{
    background:#e8e8e8;
}
.pages .current{
    background:@main_color;
    color:#fff;
    font-size:15px;
}
.pages .current:hover{
    background:@hover_color;
}


/* must */
.go_see_origin{ color:@main_color;}
.point_level_span{ color:@dark_color;}


.site_nav{ font-size:14px; }


/* tx新增的样式 */
.font_hover{
    color:@main_color;
}


/* iconfont */
@font-face {font-family: "iconfont";
  src: url('../images/iconfont/iconfont.eot?@rand'); /* IE9*/
  src: url('../images/iconfont/iconfont.eot?#iefix&@rand') format('embedded-opentype'), /* IE6-IE8 */
  url('../images/iconfont/iconfont.woff?@rand') format('woff'), /* chrome、firefox */
  url('../images/iconfont/iconfont.ttf?@rand') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../images/iconfont/iconfont.svg#iconfont?@rand') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * 自定义的font-face
 */
@font-face {font-family: "diyfont";
  src: url('./public/iconfont/iconfont.eot?@rand'); /* IE9*/
  src: url('./public/iconfont/iconfont.eot?#iefix&@rand') format('embedded-opentype'), /* IE6-IE8 */
  url('./public/iconfont/iconfont.woff?@rand') format('woff'), /* chrome、firefox */
  url('./public/iconfont/iconfont.ttf?@rand') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('./public/iconfont/iconfont.svg#iconfont?@rand') format('svg'); /* iOS 4.1- */
}
.diyfont {
  font-family:"diyfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.confirm_login_tip{padding:10px 15px; border:@main_color solid 1px; color:@main_color; margin-top:15px; background:@light_color;}
.confirm_login_tip a{ color:@main_color;}

.signin_msg{ font-size:14px; line-height:25px; display:block; text-align:center; }
.signin_price{ color:@main_color;  display:block; text-align:center;}


.close_site{ margin:30px auto;}

/* 手机APP下载弹出 */
.download{  padding-top: 25px;color: #999;  height: 270px;  overflow:hidden;}
.left_panel{padding: 0 40px 20px;width: 220px;}
.left_panel p{  font-size:14px; padding-left:50px;  line-height: 1.5em;}
.qrcode_bg{height: 230px;width: 230px;background: #f2f2f2;text-align:center;}
.qrcode{    display:inline-block;*display:inline; *zoom:1;  margin-top:20px;}
.right_panel{width:250px;}
.app_view{overflow: hidden;}
.down_btn{  padding-bottom: 20px;   padding-top: 16px;border-bottom: 1px dashed #d6d1cb;overflow: hidden;margin-bottom: 19px;   }
.down_btn a{float: left;background:@main_color;height: 50px;width: 180px;border-radius: 5px;font-size: 20px;color: #fff;text-align: center;display:block;line-height:50px;padding-left:25px;}
.down_btn a i.iconfont{ font-size: 36px;    line-height: 50px;display:block;    float:left;}
.down_btn a span{display:block; float:left;}

#user_drop_box{ position:absolute; width:100px;  border:@border_color solid 1px; background:#fff; z-index:99; display:none;
-moz-box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);/*firefox*/
-webkit-box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);/*safari或chrome*/
box-shadow:0 2px 8px 1px rgba(0, 0, 0, 0.2);/*opera或ie9*/
}
#user_drop_box dl{ display:block;}
#user_drop_box dl a{ display:block; width:100px;; height:30px; line-height:30px; text-align:center; }
#user_drop_box dl a:hover{background:#f2f2f2;  }
.head_tip .msg_count i.iconfont{ color:@main_color; font-size:14px;}
.head_tip .msg_count em,.space_span{ color:@main_color; font-style:normal; font-family:verdana; padding:0px 2px; display:inline-block; }


.ui-list{ position: relative; }
.ui-item{ position: absolute; }

/* by ccx */
.tar{
    text-align: right;
}
/* 商品 */
/* 图标 */
.ico{
    display: inline-block;
    vertical-align: middle;

    overflow: hidden;
}
/* 成功 */
.suc-ico{
    width: 48px;
    height: 48px;
    background-position: -50px -420px;
}
/* 标题 */
.main-title{
    position: relative;
    line-height: 42px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
/* 广告图 */
.banner{
    background: #7653cb url('../images/ten_banner_x.jpg') repeat-x;
}
/* 通用错误、突出显示、红色*/
.txt-err, .txt-impt, .txt-red {
    color: #db3652 !important;
}
.txt-green{
    color: #35BC00 !important;
}
.txt-yellow{
    color:#FE9A00 !important;
}

/* 底部样式 */
.footer_box{padding:30px 0 20px 0;background:#F5F5F5;margin-top: 30px;width:100%;bottom:0;}

.footer_box .help_row > span{float:left;display:block;width:180px;}
.footer_box .help_row > span ul{padding-left:15px;}
.footer_box .help_row > span ul li{line-height: 24px; list-style: initial; list-style-position: inside;}
.footer_box .help_row > span ul li a{color:#333;}
.footer_box .help_row > span > dl > dt{margin-bottom: 6px;
    padding: 4px 0;
    height: 22px;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
}
.footer_box .help_row > span > dl > dt .diyfont{color:#C5C5C5;}

.footer_box .g-side-l{width:170px;border-left:solid 1px @border_color; margin-left: 20px; padding: 0 60px;}
.m-instruction-state {
    margin: 0 auto;
    width: 170px;
    font-family: "Microsoft Yahei";
}
.m-instruction-state li {
    padding: 3px 0;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}

.m-instruction .g-side-l {
    float: left;
    width: 32%;
}
.ico-state-l-1 {
    background-position: -160px -90px !important;
}
.ico-state-l-2 {
    background-position: -200px -90px !important;
}
.ico-state-l-3 {
    background-position: -240px -90px !important;
}
.ico_foot {
    display: inline-block;
    vertical-align: middle;
    background: url('../images/bg.png') no-repeat;
    _background-image: url('../images/bg.png');
    overflow: hidden;
    width: 34px;
    height: 34px;margin-right: 5px;
}

.footer_box .foot_online_time{
	vertical-align: middle;
    padding: 35px 0 30px 50px;
}
/* 进度条 */
/* 进度条背景 */
.progress,.progress-bar{
    background-image: url(../images/progress.png);
    background-repeat: no-repeat;
}
/* 进度条外层 */
.progress{
    position: relative;
    margin-bottom: 8px;
    height: 8px;
    overflow: hidden;
    background-position: 0 0;
}
/* 进度条内层 */
.progress-bar{
    position: absolute;
    height: 100%;
    background-position: 0 -8px;
}
.progress-txt span{
    color:#ff9900;
}
/* 伤心的脸 */
.ico-sad-face{
    width: 80px;
    height: 80px;
    background-position: -340px -30px;
}
/* 获奖者 */
.winner-ico{
    width:64px;
    height:64px;
    background-position:-340px -130px;
    position: absolute;
}
/* 双引号图片 */
.quote{
    width: 24px;
    position: absolute;
    height: 20px;
}
.quote-b{
    background-position: -40px -190px;
}
.quote-a{
    background-position: -70px -190px;
}
/* 倒计时 */
.countdown-ico{
    width:26px;
    height:24px;
}
/* 文本图标 */
.txt-ico{
    width: 32px;
    height: 44px;
    background-position: -60px -50px;
}
/* 问号图标 */
.ico-question{
    width: 16px;
    height: 16px;
    background-position: -60px -510px;
}
/* 十元专区 */
.logo-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    z-index: 1;
}
.ten-logo-box{
    background-position: -250px -280px;

}
.hundred-logo-box{
    background-position: -300px -280px;

}
/* 小购物车 */
.ico-mini-cart{
    width: 24px;
    height: 21px;
    background-position: -30px -30px;
}
/* 白色箭头 */
.ico-white-solid{
    width: 4px;
    height: 7px;
}
.ico-white-solid-l{
    background-position: -100px -90px;
}
/* 圆点 */
.ico-dot{
    width:12px;
    height:12px;
}
/* 实心圆点 */
.ico-dot-solid{
    background-position: 0 -190px;
}
/* 空心圆点 */
.ico-dot-hollow{
    background-position:-20px -190px;
}
/* 时钟 */
.ico-clock{
    width: 51px;
    height: 51px;
    background-position: 0 -130px;
}
/* 红色右箭头 */
.ico-arrow-right{
    width: 11px;
    height: 10px;
    background-position: -120px -90px;
}
/* 红色上下箭头 */
.ico-arrow-red {
    width: 13px;
    height: 8px;
}
.ico-arrow-red-up {
    background-position: -80px -140px;
}
/* 蓝色上下箭头 */
.ico-arrow-blue{
    width:7px;
    height:8px;
}
.ico-arrow-blue-down{
    background-position:-100px -130px;
}
.ico-arrow-blue-up{
    background-position:-100px -140px;
}
/* 蓝色上下箭头中 */
.ico-arrow-blue-m{
    width:11px;
    height:6px;
}
.ico-arrow-blue-m-down{
    background-position:-130px -130px;
}
.ico-arrow-blue-m-up{
    background-position:-130px -140px;
}
/* 灰色 */
.countdown-ico-gray{
    background-position: -60px -100px;
}
/* 三角上下箭头 */
.ico-arrow-gray{
    width:7px;
    height:4px;
}
.ico-arrow-gray-down{
    background-position:-100px -50px;
}
/* 没有晒单 */
.littleU-cry{
    width: 66px;
    height: 80px;
    background-position: 0 0;
    display: inline-block;
    vertical-align: middle;
    background: url('../images/littleU_cry.png') no-repeat;
    overflow: hidden;
}
/* 选择上下箭头 */
.ico-arrow-sort{
    width: 9px;
    height: 11px;
}
.ico-arrow-sort-gray-up{
    background-position: -80px -160px;
}
.ico-arrow-sort-gray-down{
    background-position: -90px -160px;
}
/* 倒计时样式 */
.countdown-nums{
    position: relative;
    vertical-align: middle;
}
.countdown-nums b{
    font-weight:normal;
    font-size:22px;
    color:@main_color;
}
/* 站内地图 */
.dir{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    height:30px;
    line-height: 30px;
    font-family: verdana,'Microsoft Yahei';
}
/* 单行文本溢出 */
.txt-over{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*瀑布流使用*/
.pin-layout{position: relative;}
/* 微信分享错位解决 */
#jiathis_weixin_modal{
    height:374px !important;
}