@CHARSET "UTF-8";
.fl{
	float: left;
}
.fr{
	float: right;
}
.h-line{-webkit-box-sizing: border-box;height: .48rem;width: 100%;}
.h-line1{-webkit-box-sizing: border-box;height: .28rem;width: 100%;}
.list-view{background: none;border: none;}
.list-view .list-title{
	width: 100%;
	height: 1.5rem;
	line-height: 1.6rem;
	background-color: @box_color;
	padding: 0;
	margin: 0;
	border-top:1px solid @border_main;
	border-bottom: 1px solid @border_main;
	padding-left: .56rem;
	padding-right: .56rem;
}
.list-view .list-tit{
	font-size: .63rem;
	float: left;
	font-weight: bold;
	color: #383838;
}
.list-view .list-tit a{display: block;}
.list-view .more{
	float: right;
	font-size: .5rem;
	padding-left: 1rem;
}
.list-view .more i{
	font-size: .3rem;
	float: right;

}
.list-view .list-title .diyfont{display: none;}
.list-view .info{
	-webkit-flex: 1!important;
	-webkit-box-flex: 1;
	word-wrap: break-word;
	word-break: break-all;
}
.guess{
	text-align: center;
	display: block;
	width: 100%;
	height: .7rem;
	position: relative;
}
.guess:after {
	content: '';
	display: block;
	border-bottom: 1px solid  @border_main;
	margin-top: -.36rem;
}
.guess .txt{
	font-size: .6rem;
	background-color:@body_color;
	color: #353d44;
	padding: 0 .4rem;
	display: inline-block;
}

/*列表的两张展示形式 tuan-ul tuan-ul-list  tuan-ul-img  ----start*/
.tuan_li{
	float:left;
}
.tuan_li .list_item{

   display:block;
}
.tuan_li .list_item .pic {
	height:140px;
}
.tuan-ul a.blw{
	position: relative;
	display:block;
	width: 100%;

}
/*tuan-ul-img 图片形式展示*/
.tuan-ul.tuan-ul-img {
	background:#fff;
	width: 100%;
	overflow: hidden;
}
.tuan-ul.tuan-ul-img::after{
	content: '';
	border-left: 1px solid #e8e8e8;
	height: 100%;
	position: absolute;
	left:50%;
	bottom: 0;
	-webkit-transform: scaleX(0.5) translateX(-50%);
	        transform: scaleX(0.5) translateX(-50%);
	-webkit-transform-origin:50% 0;
			transform-origin:50% 0;
	z-index: 799;
}
.tuan-ul.tuan-ul-img li{
	overflow: hidden;
	position: relative;
	float: left;
	display: block!important;
	padding: 0;
	width: 50%;
}
.tuan-ul.tuan-ul-img li:nth-child(2n+2) {
	margin-right: 0;
}

.tuan-ul.tuan-ul-img .pic{
	width:5.6rem;
	padding-top:5.6rem;
	margin: .2rem auto;
	position:relative;
}
.tuan-ul.tuan-ul-img .pic .tenyen{
    width: 1.2rem;
    height: 1.2rem;
    background-size: contain;
    position: absolute;
    top: 0;
    left: .2rem;
    z-index: 500;
}
.tuan-ul.tuan-ul-img .pic .hundredyen{
    width: 1.2rem;
    height: 1.2rem;
    background: url(../images/100yuan.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: .2rem;
    z-index: 500;
}
.tuan-ul.tuan-ul-img .tuan_ico {
  padding: 0 11px 5px 0;
  position: absolute;
  top: 0;
  left: 0;
  height:.8rem;
  width: 2.2rem;
  border-radius: 0 0 .8rem 0;
  color: #fff;
  text-align: center;
  line-height: .8rem;
  font-size: .4rem;
}
.tuan-ul.tuan-ul-img .pic img{
	width: 100%;
	height:100%;
	border:none;
	position: absolute;
	top: 0;
	left:0;
	z-index: 2;
}
.tuan-ul.tuan-ul-img .info{
	padding: 0 .4rem .48rem;
}
.tuan-ul.tuan-ul-img .info .info-tit {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: #333;
	font-size:.5rem;
	display: -webkit-box;
	-webkit-box-pack: center;
	margin-bottom: .34rem;
	line-height: .66rem;
	height:1.32rem;
	word-break: break-all;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tuan-ul.tuan-ul-img .distance_row,
.tuan-ul.tuan-ul-img .info .info-detail{
	display: none;
}
.tuan-ul.tuan-ul-img .info .tuan-price{
}
.tuan-ul .info .tuan-price{
	height: 1rem;
	line-height: 1rem;
	overflow: hidden;
	position: relative;
}
.tuan-ul .info .progress-box{
	position: relative;
	display:-webkit-box;
	display:-webkit-flex;
	display: flex;
	}
.tuan-ul .info .progress-box .left-box{
	-webkit-flex:1;
	-webkit-box-flex:1;
	flex:1;
}
.tuan-ul .info .progress-box .right-box{
	display:block;
	font-size:12px;
	margin-left:.3rem;
	height:.9rem;
	line-height: .9rem;
	border:1px solid @main_color;
	padding:0 .12rem;
	color:@main_color;
	border-radius:3px;
	position: relative;
}
.tuan-ul .info .progress-box .left-box .progress-info{
	line-height: .58rem;
	font-size:12px;
}
.tuan-ul .info .progress-box .left-box .progress-info span{
			color: #3273c3;
			padding-left: 2px;
}
.tuan-ul .info .progress-box .left-box progress{
	width: 100%;
	height: 5px;
	margin-top:5px;
	display: block;
	border-radius: 10px;
}
.tuan-ul .info .progress-box .left-box progress { -webkit-appearance: none; }
.tuan-ul .info .progress-box .left-box ::-webkit-progress-bar {
	background: #efedee;
	border-radius: .2rem;
}
.tuan-ul .info .progress-box .left-box ::-webkit-progress-value {
	background: #ffca3e;
	border-radius: .2rem;
}
.tuan-ul .info .progress-box .right-box i{
    border-radius: 50%;
    width: 1.5rem;
    line-height: 1.3rem;
    color: #fff;
    width: 1.3rem;
    text-align: center;
    font-size: .8rem;
    background-color: #d93a55;
    float: left;
    margin-left: 0.6rem;
    margin-top: 0.4rem;
}



.tuan-ul .info .progress-box .right-box button{
	padding: 5px;
	border: 1px solid #e52f47;
	border-radius: 5px;
	color: #fff;
	background-color: #e52f47;
}
.tuan-ul.tuan-ul-img .price{
	font-size: .6rem;
	color: #e9573e;
	float: left;
}
.tuan-ul.tuan-ul-img  .price em {
	font-size: .68rem;
	color: #fe4229;
	font-weight: bold;
	font-style: normal;
	padding-right: 12px;
	text-align: left;
}
.tuan-ul.tuan-ul-img .price del{
	display: none;
}
.tuan-ul.tuan-ul-img  .price em i{
	font-size: .5rem;
	display: inline;
}
.tuan-ul.tuan-ul-img  .bought{
	float: right;
	color: #999;
	font-size: .4rem;

}
/* tuan-ul-list 详情列表展示 */
.tuan-ul.tuan-ul-list:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.tuan-ul.tuan-ul-list{
	background: #fff;
	/*border-top: 1px solid #DCDCDC;*/
}
.tuan-ul.tuan-ul-list li {
	position: relative;
	width: 100%;
	padding: .48rem .56rem;
	background: #fff;
	float: none;
	-webkit-box-sizing: border-box;
}
.tuan-ul.tuan-ul-list .pic{
	position: relative;
	margin-right: .48rem;
	width: 4rem;
	height: 4rem;
	float: left;
	-webkit-box-sizing: border-box;
}
.tuan-ul.tuan-ul-list .pic img{
	width: 4rem;
	height: 4rem;
}
.tuan-ul.tuan-ul-list .tuan_ico {
  padding: 0 11px 5px 0;
  position: absolute;
  top: 0;
  left: 0;
  height:.8rem;
  width: 1.8rem;
  border-radius: 0 0 .8rem 0;
  color: #fff;
  text-align: center;
  line-height: .8rem;
  font-size: .4rem;
}
.tuan-ul.tuan-ul-list  .pic .order {
  background: #0079ff;
}
.tuan-ul.tuan-ul-list .info{
width: auto;
height:auto;
margin-left: 4.48rem;
}
.tuan-ul.tuan-ul-list .info-tit{
  height: 1.6rem;
  font-size: .52rem;
  line-height: .8rem;
  overflow: hidden;
  color: #555;
  position: relative;
  width: 100%;
}
.tuan-ul.tuan-ul-list .info-detail{
  height: 1.3rem;
  line-height: 1.3rem;
  font-size: .48rem;
  color: #909090;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}
.tuan-ul.tuan-ul-list .info-tit .distance_row{
	position: absolute;
	right: 0;
	bottom: 0;
}
.tuan-ul.tuan-ul-list .info-tit .distance_row div {
	position: relative;
	display: block;
	float: right;
	font-size: .5rem;
	top: 0;
	background-color: #DCDCDC;
	color: #fff;
	-webkit-border-radius: .1rem;
	padding: 0 .2rem;
	height: .8rem;
	line-height: .8rem;
}
.tuan-ul.tuan-ul-list .info-tit .distance_row .iconfont{
	font-size: .5rem;
}
.tuan-ul.tuan-ul-list .info-detail .distance_row{
float: left;
position: absolute;
left: 0;
bottom: 0;
}
.tuan-ul.tuan-ul-list .info-detail .distance_row div {
	position: relative;
	display: block;
	float: left;
	font-size: .5rem;
	top: 0;
	-webkit-border-radius: .1rem;
	height: .8rem;
	line-height: .8rem;
}
.tuan-ul.tuan-ul-list .info-detail .distance_row .iconfont{
	font-size: .5rem;
}
.tuan-ul.tuan-ul-list .tuan-price{
	  height: 1.2rem;
  overflow: hidden;
  width: 100%;
}
.tuan-ul.tuan-ul-list .tuan-price em{
	font-weight: bold;

}
.tuan-ul.tuan-ul-list .tuan-price em i{
	font-size: .5rem;
}
.tuan-ul.tuan-ul-list .price{
	float: left;
  line-height: 1.2rem;
}
.tuan-ul.tuan-ul-list .price em{
	font-size: .68rem;
  color: #fe4229;
}
.tuan-ul.tuan-ul-list .price del{
	font-size: .5rem;
  color: #CACACA;
}
.tuan-ul.tuan-ul-list .bought{
	float: right;
  color: #CACACA;
  line-height: 1.2rem;
}
.tuan-ul.tuan-ul-list .price .ui-starbar{
	margin-top: .4rem;
}


/*列表的两张展示形式 tuan-ul  tuan-ul-img  ----end*/





/*回到顶部按钮*/
#gotop{
	display: none;
	position: fixed;
	right: .4rem;
	bottom: 1rem;
width: 1.6rem;
  height: 1.6rem;
	line-height:1.6rem;
	z-index: 130;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	color:@font_white;
	background:@main_color;
}
#gotop a,#gotop a:hover,#gotop a:visited{
	display: block;
	color: inherit;
	color:@font_white;
	height: 100%;
}
#gotop a .iconfont{ font-size:1.2rem; line-height:1.6rem;display:block;}


.lazyimg img, .lazybox{background:url(../images/lazyimg.gif); }
/*头部*/
.header-wrapper{
	width: 100%;
	height:2rem;
}
.header-wrapper .header-wrap{
	background-color:@main_color;
	display:-webkit-box;
	display:-webkit-flex;
	display: flex;
	-webkit-align-items:center;
	align-items:center;
	-webkit-box-align: center;
	width: 100%;
	height: 2rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 900;
}
.header-wrapper a,.header-wrapper .iconfont {
  font-size: .62rem;
  color:@font_white;
}
.header-wrapper a.user-center-link .iconfont,a.search-btn .iconfont{
  	display: inline-block;
  	width: 1.4rem;
  	vertical-align: top;
    font-size: 1rem;
    height: 2rem;
}
.header-wrapper a.search-btn .iconfont{
	display: inline-block;
	width: 1.4rem;
	vertical-align: top;
  font-size: 1rem;
  height: 2rem;
}
.header-wrapper .city-link {
  position: absolute;
  height: 100%;
  left: 0;
  width: auto;
  padding: 0 24px 0 12px;
}
.header-wrapper .city-name{
	display: inline-block;
}
.header-wrapper .user-center-link {
	display: block;
	width: 2rem;
	text-align: center;
	line-height: 2rem;
}
.header-wrapper .search-btn {
	display:block;
	width: 2rem;
	text-align: center;
	line-height: 2rem;
}

.header-wrapper .title {
		-webkit-flex:1;
		flex:1;
	/* 	for  uc */
		-webkit-box-flex:1;
	font-size: .68rem;
	color:@font_white;
	text-align: center;
}

.nav-down{
	position: absolute;
	background: #fff;
	right: 1px;
	top: 1.9rem;
	border: 1px solid @main_color;
	z-index: 102;
	overflow: hidden;
}
.open .nav-down{
	height: 4.5rem;
	opacity: 1;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.close .nav-down{
	height: 0;
	opacity: 0;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.open .nav-mask{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.1);
	z-index: 101;
	transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}
.nav-down ul li{
	width:4.8rem;
	height: 1.5rem;
	border-bottom:1px solid @main_color;
	line-height: 1.5rem;
	color: @main_color;
	text-align: center;
}
.nav-down ul li a{
	display: block;
	width: 100%;
	height: 100%;
}
.nav-down ul li:nth-last-child(1){
	border-bottom:none;
}
.nav-down .menu i,
.nav-down .menu span{
	color: @main_color;
}
.nav-down .menu i {
  padding: 0 .28px;
  font-size: .65rem;
}
.nav-down .menu span {
  padding: 0 .28px;
  font-size: .5rem;
}


/*选择框*/
.mall-cate li {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	color: #8f8f8f;
	display: block;
	height: 1.5rem;
	font-size: 14px;
	text-align: center;
	line-height: 1.5rem;
	background: #fff;
	border-right: 1px solid #e6e6e6;
}
.main_list{
	position: relative;
	width: 100%;
}
.mall-cate {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	width: 100%;
	border-bottom:none;
}
.hide_list{
	width: 100%;
  top:1.5rem;
  left:0;
  background:transparent;
  z-index: 10;
  position: absolute;
  display: none;
}
.mall-cate:after{
	content: "";
	display: block;
	height: 0;
	border-top: 1px solid #ccc;
	width:100%;
	z-index: 3;
	clear: both;
	position: absolute;
	left: 0;
	bottom: 0;
}

.list-mask{
	position: absolute;
	z-index:-1;
	top:0;
	background: rgba(0,0,0,.7);
	width: 100%;
	height: 100%;
}




/* zhengling css */

html,body{
	font-family: Arial,"Microsoft Yahei",Helvetica,sans-serif;
	min-height:100%;
}
input,button{
	font-family:inherit;
}
a{
	color:#6e7d8b;
}
*{
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
/* 响应式定义根元素，在某种屏幕宽度下根元素的1rem单位=?px   应用模块实际宽度（px）=根元素（px）*应用模块（rem） */
@media screen and (min-width:320px) {
	html {
		font-size: 24px
	}
	body {
		font-size: 12px
	}
}
@media screen and (min-width:360px) {
	html {
		font-size: 24px
	}
	body {
		font-size: 12px
	}
}
@media screen and (min-width:375px) {
	html {
		font-size: 25px
	}
	body {
		font-size: 12px
	}
}
@media screen and (min-width:384px) {
	html {
		font-size: 25.6px
	}
	body {
		font-size: 14px
	}
}
@media screen and (min-width:400px) {
	html {
		font-size: 26.66666667px
	}
	body {
		font-size: 14px
	}
}
@media screen and (min-width:414px) {
	html {
		font-size: 27.6px
	}
	body {
		font-size: 14px
	}
}
@media screen and (min-width:424px) {
	html {
		font-size: 28.26666667px
	}
	body {
		font-size: 14px
	}
}
@media screen and (min-width:480px) {
	html {
		font-size: 32px
	}
	body {
		font-size: 15.36px
	}
}
@media screen and (min-width:540px) {
	html {
		font-size: 36px
	}
	body {
		font-size: 17.28px
	}
}
@media screen and (min-width:720px) {
	html {
		font-size: 36px
	}
	body {
		font-size: 17.28px
	}
}
@media screen and (min-width:750px) {
	html {
		font-size: 36px
	}
	body {
		font-size: 17.28px
	}
}

/*底部导航栏样式1*/
.fw-ibar {
	position: fixed;
left:.4rem;
	bottom: 6rem;
	z-index: 102
}
.fw-ibar-toggle {
	width: 1.6rem;
	height: 1.6rem;
	-webkit-border-radius: 50%;
	border: 1px solid @main_color;
	background-color: @main_color;
	position: absolute;
	z-index: 999;
	-webkit-transition: all ease .2s;
	-webkit-transform-origin: 50% 50%
}
.fw-ibar-toggle .hline, .fw-ibar-toggle .vline {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	background-color: #fff;
	width: 1px;
height:.64rem
}
.fw-ibar-toggle .vline {
	height: 1px;
width:.64rem
}
.fw-ibar-wrap {
	position: absolute;
	z-index: 103;
	width: 8.88rem;
	height: 8.88rem;
	left: -3.68rem;
	top: -3.68rem;
	-webkit-border-radius: 50%;
	border: 1px solid #dbdbdb;
	background-color: rgba(255,255,255,.8);
	-webkit-transition: all ease .2s
}
.fw-ibar.open .fw-ibar-toggle {
	-webkit-transform: translate3d(0, 0, 0) rotate(225deg);
	background-color: #fff;
	border-color: #909090
}
.fw-ibar.close .fw-ibar-toggle {
	-webkit-transform: translate3d(0, 3.4rem, 0) rotate(0deg);
	background-color: @main_color;
	border-color: @main_color;
}
.fw-ibar.open .hline, .fw-ibar.open .vline {
	background-color: #909090
}
.fw-ibar.close .hline, .fw-ibar.close .vline {
	background-color: #fff
}
.fw-ibar.open .fw-ibar-wrap {
	opacity: 1;
	-webkit-transform: scale(1);
	pointer-events: auto
}
.fw-ibar.close .fw-ibar-wrap {
	opacity: 0;
	-webkit-transform: scale(0.3);
	pointer-events: none
}
.fw-ibar-wrap .item {
	display: block;
	width: 2.28rem;
	height: 1.8rem;
	position: absolute;
	font-size: 12px;
	color: #353d44;
	z-index: 999
}
.fw-ibar-wrap .item .title {
	text-align: center;
margin-top:0;
}
.fw-ibar-wrap .item:nth-child(1) {
top:.56rem;
	left: 3.3rem
}
.fw-ibar-wrap .item:nth-child(2) {
	top: 1.64rem;
	left: 5.34rem
}
.fw-ibar-wrap .item:nth-child(3) {
	top: 3.68rem;
	left: 6.5rem
}
.fw-ibar-wrap .item:nth-child(4) {
	top: 5.8rem;
	left: 5.34rem
}
.fw-ibar-wrap .item:nth-child(5) {
	top: 6.6rem;
	left: 3.3rem
}
.fw-ibar-wrap .item .iconfont  {
	width: 1rem;
	height: 1rem;
	font-size: .8rem;
	text-align: center;
	margin: 0 auto;
}
.fw-ibar-mask {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
	z-index: 101
}
.fw-ibar.open .fw-ibar-mask {
	display: block
}

/*颜色表*/

/*绿色*/
.font-green{
	color: #4eca89 ;
}
/*橙色*/
.font-orange{
	color: #ffaa45 ;
}
/*红色*/
.font-gules{
	color: #fc7075 ;
}
/*粉色*/
.font-pink{
	color: #fc70a5 ;
}
/*紫色*/
.font-violet{
	color: #cf7cf6 ;
}
/*浅绿*/
.font-light-green{
	color: #a2de2e ;
}
/*蓝色*/
.font-blue{
	color: #a2f2db ;
}
/*浅灰*/
.font-light-gray{
	color: #b2b2b2;
}

/*分割线*/
.split-line{
  position: relative;
}
.split-line::after{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
  -webkit-transform-origin:0 100%;
  transform-origin: 0 100%;
  z-index:9;
}
/* 上边框 */
.split-line-top{
  position: relative;
}
.split-line-top::before{
  content: '';
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
  -webkit-transform-origin:0 0;
  transform-origin: 0 0;
z-index: 9;
}

.flex-box{
	display:-webkit-box;
	display:-webkit-flex;
	display: flex;
	-webkit-align-items:center;
	align-items:center;
	-webkit-box-align: center;
	width: 100%;
	height: 1.82rem;
}
.flex-box::after{
	color: #e5e5e5 !important;
}
/* 中奖弹窗 */
.winner-layer{
	height:100%;
	position: fixed;
	top: 0;
	left:0;
	background:rgba(0, 0, 0, .8);
	width:100%;
	z-index:10000;
}
.winner-layer .winner-box{
	position: absolute;
	width:100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.winner-layer .winner-box .winner-img img{
	width:100%;
}
.winner-layer .winner-box .winner-info{
	margin-top:-2rem;
}
.winner-layer .winner-box .winner-info p{
	text-align: center;
	color:#fff;
	line-height:1rem;
}
.winner-layer .winner-box .winner-info .txt-yellow{
	color:#fff200;
	font-size:.44rem;
}
.winner-layer .winner-box .winner-info h3{
	text-align: center;
	font-size:.72rem !important;
	line-height: 1.3rem;
}
.winner-layer .winner-box  .winner-btn{
	display:-webkit-box;
	display:-webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items:center;
	align-items:center;
	padding:0 1.8rem;
	margin-top:.6rem;
}
.winner-layer .winner-box  .winner-btn a{
	display: block;
	-webkit-flex:1;
	-webkit-box-flex:1;  
	flex:1;
	line-height: 1.2rem;
	color:#fff;
	background:@main_color;
	border-radius:3px;
	text-align: center;
}
.winner-layer .winner-box  .winner-btn .share-winner{
	background:#fff;
	color:@main_color;
	margin-left:.5rem;
}
.winner-layer .winner-box .winner-close{
	position: absolute;
	top: 0;
	right:10%;
}
.winner-layer .winner-box .winner-close .iconfont{
	color:#fff;
	font-size:1.2rem;
}