{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{%Agreement_add_Add_agreement}<a href="{:u("Agreement/index")}" class="back_list"> {%Agreement_add_Back_to_list}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
    <tr>
        <td colspan=2 class="topTd"></td>
    </tr>
    <tr>
        <td class="item_title">{%Adv_index_name}:</td>
        <td class="item_input"><input type="text" class="textbox require" name="agreement_name" /></td>
    </tr>
    <tr>
        <td class="item_title">{%CATE_TREE}:</td>
        <td class="item_input">
        <select name="agreement_cate" class="require">
            <option value="0">=={%NO_SELECT_CATE}==</option>
            <option value="notice">{%Agreement_add_announce}</option>
            <option value="agreement">{%Agreement_add_Service_Agree}</option>
        </select>
        </td>
    </tr>
    <tr>
        <td class="item_title">{%common_content}:</td>
        <td class="item_input">
         <html:editor id="brief" name="agreement" type="KINDEDITOR" content="{$result.description}" />
        </td>
    </tr> 
    <tr>
        <td class="item_title">{%IS_EFFECT}:</td>
        <td class="item_input">
            <lable>{%IS_EFFECT_1}<input type="radio" name="is_effect" value="1" checked="checked" /></lable>
            <lable>{%IS_EFFECT_0}<input type="radio" name="is_effect" value="0" /></lable>
        </td>
    </tr>
    <tr>
        <td class="item_title">{%SORT}:</td>
        <td class="item_input"><input type="text" class="textbox" name="sort" value="{$new_sort}" /></td>
    </tr>
     
    <tr>
        <td class="item_title"></td>
        <td class="item_input">
            <!--隐藏元素-->         
            <input type="hidden" name="{:conf("VAR_MODULE")}" value="Agreement" />
            <input type="hidden" name="{:conf("VAR_ACTION")}" value="insert" />
            <input type="hidden" name="id" value="{$result['id']}" />
            <!--隐藏元素-->
            <input type="submit" class="button" value="{%common_add}" />
            <input type="reset" class="button" value="{%common_Reset}" />
        </td>
    </tr>
    <tr>
        <td colspan=2 class="bottomTd"></td>
    </tr>
</table>     
</form>
</div>
<include file="Public:footer" />