{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{%Agreement_edit_Edit_agreement} <a href="{:u("Agreement/index")}" class="back_list"> {%Agreement_edit_Back_to_list}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
    <tr>
        <td colspan=2 class="topTd"></td>
    </tr>
     <tr>
        <td class="item_title">{%common_Name}:</td>
        <td class="item_input"><input type="text" class="textbox require" name="agreement_name" value="{$vo.agreement_name}"  /></td>
    </tr>
    <tr>
        <td class="item_title">{%CATE_TREE}:</td>
        <td class="item_input">
        <select name="agreement_cate" class="require">
            <option value="0">=={%NO_SELECT_CATE}==</option>
            <option value="notice" <if condition="'notice' eq $vo['agreement_cate']">selected="selected"</if> >{%common_Announce}</option>
            <option value="agreement" <if condition="'agreement' eq $vo['agreement_cate']">selected="selected"</if> >{%Agreement_edit_Service_Agree}</option>
        </select>
        </td>
    </tr>
    <tr>
        <td class="item_title">{%common_content}:</td>
        <td class="item_input">
         <html:editor id="brief" name="agreement" type="KINDEDITOR" content="{$vo.agreement}" />
        </td>
    </tr>   
    <tr>
        <td class="item_title">{%IS_EFFECT}:</td>
        <td class="item_input">
            <lable>{%IS_EFFECT_1}<input type="radio" name="is_effect" value="1" <if condition=" $vo['is_effect'] eq 1 ">checked="checked"</if> /></lable>
            <lable>{%IS_EFFECT_0}<input type="radio" name="is_effect" value="0" <if condition=" $vo['is_effect'] eq 0 ">checked="checked"</if> /></lable>
        </td>
    </tr>
    <tr>
        <td class="item_title">{%SORT}:</td>
        <td class="item_input"><input type="text" class="textbox" name="sort" value="{$vo.sort}" /></td>
    </tr>
    <tr>
        <td class="item_title"></td>
        <td class="item_input">
            <!--隐藏元素-->         
            <input type="hidden" name="{:conf("VAR_MODULE")}" value="Agreement" />
            <input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
            <input type="hidden" name="id" value="{$vo['id']}" />
            <!--隐藏元素-->
            <input type="submit" class="button" value="{%EDIT}" />
            <input type="reset" class="button" value="{%RESET}" />
        </td>
    </tr>
    <tr>
        <td colspan=2 class="bottomTd"></td>
    </tr>
</table>     
</form>
</div>
<include file="Public:footer" />