{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<php>
    function cate_name($cate)
    {
        if($cate=='notice')
            return "{$Agreement_add_announce}";
        else
            return "{$Agreement_edit_Service_Agree}";
    }
</php>
<div class="main">
<div class="main_title">{%Agreement_index_Announceand_Service_Agree}</div>
<div class="blank5"></div>
<div class="button_row">
    <input type="button" class="button" value="{%ADD}" onclick="add();" />
    <input type="button" class="button" value="{%DEL}" onclick="foreverdel();" />
</div>
<div class="blank5"></div>
<html:list 
    id="dataTable" 
    style="dataTable" 
    name="article" 
    checkbox="true" 
    action="true" 
    datasource="list" 
    show="id:{%ID}|50px,agreement_name:{%common_Name},agreement_cate|cate_name:{%Adv_edit_form_classification},is_effect|get_is_effect=$article['id']:{%IS_EFFECT}"
    actionlist="edit:{%EDIT}, foreverdel:{%DEL}" /> 

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />