{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<load href='__TMPL__Common/js/jquery.bgiframe.js' />
<load href='__TMPL__Common/js/jquery.weebox.js' />
<load href='__TMPL__Common/js/user.js' />

<load href='__TMPL__Common/style/weebox.css' />
<script type="text/javascript">
function del(id)
{

	if(confirm(LANG['CONFIRM_DELETE']))
	$.ajax({ 
			url: ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=del_withdrawal&id="+id, 
			data: "ajax=1",
			dataType: "json",
			success: function(obj){
				$("#info").html(obj.info);
				if(obj.status==1)
				location.href=location.href;
			}
	});
}

function edit(id)
{
	var is_can = true;
	$.ajax({ 
		url: ROOT+'?m=FxUser&a=edit_referrer&id='+id, 
		data: "ajax=1",
		dataType: "json",
		async: true,
		success: function(obj){

			if(data.status==0)
			{
				is_can = false;
				alert('{%FxUser_Cannot_edit_referrer}');
				
			}
		}
	});
	
	if(is_can){
		$.weeboxs.open(ROOT+'?m=FxUser&a=edit_referrer&id='+id, {contentType:'ajax',showButton:false,title:"{%FxUser_Modify_referrer}",width:600,height:150});
	}
	
}

function edit_remark(id)
{
	$.weeboxs.open(ROOT+'?m=FxUser&a=edit_remark&id='+id, {contentType:'ajax',showButton:false,title:"{%FxUser_Channel_labeling}",width:600,height:150});
}

function toogle_status(id,domobj,field)
{
	$.ajax({ 
		url: ROOT+"?"+VAR_MODULE+"="+'User'+"&"+VAR_ACTION+"=toogle_status&field="+field+"&id="+id, 
		data: "ajax=1",
		dataType: "json",
		success: function(obj){

			if(obj.data=='1')
			{
				$(domobj).html(LANG['YES']);
			}
			else if(obj.data=='0')
			{
				$(domobj).html(LANG['NO']);
			}
			else if(obj.data=='')
			{
				
			}
			$("#info").html(obj.info);
		}
	});
}

function close_fx_all(){
	if(!confirm("{%FxUser_tips01}")){
		return false;
	}
	 
	$.ajax({ 
		url: ROOT+"?"+VAR_MODULE+"="+'FxUser'+"&"+VAR_ACTION+"=close_fx_all", 
		data: "ajax=1",
		dataType: "json",
		success: function(obj){
			if(obj.status == 1){
				location.reload();
			}else{
				alert('{%FxUser_Setup_failed}');
			}
			 
		}
	});
}

function open_fx_all(){
	if(!confirm("{%FxUser_tips02}")){
		return false;
	}
 
	$.ajax({ 
		url: ROOT+"?"+VAR_MODULE+"="+'FxUser'+"&"+VAR_ACTION+"=open_fx_all", 
		data: "ajax=1",
		dataType: "json",
		success: function(obj){
			if(obj.status == 1){
				location.reload();
			}else{
				alert('{%FxUser_Setup_failed}');
			}
		}
	});
}

</script>
<php>

	function get_referrals_name($user_id)
	{
		$user_name = M("User")->where("id=".$user_id)->getField("user_name");
		if($user_name)
		return $user_name;
		else
		return l("NO_REFERRALS");
	}
	
	function get_money($user_id, $pid)
	{
		$m = new Model();
		$result = $m->query("select  round(ifnull(sum(money),0), 2)  total_money from ".DB_PREFIX."fx_user_reward where user_id=".$user_id." and  pid = ".$pid);
		return $result[0]['total_money'];
	}
	
	function subordinate($id, $is_open_scan)
	{
		$str= "&nbsp;<a href='".u("FxUser/index",array("user_id"=>$id))."'>{$FxUser_View_offline_members}</a>&nbsp;";
		$str.= "&nbsp;<a href='".u("FxUser/money_log",array("user_id"=>$id))."'>{$FxUser_View_distribution_funds_log}</a>&nbsp;";
		if($is_open_scan){
			$str.= "&nbsp;<a href='".u("FxUser/get_scan",array("user_id"=>$id))."'>{$FxUser_Channel_QR_Code}</a>&nbsp;";
		}
		$str.= '&nbsp;<a href=javascript:edit_remark("'.$id.'")>{$FxUser_Channel_labeling}</a>&nbsp;';
		$str.= "&nbsp;<a href='".u("DuobaoOrder/index",array("user_id"=>$id))."'>{$FxUser_check_order}</a>&nbsp;";
		
		return $str;
	}	
	
</php>
<div class="main">
<div class="main_title">{%FxUser_Distribution_member}</div>
<div class="blank5"></div>
<div class="button_row">
	
	
</div>

<div class="blank5"></div>
<if condition="intval($_REQUEST['user_id']) ">
	{%FxUser_To_superior_users}（{$user_name}）{%FxUser_Commission_statistics}:<br /><br />

	{%FxUser_Cumulative_turnover}：{$money_data.fx_total_money}， {%FxUser_Accumulated_profit}：{$money_data.fx_total_balance}<br /><br />

	{%FxUser_tips05}：{$money_data.one_info.total_money}，
	{%FxUser_tips06}：{$money_data.one_info.total_order_money}
<br /><br />
	{%FxUser_tips07}：{$money_data.two_info.total_money}，
	{%FxUser_tips08}：{$money_data.two_info.total_order_money}
<br /><br />
	{%FxUser_tips09}：{$money_data.three_info.total_money}，
	{%FxUser_tips10}：{$money_data.three_info.total_order_money}<br /><br />
</if>
<div class="blank5"></div>
<div class="search_row">
	<form name="search" action="__APP__" method="get">	
		{%USER_NAME}：<input type="text" class="textbox" name="user_name" value="{:strim($_REQUEST['user_name'])}" style="width:100px;" />
		{%USER_EMAIL}：<input type="text" class="textbox" name="email" value="{:strim($_REQUEST['email'])}" style="width:100px;" />
		{%USER_MOBILE}：<input type="text" class="textbox" name="mobile" value="{:strim($_REQUEST['mobile'])}" style="width:100px;" />
		{%REFERRALS_NAME}：<input type="text" class="textbox" name="pid_name" value="{:strim($_REQUEST['pid_name'])}" style="width:100px;" />
		{%FxUser_Channel_labeling}：<input type="text" class="textbox" name="remark_name" value="{:strim($_REQUEST['remark_name'])}" style="width:100px;" />
<!-- 		{%USER_GROUP}:  -->
<!-- 		<select name="group_id"> -->
<!-- 				<option value="0" <if condition="intval($_REQUEST['group_id']) eq 0">selected="selected"</if>>{%ALL}</option> -->
<!-- 				<foreach name="group_list" item="group_item"> -->
<!-- 					<option value="{$group_item.id}" <if condition="intval($_REQUEST['group_id']) eq $group_item['id']">selected="selected"</if>>{$group_item.name}</option> -->
<!-- 				</foreach> -->
<!-- 		</select> -->
		
		<input type="hidden" value="FxUser" name="m" />
		<input type="hidden" value="index" name="a" />
		<input type="submit" class="button" value="{%SEARCH}" />
	</form>
	<br />

	{%FxUser_channel}：
		<span style="color:black;font-size:12px; font-weight:normal">{%common_All}</span>
		<button onclick="open_fx_all();">{%common_Turn_on}</button>
		<button onclick="close_fx_all();" >{%common_Shut_down}</button>
	 
</div>

<div class="blank5"></div>

<html:list 
	id="dataTable" 
	style="dataTable" 
	name="user" 

	action="true" 
	datasource="list" 
	show="id:{%ID}|50px,user_name:{%USER_NAME},fx_total_money|format_price:{%FxUser_tips12},fx_total_balance|format_price:{%FxUser_tips13},id|get_money=$user['pid']:{%FxUser_Profit_to_superiors},pid|get_referrals_name:{%REFERRALS_NAME},remark_name:{%FxUser_Channel_labeling},is_fx|get_is_effect=$user['id']:{%FxUser_Distribution_status},is_open_scan|get_toogle_status=$user['id']#is_open_scan:{%FxUser_Channel_open}"
	actionlist="edit:{%FxUser_Modify_referrer},id|subordinate=$user['is_open_scan']" />

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />