{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<load href='__TMPL__Common/js/fx_user_deal.js' />
<php>

//状态的显示
function get_fx_type($type)
{
	if($type == 1)
	{
		return "{$FxUser_ratio}";
	}
	else
	{
		return "{$FxUser_quota}";
	}
}
</php>
<script type="text/javascript">
//改变分销商品状态
function log_delete(id)
{
	if(!id)
	{
		idBox = $(".key:checked");
		if(idBox.length == 0)
		{
			alert(LANG['DELETE_EMPTY_WARNING']);
			return;
		}
		idArray = new Array();
		$.each( idBox, function(i, n){
			idArray.push($(n).val());
		});
		id = idArray.join(",");
	}
	if(confirm(LANG['CONFIRM_DELETE']))
	$.ajax({ 
			url: ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=log_delete&id="+id, 
			data: "ajax=1",
			dataType: "json",
			success: function(obj){
				$("#info").html(obj.info);
				if(obj.status==1)
				location.href=location.href;
			}
	});
}
</script>


<div class="main">
<div class="main_title">{%FxUser_member}{$user_name}{%FxUser_Distribution_Funding_Log}</div>
<div class="blank5"></div>
<div class="button_row">




<input type="button" class="button" value="{%DEL}" onclick="log_delete();" />	
</div>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="fx_list" 
	checkbox="true" 
	action="true" 
	datasource="list" 
	show="id:{%ID}|50px,order_sn:{%FxUser_order_number},fx_level:{%FxUser_Distribution_level},fx_salary_type|get_fx_type:{%FxUser_Distribution_type},money|format_price:{%FxUser_Get_commission},order_money|format_price:{%FxUser_order_amount},create_time|to_date:{%FxUser_Operating_time}"
	actionlist="log_delete:{%FOREVERDEL}" /> 

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />