<script type="text/javascript">
	var jsondata={$jsondata};
</script>
<table id="tab" >
	<tr>
		<td width="46"><input type="checkbox" name="whole" {if $is_whole eq 1} checked="checked"{/if}/></td>
		<td width="80">{$LANG.Home_cart_list_product_name}</td>
		<td width="480"></td>
		<td width="120">{$LANG.Home_cart_list_value}</td>
		<td width="140">{$LANG.Home_cart_list_Unit_price_of_the_treasure_yuan_person}</td>
		<td width="160">{$LANG.Home_cart_list_Participants}</td>
		<td width="120">{$LANG.Home_cart_list_Subtotal}</td>
		<td width="60">{$LANG.Home_cart_list_operate}</td>
	</tr>
	{if $cart_result.cart_list}

	{foreach from=$cart_result.cart_list item=item}
	<tr class="cart-list">
		<td><input type="checkbox" name="selected[]" value="{$item.id}" {if $item.is_effect eq 1} checked="checked"{/if}/></td>
		<td class="split-line text_left" data-id="{$item.id}">
			<div class="goods-img">
				<a href="{$item.url}">
					<img src="{function name="get_spec_image" v=$item.deal_icon w=80 h=80 g=1}" alt="{$item.deal_icon}">
				</a>
			</div>
		</td>
		<td class="text_left">
			<div class="flex-box">
				<p>
					{if $item.min_buy eq 10}
					<span class="type-ten">{$LANG.Home_cart_list_Ten_zone}</span>&nbsp;{/if}
					{if $item.unit_price eq 100}
					<span class="type-ten" style="background-color:red">{$LANG.Home_cart_list_Hundred_Zone}</span>&nbsp;{/if}
					<a href="{$item.url}" >{$item.name}</a>
				</p>
				<p>{$LANG.Home_cart_list_Participants_remaining}<span style="color:#39f">{$item.max_buy}</span>{$LANG.Home_cart_list_Total_need}<span class="rest">{$item.residue_count}</span>{$LANG.Home_cart_list_Person_times}</p>
			</div>
		</td>
		<td>
			<p><span>{function name=format_price v=$item.value_price}</span></p>
		</td>
		<td>
			{function name=format_price v=$item.unit_price}
		</td>
		<td class="select-bar_td">
			<div class="select-bar">
				<!--<p>参与人次</p>-->
				<div class="select">
					<a class="num-btn minus" duobao_item_id="{$item.duobao_item_id}" buy_num="{$item.min_buy}" data-id="{$item.id}">-</a>
					<input class="cart_input" name="num[{$item.id}]" class="buy_number buy-num-{$item.id}" type="text" value="{$item.number}" duobao_item_id="{$item.duobao_item_id}" buy_num="{$item.min_buy}" data-id="{$item.id}" />
					<a class="num-btn plus" duobao_item_id="{$item.duobao_item_id}" buy_num="{$item.min_buy}" data-id="{$item.id}">+</a>
					<!--<em>参与人次需是{$item.min_buy}的倍数</em>-->
				</div>
				<!--<i class="iconfont del-item-btn" data-id="{$item.id}">&#xe68d;</i>-->
			</div>
		</td>
		<td class="select-bar_total">
			<p><span class="txt-red">{function name=format_price v=$item.total_price}</span></p>
		</td>
		<td>
			<a href="javascript:;" onclick="del_carts(this,{$item.id})" style="color:#808080">{$LANG.Home_cart_list_delete}</a>
		</td>
	</tr>
	{/foreach}
	<tr style="background:#f2f2f2">
		<td><input type="checkbox" name="whole_2" {if $is_whole eq 1} checked="checked"{/if} /></td>
		<td><a href="javascript:void(0);" id="del_cart_whole" style="text-decoration: none;">{$LANG.Home_cart_list_delete_selected}</a></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td colspan="2" style="text-align:right;line-height: 35px;padding-right: 15px" >
			<div class="cart-list-footer-total">{$LANG.Home_cart_list_total}：<span class="txt-red">{function name=format_price v=$cart_result.total_data.total_price}</span></div>
			<div class="f_r">{$LANG.Home_cart_list_Account_Balance}：<span class="txt-red">{function name=format_price v=$user_money}</span></div>
		</td>
	</tr>
	{else}
	<tr class="null_data">
		<td colspan="8" >
			<div>
				<p class="message">{$LANG.Home_cart_list_No_data_in_shopping_cart},<a href="{url i="index" r="index"}">{$LANG.Home_cart_list_Go_shopping_immediately}~</a></p>
			</div>
		</td>
	</tr>
	{/if}
</table>
<div class="blank20"></div>
<div style="float:right;width:800px" >
	<button id="button_check" class="btn f_r {if $cart_result.total_data.total_price gt 0}go_check{else}no_go_check{/if}" rel="orange">{$LANG.Home_cart_list_To_settle}</button>
	<div class="blank15"></div>
	<p class="text_right" style="font-size: 13px;color:#808080;">{$LANG.Home_cart_list_tips}</p>
</div>
<a href="{url i="index" r="index"}" class="btn btn-aside">{$LANG.Home_cart_list_Back_to_homepage}</a>