<div id="cart_total_box">
	<div class="order-check-form ">
		<p style="text-align: right; line-height: 24px;">
		{lang v="DEAL_TOTAL_PRICE"}：{function name="format_price" value=$result.total_price}
		{if $result.delivery_fee gt 0}
		+ {lang v="DELIVERY_FEE"}：{function name="format_price" value=$result.delivery_fee}
		{/if}
		{if $result.user_discount gt 0}
		- {lang v="USER_DISCOUNT"}：{function name="format_price" value=$result.user_discount}
		{/if}
		{if $result.payment_fee gt 0}
		+ {lang v="PAYMENT_FEE"}：{function name="format_price" value=$result.payment_fee}
		{/if}
		{if $result.paid_account_money gt 0}
		- {lang v="ACCOUNT_PAY_AMOUNT"}：{function name="format_price" value=$result.paid_account_money}
		{/if}
		{if $result.paid_ecv_money gt 0}
		- {lang v="ECV_PAY_AMOUNT"}：{function name="format_price" value=$result.paid_ecv_money}
		{/if}
		=
		<span class="red">{function name="format_price" value=$result.pay_total_price}</span>
		</p>
		<p style="text-align: right; line-height: 24px;">

		{if $result.account_money gt 0}
		- {lang v="ACCOUNT_PAY"}：{function name="format_price" value=$result.account_money}<br>
		{/if}

		{if $result.ecv_money gt 0}
		- {lang v="ECV_PAY"}：{function name="format_price" value=$result.ecv_money}<br>
		{/if}

		= {lang v="PAY_TOTAL_PRICE_ORDER"}：{if $result.payment_info} {$LANG.Home_cart_total_use}{$result.payment_info.name}{$LANG.Home_cart_total_payment}{/if}
		<span class="red">{function name="format_price" value=$result.pay_price}</span>
		</p>
		<div class="blank"></div>
		<p style="text-align: right; line-height: 24px;">
		{if $result.return_total_money ne 0}
		{lang v="RETURN_TOTAL_MONEY"}： {function name="format_price" value=$result.return_total_money} <br>
		{/if}
		{if $result.return_total_score ne 0}
			{if $result.buy_type eq 1}
			{$LANG.Home_cart_total_Points_consumption}：  <?php echo format_score(abs($this->_var['result']['return_total_score']));?>
			{else}
			{lang v="RETURN_TOTAL_SCORE"}：{function name="format_score" value=$result.return_total_score}
			{/if}
		{/if}
		</p>
		<div class="blank"></div>
		</div>

		{if $result.promote_description}
		<div class="f_r" style="text-align:right;">
		<div class="promote_title">{$LANG.Home_cart_total_Participated_in_promotional_activities}</div>
		{foreach from=$result.promote_description item=promote_item}
		<div class="promote_item">{$promote_item}</div>
		{/foreach}
		</div>
		<div class="blank"></div>
		{/if}
</div>