{if $result_list.cart_list}
<div class="cart_tip_result_title">{$LANG.Home_cart_tip_list_Recently_added_products}</div>
<div class="cart_tip_result_list">
{foreach from=$result_list.cart_list item=cart_item}
<div class="cart_tip_result_item clearfix">
	<div class="cart_tip_result_img f_l"><a href="{url x="index" r="duobao" p="id=$cart_item.duobao_item_id"}"><img src="{function name="get_spec_image" v=$cart_item.deal_icon w=74 h=74 g=1}" /></a></div>
	<div class="cart_tip_result_cnt">
		<span><a href="{url x="index" r="duobao" p="id=$cart_item.duobao_item_id"}">{function name="msubstr" v=$cart_item.name b=0 e=40}</a></span>
	</div>
	<div>
		<div class="cart_tip_result_desc f_l">
		{function name="round" v=$cart_item.total_price e=2}{$LANG.Home_cart_tip_list_Raider_Coin_issue}
		</div>
		<div class="cart_tip_result_op f_r">
		<a href="javascript:del_cart({$cart_item.id});">{$LANG.Home_cart_tip_list_Items_total_amount}</a>
		</div>
	</div>
</div>
{/foreach}
</div>
<div class="cart_tip_result_bar">
<div class="cart_tip_result_count">{$LANG.Home_cart_tip_list_Total}{$result_list.total_data.cart_item_number}{$LANG.Home_cart_tip_list_Items_total_amount}：<span>{function name="round" v=$result_list.total_data.total_price t=2}夺宝币</span></div>
<a href="{url x="index" r="cart"}" class="cart_tip_result_btn btn">{$LANG.Home_cart_tip_list_View_the_list_and_calculate}</a>
</div>
{else}
<div class="empty">{$LANG.Home_cart_tip_list_There_are_no_products_in_your_list}</div>
{/if}