{if $used_item_data.has_lottery eq 0}
		<!-- 期号 -->
		<div class="history-code f_l">
			{$LANG.Home_duobao_used_item_data_countdown_Issue}s {$used_item_data.id}
		</div>
		<!-- 中奖信息 -->
		<div class="f_l history-info">
			<div class="countdown">
				<span class="countdown-title">{$LANG.Home_duobao_used_item_data_countdown_Countdown_announced}</span>
				{if $used_item_data.lottery_time gt $now_time}
				<time class="countdown-nums" nowtime="{$now_time}" endtime="{$used_item_data.lottery_time}" id="{$used_item_data.id}">
					<b>0</b><b>0</b>:<b>0</b><b>0</b>:<b>0</b><b>0</b>
				</time>
				{else}
				{$LANG.Home_duobao_used_item_data_countdown_Being_announced}
					{/if}
				</div>
		</div>
		<!-- 幸运号码信息 -->
		<div class="f_l history-result">
		</div>
		<!-- 查看详情 -->
		<div class="f_r history-check">
		<a href="{url r="index" r="duobao" p="id=$used_item_data.id"}" target="_blank">{$LANG.Home_duobao_used_item_data_countdown_see_details}</a>
		</div>
	</li>
	{else}
		<!-- 期号 -->
		<div class="history-code f_l">
			{$LANG.Home_duobao_used_item_data_countdown_Issue} {$used_item_data.id}
		</div>
		<!-- 中奖信息 -->
		<div class="f_l history-info">
			<img src="{function name="get_user_avatar" uid=$used_item_data.luck_user_id type="big"}" width="70" height="70" class="f_l">
			<div class="f_l history-info-txt">
				<p>{$LANG.Home_duobao_used_item_data_countdown_Congratulations}
					<a href="{url i="index" r="home" p="id=$used_item_data.luck_user_id"}" target="_blank">{$used_item_data.luck_user_name}</span></a>（<span class="history-info-add">{$used_item_data.duobao_area}</span>）获得了本期商品
					</a>
				</p>
				<p>{$LANG.Home_duobao_used_item_data_countdown_User_ID}：{$used_item_data.luck_user_id}（{$LANG.Home_duobao_used_item_data_countdown_tips01}）</p>
				<p>{$LANG.Home_duobao_used_item_data_countdown_Participate_in_this_issue}：<b class="txt-red">{$used_item_data.user_duobao_count}{$LANG.Home_duobao_used_item_data_countdown_Person_times}</b></p>
			</div>
		</div>
		<!-- 幸运号码信息 -->
		<div class="f_l history-result">
			<p>{$LANG.Home_duobao_used_item_data_countdown_Lucky_number}：<b class="txt-red">{$used_item_data.lottery_sn}</b></p>
			<p>{$LANG.Home_duobao_used_item_data_countdown_Announce_time}：{$used_item_data.lottery_time_data}</p>
			<p>{$LANG.Home_duobao_used_item_data_countdown_Treasure_hunting_time}：{$used_item_data.create_time}</p>
		</div>
		<!-- 查看详情 -->
		<div class="f_r history-check">
			<a href="{url r="index" r="duobao" p="id=$used_item_data.id"}" target="_blank">{$LANG.Home_duobao_used_item_data_countdown_see_details}</a>
		</div>
	{/if}