{foreach from=$recomend_list item=recomend}
	<li class="goods ui-item">
				<div class="hover_line">
				<div class="ten-logo-box"></div>
					<div class="goods-wrap">
						<div class="imgbox">
						<a href="{url r="index" r="duobao" p="id=$recomend.id"}">
							<img src="{$recomend.icon}" width="200" height="200"  />
						</a>
						</div>
						<a href="{url r="index" r="duobao" p="id=$recomend.id"}" class="goods-title">
							{$recomend.duobaoitem_name}
						</a>
						<div class="p-price f_l">
							{$LANG.Home_duobao_new_Total}：{$recomend.max_buy}{$LANG.Home_duobao_new_Frequency}
						</div>
					</div>
		</div>
	</li>
{/foreach}