<td colspan="6">
	<h4>{$LANG.Home_duobao_countdown_tip_Calculation_results}</h4>
	<ol>
		<li><span class="index">1、</span>{$LANG.Home_duobao_countdown_tip_Sum}：{$root.item_data.fair_sn_local} ({$LANG.Home_duobao_countdown_tip_01})</li>
		<li><span class="index">2、</span>{if $root.item_data.fair_type eq 'wy'}第 {$root.item_data.fair_period} {$LANG.Home_duobao_countdown_tip_Lucky_Numberperiod}{/if}{$LANG.Home_duobao_countdown_tip_Lucky_number}：{foreach from=$root.item_data.fair_sn_s item=fair_sn}<b class="ico ball">{$fair_sn}</b>{/foreach}</li>
		<li><span class="index">3、</span>{$LANG.Home_duobao_countdown_tip_remainder}：({$root.item_data.fair_sn_local} + {foreach from=$root.item_data.fair_sn_s item=fair_sn}<b class="ico ball">{$fair_sn}</b>{/foreach}
		) % {$root.item_data.max_buy} ({$LANG.Home_duobao_countdown_tip_Number_of_people_required_for_goods}) =
		{foreach from=$root.item_data.luck_lottery.fixed_values item=fixed_values}<b class="square">{$fixed_values}</b>{/foreach}
		({$LANG.Home_duobao_countdown_tip_remainder})
			<i class="ico ico-question" style="margin-top: -2px">
				<div class="tips-layer">
					<i class="ico small-tip-ico"></i>
						<b class="txt-red">{$LANG.Home_duobao_countdown_tip_remainder}：</b>{$LANG.Home_duobao_countdown_tip_02}
				</div>
			</i>
		</li>
		<li><span class="index">4、</span>{foreach from=$root.item_data.luck_lottery.fixed_values item=fixed_values}<b class="square">{$fixed_values}</b>{/foreach}
		({$LANG.Home_duobao_countdown_tip_remainder}) + 100000001 =
		{foreach from=$root.item_data.luck_lottery.lottery_sns item=lottery_sns}<b class="square">{$lottery_sns}</b>{/foreach}
		</li>
	</ol>
	<span class="result-code">{$LANG.Home_duobao_countdown_tip_Lucky_number}： {$root.item_data.luck_lottery.lottery_sn}</span>
</td>