{if !$root.item_data.has_lottery}
			<!-- 揭晓中 -->
			<!-- 倒计时 -->
			<div class="detail-countdown clearfix" >
				<i class="goods-detail-ico hourglass f_l"></i>
				<div class="countdown-box f_l">
					<div class="countdown-box-hd">
						<span>{$LANG.Home_duobao_countdown_Issue}：{$root.item_data.id}</span>
						<span class="split">|</span>
						<span>{$LANG.Home_duobao_countdown_Countdown_announced}</span>
					</div>
					<time class="countdown-num" nowtime="{$root.item_data.now_time}" endtime="{$root.item_data.lottery_time}" id="{$root.item_data.id}">
						{$LANG.Home_duobao_countdown_Being_announced}
					</time>
				</div>
			</div>
				
			{else}
			<!-- 已揭晓 -->
			<div class="winner">
				<!-- 获奖者幸运号码 -->
				<div class="winner-luckycode clearfix">
					<div class="hd f_l">
						<span class="period">{$LANG.Home_duobao_countdown_Issue}<span class="period-num">{$root.item_data.luck_lottery.duobao_item_id}</span></span>
						<span class="title">{$LANG.Home_duobao_countdown_Lucky_number}</span>
					</div>
					<div class="code f_l">{$root.item_data.luck_lottery.lottery_sn}</div>
				</div>
				<!-- 获奖者信息 -->
				<div class="winner-detail clearfix">
					<i class="goods-detail-ico winner-ico"></i>
					<div class="clear"></div>
					<img src="{function name="get_user_avatar" uid=$root.item_data.luck_lottery.user_id type="big"}" alt="" class="user-pic f_l" width="90" height="90">
					<div class="f_l winner-user-info">
						<div class="info-item user-name">
							<span class="hd">{$LANG.Home_duobao_countdown_User_Nickname}</span>：<span class="bd"><a href="{url i="index" r="home" p="id=$root.item_data.luck_lottery.user_id"}" target="_blank">{$root.item_data.luck_lottery.user_name}</a></span>
							{if $root.item_data.luck_lottery.province_name || $root.item_data.luck_lottery.city_name}（{if $root.item_data.luck_lottery.province_name}{$root.item_data.luck_lottery.province_name}省{/if}{if $root.item_data.luck_lottery.city_name}{$root.item_data.luck_lottery.city_name}市{/if}）{/if}
						</div>
						<div class="info-item user-id">
							<span class="hd">{$LANG.Home_duobao_countdown_user} I D</span>：<span class="bd">{$root.item_data.luck_lottery.user_id}（{$LANG.Home_duobao_countdown_Unique_user_ID}）</span>
						</div>
						<div class="info-item user-buy-time">
							<span class="hd">{$LANG.Home_duobao_countdown_Participate_in_this_issue}</span>：<span><b class="txt-red">{$root.item_data.luck_lottery.user_duobao_count}{$LANG.Home_duobao_countdown_Person_times}</b></span>
						</div>
					</div>
					<div class="f_l winner-record">
						<div class="info-item published-time">
							<span class="hd">{$LANG.Home_duobao_countdown_Countdown_announced}</span>：<span class="bd">{$root.item_data.lottery_time_format}</span>
						</div>
						<div class="info-item buy-time">
							<span class="hd">{$LANG.Home_duobao_countdown_Treasure_hunting_time}</span>：<span class="bd">{$root.item_data.luck_lottery.create_time}</span>
						</div>
						<div class="info-item codes">
							<a class="btn-winner-code-s">{$LANG.Home_duobao_countdown_View}{if $root.is_login}{$LANG.Home_duobao_countdown_myself}{else}TA{/if}Num>></a>
						</div>
					</div>
				</div>
			</div>
			{/if}
			<!-- 计算规则 -->
			<div class="calcu-rule clearfix">
				<!-- 如何计算已经最终取值 -->
				<div class="calcu-main info f_l clearfix">
					<div class="calcu-title">{$LANG.Home_duobao_countdown_How_to_calculate}？</div>
					<!-- 幸运号码 -->
					<div class="calcu-luckycode f_l calcu-item">
						<p class="num">{if $root.item_data.luck_lottery.lottery_sn}{$root.item_data.luck_lottery.lottery_sn}{else}?{/if}</p>
						<p class="tip">{$LANG.Home_duobao_countdown_Lucky_number}</p>
					</div>
					<!-- 等于号 -->
					<div class="equal f_l">=</div>
					<!-- 固定数值 -->
					<div class="calcu-item f_l">
						<p class="num">100000001</p>
						<p class="tip">{$LANG.Home_duobao_countdown_Fixed_value}</p>
					</div>
					<!-- 加号 -->
					<div class="add f_l">+</div>
					<!-- 变化数值 -->
					<div class="calcu-num-x f_l calcu-item">
						<p class="num">{if $root.item_data.luck_lottery.lottery_sn}{$root.item_data.luck_lottery.fixed_value}{else}?{/if}</p>
						<p class="tip">{$LANG.Home_duobao_countdown_Change_value}</p>
					</div>
				</div>
				<!-- 变化数值取值方式 -->
				<div class="calcu-sec info f_l clearfix">
					<div class="calcu-title"><strong>{$LANG.Home_duobao_countdown_Change_value}</strong>{$LANG.Home_duobao_countdown_following_formula}</div>
					<div class="f_l left-bk">(</div>
					<div class="f_l calcu-item calcu-sum">
						<p class="num">{$root.item_data.fair_sn_local}</p>
						<div class="tip">{$LANG.Home_duobao_countdown_time_sum}
							<div class="hover-more more-1">
								<i class="goods-detail-ico tip-box"></i>
								<div class="more-content">
									{$LANG.Home_duobao_countdown_tip01}<span class="txt-red">{$LANG.Home_duobao_countdown_tip02}</span>，{$LANG.Home_duobao_countdown_sum}。
								</div>
							</div>
						</div>
					</div>
					<div class="f_l add">+</div>
					<div class="f_l calcu-item calcu-lottery">
						<p class="num">{if $root.item_data.luck_lottery.lottery_sn}{$root.item_data.fair_sn}{else}?{/if}</p>
						<div class="tip">
							{$LANG.Home_duobao_countdown_Lucky_Numberperiod}
							<div class="hover-more more-2">
								<i class="goods-detail-ico tip-box"></i>
								<div class="more-content">
									{$LANG.Home_duobao_countdown_Latest_issue} ({$LANG.Home_duobao_countdown_num}{$root.item_data.fair_period}{$LANG.Home_duobao_countdown_sum}) {$LANG.Home_duobao_countdown_Announce_the_result}。
								</div>
							</div>
						</div>
					</div>
					<div class="f_l right-bk">)</div>
					<div class="f_l calcu-divide">÷</div>
					<div class="f_l calcu-price calcu-item">
						<p class="num">{$root.item_data.max_buy}</p>
						<div class="tip">{$LANG.Home_duobao_countdown_Total_number_of_people_required}</div>
					</div>
				</div>
			</div>