
<div class="nav_item_title">
	<a href="{url x="index" r="home" p="id=$home_user.id"}">{$LANG.Home_home_nav_list_His_treasure}</a>
</div>
<hr>
<div class="side_nav">

	<dl class="nav_item">

			<dd><a class="{if $MODULE_NAME eq 'home'}current{/if}" href="{url x="index" r="home" p="id=$home_user.id"}">{$LANG.Home_home_nav_list_Treasure_Record}</a></dd>
			<dd><a class="{if $MODULE_NAME eq 'home_luck'}current{/if}" href="{url x="index" r="home_luck" p="id=$home_user.id"}">{$LANG.Home_home_nav_list_Lucky_record}</a></dd>
			<dd><a class="{if $MODULE_NAME eq 'home_share'}current{/if}" href="{url x="index" r="home_share" p="id=$home_user.id"}">{$LANG.Home_home_nav_list_His_treasure}</a></dd>

	</dl>

<div class="blank20"></div>
</div>