<li class="share-item ui-item">
	<div class="share-pic">
		<table>
			<tbody>
				<tr>
					<td valign="middle" align="center"><a href="{url x="index" r="share#detail" p="id=$row.id" }">
					<img src="{$row.img.path}"  width="270" height="<?php echo intval(270/$this->_var['row']['img']['width']*$this->_var['row']['img']['height']); ?>" ></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<p class="goods-name"><a href="{url x="index" r="share#detail" p="id=$row.id" }">{$row.duobao_item.name}</a></p>
	<p class="code">{$LANG.Home_duobao_countdown_tip_Lucky_number}：<b class="txt-red">{$row.duobao_item.lottery_sn}</b></p>
	<div class="share-info">
		<p class="share-title"><a href="{url x="index" r="share#detail" p="id=$row.id" }"><strong>{$row.title}</strong></a></p>
		<p class="time">{function name=to_date v=$row.create_time f="m-d H:i"}</p>
		<div class="abbr">
			<p class="share-txt">{$row.content}</p>
		</div>
	</div>
</li>