<div id="{if $root.is_login} my-layer{else}others-layer{/if}">
	<div class="box_container others-code">
		<span id="my_duobao" style="display: none;">
		<a class="box_container-close">×</a>
		<div class="msgbox-hd">{$LANG.Home_layer_My_treasure_number}</div>
		<div class="msgbox-bd">
			<div class="msgbox-info">
				<div class="msgbox-info-hd">{$LANG.Home_layer_I_participated_in_this_issue}{$root.duobao_recode_count}Num</div>
				<div class="code-list">
					<dl class="items">
					{foreach from=$root.duobao_recode_list item=duobao_recode}
						<dt class="items-time">{$duobao_recode.create_time}</dt>
						<dd>
							{foreach from=$duobao_recode.list item=duobao_recode_row}
								<span class="itemcode {if $duobao_recode_row.lottery_sn eq $root.item_data.luck_lottery.lottery_sn}txt-impt{/if}">{$duobao_recode_row.lottery_sn}</span>
							{/foreach}
						</dd>
					{/foreach}
					</dl>
				</div>
			</div>
		</div>
		</span>
		<span id="ta_duobao" style="display: none;">
			{if $root.is_login neq 1}
		<a class="box_container-close">×</a>
		<div class="msgbox-hd">{$LANG.Home_layer_His_treasure_number}</div>
		<div class="msgbox-bd">
			<div class="msgbox-info">
				<div class="msgbox-info-hd">{$LANG.Home_layer_He_participated_in_this_issue}{$root.ta_duobao_recode_count}{$LANG.Home_layer_Person_times}</div>
				<div class="code-list">
					<dl class="items">
					{foreach from=$root.ta_duobao_recode_list item=ta_duobao_recode}
						<dt class="items-time">{$ta_duobao_recode.create_time}</dt>
						<dd>{foreach from=$ta_duobao_recode.list item=ta_duobao_recode_row}
							<span class="itemcode {if $ta_duobao_recode_row.lottery_sn eq $root.item_data.luck_lottery.lottery_sn}txt-impt{/if}">{$ta_duobao_recode_row.lottery_sn}</span>
							{/foreach}
						</dd>
					{/foreach}
					</dl>
				</div>
			</div>
		</div>
			{else}
			<a class="box_container-close">×</a>
		<div class="msgbox-hd">{$LANG.Home_layer_My_treasure_number}</div>
		<div class="msgbox-bd">
			<div class="msgbox-info">
				<div class="msgbox-info-hd">{$LANG.Home_layer_I_participated_in_this_issue}{$root.duobao_recode_count}Num</div>
				<div class="code-list">
					<dl class="items">
					{foreach from=$root.duobao_recode_list item=duobao_recode}
						<dt class="items-time">{$duobao_recode.create_time}</dt>
						<dd>
							{foreach from=$duobao_recode.list item=duobao_recode_row}
								<span class="itemcode {if $duobao_recode_row.lottery_sn eq $root.item_data.luck_lottery.lottery_sn}txt-impt{/if}">{$duobao_recode_row.lottery_sn}</span>
							{/foreach}
						</dd>
					{/foreach}
					</dl>
				</div>
			</div>
		</div>
			{/if}
		</span>
	</div>
</div>