<div class="login_box clearfix">

	{if app_conf("SMS_ON") eq 1}
	<div class="login-tab" rel="{$form_prefix}">
		<a class="current" href="javascript:void(0);" rel="other" lk="{$form_prefix}"><span class="iconfont">&#xe617;</span>&nbsp;Ordinary login</a>
		<a href="javascript:void(0);" rel="ph" lk="{$form_prefix}"><span class="iconfont">&#xe61a;</span>&nbsp;Mobile dynamic code login</a>
	</div>
	<div class="blank"></div>
	<div class="blank"></div>
	{/if}

	<div class="login-panel form_panel" rel="{$form_prefix}">
		<div class="panel" rel="other" style="display:block;">
			<form name="{$form_prefix}_login_form" class="login" method="post" action="{url x="index" r="user#dologin"}">
			<input type="hidden" name="form_prefix" value="{$form_prefix}" />
			<dl>
				<dt>username</dt>
				<dd>
					{if $user_info}
					<input class="ui-textbox" disabled="true" holder="Please enter username/email/phone number" value="{$user_info.user_name}" />
					<input type="hidden" value="{$user_info.user_name}" name="user_key" />
					{else}
					<input class="ui-textbox" name="user_key" holder="Please enter username/email/phone number" />
					{/if}
					<span class="form_tip"></span>
				</dd>
			</dl>
			<dl>
				<dt>password</dt>
				<dd>
					<input type="password" name="user_pwd" class="ui-textbox" holder="Please enter password" />
					<a href="{url x="index" r="user#getpassword"}">forget password?</a>
					<span class="form_tip"></span>
				</dd>
			</dl>
			<dl>
				<dt>{$LANG.Home_login_box_Image_verification_code}</dt>
				<dd>
					<input type="text" name="verify_code" class="ui-textbox img_verify" holder="{$LANG.Home_login_box_Please_enter_image_text}" />
					<img src="{$APP_ROOT}/verify.php" class="verify" rel="{$APP_ROOT}/verify.php" />
					<a href="javascript:void(0);" class="refresh_verify">{$LANG.Home_login_box_can_not_see_clearly_Change_one}</a>
					<span class="form_tip"></span>
				</dd>
			</dl>
			<dl class="cbo_line">
				<dt></dt>
				<dd>
					<label class="ui-checkbox" rel="common_cbo"><input type="checkbox" name="auto_login" value="1" />{$LANG.Home_login_box_auto_login}</label>
				</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>

					<button class="ui-button f_l" rel="orange" type="submit">{$LANG.Home_login_box_log_in}</button>
					{if $form_prefix eq 'ajax'}
					<a href="{url x="index" r="user#register"}" class="regist_btn">
					<button class="ui-button f_l" rel="blue" type="button">{$LANG.Home_login_box_Sign_up_now}</button>
					</a>
					{/if}
				</dd>
			</dl>
			</form>
		</div>

		<div class="panel" rel="ph">
			<form name="{$form_prefix}_ph_login_form" class="ph_login" method="post" action="{url x="index" r="user#dophlogin"}">
			<input type="hidden" name="form_prefix" value="{$form_prefix}" />
			<dl>
				<dt>{$LANG.Home_login_box_phone_number}</dt>
				<dd>
					<input class="ui-textbox" name="user_mobile" {if $user_info.mobile}value="{$user_info.mobile}"{else}value="{$fanwe_mobile}"{/if} holder="{$LANG.Home_login_box_Please_enter_phone_number}" />
					<span class="form_tip"></span>
				</dd>
			</dl>

			<dl class="ph_img_verify" {if $sms_ipcount>1}style="display:block"{/if}>
				<dt>{$LANG.Home_login_box_Image_verification_code}</dt>
				<dd>
					<input type="text" name="verify_code" class="ui-textbox img_verify" holder="{$LANG.Home_login_box_Please_enter_image_text}" />
					<img src="{$APP_ROOT}/verify.php" class="verify" rel="{$APP_ROOT}/verify.php" />
					<a href="javascript:void(0);" class="refresh_verify">{$LANG.Home_login_box_can_not_see_clearly_Change_one}</a>
					<span class="form_tip"></span>
				</dd>
			</dl>

			<dl>
				<dt>{$LANG.Home_login_box_Verification_code}</dt>
				<dd>
					<input class="ui-textbox ph_verify" name="sms_verify" holder="{$LANG.Home_login_box_username_please_enter_verification_code}" />
					<button class="ui-button light ph_verify_btn f_l" rel="light" form_prefix="{$form_prefix}" lesstime="{$sms_lesstime}" type="button">{$LANG.Home_login_box_username_Send_the_verification_code}</button>
					<span class="form_tip"></span>
				</dd>
			</dl>
			<dl class="cbo_line">
				<dt></dt>
				<dd>
					<label class="ui-checkbox" rel="common_cbo"><input type="checkbox" name="save_mobile" value="1" />{$LANG.Home_login_box_Remember_phone_number}</label>
				</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>
					<button class="ui-button f_l" rel="orange" type="submit">{$LANG.Home_login_box_log_in}</button>
				</dd>
			</dl>
			</form>
		</div>
	</div>
	{if $user_info}
	<div class="cop_site">
		<div class="confirm_login_tip">
			{if $user_info.is_tmp eq 1}
			<a href="{url x="index" r="uc_account"}">{$LANG.Home_login_box_tips01}</a>
			{else}
			{$LANG.Home_login_box_tips02}
			{/if}
		</div>
	</div>
	{else}
	<div class="cop_site">
		<div class="wx_login" >
			<a href="javascript:void(0);" class="iconfont" id="wx_login" rel="{url x="index" r="user#wx_login"}">&#xe632;</a>
		</div>
	</div><!--合作站点-->
	{/if}
</div>



