{if $lottery_info.luck_user_id gt 0}

	<div class="goods-record">
	<p class="owner">{$LANG.Home_lottery_info_Winner}<a href="">{$lottery_info.user_name}</a></p>
	<p>{$LANG.Home_lottery_info_Participation_in_this_issue}{$lottery_info.current_buy}Num</p>
	<p>{$LANG.Home_lottery_info_Lucky_number}{$lottery_info.lottery_sn}</p>
	</div>
{else}

	<div class="goods-counting">
	<div class="goods-countdown">
		{$LANG.Home_lottery_info_Announce_the_countdown}
		<div class="countdown">
			<span class="countdown-nums">
				<time class="w-countdown-nums" nowtime="{$now_time}" endtime="{$lottery_info.lottery_time}" id="{$lottery_info.id}">
				{$LANG.Home_lottery_info_Being_announced}
			    </time>

			</span>
		</div>
	</div>
	</div>
{/if}