{if $lottery_info_anno.luck_user_id gt 0}
<div class="user-pic f_l">
	<a href="" target="_blank">
		<img src="{$lottery_info_anno.avatar}" width="40" height="40">
	</a>
</div>
<div class="record-info">
	<p class="owner-info">
		{$LANG.Home_lottery_info_anno_Congratulations}<a href="" target="_blank">{$lottery_info_anno.user_name}</a>{$LANG.Home_lottery_info_anno_Get_the_product}</p>
	<p>{$LANG.Home_lottery_info_Lucky_number}<b class="txt-red">{$lottery_info_anno.lottery_sn}</b></p>
	<p>{$LANG.Home_lottery_info_Participation_in_this_issue}<b class="txt-red">{$lottery_info_anno.current_buy}</b>{$LANG.Home_layer_Person_times}</p>
	<p>{$LANG.Home_lottery_info_Announce_the_countdown}{function name=to_date v=$lottery_info_anno.lottery_time f="Y-m-d"}</p>
	<a href="" class="btn check-info" target="_blank">{$LANG.Home_duobao_used_item_data_countdown_see_details}</a>
	</div>
{else}
<div class="countdown">
	<div class="countdown-title">
		<i class="ico countdown-ico countdown-ico-gray"></i>
		{$LANG.Home_lottery_info_Announce_the_countdown}
	</div>
	<span style="font-size:25px;" >{$LANG.Home_lottery_info_Being_announced}</span>
	</time>
</div>
{/if}