<div class="pin-box">
			<div class="pic-box">
				<a href=""><img src="./public/bb.jpg" data-src="http://mimg.127.net/p/t.gif" alt="{$LANG.Home_pin_box1_tips01}"></a>
			</div>
			<div class="duobao-info">
				<div class="name"><a target="_blank" href="/detail/516-303153328.html">MK240</a></div>
				<div class="code">{$LANG.Home_lottery_info_Lucky_number}：<strong class="txt-impt">10000093</strong></div>
			</div>
			<div class="lottery-info">
				<div class="title">
					<a target="_blank" href="/user/shareDetail.do?cid=76554877&amp;gid=516&amp;period=303153328&amp;pageNum=1 ">
						<strong>{$LANG.Home_pin_box1_tips01}</strong>
					</a>
				</div>
				<div class="author">
					<a target="_blank" href="/user/share.do?cid=76554877" title="{$LANG.Home_pin_box1_Winning}(ID:76554877)">{$LANG.Home_pin_box1_Winning}</a>
					<span class="time">03-18 21:31</span>
				</div>
				<div class="abbr">
					{$LANG.Home_pin_box1_tips02}
            	</div>
			</div>
		</div>
		