<div class="register_box clearfix">
	
	{if app_conf("SMS_ON") eq 1}
	<div class="register-tab" rel="{$form_prefix}">
		<a class="current" href="javascript:void(0);" rel="other" lk="{$form_prefix}"><span class="iconfont">&#xe617;</span>&nbsp;{$LANG.Home_register_box_Ordinary_registration}</a>
		<a href="javascript:void(0);" rel="ph" lk="{$form_prefix}"><span class="iconfont">&#xe61a;</span>&nbsp;{$LANG.Home_register_box_Register_your_phone}</a>
	</div>
	<div class="blank"></div>
	<div class="blank"></div>
	{/if}
	
	<div class="register-panel form_panel" rel="{$form_prefix}">
		<div class="panel" rel="other" style="display:block;">
		<form name="{$form_prefix}_register_form" class="register" method="post" action="{url x="index" r="user#doregister"}">
			<input type="hidden" name="form_prefix" value="{$form_prefix}" />
			<dl>
				<dt>{$LANG.Home_register_box_email}</dt>
				<dd>
					<input class="ui-textbox" name="email" holder="{$LANG.Home_register_box_please_input_your_email}" />
					<span class="form_tip"></span>
				</dd>
			</dl>
			<dl>
				<dt>{$LANG.Home_register_box_username}</dt>
				<dd>
					<input class="ui-textbox" name="user_name" holder="{$LANG.Home_register_box_please_enter_user_name}" />
					<span class="form_tip"></span>
				</dd>
			</dl>
			<dl>
				<dt>{$LANG.Home_register_box_password}</dt>
				<dd>
					<input type="password" name="user_pwd" class="ui-textbox" holder="{$LANG.Home_register_box_Please_enter_password}" rel="other" />
					<span class="form_tip"></span>
				</dd>
			</dl>
			<dl class="pwd_chk_line" rel="other">
				<dt></dt>
				<dd>
					<ul>
						<li rel="0">{$LANG.Home_register_box_weak}</li>
						<li rel="1">{$LANG.Home_register_box_in}</li>
						<li rel="2" class="no_margin">{$LANG.Home_register_box_Strong}</li>
					</ul>
				</dd>
			</dl>
			<dl>
				<dt>{$LANG.Home_register_box_confirm_password}</dt>
				<dd>
					<input type="password" name="user_pwd_confirm" class="ui-textbox" holder="{$LANG.Home_register_box_Please_enter_the_password_again}" rel="other" />
					<span class="form_tip"></span>
				</dd>
			</dl>
			<dl>
				<dt>{$LANG.Home_register_box_Image_verification_code}</dt>
				<dd>
					<input type="text" name="verify_code" class="ui-textbox img_verify" holder="{$LANG.Home_register_box_Please_enter_image_text}" />
					<img src="{$APP_ROOT}/verify.php" class="verify" rel="{$APP_ROOT}/verify.php" />
					<a href="javascript:void(0);" class="refresh_verify">{$LANG.Home_register_box_tips}</a>
					<span class="form_tip"></span>
				</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>
					<button class="ui-button orange f_l" rel="orange" type="submit">{$LANG.Home_register_box_Sign_up_now}</button>
					
				</dd>
			</dl>
		</form>
		</div>
		
		<div class="panel" rel="ph">
		<form name="{$form_prefix}_ph_register_form" class="ph_register" method="post" action="{url x="index" r="user#dophregister"}">
			<input type="hidden" name="form_prefix" value="{$form_prefix}" />
			<dl>
				<dt>{$LANG.Home_register_box_phone_number}</dt>
				<dd>
					<input class="ui-textbox" name="user_mobile" value="" holder="{$LANG.Home_register_box_Please_enter_phone_number}" />
					<span class="form_tip"></span>
				</dd>
			</dl>
			
			<dl class="ph_img_verify" {if $sms_ipcount>1}style="display:block"{/if}>
				<dt>{$LANG.Home_register_box_Image_verification_code}</dt>
				<dd>
					<input type="text" name="verify_code" class="ui-textbox img_verify" holder="{$LANG.Home_register_box_Please_enter_image_text}" />
					<img src="{$APP_ROOT}/verify.php" class="verify" rel="{$APP_ROOT}/verify.php" />
					<a href="javascript:void(0);" class="refresh_verify">{$LANG.Home_register_box_tips}</a>
					<span class="form_tip"></span>
				</dd>
			</dl>	
					
			<dl>
				<dt>{$LANG.Home_register_box_Verification_code}</dt>
				<dd>
					<input class="ui-textbox ph_verify" name="sms_verify" holder="{$LANG.Home_register_box_please_enter_verification_code}" />
					<button class="ui-button f_l light ph_verify_btn" rel="light" form_prefix="{$form_prefix}" lesstime="{$sms_lesstime}" type="button">{$LANG.Home_register_box_Send_the_verification_code}</button>
					
					<span class="form_tip"></span>
				</dd>
			</dl>
			
			<dl>
				<dt>{$LANG.Home_register_box_password}</dt>
				<dd>
					<input type="password" name="user_pwd" class="ui-textbox" holder="{$LANG.Home_register_box_Please_enter_password}"  rel="ph"/>
					<span class="form_tip"></span>
				</dd>
			</dl>
			<dl class="pwd_chk_line" rel="ph">
				<dt></dt>
				<dd>
					<ul>
						<li rel="0">{$LANG.Home_register_box_weak}</li>
						<li rel="1">{$LANG.Home_register_box_in}</li>
						<li rel="2" class="no_margin">{$LANG.Home_register_box_Strong}</li>
					</ul>
				</dd>
			</dl>
			<dl>
				<dt>{$LANG.Home_register_box_confirm_password}</dt>
				<dd>
					<input type="password" name="user_pwd_confirm" class="ui-textbox" holder="{$LANG.Home_register_box_Please_enter_the_password_again}" rel="ph" />
					<span class="form_tip"></span>
				</dd>
			</dl>

			<dl>
				<dt></dt>
				<dd>
					<button class="ui-button f_l orange" rel="orange" type="submit">{$LANG.Home_register_box_Sign_up_now}</button>
					
				</dd>
			</dl>
		</form>
		</div>
	</div>

	
</div>
