<li class="share-item ui-item">
	<div class="share-pic">
		<table>
			<tbody>
				<tr>
					<td valign="middle" align="center"><a href="{url x="index" r="share#detail" p="id=$row.id" }">
					<img src="{function name="get_spec_image" v=$row.img.o_path w=255 h=255}" width="270" height="<?php echo intval(270/$this->_var['row']['img']['width']*$this->_var['row']['img']['height']); ?>" ></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<p class="goods-name"><a href="{url x="index" r="share#detail" p="id=$row.id" }">{$row.duobao_item.name}</a></p>
	<p class="code">{$LANG.Home_Share_pin_box_Lucky_number}：<b class="txt-red">{$row.duobao_item.lottery_sn}</b></p>
	<p class="status">{$LANG.Home_Share_pin_box_Order_status}：
	{if $row.is_check eq 0}
	<span class="txt-yellow">{$LANG.Home_Share_pin_box_under_review}</span>
	{else}
		{if $row.is_effect eq 1}
		<span class="txt-green">{$LANG.Home_Share_pin_box_examination_passed}</span>
		{else}
		<span class="txt-red">{$LANG.Home_Share_pin_box_Audit_not_passed}</span>
		{/if}
		
	{/if}
	</p>
	<div class="share-info">
		<p class="share-title"><a href="{url x="index" r="share#detail" p="id=$row.id" }"><strong>{$row.title}</strong></a></p>
		<p class="time">{function name=to_date v=$row.create_time f="m-d H:i"}</p>
		<div class="abbr">
			<p class="share-txt">{$row.content}</p>
		</div>
	</div>
</li>