{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title">{%MNotice_Mobile_announcement}</div>
<div class="blank5"></div>
<div class="button_row">
	<input type="button" class="button" value="{%ADD}" onclick="add();" />
	<input type="button" class="button" value="{%DEL}" onclick="foreverdel();" />
</div>
<div class="blank5"></div>
<div class="search_row">
	<form name="search" action="__APP__" method="get">
		{%MNotice_name}：<input type="text" class="textbox" name="name" value="{:strim($_REQUEST['name'])}" />
		<input type="hidden" value="MNotice" name="m" />
		<input type="hidden" value="index" name="a" />
		<input type="submit" class="button" value="{%SEARCH}" />
	</form>
</div>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="article" 
	checkbox="true" 
	action="true" 
	datasource="list" 
	show="id:{%ID}|50px,name:{%common_title}:edit,is_effect|get_is_effect=$article['id']:{%IS_EFFECT},create_time|to_date:{%CREATE_TIME},sort|get_sort=$article['id']:{%SORT}"
	actionlist="edit:{%EDIT}, foreverdel:{%DEL}" /> 

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />