<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{:conf("APP_NAME")}{:l("CACHE_INDEX")}</title>
<script type="text/javascript" src="__ROOT__/public/runtime/admin/lang.js"></script>
<load href='__TMPL__Common/style/style.css' />
<load href='__TMPL__Common/js/jquery.js' />
<load href='__TMPL__Common/js/cache.js' />
<load href='__TMPL__Common/js/jquery.bgiframe.js' />
<load href='__TMPL__Common/js/jquery.weebox.js' />
<load href='__TMPL__Common/style/weebox.css' />
</head>
<style type="text/css">
	table.form td.cc{padding:20px 10px; text-align:center;}
	table.form td.cc .button{ padding:10px 15px;}
</style>
<body>
	<div class="main">
	<div class="main_title">{%CACHE_INDEX}	</div>
	<div class="blank5"></div>
	<table class="form" cellpadding=0 cellspacing=0>
		<tr>
			<td colspan=4 class="topTd"></td>
		</tr>
		<tr>
			<td class="cc">
				<input type="button" class="button ajaxclear" value="{%Agreement_cache_index_tips01}"  rel="{:u("Cache/clear_data",array("is_all"=>0))}"/>
			</td>
			<if condition="$oss_type neq 'ALI_OSS'">
			<td class="cc">
				<input type="button" class="button ajaxclear" value="{%Agreement_cache_index_tips02}"  rel="{:u("Cache/clear_image")}"/>
			</td>
			</if>
			<td class="cc">
				<input type="button" class="button" id="syn_data" value="{%Agreement_cache_index_Clear_early_data}"  rel="{:u("Cache/syn_data")}"/>
			</td>
		</tr>
		
	

		<tr>
			
			<td colspan=4 class="cc">
				{%Agreement_cache_index_tips03}<br />
				{%Agreement_cache_index_tips04}<span style="color:#f30;">{%Agreement_cache_index_Please_proceed_with_caution}</span><br />
			</td>
		</tr>
		<tr>
			<td colspan=4 class="bottomTd"></td>
		</tr>
	</table>	
	</div>
</body>
</html>
