{// 引入标签库 }
<load href='__TMPL__Common/js/fx_salary_add_deal.js' />
<div class="main">
<div class="search_row">
	<form action="__APP__" method="get" name="seach_form">
		{%common_product_name}：<input type="text" class="textbox" name="name" value="{:strim($_REQUEST['name'])}" />
		{%FairSalary_supplier}：
		<input type="text" class="textbox" name="supplier_name" value="{:strim($_REQUEST['supplier_name'])}" size="10" />
		<input type="submit" class="button" value="{%SEARCH}" />
	</form>
</div>
<div class="blank5"></div>
<div class="list_table_box">


</div>

<div class="blank5"></div>
<form  name="add_deal_form" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{%FairSalary_Distribution_product_type}:</td>
		<td class="item_input" >
			<select name="is_fx">
				<option value="1" <if condition="$is_fx eq 1">selected="selected"</if>>{%FairSalary_System_forced_allocation}</option>
				<option value="2" <if condition="$is_fx eq 2">selected="selected"</if>>{%FairSalary_Allow_members_to_receive}</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="item_title">{%FairSalary_Distribution_commission_type}:</td>
		<td class="item_input fx_salary_type_box" >
			
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%FairSalary_Distribution_commission}:</td>
		<td class="item_input fx_level_box">
			
		</td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="FxSalary" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="save" />
			<input type="hidden" name="check_ids" value="{$deal_id}" />
			<input type="hidden" name="is_ajax" value="1" />
			<input type="hidden" name="fx_set_type" value="{$fx_set_type}" />
			<!--隐藏元素-->

		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>