{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<load href='__TMPL__Common/js/fx_salary.js' />
<load href='__TMPL__Common/js/fx_salary_deal_index.js' />

<php>
function get_edit_url($id,$vo)
{
	return "<a href='javascript:void(0)' onclick='add_deal_box(".$id.")'>{$EDIT}</a>&nbsp;<a href='javascript:void(0)' onclick='del_deal_fx(".$id.")'>{$DEL}</a>";
}
function is_fx_status($is_fx){
	return $is_fx==1?"{$FairSalary_System_allocation}":"{$FairSalary_Member_claim}";
}
</php>
<div class="main">
<div class="main_title">{$title_name}</div>
<div class="blank5"></div>
<div class="button_row">

<if condition="$fx_set_type eq 1">
<span class="top_btn">{%FairSalary_Global_commission_settings}</span>
<else />
<input type="button" class="button" value="{%FairSalary_Global_commission_settings}" onclick="javascript:window.location='{:u("FxSalary/index")}';"/>
</if>

<if condition="$fx_set_type eq 2">
<span class="top_btn">{%FairSalary_Tier_commission_settings}</span>
<else />
<input type="button" class="button" value="{%FairSalary_Tier_commission_settings}" onclick="javascript:window.location='{:u("FxSalary/level_index")}';"/>
</if>

<if condition="$fx_set_type eq 3">
<span class="top_btn">{%FairSalary_tips01}</span>
<else />
<input type="button" class="button" value="{%FairSalary_tips01}"  onclick="javascript:window.location='{:u("FxSalary/deal_index")}';"/>
</if>

&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="button" value="{%ADD}" onclick="add_deal_box();"/>
&nbsp;<input type="button" class="button" value="{%FOREVERDEL}" onclick="del_deal_fx();"/>
</div>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="level_list" 
	checkbox="true" 
	action="true" 
	datasource="list" 
	show="id:{%ID}|50px,name:{%common_product_name},is_fx|is_fx_status:{%FairSalary_Distribution_type}"
	actionlist="id|get_edit_url=$level_list" /> 

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />