{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<load href='__TMPL__Common/js/fx_salary.js' />
<load href='__TMPL__Common/js/fx_salary_add_level.js' />
<div class="main">
<div class="main_title">{$title_name} <a href="{:u("FxSalary/level_index")}" class="back_list">{%BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{%FairSalary_Grade_name}:</td>
		<td class="item_input"><input type="text" class="textbox require" name="name" value="{$level.name}"/></td>
	</tr>
	<tr>
		<td class="item_title">{%FairSalary_Tier_cumulative_turnover}:</td>
		<td class="item_input"><input type="text" class="textbox require " name="money" value="{$level.money}"/></td>
	</tr>
	<tr>
		<td class="item_title">{%FairSalary_Distribution_commission_type}:</td>
		<td class="item_input fx_salary_type_box" >
			
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%FairSalary_Distribution_commission}:</td>
		<td class="item_input fx_level_box">
			
		</td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="FxSalary" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="save" />
			<input type="hidden" name="fx_set_type" value="{$fx_set_type}" />
			<input type="hidden" name="level_id" value="{$level.id}" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{%EDIT}" />
			<input type="reset" class="button" value="{%RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer" />