{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<php>
function get_edit_url($id,$vo)
{
	return "<a href='".u("FxSalary/edit_level",array("id"=>$id))."'>{$EDIT}</a>";
}
</php>
<div class="main">
<div class="main_title">{$title_name}</div>
<div class="blank5"></div>
<div class="button_row">

<if condition="$fx_set_type eq 1">
<span class="top_btn">{%FairSalary_Global_commission_settings}</span>
<else />
<input type="button" class="button" value="{%FairSalary_Global_commission_settings}" onclick="javascript:window.location='{:u("FxSalary/index")}';"/>
</if>

<if condition="$fx_set_type eq 2">
<span class="top_btn">{%FairSalary_Tier_commission_settings}</span>
<else />
<input type="button" class="button" value="{%FairSalary_Tier_commission_settings}" onclick="javascript:window.location='{:u("FxSalary/level_index")}';"/>
</if>

<if condition="$fx_set_type eq 3">
<span class="top_btn">{%FairSalary_tips01}</span>
<else />
<input type="button" class="button" value="{%FairSalary_tips01}"  onclick="javascript:window.location='{:u("FxSalary/deal_index")}';"/>
</if>

&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:u("FxSalary/add_level")}"><input type="button" class="button" value="{%ADD}"/></a>
</div>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="level_list" 
	checkbox="true" 
	action="true" 
	datasource="list" 
	show="id:{%ID}|50px,name:{%FairSalary_Grade_name}:edit,money|format_price:{%FairSalary_Tier_cumulative_turnover}"
	actionlist="id|get_edit_url=$level_list" /> 

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />