<table id="weebox_dataTable" class="dataTable" cellpadding="0" cellspacing="0">
<tbody>
	<tr><td colspan="3" class="topTd">&nbsp; </td></tr>
	<tr class="row">
		<th width="8">
			<input type="checkbox" id="weeb_check" onclick="WeeboxsCheckAll('weebox_dataTable')">
		</th>
		<th width="50px">{%ID}</th>
		<th>{%common_product_name}</th>
	</tr>
	<foreach name="vo" item="row">
		<tr class="row">
			<td><input type="checkbox" name="key" class="key" value="{$row.id}" <if condition="$deal_id gt 0">checked="checked"</if> ></td>
			<td>{$row.id}</td>
			<td>{$row.name|msubstr=0,48}</td>
		</tr>
	</foreach>
</tbody>
</table>
<div class="blank5"></div>
<if condition="$pages" >
	<div class="page">
		{$pages}
	</div>
</if>
<div class="blank5"></div>