{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title">{%MZt_tips02}</div>
<div class="blank5"></div>
<div class="button_row">
	<input type="button" class="button" value="{%ADD}" onclick="add();" />
	<input type="button" class="button" value="{%DEL}" onclick="foreverdel();" />

</div>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="item" 
	checkbox="true" 
	action="true" 
	datasource="list" 
	show="id:{%ID}|50,name:{%NAME},type|getMTypeName=$item:{%ADV_TYPE},status|get_toogle_status=$item['id']#status:{%STATUS},sort|get_sort=$item['id']:{%SORT}" 
	actionlist="edit:{%EDIT}, foreverdel:{%DEL}" /> 


<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />