{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<script type="text/javascript">
	var sale_line_data_url = '{:urlencode(u("Ofc/sale_month_line",array("year"=>$cyear,"month"=>$cmonth)))}';
</script>
<load href='__TMPL__Common/js/balance.js' />
<div class="main">
<div class="main_title"> {$balance_title}{%Agreement_balance_index_Report}</div>

<div class="blank5"></div>
<div class="search_row">
	<form name="search" action="__APP__" method="get">	
		{%SEARCH_REFERER_TIME}：
		<select name="year">
			<foreach name="year_list" item="year">
				<option value="{$year.year}" <if condition="$year['current']">selected="selected"</if>>{$year.year}{%Agreement_balance_index_year}</option>
			</foreach>
		</select>
		<select name="month">
			<foreach name="month_list" item="month">
				<option value="{$month.month}" <if condition="$month['current']">selected="selected"</if>>{$month.month}{%Agreement_balance_index_month}</option>
			</foreach>
		</select>
		<select name="type">					
			<option value="2" <if condition="$type eq 2">selected="selected"</if>>{%Agreement_balance_index_Member_recharge_details}</option>
			<option value="4" <if condition="$type eq 4">selected="selected"</if>>{%Agreement_balance_index_Member_withdrawal_details}</option>
			<option value="1" <if condition="$type eq 1">selected="selected"</if>>{%Agreement_balance_index_Sales_details}</option>
		</select>
		<input type="hidden" value="Balance" name="m" />
		<input type="hidden" value="index" name="a" />
		<input type="submit" class="button" value="{%SEARCH}" />
		<input type="button" class="button" value="{%Agreement_balance_index_Clear_the_current_month_report}" onclick="clear_balance('{:u("Balance/foreverdelete",array("month"=>$cmonth,"year"=>$cyear))}');" />
	</form>
</div>
<div class="blank5"></div>

<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=5 class="topTd"></td>
	</tr>
	<tr>
		<th colspan=5>{$month_title} {%Agreement_balance_index_Operational_data}<br />{%Agreement_balance_index_tips01}{$stat_result.income_money|format_price} - {%Agreement_balance_index_total_expenses}{$stat_result.out_money|format_price} = {$accout_money|format_price}</th>
	</tr>
	
	<tr>
		<td>
			<div id="sale_line_data_chart"></div>
		</td>
	</tr>
	
	<tr>
		<td colspan=5 class="bottomTd"></td>
	</tr>
</table>

<div class="blank5"></div>
<div class="search_row" style="text-align:right;">
	【{$balance_title}{%Agreement_balance_index_total}：{$sum_money|format_price}】 【{$balance_title}{%Agreement_balance_index_Total_of_this_page}：{$page_sum_money|format_price}】
</div>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="log" 
	datasource="list" 
	show="id:{%ID}|50px,log_info:{%Agreement_balance_index_Log},money|format_price:{%Agreement_balance_index_Amount}|100px,create_time|to_date:{%Agreement_balance_index_Date_of_occurrence}|200px"
	actionlist = ""
	 /> 
<div class="blank5"></div>
<div class="search_row" style="text-align:right;">
	【{$balance_title}{%Agreement_balance_index_total}：{$sum_money|format_price}】 【{$balance_title}{%Agreement_balance_index_Total_of_this_page}：{$page_sum_money|format_price}】
</div>
<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />