{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<load href='__TMPL__Common/js/icolorpicker.js' />
<div class="main">
<div class="main_title">{%ADD} <a href="{:u("DealCate/index")}" class="back_list">{%BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{%TITLE_SHOW}:</td>
		<td class="item_input"><input type="text" class="textbox require" name="name" /></td>
	</tr>
	 
	<tr>
		<td class="item_title">{%DealCate_add_tips01}:</td>
		<td class="item_input">
			<a href="javascript:void(0);" class="ui_upload upload_iconfont">{%DealCate_add_tips02}</a>
			<span id="ui_iconfont" >		
				<span class="diyfont" id="diyfont"></span>
				<input type="hidden" name="iconfont" value="" />
			</span>
			
			<span class="color_pick">
			<input type="text" id="color" name="iconcolor" value="" rel="diyfont" class="iconfont_color textbox" />
			<img id="icp_color" onclick="iColorShow('color','icp_color');" src="__TMPL__Common/images/color.png" style="margin:5px 0 0 0;cursor:pointer;" />
			</span>
			<div class="ui_iconfont_select_title">{%DealCate_add_tips03}</div>
			<div id="ui_iconfont_select">				
			
			</div>	
		</td>
	</tr>
	
	<!-- <tr>
		<td class="item_title">{%DEAL_ICON}:</td>
		<td class="item_input">
			<html:imgUpload name = 'icon' id='icon' />
		</td>
	</tr> -->
	<tr>
		<td class="item_title">{%DealCate_add_status}:</td>
		<td class="item_input">
			<lable>{%DealCate_add_effective}<input type="radio" name="is_effect" value="1" checked="checked" /></lable>
			<lable>{%DealCate_add_invalid}<input type="radio" name="is_effect" value="0" /></lable>
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%DealCate_add_virtual}:</td>
		<td class="item_input">
			<lable>{%common_Yes}<input type="radio" name="is_fictitious" value="1" checked="checked" /></lable>
			<lable>{%common_no}<input type="radio" name="is_fictitious" value="0" /></lable>
		</td>
	</tr>
	
	
	<tr>
		<td class="item_title">{%SORT}:</td>
		<td class="item_input"><input type="text" class="textbox" name="sort" value="{$newsort}" /></td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="DealCate" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="insert" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{%ADD}" />
			<input type="reset" class="button" value="{%RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer" />