{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<load href='__TMPL__Common/js/icolorpicker.js' />
<div class="main">
<div class="main_title">{%EDIT} <a href="{:u("DealCate/index")}" class="back_list">{%BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{%TITLE_SHOW}:</td>
		<td class="item_input"><input type="text" class="textbox require" name="name" value="{$vo.name}" /></td>
	</tr>
	 
	<tr>
		<td class="item_title">{%DealCate_edit_tips01}:</td>
		<td class="item_input">
			<a href="javascript:void(0);" class="ui_upload upload_iconfont">{%DealCate_edit_tips02}</a>
			<span id="ui_iconfont" >		
				<span class="diyfont" id="diyfont" style="color:{$vo.iconcolor}">{$vo.iconfont}</span>
				<input type="hidden" name="iconfont" value="{$vo.iconfont}" />
			</span>
			
			<span class="color_pick">
			<input type="text" id="color" name="iconcolor" style="background:{$vo.iconcolor}" value="{$vo.iconcolor}" rel="diyfont" class="iconfont_color textbox" />
			<img id="icp_color" onclick="iColorShow('color','icp_color');" src="__TMPL__Common/images/color.png" style="margin:5px 0 0 0;cursor:pointer;" />
			</span>
			<div class="ui_iconfont_select_title">{%DealCate_edit_tips03}</div>
			<div id="ui_iconfont_select">				
			
			</div>	
		</td>
	</tr>

	<tr>
		<td class="item_title">{%DealCate_add_status}:</td>
		<td class="item_input">
			<lable>{%IS_EFFECT_1}<input type="radio" name="is_effect" value="1" <if condition="$vo['is_effect'] eq 1">checked="checked"</if> /></lable>
			<lable>{%IS_EFFECT_0}<input type="radio" name="is_effect" value="0" <if condition="$vo['is_effect'] eq 0">checked="checked"</if> /></lable>
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%DealCate_add_virtual}:</td>
		<td class="item_input">
			<lable>{%is_fictitious_1}<input type="radio" name="is_fictitious" value="1" <if condition="$vo['is_fictitious'] eq 1">checked="checked"</if> /></lable>
			<lable>{%is_fictitious_0}<input type="radio" name="is_fictitious" value="0" <if condition="$vo['is_fictitious'] eq 0">checked="checked"</if> /></lable>
		</td>
	</tr>
	
	
	
	<tr>
		<td class="item_title">{%SORT}:</td>
		<td class="item_input"><input type="text" class="textbox" name="sort" value="{$vo.sort}" /></td>
	</tr>
	
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$vo.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="DealCate" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{%EDIT}" />
			<input type="reset" class="button" value="{%RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer" />