{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{$main_title}</div>
<div class="blank5"></div>
<div class="button_row">
	<input type="button" class="button" value="{%ADD}" onclick="add();" />
	<input type="button" class="button" value="{%DEL}" onclick="del();" />
</div>
<div class="blank5"></div>
<div class="search_row">
	<form name="search" action="__APP__" method="get">
		{%DealCate_index_name}：<input type="text" class="textbox" name="name" value="{:strim($_REQUEST['name'])}" />
		<input type="hidden" value="DealCate" name="m" />
		<input type="hidden" value="index" name="a" />
		<input type="submit" class="button" value="{%SEARCH}" />
	</form>
</div>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="deal" 
	checkbox="true" 
	action="true" 
	datasource="list" 
	show="id:{%ID}|50px
		,name:{%DealCate_index_name}
		,is_effect|get_is_effect=$deal['id']:{%IS_EFFECT}
		,is_fictitious|get_is_fictitious=$deal['id']:{%IS_FICTITIOUS}
		,sort|get_sort=$deal['id']:{%SORT}" 
	actionlist="edit:{%EDIT}, del:{%DEL}" /> 

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />