{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<script type="text/javascript">
	function view(id)
	{
		location.href = ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=view&id="+id;
	}
</script>
<div class="main">
<div class="main_title">{$main_title}</div>
<div class="blank5"></div>
<div class="button_row">
	<input type="button" class="button" value="{%FOREVERDEL}" onclick="foreverdel();" />
</div>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="item" 
	checkbox="true" 
	action="true" 
	datasource="list" 
	show="id:{%ID}|50px,content:{%common_content},user_id|get_user_name:{%MsgBox_Recipient},create_time|to_date:{%CREATE_TIME},is_read|get_toogle_status=$item['id']#is_read:{%MsgBox_Whether_to_read},is_delete|get_toogle_status=$item['id']#is_delete:{%MsgBox_User_delete},type|get_msg_box_type:{%MsgBox_Types_of}"
	actionlist="view:{%VIEW}, foreverdel:{%FOREVERDEL}" /> 

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />