{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<script type="text/javascript" src="__TMPL__Common/js/calendar/calendar.php?lang=zh-cn" ></script>
<load href='__TMPL__Common/js/calendar/calendar.css' />
<load href='__TMPL__Common/js/calendar/calendar.js' />
<load href='__TMPL__Common/js/jquery.bgiframe.js' />
<load href='__TMPL__Common/js/jquery.weebox.js' />
<load href='__TMPL__Common/style/weebox.css' />
<div class="main">
<div class="main_title">{%IncomeBalance_Income_analysis_list}</div>
<div class="blank5"></div>
<form name="search" action="__APP__" method="get">	
<div class="search_row">

	{%IncomeBalance_Issue}：<input type="text" class="textbox" name="id" value="{:strim($_REQUEST['id'])}" style="width:100px;" />
	{%IncomeBalance_Time_period}：
		<input type="text" class="textbox" name="begin_time" id="begin_time" value="{:strim($_REQUEST['begin_time'])}" onfocus="return showCalendar('begin_time', '%Y-%m-%d %H:%M:%S', false, false, 'btn_begin_time');" />
		<input type="button" class="button" id="btn_begin_time" value="{%SELECT_TIME}" onclick="return showCalendar('begin_time', '%Y-%m-%d %H:%M:%S', false, false, 'btn_begin_time');" />	
		-
		<input type="text" class="textbox" name="end_time" id="end_time" value="{:strim($_REQUEST['end_time'])}" onfocus="return showCalendar('end_time', '%Y-%m-%d %H:%M:%S', false, false, 'btn_end_time');" />
		<input type="button" class="button" id="btn_end_time" value="{%SELECT_TIME}" onclick="return showCalendar('end_time', '%Y-%m-%d %H:%M:%S', false, false, 'btn_end_time');" />	

	
		<input type="hidden" value="IncomeBalance" name="m" />
		<input type="hidden" value="index" name="a" />
		
		<input type="submit" class="button" value="{%SEARCH}" />
		<input type="button" class="button" value="{%IncomeBalance_Export}" onclick="export_csv()">
</div>
</form>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="duobao_item" 
	datasource="list" 
	show="id:期号|50px
			,name:{%common_product_name}
			,origin_price|format_price:{%IncomeBalance_cost_price}
			,max_buy:{%IncomeBalance_tips01}
			,robot_count:{%IncomeBalance_Number_of_robots}
		 	,user_name:{%IncomeBalance_Name_of_winner}
		 	,lottery_time|to_date:{%IncomeBalance_Draw_time}"
 />

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />