
<div class="footer-menu-box">
    <div class="f_menu split-line-top">
  		<ul class="menu_box">
  			<li class="menu_item {if $MODULE_NAME eq 'index'}cur{/if}">
  				<a href="{url r="index" b="index#index"}">
	  				<p><i class="iconfont">&#xe6ee;</i></p>
	  				<p class="item_txt">Home</p>
  				</a>
  			</li>
			<li class="menu_item {if $MODULE_NAME eq 'anno'}cur{/if}">
				<a href="{url r="index" b="anno#index"}">
					<p><i class="iconfont">&#xe6ed;</i></p>
					<p class="item_txt">Latest</p>
				</a>
			</li>
  			<li class="menu_item {if $MODULE_NAME eq 'cart'}cur{/if}">
  				<a href="{url r="index" b="cart#index"}">
	  				<p style="position:relative;" >
	  					<i class="iconfont">&#xe6ea;</i>
	  					<div class="nav_cart_num" {if $data.cart_info.cart_item_num gt 0}style="display:block;"{/if}>{$data.cart_info.cart_item_num}</div>
	  				</p>
	  				<p class="item_txt">Cart</p>
	  			</a>
	  		</li>
  			<li class="menu_item {if $MODULE_NAME eq 'uc_duobao_record'}cur{/if}">
  				<a href="{url r="index" b="uc_duobao_record#index"}">
  					<p><i class="iconfont">&#xe6e9;</i></p>
  					<p class="item_txt">Treasure Record</p>
  				</a>
  			</li>
  			<li class="menu_item {if $MODULE_NAME eq 'user_center'}cur{/if}">
  				<a href="{url r="index" b="user_center#index"}">
  					<p><i class="iconfont">&#xe6ec;</i></p>
  					<p class="item_txt">My</p>
  				</a>
  			</li>
		</ul>
		<a href="/o2onew/wap/biz.php?ctl=more"></a>
	</div>
</div>
