<!--短信验证码-->
<div id='verify_image_box'>
   <div class="verify_form_box">
       <div class="verify_title">Captcha<div class="iconfont verify_close_btn">&#xe608;</div></div>
        <div class="blank20"> </div>
       <div class="verify_content">

       </div>
         <div class="blank20"> </div>
   </div>

</div>
<!--end 短信验证码-->