<div class="map_select_box">
	<div class="g-smfw">
		<div class="por m-mapct"> 
           	<div class="m-rfssct" style="z-index: 9999">
           	<form action="javascript:;" id="searchaddr-form">
                <input type="text" id="addr_input" placeholder="Please enter the address to be queried">
                <a href="javascript:;" class="ss addr_search"></a>
				<input type="submit" style="display:none;" />
             </form>
           	</div>
           	<div class="m-rfssct" style="top:95px;z-index: 9999">
               <input type="text" id="detail_input" placeholder="Click to enter the detailed address">
               <a href="javascript:;" class="ssmap"></a>
           	</div> 
           	<div class="m-bacbtn" style="z-index: 9999;max-width: 640px">
               <a href="javascript:;" class="addr_save">Save</a>
           	</div>
        </div>
        <div id="qqmapcontainer" style="min-width:100%;max-width:640px; min-height:88%; z-index:999;position:absolute;left:0px;top:0px;"></div>
		<input type="hidden" name="xpoint" id="xpoint" value=""/>
        <input type="hidden" name="ypoint" id="ypoint" value=""/>
    </div>
</div>