<div class="winner-layer">
	<div class="winner-box">
		<div class="winner-close">
			<i class="iconfont">&#xe713;</i>
		</div>
		<div class="winner-img">
			<img src="##img##">
		</div>
		<div class="winner-info">
			<p>site name</p>
			<p class="txt-yellow">issue_no</p>
			<h3 class="txt-yellow">goods name</h3>
		</div>
		<div class="winner-btn">
			<a href="##view##">View</a>
			<a class="share-winner" href="javascript:;">Share</a>
		</div>
	</div>
</div>

<div style="display:none;" class="share-winner-layer">
	<div class="winner-box">
	 
		<div class="winner-img">
			<img src="##share_img##">
		</div>
	 
	</div>
</div>
 
<script>
	var is_app = '##is_app##';
	var share_data = '##share_data##';
	$('.share-winner').click(function(){
		if(is_app == 1){
			App.sdk_share(share_data);
			$('.winner-layer').remove();
		}else{
			$('.winner-layer').remove();
			$('.share-winner-layer').addClass('winner-layer');
			$('.share-winner-layer').css('display','block');
		}
	});
	
	$('.share-winner-layer').click(function(){
		$(this).remove();
	});
</script>