{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<script type="text/javascript" src="__TMPL__Common/js/calendar/calendar.php?lang=zh-cn" ></script>
<load href='__TMPL__Common/js/calendar/calendar.css' />
<load href='__TMPL__Common/js/calendar/calendar.js' />
<load href='__TMPL__Common/js/ecvtype.js' />
<div class="main">
<div class="main_title">{%EDIT} <a href="{:u("EcvType/index")}" class="back_list">{%BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{%VOUCHER_NAME}:</td>
		<td class="item_input"><input type="text" class="textbox require" name="name" value="{$vo.name}" /></td>
	</tr>
	<tr>
		<td class="item_title">{%VOUCHER_MONEY}:</td>
		<td class="item_input"><input type="text" class="textbox require" name="money" value="{$vo.money}" />
		<span class="tip_span">{%EcvType_Please_fill_in_whole_numbers}</span></td>
	</tr>
	<tr>
		<td class="item_title">{%VOUCHER_LIMIT}:</td>
		<td class="item_input"><input type="text" class="textbox" name="use_limit" value="{$vo.use_limit}" /> <span class="tip_span">{%VOUCHER_LIMIT_TIP}</span></td>
	</tr>
	<tr id="total_limit">
		<td class="item_title">{%EcvType_Total_issued}:</td>
		<td class="item_input"><input type="text" class="textbox" name="total_limit" value="{$vo.total_limit}" /> <span class="tip_span">{%EcvType_tips01}</span></td>
	</tr>
	<tr>
		<td class="item_title">{%VOUCHER_BEGIN_TIME}:</td>
		<td class="item_input">
			<input type="text" class="textbox" name="begin_time" id="begin_time" value="{$vo.begin_time|to_date}" onfocus="this.blur(); return showCalendar('begin_time', '%Y-%m-%d %H:%M:%S', false, false, 'btn_begin_time');" />
			<input type="button" class="button" id="btn_begin_time" value="{%SELECT_TIME}" onclick="return showCalendar('begin_time', '%Y-%m-%d %H:%M:%S', false, false, 'btn_begin_time');" />	
			<input type="button" class="button" value="{%CLEAR_TIME}" onclick="$('#begin_time').val('');" />				
			<span class="tip_span">{%VOUCHER_BEGIN_TIME_TIP}</span>
		</td>
	</tr>
	<tr>
		<td class="item_title">{%VOUCHER_END_TIME}:</td>
		<td class="item_input">
			<input type="text" class="textbox" name="end_time" id="end_time" value="{$vo.end_time|to_date}" onfocus="this.blur(); return showCalendar('end_time', '%Y-%m-%d %H:%M:%S', false, false, 'btn_end_time');" />
			<input type="button" class="button" id="btn_end_time" value="{%SELECT_TIME}" onclick="return showCalendar('end_time', '%Y-%m-%d %H:%M:%S', false, false, 'btn_end_time');" />	
			<input type="button" class="button" value="{%CLEAR_TIME}" onclick="$('#end_time').val('');" />
			<span class="tip_span">{%VOUCHER_END_TIME_TIP}</span>
		</td>
	</tr>
	<tr>
		<td class="item_title">{%VOUCHER_SEND_TYPE}:</td>
		<td class="item_input">
			<select name="send_type">
				<option value="0" <if condition="$vo['send_type'] eq 0">selected="selected"</if>>{%ADMIN_SEND}</option>
				<option value="1" <if condition="$vo['send_type'] eq 1">selected="selected"</if>>{%SCORE_EXCHANGE}</option>
				<option value="2" <if condition="$vo['send_type'] eq 2">selected="selected"</if>>序列号领取</option>
			</select>
		</td>
	</tr>
	<tr id="exchange_row">
		<td class="item_title">{%VOUCHER_SCORE_EXCHANGE}:</td>
		<td class="item_input">
			{%EXCHANGE_SCORE}：<input type="text" class="textbox" name="exchange_score" value="{$vo.exchange_score}" /> {%EVERY_USER_CAN_EXCHANGE} <input type="text" class="textbox" name="exchange_limit_score" value="{$vo.exchange_limit}"  />  {%EMPTY_EXCHANGE_LIMIT_TIP}
		</td>
	</tr>
	<tr id="bonus_row">
		<td class="item_title">{%EcvType_Serial_number_collection}:</td>
		<td class="item_input">
			{%EcvType_serial_number}：<input type="text" class="textbox" name="exchange_sn" value="{$vo.exchange_sn}" /> {%EVERY_USER_CAN_EXCHANGE} <input type="text" class="textbox" name="exchange_limit_bonus" value="{$vo.exchange_limit}"  />  {%EMPTY_EXCHANGE_LIMIT_TIP}
		</td>
	</tr>
	<tr id="share_url_row">
		<td class="item_title">{%EcvType_Share_URL}:</td>
		<td class="item_input">
			{$vo.share_url}
		</td>
	</tr>
	<tr id="memo_row">
		<td class="item_title">{%EcvType_Red_envelope_notes}:</td>
		<td class="item_input">
			<textarea class="textarea" name="memo" style="height:50px;">{$vo.memo}</textarea>
		</td>
	</tr>
	<tr id="tpl_row">
		<td class="item_title">{%EcvType_Red_envelope_template}:</td>
		<td class="item_input">
		<table>
				<tr>
					<td>
						<select name="tpl" >
						<foreach name="tpls" item="row">
							<option value="{$row}" <if condition="$vo.tpl eq $row">selected="selected"</if>>{$row}</option>
						</foreach>
						</select>
					</td>
					<td id="preview">
						
					</td>
				</tr>
			</table>
	</tr>
	
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$vo.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="EcvType" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{%EDIT}" />
			<input type="reset" class="button" value="{%RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer" />