{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<load href='__TMPL__Common/js/user_edit.js' />
<load href='__TMPL__Common/js/conf.js' />
<div class="main">
<div class="main_title">{%EDIT} <a href="{:u("User/index")}" class="back_list">{%BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<div class="button_row">
	<input type="button" class="button conf_btn" rel="1" value="基本信息" />&nbsp;
</div>
<div class="blank5"></div>
<table class="form conf_tab" cellpadding=0 cellspacing=0 rel="1">
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{%USER_NAME}:</td>
		<td class="item_input"><input type="<if condition="$vo['is_tmp'] eq 1">text<else/>hidden</if>" class="textbox require" name="user_name" value="{$vo.user_name}" /><if condition="$vo['is_tmp'] eq 0">{$vo.user_name}</if></td>
	</tr>
	<tr>
		<td class="item_title">{%User_WeChat_Avatar}:</td>
		<td class="item_input"><html:imgUpload name = 'user_logo' id='user_logo' value='$vo.user_logo' /></td>
	</tr>
        <tr class="robot">
		<td class="item_title">{%User_IP_address}:</td>
                <td class="item_input"><input type="text" class="textbox" name="login_ip" value="{$vo.login_ip}" /></td>
	</tr>
	<tr class="is_robot">
		<td class="item_title">{%USER_EMAIL}:</td>
		<td class="item_input">
			<input type="text" class="textbox" name="email" value="{$vo.email}" />
		</td>
	</tr>
	<tr class="is_robot">
		<td class="item_title">{%USER_MOBILE}:</td>
		<td class="item_input"><input type="text" class="textbox" name="mobile" value="{$vo.mobile}" /></td>
	</tr>
	<tr class="is_robot">
		<td class="item_title">{%USER_PASSWORD}:</td>
		<td class="item_input"><input type="password" class="textbox" name="user_pwd" /></td>
	</tr>
	<tr class="is_robot">
		<td class="item_title">{%USER_CONFIRM_PASSWORD}:</td>
		<td class="item_input"><input type="password" class="textbox" name="user_confirm_pwd" /></td>
	</tr>
	<tr class="is_robot">
		<td class="item_title">{%User_Accumulated_points}:</td>
		<td class="item_input"><input type="text" class="textbox" name="total_score" value="{$vo.total_score}" /></td>
	</tr>
	
	
	<!--<tr>
		<td class="item_title">{%USER_IS_DAREN}:</td>
		<td class="item_input">
			<select name="is_daren">
				<option value="0" <if condition="$vo['is_daren'] eq 0">selected="selected"</if>>{%USER_IS_DAREN_0}</option>
				<option value="1" <if condition="$vo['is_daren'] eq 1">selected="selected"</if>>{%USER_IS_DAREN_1}</option>
			</select>
			<span id="daren_title">
				{%DAREN_TITLE}：<input type="text" class="textbox" name="daren_title" value="{$vo.daren_title}" />
			</span>
		</td>
	</tr>
	<tr id="daren_cate">
		<td class="item_title">达人分类:</td>
		<td class="item_input">
			<foreach name="cate_list" item="cate_item">
				<label>{$cate_item.name}<input type="checkbox" name="cate_id[]" value="{$cate_item.id}" <if condition="$cate_item['checked'] gt 0">checked="checked"</if> /></label>
			</foreach>
		</td>
	</tr>-->
	<tr class="is_robot">
		<td class="item_title">{%USER_BIRTHDAY}:</td>
		<td class="item_input">
			<input type="text" name="byear" class="textbox" value="{$vo.byear}"  style="width:40px" maxlength="4" />{%USER_BYEAR}
			<input type="text" name="bmonth" class="textbox" value="{$vo.bmonth}" style="width:20px" maxlength="2"/>{%USER_BMONTH}
			<input type="text" name="bday" class="textbox" value="{$vo.bday}"  style="width:20px" maxlength="2" />{%USER_BDAY}
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%IS_EFFECT}:</td>
		<td class="item_input">
			<lable>{%IS_EFFECT_1}<input type="radio" name="is_effect" value="1" <if condition="$vo['is_effect'] eq 1">checked="checked"</if> /></lable>
			<lable>{%IS_EFFECT_0}<input type="radio" name="is_effect" value="0" <if condition="$vo['is_effect'] eq 0">checked="checked"</if> /></lable>
		</td>
	</tr>
        <tr>
		<td class="item_title">{%User_robot}:</td>
		<td class="item_input">
			<select name="is_robot">
                            <option value="0" <if  condition="$vo['is_robot'] eq 0">selected="selected"</if>>{%common_no}</option>
                            <option value="1" <if  condition="$vo['is_robot'] eq 1">selected="selected"</if>>{%common_Yes}</option>
			</select>
		</td>
	</tr>
	<foreach name="field_list" item="field_item">
	<tr>
		<td class="item_title">{$field_item.field_show_name}:</td>
		<td class="item_input">
			 <if condition="$field_item['input_type'] eq 0">
			 	<input type="text" class="textbox <if condition="$field_item['is_must'] eq 1">require</if>" name="{$field_item.field_name}" value="{$field_item.value}" />
			 </if>
			 
			 <if condition="$field_item['input_type'] eq 1">
			 	<select name="{$field_item.field_name}">
			 		<foreach name="field_item.value_scope" item="value_item">
			 			<option value="{$value_item}" <if condition="$field_item['value'] eq $value_item">selected="selected"</if>>{$value_item}</option>
			 		</foreach>
			 	</select>
			 </if>
		</td>
	</tr>
	</foreach>
	
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>

<div class="blank5"></div>
	<table class="form" cellpadding=0 cellspacing=0>
		<tr>
			<td colspan=2 class="topTd"></td>
		</tr>
		<tr>
			<td class="item_title"></td>
			<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$vo.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="User" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{%EDIT}" />
			<input type="reset" class="button" value="{%RESET}" />
			</td>
		</tr>
		<tr>
			<td colspan=2 class="bottomTd"></td>
		</tr>
	</table> 	 
</form>
</div>
<include file="Public:footer" />