{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<load href='__TMPL__Common/js/jquery.bgiframe.js' />
<load href='__TMPL__Common/js/jquery.weebox.js' />
<load href='__TMPL__Common/js/script.js' />
<load href='__TMPL__Common/js/user.js' />
<load href='__TMPL__Common/style/weebox.css' />
<php>
	
	function get_referrals_name($user_id)
	{
		$user_name = M("User")->where("id=".$user_id)->getField("user_name");
		if($user_name)
		return $user_name;
		else
		return l("NO_REFERRALS");
	}
	function get_is_robot($is)
	{
		if($is)return "{$common_Yes}";
		else
		return "{$common_no}";
	}
</php>
<div class="main">
<div class="main_title">{$main_title}</div>
<div class="blank5"></div>
<div class="button_row">
	<input type="button" class="button" value="{%ADD}" onclick="add();" />
	<input type="button" class="button" value="{%User_Add_robots_in_bulk}" onclick="batch_add();" />
	<input type="button" class="button" value="{%DEL}" onclick="foreverdel();" />
</div>

<div class="blank5"></div>
<div class="search_row">
	<form name="search" action="__APP__" method="get">
		{%USER_NAME}：<input type="text" class="textbox" name="user_name" value="{:strim($_REQUEST['user_name'])}" style="width:100px;" />
		{%USER_EMAIL}：<input type="text" class="textbox" name="email" value="{:strim($_REQUEST['email'])}" style="width:100px;" />
		{%USER_MOBILE}：<input type="text" class="textbox" name="mobile" value="{:strim($_REQUEST['mobile'])}" style="width:100px;" />
		{%REFERRALS_NAME}：<input type="text" class="textbox" name="pid_name" value="{:strim($_REQUEST['pid_name'])}" style="width:100px;" />


		<input type="hidden" value="User" name="m" />
		<input type="hidden" value="index" name="a" />
		<input type="submit" class="button" value="{%SEARCH}" />
	</form>
</div>
<div class="blank5"></div>
<html:list
	id="dataTable"
	style="dataTable"
	name="user"
	checkbox="true"
	action="true"
	datasource="list"
	show="id:{%ID}|50px,user_name:{%USER_NAME}:edit,email:{%USER_EMAIL},mobile:{%USER_MOBILE},is_robot|get_is_robot:{%User_robot},money|format_price:{%USER_MONEY},score|format_score:{%USER_SCORE},total_score|format_score:{%User_Accumulated_points},pid|get_referrals_name:{%REFERRALS_NAME},create_time|to_date:{%User_Registration_time},login_time|to_date:{%LOGIN_TIME},is_effect|get_is_effect=$user['id']:{%IS_EFFECT},login_ip:{%LOGIN_IP}"
	actionlist="edit:{%EDIT}, del:{%DEL}, account:{%USER_ACCOUNT},account_detail:{%USER_ACCOUNT_DETAIL},inte_detail:{%User_User_I_invited}" />

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />