{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<script type="text/javascript">
function del(id)
{
	/*
	if(!id)
	{
		idBox = $(".key:checked");
		if(idBox.length == 0)
		{
			alert(LANG['DELETE_EMPTY_WARNING']);
			return;
		}
		idArray = new Array();
		$.each( idBox, function(i, n){
			idArray.push($(n).val());
		});
		id = idArray.join(",");
	}*/
	if(confirm(LANG['CONFIRM_DELETE']))
	$.ajax({ 
			url: ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=del_withdrawal&id="+id, 
			data: "ajax=1",
			dataType: "json",
			success: function(obj){
				$("#info").html(obj.info);
				if(obj.status==1)
				location.href=location.href;
			}
	});
}

function withdrawal_edit(id)
{
	$.weeboxs.open(ROOT+'?m=User&a=withdrawal_edit&id='+id, {contentType:'ajax',showButton:false,title:"提现审核",width:600,height:195});
}
</script>
<div class="main">
<div class="main_title">{%User_Withdrawal_application}</div>
<div class="blank5"></div>
<PHP>
function get_charge_status($status,$charge)
{
	$id = $charge['id'];
	if($status==0)return "{%User_Pending}   <a href='javascript:withdrawal_edit(".$id.")'>{%User_tips09}</a>";
	else return "{%User_Audited}";
}

</PHP>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="charge" 

	action="true" 
	datasource="list" 
	show="id:{%ID}|50px,money|format_price:{%User_Withdrawal_Amount},create_time|to_date:{%User_date},user_id|get_user_name:{%User_member},bank_name:{%User_Bank_name},bank_account:{%User_Bank_Account},bank_user:{%User_Bank_account_name},is_paid|get_charge_status=$charge:{%User_status},is_delete|get_status:{%User_User_delete}"
	actionlist="del:{%DEL}" 
	/> 

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />