{if $user_info}
	<span class="user_name">
		{$LANG.Home_load_user_tip_Welcome}，<a href="{url x="index" r="uc_center"}" >{$user_info.user_name}</a>
		{if $user_info.level gt 0}
		<span title="{$user_info.level_name}" class="level_bg level_{$user_info.level}"></span>
		{/if}
		[ <a href="{url x="index" r="user#loginout"}">{$LANG.Home_load_user_tip_log_out}</a> ]
	</span>
	{if $user_info.msg_count gt 0}
	<a href="{url x="index" r="uc_msg"}" class="msg_count" title="{$LANG.Home_load_user_tip_Total}{$user_info.msg_count}{$LANG.Home_load_user_tip_New_posts}"><span><i class="iconfont">&#xe62c;</i> {$LANG.Home_load_user_tip_news} <em>{$user_info.msg_count}</em></span></a>
{else}
	{/if}
	<script type="text/javascript">
			init_drop_user();
			{if $signin_result}
			show_signin_message({$signin_result});
			{/if}
	</script>
	{else}
	<span class="login_tip">{$LANG.Home_load_user_tip_Please_first} [<a href="{url x="index" r="user#login"}" title="{$LANG.Home_load_user_tip_login}" id="pop_login">{$LANG.Home_load_user_tip_login}</a>]{if $wx_login} / [<a href="javascript:void(0);" rel="{url x="index" r="user#wx_login"}" title="{$LANG.Home_load_user_tip_WeChat_login}" id="wx_login">{$LANG.Home_load_user_tip_WeChat_login}</a>]{/if} {$LANG.Home_load_user_tip_or} [<a href="{url x="index" r="user#register"}" title="{$LANG.Home_load_user_tip_register}">{$LANG.Home_load_user_tip_register}</a>]</span>
{/if}
<span id="user_drop">
	<a href="{url x="index" r="uc_duobao"}">{$LANG.Home_load_user_tip_My_treasure}</a>
	<i class="iconfont">&#xe610;</i>
</span>
<div id="user_drop_box">
	<dl>
		<dd><a href="{url x="index" r="uc_duobao"}">{$LANG.Home_load_user_tip_Treasure_Record}</a></dd>
		<dd class="group"><a href="{url x="index" r="uc_luck"}">{$LANG.Home_load_user_tip_Lucky_record}</a></dd>
		<dd><a href="{url x="index" r="uc_share"}">{$LANG.Home_load_user_tip_My_order}</a></dd>
		<dd><a href="{url x="index" r="uc_money"}">{$LANG.Home_load_user_tip_Account_recharge}</a></dd>
	</dl>
</div>
<a href="{url x="index" r="uc_voucher"}">{$LANG.Home_load_user_tip_My_red_envelope}</a>