{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<php>
	
	function get_list_content($content)
	{
		return  msubstr(empty_tag($content),0,10);
	}
	
</php>
<script type="text/javascript">

</script>
<div class="main">
<div class="main_title">{$main_title}</div>
<div class="blank5"></div>
<div class="button_row">
	<input type="button" class="button" value="{%DELETE}" onclick="del();" />
</div>
<div class="blank5"></div>
<div class="search_row">
	<form name="search" action="__APP__" method="get">
		{%Share_username}：<input type="text" class="textbox" name="user_name" value="{:strim($_REQUEST['user_name'])}" />
		{%Share_Key_words}：<input type="text" class="textbox" name="keyword" value="{:strim($_REQUEST['keyword'])}" />
		<input type="hidden" value="Share" name="m" />
		<input type="hidden" value="index" name="a" />
		<input type="submit" class="button" value="{%SEARCH}" />
	</form>
</div>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="topic" 
	checkbox="true" 
	action="true" 
	datasource="list" 
	show="id:{%ID}|50px	
	,duobao_item_id:期号
	,user_id|get_user_name:{%USER_NAME}
	,title|msubstr:{%TITLE}
	,content|get_list_content:{%CONTENT}	
	,images_count:图片数
	,is_check|get_toogle_status:审核状态
	,is_recommend|get_toogle_status=$topic['id']#is_recommend:{%IS_RECOMMEND}
	,is_index|get_toogle_status=$topic['id']#is_index:首页显示
	,is_top|get_toogle_status=$topic['id']#is_top:置顶
	,is_effect|get_toogle_status=$topic['id']#is_effect:有效性
	,create_time|to_date:{%CREATE_TIME}	
	" 
	actionlist="edit:{%EDIT},del:{%DELETE}" /> 

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />