<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/index.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/cart_index.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/cart_order.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/goods_item.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/zone.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/lazyload.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/cart_check.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/cart_check.js";
?>
{include file="inc/header_cart.html"}
<script type="text/javascript">
var main_url='{url r="index"}';
var APP_ROOT = '{$APP_ROOT}';
var CART_URL = '{url x="index" r="cart"}';
var CART_CHECK_URL = '{url x="index" r="cart#check"}';
{if app_conf("APP_MSG_SENDER_OPEN") eq 1}
var send_span = {function name="app_conf" v="SEND_SPAN"}000;
var IS_RUN_CRON = 1;
var DEAL_MSG_URL = '{url x="index" r="cron#deal_msg_list"}';
{/if}
var AJAX_LOGIN_URL	= '{url x="index" r="user#ajax_login"}';
var AJAX_URL	= '{url x="index" r="ajax"}';
var LOADER_IMG = '{$TMPL}/images/loader_img.gif';
</script>

<div class="{function name="load_wrap" t=$wrap_type} cate_row">
<div class="blank15"></div>
	<form name="cart_form" id="cart_form" action="{if $order_info}{url x="index" r="cart#order_done"}{else}{url x="index" r="cart#done"}{/if}" method="post">
<div class="wrap clearfix">
	<table id="cart_table">
	<tr>
		<td width="480" class="text_left" style="padding-left: 15px">{$LANG.Home_cart_check_product_name}</td>
		<td width="130">{$LANG.Home_cart_check_Commodity_number}</td>
		<td width="130">{$LANG.Home_cart_check_Value}</td>
		<td width="130">{$LANG.Home_cart_check_Unit_price_of_the_treasure}</td>
		<td width="130">{$LANG.Home_cart_check_Participants}</td>
		<td width="170" style="padding-right: 15px">{$LANG.Home_cart_check_Subtotal}</td>
	</tr>
    {if $cart_list}

	{foreach from=$cart_list item=item}
	<tr class="cart-list" style="border-bottom: 1px solid #ddd;">

			<td class="text_left" style="padding-left: 15px">
					<a href="{$item.url}">{$item.name}</a>
			</td>
			<td>
					{$item.duobao_item_id}
			</td>
			<td>
					{$item.value_price}
			</td>
			<td>
					{$item.unit_price}
			</td>
			<td>
					{$item.number}
			</td>
			<td style="padding-right: 15px">
			<p class="txt-red"><span>{$item.total_price}</span></p>
			</td>

	</tr>
	{/foreach}
    <tr>
	<td colspan="6" style="text-align:right;line-height: 56px;padding: 0 20px" >
		<div class="cart-list-footer-total f_r" style="margin-left: 15px">{$LANG.Home_cart_check_Commodity_total}：<span class="txt-red" style="font-size: 22px;font-weight: bold;">{function name=format_price v=$total_price}</span></div>
		<a href="{url i="index" r="cart"}"  class="f_r" style="line-height: 62px">{$LANG.Home_cart_check_Return_to_list_modification}</a>
	</td>
	</tr>
	<td colspan="6" style="border:none;background:white;padding: 0;">

	{if $show_payment}
	<div id="cart_payment">
	<div class="cart_row layout_box" style="border: 0;">
		<div class="title">{lang v="PAYMENT INFO"}</div>
		<div class="content">
			{if $bank_paylist}
			{foreach from=$bank_paylist item=payment_item}
				{$payment_item.display_code}
			{/foreach}
			{/if}
			{if $icon_paylist}
			{foreach from=$icon_paylist item=payment_item}
				{$payment_item.display_code}
			{/foreach}
			{/if}
			<div class="clear"></div>
			<div class="account_payment">
			{foreach from=$disp_paylist item=payment_item}
				{$payment_item.display_code}
			{/foreach}
			</div>
		</div>
	</div>
	</div>
	{/if}
	</td>


    {else}
    <tr class="null_data">
    	<td colspan="7" >
		<div>
		<p class="message">{$LANG.Home_cart_check_No_data_in_shopping_cart}</p>
		</div>
	    </td>
    </tr>
    {/if}
	</table>
	<div class="blank15"></div>


	<div id="cart_total">
	</div>

	<div id="cart_submit">
		<input type="hidden" value="{function name="intval" value=$order_info.id}" name="id" />
		<button id="order_done" class="btn btn-main f_r" rel="blue" type="button">{$LANG.CONFIRM_ORDER_AND_PAY}</button>
	</div><!--cart_submit-->
	<div class="blank30"></div>
</div>

	</form>
    <div class="blank15"></div>
    <div class="wrap_full_w">
	    {if $recomend_list}
		<div class="index-new-goods-list" style="width: 1201px">
			<h1 class="main-title">{$LANG.Home_cart_check_Recommend_Treasure}
			<a href="javascript:void(0);" id="new"  class="title-more"><i class="iconfont">&#xe624;</i>{$LANG.Home_cart_check_Change_batch}</a>
			</h1>
			<ul class="ui-list" width="241" pin_col_init_width="0" wSpan="-1" hSpan="1">
				{foreach from=$recomend_list item=recomend}
				<li class="goods ui-item">
				<div class="hover_line">
				<div class="ten-logo-box"></div>
					<div class="goods-wrap">
						<div class="imgbox">
						<a href="{url r="index" r="duobao" p="data_id=$recomend.id"}">
							<img src="{$recomend.icon}" width="200" height="200" lazy="true" />
						</a>
						</div>
						<a href="{url r="index" r="duobao" p="data_id=$recomend.id"}" class="goods-title">
							{$recomend.duobaoitem_name}
						</a>
						<div class="p-price f_l">
							{$LANG.Home_anno_Total_need}：{$recomend.max_buy}{$LANG.Home_anno_Person_times}
						</div>
					</div>
					</div>
				</li>
				{/foreach}
			</ul>
		</div>
		{/if}
    </div>



</div>

{include file="inc/footer.html"}