<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/layer.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/duobao.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.SuperSlide.2.1.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/lazyload.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/layer.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/layer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/duobao.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/duobao.js";
?>
{include file="inc/header.html"}
<script type="text/javascript">
var main_url='{url r="index"}';
</script>
<script>
var min_buy={$root.item_data.min_buy};
var duobao_item_id={$root.item_data.id};
</script>
<div class="wrap_full_w clearfix" style="margin-bottom: 29px">
<!-- 站内地图 -->
	<div class="dir"></div>
	<!-- 主体内容 -->
	<div class="goods-detail f_l">
		<div class="goods-pic-info">
			<!-- 十元专区logo -->
			{if $root.item_data.min_buy eq 10}
			<div class="ico logo-box ten-logo-box"></div>
			{/if}
			{if $root.item_data.unit_price eq 100}
			<div class="ico logo-box hundred-logo-box"></div>
			{/if}
			<!-- 大图预览 -->
			<div class="goods-pic-wrap">
				<div class="goods-pic">
					<img src="{$root.item_data.icon}" width="418" height="418">
				</div>
			</div>
			<!-- 红色箭头 -->
			<i class="ico ico-arrow-red-up ico-arrow-red"></i>
			<!-- 小图片选择 -->
			<div class="small-pic-wrap">
				<ul class="small-pic-list">
					{if $root.item_data.icon}
					<li class="small-pic-item small-pic-current small-pic-odd">
 						<img src="{$root.item_data.icon}">
					</li>
					{/if}
					{foreach from=$root.item_data.deal_gallery item=deal_gallery_unit name=deal_gallery}
					<li class="small-pic-item {if $smarty.foreach.deal_gallery.last}small-pic-last{/if} {if $smarty.foreach.deal_gallery.index eq 1 } small-pic-odd{/if}">
						<img src="{$deal_gallery_unit}">
					</li>
					{/foreach}

				</ul>
			</div>
			<!-- 承诺信息 -->
			<div class="promise-box clearfix">
				<div class="promise-item">
					<i class="goods-detail-ico ico-promise promise-open"></i><span class="promise-txt">{$LANG.Home_duobao_Fair_and_open}</span>
				</div>
				<div class="promise-item">
					<i class="goods-detail-ico ico-promise promise-real"></i><span class="promise-txt">{$LANG.Home_duobao_Genuine_guarantee}</span>
				</div>
				<div class="promise-item">
					<i class="goods-detail-ico ico-promise promise-protect"></i><span class="promise-txt">{$LANG.Home_duobao_Rights_Protection}</span>
				</div>
				<div class="promise-item promise-item-last">
					<i class="goods-detail-ico ico-promise promise-free"></i><span class="promise-txt">{$LANG.Home_duobao_Free_delivery}</span>
				</div>
			</div>
			<!-- 分享到 -->
			<div class="share-to">

						<!-- JiaThis Button BEGIN -->
						<div class="jiathis_style">
							<span class="jiathis_txt">{$LANG.Home_duobao_share_to}：</span>
							<a class="jiathis_button_tsina"><i class="icon iconfont"></i></a>
							<a class="jiathis_button_weixin"><i class="icon iconfont"></i></a>
							<a class="jiathis_button_cqq"><i class="icon iconfont"></i></a>
							<a class="jiathis_button_qzone"><i class="icon iconfont"></i></a>
							<a class="jiathis_button_douban"><i class="icon iconfont"></i></a>
							<a class="jiathis_button_copy"><i class="icon iconfont"></i></a>
							<a class="jiathis_counter_style"></a>
						</div>
						<script type="text/javascript">
							 var jiathis_config = {
								sm:"tsina,weixin,cqq,qzone,douban,copy",
								siteNum:6,
							 	title:"{$share_title}",
							    url:"{$share_url}",

							};
						</script>
						<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>

						<!-- JiaThis Button END -->


			</div>
		</div>
	</div>
	<!-- 购买商品 -->
	<div class="goods-detail-buy f_r">
	<!-- 商品标题 -->
		<div class="goods-detail-title">
		<!-- 主标题 -->
			<div class="detail-title-main">
				<h1>{$root.item_data.name}</h1>
			</div>
			<!-- 副标题 -->
			<p class="detail-title-desc">{$root.item_data.brief}</p>
		</div>

		{if $root.item_data.progress lt 100 and $root.item_data.success_time eq 0}
			<!-- 进行中 -->
			<!-- 购买流程 -->
			<div class="detail-buy-info" style="display: block;">
			<div class="buy-info-header clearfix">
				<h2 class="info-header-title">{if $root.item_data.unit_price eq 100}{$LANG.Home_duobao_hundred}{elseif $root.item_data.min_buy eq 10}十{else}一{/if}{$LANG.Home_duobao_Yuan_Duobao}</h2>
				<h3 class="info-header-desc"><span class="code">{$LANG.Home_duobao_Issue}：{$root.item_data.id}</span>{$LANG.Home_duobao_tips01}</h3>
				<div class="buy-explain">
					?
					<div class="explain-box">
						<i class="goods-detail-ico anchor-left"></i>
						<div class="explain-content">
							<p>{$LANG.Home_duobao_tips02}</p>
							<p>{$LANG.Home_duobao_tips03}<strong>{$LANG.Home_duobao_tips04}</strong></p>
						</div>
					</div>
				</div>
			</div>
			<!-- 进度条 -->
			<div class="progress-wrap clearfix">
				<div class="progress f_l">
					<div class="progress-bar" style="width:{$root.item_data.progress}%"></div>
				</div>
				<div class="progress-txt f_l">{$LANG.Home_duobao_completed}{$root.item_data.progress}%</div>
			</div>
			<!-- 价格信息 -->
			<div class="price-info clearfix">
				<div class="all-price f_l">
					{$LANG.Home_duobao_Total_number_of_people_required}{$root.item_data.max_buy}
				</div>
				<div class="rest-price f_r">
					{$LANG.Home_duobao_Remaining}{$root.item_data.surplus_count}
				</div>
			</div>
			<!-- 加减商品 -->
			<div class="buy-count">
				<span>{$LANG.Home_duobao_participate}</span>
				<div class="buy-num-count">
					<div class="buy-num">
						<a class="buy-num-btn num-btn-min">-</a>
						<input name="num" type="text" class="num-input" value="{$root.item_data.min_buy}" min_buy="{$root.item_data.min_buy}" init_num="0">
						<a class="buy-num-btn num-btn-plus">+</a>
					</div>
				</div>&nbsp;<span>{$LANG.Home_duobao_Person_times}</span>
				<span class="buy-hint">
					<i class="ico ico-arrow-graysmall"></i>
					{if $root.item_data.user_max_buy gt 0}
					<span style="color:#dd344f;">{$LANG.Home_duobao_1_person}={$root.item_data.unit_price}{$LANG.Home_duobao_Treasure_Coin}&nbsp;&nbsp; {if $root.item_data.user_max_buy gt 0}{$LANG.Home_duobao_Purchase_limit_per_person} {$root.item_data.user_max_buy} {$LANG.Home_duobao_Times}{/if}</span>
					{else}
					<span>{$LANG.Home_duobao_tips05}</span>
					{/if}
				</span>
			</div>
			<!-- 按钮 -->
			<div class="buy-btn-box">
				<a href="javascript:void(0);" class="buy-btn {if $root.item_data.is_effect}quick-buy{else}out_sold{/if}" {if $root.item_data.is_effect} data_id="{$root.item_data.id}" onclick="add_cart_item(this,1)"{/if}>立即夺宝</a>
				<a href="javascript:void(0);" class="buy-btn add-to-list {if $root.item_data.is_effect eq 0} out_sold{/if}" {if $root.item_data.is_effect} data_id="{$root.item_data.id}" onclick="add_cart_item(this,0)"{/if}>
				<i class="goods-detail-ico detail-cart"></i>
				<span>{$LANG.Home_duobao_Add_to_list}</span>
				</a>
			</div>
			<!-- 参与信息 -->
			<!-- 未参与 -->
			{if $root.item_data.is_effect}

			<div class="user-info">
				{if !$user}
					<!-- 未登录 -->
					<a href="javascript:void(0);" onclick="ajax_login(function(){location.reload();});">{$LANG.Home_duobao_please_sign_in}</a>
				{$LANG.Home_duobao_Check_your_Treasure_number}
				{else}
					{if !$root.duobao_recode_list}
					<!-- 已登录 -->
				{$LANG.Home_duobao_tips06}
					{else}
					<!-- 已参与 -->
					<table>
						<thead>
							<tr>
								<th>{$LANG.Home_duobao_You_have_participated}：</th>
								<td><b class="txt-red">{$root.duobao_recode_count}</b>Num</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>{$LANG.Home_duobao_Treasure_number}：</th>
								<td>
								<div class="my-code">
									{foreach from=$root.duobao_recode_list item=duobao_recode}

										{foreach from=$duobao_recode.list item=duobao_sn}
											{$duobao_sn.lottery_sn}&nbsp;
										{/foreach}

									{/foreach}
								</div>
								</td>
							</tr>
						</tbody>
					</table>
					{/if}
				{/if}
			</div>

			<!-- 缺货 -->
			<!--
			<div class="no-goods clearfix">
				<i class="goods-detail-ico no-goods-ico"></i>
				<div class="no-goods-content">
					<p>此商品暂时缺货。我们会尽快重新上架，</p>
					<p>敬请期待！</p>
					<a href="">去逛逛其它商品</a>
				</div>
			</div>
			 -->

			<!-- 商品下架 -->
			{else}
			<div class="goods-soldout">
				{$LANG.Home_duobao_Product_has_been_removed}
			</div>
			{/if}
		</div>
		{else}
			<div id="countdownnum_flush" >
			{if !$root.item_data.has_lottery}
			<!-- 揭晓中 -->
			<!-- 倒计时 -->
			<div class="detail-countdown clearfix" >
				<i class="goods-detail-ico hourglass f_l"></i>
				<div class="countdown-box f_l">
					<div class="countdown-box-hd">
						<span>{$LANG.Home_duobao_Issue}：{$root.item_data.id}</span>
						<span class="split">|</span>
						<span>{$LANG.Home_duobao_Countdown_announced}</span>
					</div>
					<time class="countdown-num" nowtime="{$root.item_data.now_time}" endtime="{$root.item_data.lottery_time}" item_data_id="{$root.item_data.id}">
						<b>0</b><b>0</b>:<b>0</b><b>0</b>:<b>0</b><b>0</b>
					</time>
				</div>
			</div>

			{else}
			<!-- 已揭晓 -->
			<div class="winner">
				<!-- 获奖者幸运号码 -->
				<div class="winner-luckycode clearfix">
					<div class="hd f_l">
						<span class="period">{$LANG.Home_duobao_Issue}<span class="period-num">{$root.item_data.luck_lottery.duobao_item_id}</span></span>
						<span class="title">{$LANG.Home_duobao_Lucky_number}</span>
					</div>
					<div class="code f_l">{$root.item_data.luck_lottery.lottery_sn}</div>
				</div>
				<!-- 获奖者信息 -->
				<div class="winner-detail clearfix">
					<i class="goods-detail-ico winner-ico"></i>
					<div class="clear"></div>
					<img src="{function name="get_user_avatar" uid=$root.item_data.luck_lottery.user_id type="big"}" alt="" class="user-pic f_l" width="90" height="90">
					<div class="f_l winner-user-info">
						<div class="info-item user-name">
							<span class="hd">{$LANG.Home_duobao_User_Nickname}</span>：<span class="bd"><a href="{url i="index" r="home" p="id=$root.item_data.luck_lottery.user_id"}" target="_blank">{$root.item_data.luck_lottery.user_name}</a></span>
							{if $root.item_data.luck_lottery.province_name || $root.item_data.luck_lottery.city_name}（{if $root.item_data.luck_lottery.province_name}{$root.item_data.luck_lottery.province_name}{$LANG.Home_duobao_province}{/if}{if $root.item_data.luck_lottery.city_name}{$root.item_data.luck_lottery.city_name}{$LANG.Home_duobao_city}{/if}）{/if}
						</div>
						<div class="info-item user-id">
							<span class="hd">{$LANG.Home_duobao_User_ID}</span>：<span class="bd">{$root.item_data.luck_lottery.user_id}（{$LANG.Home_duobao_tips07}）</span>
						</div>
						<div class="info-item user-buy-time">
							<span class="hd">{$LANG.Home_duobao_Participate_in_this_issue}</span>：<span><b class="txt-red">{$root.item_data.luck_lottery.user_duobao_count}{$LANG.Home_duobao_Person_times}</b></span>
						</div>
					</div>
					<div class="f_l winner-record">
						<div class="info-item published-time">
							<span class="hd">{$LANG.Home_duobao_Announce_time}</span>：<span class="bd">{$root.item_data.lottery_time_format}</span>
						</div>
						<div class="info-item buy-time">
							<span class="hd">{$LANG.Home_duobao_Treasure_hunting_time}</span>：<span class="bd">{$root.item_data.luck_lottery.create_time}</span>
						</div>
						<div class="info-item codes">
							<a class="btn-winner-code-s">{$LANG.Home_duobao_View}{if $root.is_login}{$LANG.Home_duobao_my}{else}TA{/if}{$LANG.Home_duobao_Number}>></a>
						</div>
					</div>
				</div>
			</div>
			{/if}
			<!-- 计算规则 -->
			<div class="calcu-rule clearfix">
				<!-- 如何计算已经最终取值 -->
				<div class="calcu-main info f_l clearfix">
					<div class="calcu-title">{$LANG.Home_duobao_How_to_calculate}？</div>
					<!-- 幸运号码 -->
					<div class="calcu-luckycode f_l calcu-item">
						<p class="num">{if $root.item_data.luck_lottery.lottery_sn}{$root.item_data.luck_lottery.lottery_sn}{else}?{/if}</p>
						<p class="tip">{$LANG.Home_duobao_Lucky_number}</p>
					</div>
					<!-- 等于号 -->
					<div class="equal f_l">=</div>
					<!-- 固定数值 -->
					<div class="calcu-item f_l">
						<p class="num">100000001</p>
						<p class="tip">{$LANG.Home_duobao_Fixed_value}</p>
					</div>
					<!-- 加号 -->
					<div class="add f_l">+</div>
					<!-- 变化数值 -->
					<div class="calcu-num-x f_l calcu-item">
						<p class="num">{if $root.item_data.luck_lottery.lottery_sn}{$root.item_data.luck_lottery.fixed_value}{else}?{/if}</p>
						<p class="tip">{$LANG.Home_duobao_Change_value}</p>
					</div>
				</div>
				<!-- 变化数值取值方式 -->
				<div class="calcu-sec info f_l clearfix">
					<div class="calcu-title"><strong>{$LANG.Home_duobao_Change_value}</strong>{$LANG.Home_duobao_tips08}</div>
					<div class="f_l left-bk">(</div>
					<div class="f_l calcu-item calcu-sum">
						<p class="num">{$root.item_data.fair_sn_local}</p>
						<div class="tip">{$LANG.Home_duobao_50_time_sum}
							<div class="hover-more more-1">
								<i class="goods-detail-ico tip-box"></i>
								<div class="more-content">
									{$LANG.Home_duobao_tips09}<span class="txt-red">{$LANG.Home_duobao_tips10}</span>，{$LANG.Home_duobao_Sum}。
								</div>
							</div>
						</div>
					</div>
					<div class="f_l add">+</div>
					<div class="f_l calcu-item calcu-lottery">
						<p class="num">{if $root.item_data.luck_lottery.lottery_sn}{$root.item_data.fair_sn}{else}?{/if}</p>
						{if $root.item_data.fair_sn neq '111111'}
						<div class="tip">
							{if $root.item_data.fair_type eq 'wy'}{/if}{$LANG.Home_duobao_Lucky_number}
							{if $root.item_data.fair_type eq 'wy'}
							<div class="hover-more more-2">
								<i class="goods-detail-ico tip-box"></i>
								<div class="more-content">
									{$LANG.Home_duobao_Take_the_most_recent_issue}{if $root.item_data.fair_period} (第{$root.item_data.fair_period}期) {/if}{$LANG.Home_duobao_Announce_the_result}。
								</div>
							</div>
							{/if}
						</div>
						{/if}
					</div>
					<div class="f_l right-bk">)</div>
					<div class="f_l calcu-divide">÷</div>
					<div class="f_l calcu-price calcu-item">
						<p class="num">{$root.item_data.max_buy}</p>
						<div class="tip">{$LANG.Home_duobao_Total_number_of_people_required}</div>
					</div>
				</div>
			</div>
			</div>
			<!-- 我的号码 -->
			<div class="my-code">
				{if !$user}
					<!-- 未参与 -->
					<a href="javascript:void(0);" onclick="ajax_login(function(){location.reload();});">{$LANG.Home_duobao_please_sign_in}</a>
				{$LANG.Home_duobao_Check_your_Treasure_number}
				{else}
					{if !$root.duobao_recode_list}
					<!-- 未参与 -->
					{$LANG.Home_duobao_tips11}！
					{else}
					<!-- 已参与 -->
				{$LANG.Home_duobao_You_already_have}{$root.duobao_recode_count}{$LANG.Home_duobao_treasure_numbers}
					<a class="btn-winner-code">{$LANG.Home_duobao_View_number}>></a>
					{/if}
				{/if}
			</div>
			<!-- 最新一期 -->

			{if $root.new_item_data}
			<div class="detail-newest">
				<!-- 标题 -->
				<div class="detail-newest-title">
					<strong>{$LANG.Home_duobao_Latest_issue}</strong>{$LANG.Home_duobao_In_progress}...
				</div>
				<!-- 进度条 -->
				<div class="newest-progress f_l">
					<div class="progress-wrap clearfix">
						<div class="progress f_l">
						<!-- 进度条内层 -->
							<div class="progress-bar" style="width: {$root.new_item_data.progress}%"></div>
						</div>
						<div class="newest-progress-txt f_l">{$LANG.Home_duobao_completed}{$root.new_item_data.progress}%，{$LANG.Home_duobao_Remaining}{$root.new_item_data.surplus_count}</div>
					</div>
				</div>
				<a href="{url r="index" r="duobao" p="id=$root.new_item_data.id"}" class="f_l go-newest">{$LANG.Home_duobao_Go_now}</a>
			</div>
			{else}
			<div class="detail-newest">
				<!-- 标题 -->
				<div class="detail-newest-title">
					{$LANG.Home_duobao_No_latest_issue}……
				</div>
				<!-- 进度条 -->
				<div class="newest-progress f_l">
					<div class="progress-wrap clearfix">
						<div class="progress f_l">
						<!-- 进度条内层 -->
							<div class="progress-bar" style="width: 0%"></div>
						</div>
						<div class="f_l" style="color: #999999;">{$LANG.Home_duobao_completed}0%</div>
					</div>
				</div>
				<a href="{url r="index" r="duobaos"}" class="f_l" style="height: 45px;line-height: 45px;margin-top: 5px;">{$LANG.Home_duobao_Go_to_view_more_products}</a>
			</div>
			{/if}
		{/if}
	</div>
</div>
<div class="wrap_full_w">
<!-- 选项卡 -->
	<div class="detail-tab">
		{if $root.item_data.progress lt 100 and $root.item_data.success_time eq 0}
		<div id="intro-tab" class="tab-item tab-item-selected">{$LANG.Home_duobao_product_details}</div>
		{else}
		<div id="result-tab" class="tab-item tab-item-selected">{$LANG.Home_duobao_Calculation_results}</div>
		{/if}
		<div id="record-tab" class="tab-item">{$LANG.Home_duobao_Record_of_participation}</div>
		<div id="share-tab" class="tab-item">{$LANG.Home_duobao_Share_the_order}</div>
		<div id="history-tab" class="tab-item">{$LANG.Home_duobao_Treasures_in_the_past}</div>
	</div>
<!-- 选项卡对应内容 -->
	<div class="tab-info">
		{if $root.item_data.progress lt 100 and $root.item_data.success_time eq 0}
		<!-- 商品详情 -->
		<div id="intro-info"  class="tab-info-item" style="padding: 20px 0px;">
			{$root.item_data.description}
		</div>
		{else}
		<!-- 计算结果 -->
		<div id="result-info" class="tab-info-item">
			<div class="calcuRule">
				<div class="calcuRule-hd">
					<div class="calcuRule-hd-wrap">
						<i class="ico txt-ico"></i>
						<span class="txt">{$LANG.Home_duobao_Lucky_number_calculation_rules}</span>
					</div>
				</div>
				<div class="rule-wrap">
					<ol class="rule-list">
						<li><span class="index">1</span>{$LANG.Home_duobao_tips15}</li>
						<li><span class="index">2</span>{$LANG.Home_duobao_tips16}</li>
						<li><span class="index">3</span>{$LANG.Home_duobao_tips17}</li>
						<li><span class="index">4</span>{$LANG.Home_duobao_tips18}<i class="ico ico-question" style="margin-top: -3px">
							<div class="tips-layer">
								<i class="ico small-tip-ico"></i>
								<b class="txt-red">{$LANG.Home_duobao_remainder}：</b>{$LANG.Home_duobao_tips19}
							</div>
						</i> + {$LANG.Home_duobao_tips20}</li>
						<li class="txt-red">{$LANG.Home_duobao_tips21}{$default_lottery}。</li>
					</ol>
				</div>
			</div>
			<table class="tab-result-list" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th class="time" colspan="2">{$LANG.Home_duobao_Treasure_hunting_time}</th>
						<th>{$LANG.Home_duobao_Member_Account}</th>
						<th>{$LANG.Home_duobao_product_name}</th>
						<th width="70">{$LANG.Home_duobao_Commodity_number}</th>
						<th width="70">{$LANG.Home_duobao_Participants}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="start-row">
						<td colspan="6">{$LANG.Home_duobao_tips25}【{$root.item_data.f_success_time_50}】{$LANG.Home_duobao_tips26}</td>
					</tr>
					{if $root.duobao_order_log}
					{foreach from=$root.duobao_order_log item=duobao_order_log}
					<tr class="calcu-row">
						<td class="day">{function name=to_date v=$duobao_order_log.create_time g="y-m-d"}</td>
						<td class="time">
							{$duobao_order_log.create_time_format}<i class="ico ico-arrow-right"></i><b class="txt-red">{$duobao_order_log.fair_sn_local}</b>
						</td>
						<td class="user-name">
							<div class="txt-over">
								<a href="{url i="index" r="home" p="id=$duobao_order_log.user_id"}" target="_blank">{$duobao_order_log.user_name}</a>
							</div>
						</td>
						<td class="g-name">
							<a href="{url i="index" r="duobao" p="id=$duobao_order_log.duobao_item_id"}" target="_blank">{$duobao_order_log.name}</a>
						</td>
						<td>{$duobao_order_log.duobao_item_id}</td>
						<td>{$duobao_order_log.number}{$LANG.Home_duobao_Person_times}</td>
					</tr>
					{/foreach}
					{/if}
					<tr class="result-row">
						<td colspan="6">
							<h4>{$LANG.Home_duobao_Calculation_results}</h4>
							<ol>
								<li><span class="index">1、</span>{$LANG.Home_duobao_Sum}：{$root.item_data.fair_sn_local} {$LANG.Home_duobao_tips25}</li>
								<li><span class="index">2、</span>{if $root.item_data.fair_sn neq '111111'}{if $root.item_data.fair_type eq 'wy'}{$LANG.Home_duobao_First} {$root.item_data.fair_period} {$LANG.Home_duobao_period}{/if}{/if}{$LANG.Home_duobao_Lucky_number}：{foreach from=$root.item_data.fair_sn_s item=fair_sn}<b class="ico ball">{$fair_sn}</b>{/foreach}</li>
								<li><span class="index">3、</span>{$LANG.Home_duobao_remainder}：({$root.item_data.fair_sn_local} + {foreach from=$root.item_data.fair_sn_s item=fair_sn}<b class="ico ball">{$fair_sn}</b>{/foreach}
								) % {$root.item_data.max_buy} {$LANG.Home_duobao_tips26} =
								{foreach from=$root.item_data.luck_lottery.fixed_values item=fixed_values}<b class="square">{$fixed_values}</b>{/foreach}
								({$LANG.Home_duobao_remainder})
									<i class="ico ico-question" style="margin-top: -2px">
										<div class="tips-layer">
											<i class="ico small-tip-ico"></i>
												<b class="txt-red">{$LANG.Home_duobao_remainder}：</b>{$LANG.Home_duobao_tips27}
										</div>
									</i>
								</li>
								<li><span class="index">4、</span>{foreach from=$root.item_data.luck_lottery.fixed_values item=fixed_values}<b class="square">{$fixed_values}</b>{/foreach}
								({$LANG.Home_duobao_remainder}) + 100000001 =
								{foreach from=$root.item_data.luck_lottery.lottery_sns item=lottery_sns}<b class="square">{$lottery_sns}</b>{/foreach}
								</li>
							</ol>
							<span class="result-code">{$LANG.Home_duobao_Lucky_number}： {$root.item_data.luck_lottery.lottery_sn}</span>
						</td>
					</tr>
					{if $root.duobao_order_logs}
					{foreach from=$root.duobao_order_logs item=duobao_order_logs}
					<tr class="calcu-row">
						<td class="day">{function name=to_date v=$duobao_order_logs.create_time g="y-m-d"}</td>
						<td class="time">
							{$duobao_order_logs.create_time_format}
						</td>
						<td class="user-name">
							<div class="txt-over">
								<a href="" target="_blank">{$duobao_order_logs.user_name}</a>
							</div>
						</td>
						<td class="g-name">
							<a href="" target="_blank">{$duobao_order_logs.name}</a>
						</td>
						<td>{$duobao_order_logs.duobao_item_id}</td>
						<td>{$duobao_order_logs.number}{$LANG.Home_duobao_Person_times}</td>
					</tr>
					{/foreach}
					{/if}
				</tbody>
			</table>
		</div>
		{/if}
		<!-- 夺宝参与记录 -->
		<div id="record-info" class="tab-info-item" style="min-height:300px;">
		</div>
		<!-- 晒单分享 -->
		<div id="share-info" class="tab-info-item"  style="min-height:300px;">
		</div>
		<!-- 往期夺宝 -->
		<div id="history-info" class="tab-info-item" style="min-height:300px;">
		</div>
	</div>
</div>
<div id="layer">{include file="inc/layer.html"}</div>
{include file="inc/footer.html"}
