<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/goods_item.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/duobaos_cate.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.SuperSlide.2.1.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/lazyload.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/duobao.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/duobao.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/duobaos.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/duobaos.js";

?>
{include file="inc/header.html"}

<div class="wrap_full_w clearfix sub_nav">
<a href="{url x="index"}">{$LANG.Home_duobaos_Home}</a> > <a href="{url x="index" r="duobaos"}">{$LANG.Home_duobaos_all_products}</a>{if $cate_info} > <a href="{url x="index" r="duobaos" p="id=$cate_info.id"}">{$cate_info.name}</a>{/if}
</div>

{if $cate_list}

<div class="wrap_full_w clearfix">
    <div class="cate-title">
        <h1>
        <a href="{url r="index" r="duobaos" }">{$LANG.Home_duobaos_All_goods}</a><span class="subtitle" >（{$LANG.Home_duobaos_Total} <b class="standard" >{$data.count}</b> {$LANG.Home_duobaos_Related_products}）</span>
        </h1>
    </div>
    <div class="cate-list-wrap">
         <ul class="cate-list">
        {foreach from=$cate_list key=key item=v}
            <li class="cate-item {if $key mod 8 eq 7}last{/if}">
                <a href="{url r="index" r="duobaos" p="t=$data.order&d=$data.dir&id=$v.id"}">
                <span class="dxys">
                <i class="diyfont dxys1 txt-red" >{$v.iconfont}</i>
                <i class="diyfont dxys2 txt-red" >{$v.iconfont}</i>
                </span>
                <span class="name {if $v.id eq $data.id }current{/if}">{$v.name}</span>
                </a>
            </li>
        {/foreach}
        </ul>
    </div>
</div>
{/if}

{if $data.keyword}
<div class="wrap_full_w keyword_row">
    {$LANG.Home_duobaos_product_search} - <span>“{$data.keyword}”</span>
</div>
{else}
<div class="wrap_full_w">
    <div class="order-list-wrap">
        <h3>{$LANG.Home_duobaos_Sort}：</h3>
        <ul class="ordered_List">
        <li class="{if 'hot' eq $data.order or !$data.order }scurrent{/if}">
            <a href="{url r="index" r="duobaos" p="t=hot&id=$data.id"}">
            {$LANG.Home_duobaos_Popular_search}
            </a>
        </li>
        <li class="{if 'sort' eq $data.order }scurrent{/if}">
            <a href="{url r="index" r="duobaos" p="t=sort&id=$data.id"}">
            {$LANG.Home_duobaos_Platform_recommendation}
            </a>
        </li>
        <li class="{if 'less' eq $data.order }scurrent{/if}"   >
            <a href="{url r="index" r="duobaos" p="t=less&id=$data.id"}">
            {$LANG.Home_duobaos_remaining_times}
            </a>
        </li>
        <li class="{if 'new' eq $data.order }scurrent{/if}"  >
            <a href="{url r="index" r="duobaos" p="t=new&id=$data.id"}">
            {$LANG.Home_duobaos_latest_product}
        </a>
        </li>
        <li class="{if !$data.dir and ($data.order eq 'max_buy') }scurrent{/if}"  >
            <a href="{url r="index" r="duobaos" p="t=max_buy&id=$data.id"}">
            {$LANG.Home_duobaos_Total_number_of_people_required} <i class="ico ico-arrow-sort ico-arrow-sort-gray-down"></i>
            </a>
        </li>
        <li class="{if $data.dir }scurrent{/if}"  >
            <a href="{url r="index" r="duobaos" p="t=max_buy&d=1&id=$data.id"}" >
            {$LANG.Home_duobaos_Total_number_of_people_required} <i class="ico ico-arrow-sort ico-arrow-sort-gray-up"></i>
            </a>
        </li>
        </ul>
    </div>
</div>
{/if}
<div class="wrap_full_w">
    <div class="cate-goods-list-wrap">
        {if $list}
        <ul class="cate-goods-list ui-list" width="294" pin_col_init_width="0" wSpan="8" hSpan="10">
            {foreach from=$list key=key item=cart_item_group}
			{if $cart_item_group}
				<li class="goods ui-item">
				{if $cart_item_group.min_buy eq 10}
				<div class="ico logo-box ten-logo-box"></div>
				{/if}
				{if $cart_item_group.unit_price eq 100}
				<div class="ico logo-box hundred-logo-box"></div>
				{/if}
				<div class="blank0"></div>
					<div class="goods-wrap">
						<a href="{url r="index" r="duobao" p="id=$cart_item_group.id"}" class="imgbox" title="{$cart_item_group.name}">
							<img src="{function name="get_spec_image" v=$cart_item_group.icon w=200 h=200 g=1}">
						</a>
						<a href="{url r="index" r="duobao" p="id=$cart_item_group.id"}" class="goods-title" title="{$cart_item_group.name}">
							{$cart_item_group.name}
						</a>
						<div class="p-price">
                            {$LANG.Home_duobaos_Total_need}：{$cart_item_group.max_buy}{$LANG.Home_duobaos_Person_times}
						</div>
						<!-- 进度条 -->
						<div class="progressBar" title="{$cart_item_group.progress}%">
						<!-- 进度条外层 -->
							<div class="progress">
							<!-- 进度条内层 -->
								<div class="progress-bar" style="width:{$cart_item_group.progress}%"></div>
							</div>
						</div>
						<ul class="person-info clearfix">
							<li class="f_l">
								<p class="num">{$cart_item_group.current_buy}</p>
								<p class="info">{$LANG.Home_duobaos_Participants}</p>
							</li>
							<li class="f_r tar">
								<p class="num">{$cart_item_group.surplus_buy}</p>
								<p class="info">{$LANG.Home_duobaos_Remaining}</p>
							</li>
						</ul>
						<div class="buy-info">
                            {$LANG.Home_duobaos_I_want_to_participate}：<div class="goods-number">
							<!-- 加减商品数 -->
								<div class="number-box buy-num-count">
								<!-- 减号 -->
									<a href="javascript:void(0);" class="num-btn num-btn-min">-</a>
								<!-- 输入框 -->
									<input type="text" value="{$cart_item_group.min_buy}" class="num-input" min_buy="{$cart_item_group.min_buy}" init_num="1" name="num">
								<!-- 加号 -->
									<a href="javascript:void(0);" class="num-btn num-btn-plus">+</a>
								</div>
							</div>Num
							<div class="btn-box">
								<div class="btn cate-duobao-now" buy_num="{$cart_item_group.min_buy}" data_id="{$cart_item_group.id}" onclick="add_cart_duoabos(this,1)">{$LANG.Home_duobaos_Capture_the_treasure_now}</div>
								<div class="btn add-to-list" buy_num="{$cart_item_group.min_buy}" data_id="{$cart_item_group.id}" onclick="add_cart_duoabos(this,0)">{$LANG.Home_duobaos_Add_to_list}</div>
							</div>
						</div>
					</div>
				</li>
			{else}
				<li class="goods ui-item not">
				</li>
			{/if}
            {/foreach}
        </ul>
         <div class="pages">{$pages}</div>
    </div>
    {else}
    <div class="empty" style="padding-top:20px;">
        <p class="status-empty" style="margin-top:0px;margin-bottom:20px;padding:110px;height:75px;line-height:75px;text-align:center;color:@shadow_color;font-size:17px;border:1px solid #ddd;">
            <i class="littleU littleU-cry"></i>
            &nbsp;&nbsp;{$LANG.Home_duobaos_No_related}{if $data.keyword}“<span class="txt-red" style="color:@main_color;">{$data.keyword}</span>”{/if}{$LANG.Home_duobaos_products_found}
        </p>
    </div>
    {/if}
</div>
<script>
    $(".cate-item").hover(function() {
        $(this).find('.dxys1').addClass('cate-hovered');
        $(this).find('.name').addClass('txt-red')
    }, function() {
        $(this).find('.dxys1').removeClass('cate-hovered');
        $(this).find('.name').removeClass('txt-red')
    });
</script>
{include file="inc/footer.html"}