<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/index.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/zone.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/goods_item.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.SuperSlide.2.1.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/lazyload.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/index.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/index.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/dc/js/page_js/slider.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/dc/js/page_js/slider.js";



?>
{include file="inc/header.html"}

<div class="banner">
        <div class="ten-banner">
        </div>
        <div class="ten-bolan"></div>
</div>
<div class="blank15"></div>
<div class="wrap_full_w clearfix">
    <div class="goods-list-wrap f_l">
        <h1 class="main-title">{$LANG.Home_duobaos_all_products}</h1>
        <ul class="goods-list clearfix ui-list" width="240" pin_col_init_width="0" wSpan="-1" hSpan="1">
            {foreach from=$list key=key item=cart_item_group}
            <li class="goods ui-item">
            <div class="hover_line">
            {if $cart_item_group}
            
            {if $cart_item_group.min_buy eq 10}
            <div class="ico logo-box ten-logo-box"></div>
            {/if}
            <div class="clear"></div>
                <div class="goods-wrap">
                <div class="imgbox">
                    <a href="{url r="index" r="duobao" p="id=$cart_item_group.id"}" title="{$cart_item_group.name}">
                        <img src="{$cart_item_group.icon}" width="200" height="200">
                    </a>
                </div>
                    <a href="{url r="index" r="duobao" p="id=$cart_item_group.id"}" class="goods-title" title="{$cart_item_group.name}">
                        {$cart_item_group.name}
                    </a>
                    <div class="p-price f_l">
                        {$LANG.Home_duobaos_Total_need}：{$cart_item_group.max_buy}{$LANG.Home_duobaos_Person_times}
                    </div>
                    <div class="clear"></div>
                    <div class="progress" title="{$cart_item_group.progress}%">
                        <div class="progress-bar" style="width: {$cart_item_group.progress}%"></div>
                    </div>
                    <ul class="person-info">
                        <li class="f_l">
                            <p class="num">{$cart_item_group.current_buy}</p>
                            <p class="info">{$LANG.Home_duobaos_Participants}</p>
                        </li>
                        <li class="f_r tar">
                            <p class="num">{$cart_item_group.surplus_buy}</p>
                            <p class="info">{$LANG.Home_duobaos_Remaining}</p>
                        </li>
                        <div class="clear"></div>
                    </ul>
                    <div class="btn-box">
                        <a class="duobao-now btn" buy_num="{$cart_item_group.min_buy}" data_id="{$cart_item_group.id}" onclick="add_cart(this,1)">{$LANG.Home_duobaos_Capture_the_treasure_now}</a>
                    </div>
                </div>
                {else}
                    <li class="goods goods-pic">
                        <img src="{$TMPL}/images/goods_list_li_bg.png" width="237" height="396">
                    </li>
                {/if}
            </div>
            </li>
            {/foreach}
        </ul>
         <div class="pages">{$pages}</div>
    </div>
    <div class="duobao-rule f_r">
        <h1 class="title">{$LANG.Home_duobaosh_st_tips01}</h1>
        <div class="ten-rule-wrap">
        <ul class="ten-rule">
            <li><span>1.</span>{$LANG.Home_duobaosh_st_tips02}</li>
            <li><span>2.</span>{$LANG.Home_duobaosh_st_tips03}</li>
            <li><span>3.</span>{$LANG.Home_duobaosh_st_tips04}</li>
        </ul>
        </div>
    </div>
</div>
{include file="inc/footer.html"}