<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/goods_item.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/zone.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/index.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.SuperSlide.2.1.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/lazyload.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/index.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/index.js";

?>
{include file="inc/header.html"}
<style>
	.drop_title i{display:none;}
</style>
<div class="wrap_full_w clearfix" style="position: relative;z-index: 50;">
	<div class="fix_cate_tree f_l">
		{function name="load_cate_tree" c=8}
	</div>
	<div class="left-side f_l">
	
		<div class="index-news">
		{if $agreement.agreement}
			<h1>{$agreement.agreement_name}</h1>
			<div class="agreement_content">
			{$agreement.agreement}
			</div>
			<div class="check-info">
				<a href="{url r="index" r="news" p="t=notice&id=$agreement.id"}">{$LANG.Home_index_see_details}>></a>
			</div>
		{/if}	
		</div>

	</div>
	<div class="main-banner f_l">
		<div id="slideBox" class="slideBox">
			<div class="bd">
				<div class="tempWrap">
					<ul>
						{adv group="slide" code="<li>__ADV_CODE__</li>" w="730" h="350"}

					</ul>
				</div>
			</div>
			
			<div class="hd">
				<ul>

				</ul>
			</div>
			<a class="prev iconfont control-btn slideBox-control-btn" href="javascript:void(0)"><i class="ico arrow-large arrow-large-l"></i></a>
			<a class="next iconfont control-btn slideBox-control-btn" href="javascript:void(0)"><i class="ico arrow-large arrow-large-r"></i></a>
		</div>
		<div id="txtScroll-left">
			<div class="txtScroll-left">
			{if $lastet_list}
				<div class="bd">
					<div class="tempWrap">
						<ul class="infoList">
                            {foreach from=$lastet_list item=lastet_two}
                            {foreach from=$lastet_two item=lastet}
							<li>
								<div class="new-goods">
								<!-- 正在揭晓 -->
								    {if $lastet.has_lottery eq 0}
									<i class="ico new-goods-logo goods-revealing-logo"></i>
								<!-- 最新揭晓 -->
								    {else}
									<i class="ico new-goods-logo"></i>
									{/if}
								<!-- 商品名称 -->
									<h1 class="new-goods-title">
										<a href="{url r="index" r="duobao" p="id=$lastet.id"}" title="{$lastet.duobaoitem_name}" target="_blank">{$lastet.duobaoitem_name}</a>
									</h1>
								<!-- 商品图片 -->
									<div class="new-goods-pic f_r">
										<img src="{function name="get_spec_image" v=$lastet.icon w=120 h=120 g=1}" width="120" width="120">
									</div>
								<!-- 商品信息 -->
									<p class="goods-price">{$LANG.Home_index_Total_need}{$lastet.max_buy}{$LANG.Home_index_Person_times}</p>
									<p class="code">{$LANG.Home_index_Issue}{$lastet.id}</p>
									
									<div class="show_content">
								<!-- 倒计时 -->
								    {if $lastet.has_lottery eq 0}
									<div class="goods-counting">
										<div class="goods-countdown">
											{$LANG.Home_index_Announce_the_countdown}
											<div class="countdown">
												<span class="countdown-nums">
													<time class="w-countdown-nums" nowtime="{$now_time}" endtime="{$lastet.lottery_time}" id="{$lastet.id}">
													<b>0</b><b>0</b>:<b>0</b><b>0</b>:<b>0</b><b>0</b>
												    </time>

												</span>
											</div>
										</div>
									</div>
									{/if}
									{if $lastet.has_lottery eq 1}
								<!-- 获奖信息 -->
									<div class="goods-record">
										<p class="owner">{$LANG.Home_index_Winner}<a href="{url x="index" r="home" p="id=$lastet.luck_user_id"}">{$lastet.user_name}</a></p>
										<p>{$LANG.Home_index_Participation_in_this_issue}{$lastet.luck_user_buy_count}{$LANG.Home_index_Person_times}</p>
										<p>{$LANG.Home_index_Lucky_number}{$lastet.lottery_sn}</p>
									</div>

								<!-- 错误 -->
									<div class="goods-error">
										<p>
											{$LANG.Home_index_very_sorry}
											<br>
											{$LANG.Home_index_tips01}
										</p>
									</div>
									{/if}
									</div>
									
								</div>
							</li>
							{/foreach}
                            {/foreach}
						</ul>
					</div>
				</div>
				<div class="hd">
					<ul class="num">
						<li></li>
					</ul>
				</div>
				<a class="prev iconfont txtScroll-left-control-btn" href="javascript:void(0)"><i class="ico arrow-large arrow-large-l"></i></a>
				<a class="next iconfont txtScroll-left-control-btn" href="javascript:void(0)"><i class="ico arrow-large arrow-large-r"></i></a>
				{/if}			
			</div>
		</div>
	</div>
	<div class="right-side f_r">
	<!-- 推荐夺宝 -->
	    {if $recomend_one}
		<div class="goods-recommend">
			<i class="ico goods-recommend-logo" title="{$LANG.Home_index_Recommend_Treasure}"></i>
			<div class="recommend">
				<div class="goods-pic">
					<a href="{url r="index" r="duobao" p="id=$recomend_one.id"}" title="{$recomend_one.duobaoitem_name}">
						<img src="{function name="get_spec_image" v=$recomend_one.icon w=180 h=180 g=1}" width="180" height="180">
					</a>
				</div>
				<a  class="goods-title" href="{url r="index" r="duobao" p="id=$recomend_one.id"}" title="{$recomend_one.duobaoitem_name}" target="_blank">{$recomend_one.duobaoitem_name}</a>
				<p class="goods-price">{$LANG.Home_index_Total_need}{$recomend_one.max_buy}{$LANG.Home_index_Person_times}</p>
				<!-- 进度条 -->
				<div class="progressBar">
				<!-- 进度条外层 -->
					<div class="progress">
					<!-- 进度条内层 -->
						<div class="progress-bar" style="width:{$recomend_one.progress}%"></div>
					</div>
					<!-- 进度信息 -->
					<div class="progress-txt">
						{$LANG.Home_index_completed}{$recomend_one.progress}%，{$LANG.Home_index_Remaining}<span>{$recomend_one.surplus_buy}</span>
					</div>
				</div>
				<!-- 按钮 -->
				<div class="btn-box">
					<a class="btn duobao-now" buy_num="{$recomend_one.min_buy}" data_id="{$recomend_one.id}" onclick="add_cart(this,1)">{$LANG.Home_index_Capture_the_treasure_now}</a>
				</div>
			</div>
		</div>
		{/if}
	<!-- 新品推荐 -->
	    {if $recomend_list}
		<div class="new-goods-recommend">
		<!-- 图标 -->
			<i class="ico new-goods-recommend-logo" title="{$LANG.Home_index_New_Products}"></i>
			<!-- 轮播 -->
			<div class="txtScroll-left-2">
				<div class="bd">
					<div class="tempWrap">
					<ul>
					{foreach from=$recomend_list item=recomend}
					<li>
						<div class="goods-pic">
							<a href="{url r="index" r="duobao" p="id=$recomend.id"}" target="_blank">
								<img src="{function name="get_spec_image" v=$recomend.icon w=120 h=120 g=1}" width="120" height="120">
							</a>
						</div>
						<div class="goods-info">
							<a href="{url r="index" r="duobao" p="id=$recomend.id"}" class="goods-title" title="{$recomend.duobaoitem_name}">{$recomend.duobaoitem_name}</a>
							<p title="{$recomend.duobaoitem_brief}" style="text-align:center;color: #808080;    overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{$recomend.duobaoitem_brief}</p>
						</div>
					</li>
					{/foreach}
					</ul>
					</div>
				</div>
				<a class="prev iconfont txtScroll-left-2-control-btn" href="javascript:void(0)"><i class="ico arrow-small arrow-small-l"></i></a>
				<a class="next iconfont txtScroll-left-2-control-btn" href="javascript:void(0)"><i class="ico arrow-small arrow-small-r"></i></a>
			</div>
		</div>
        {/if}
	</div>
</div>
<div class="wrap_full_w clearfix index-goods-list">
	{if $hot_duobao_list}
		<div class="goods-list-wrap f_l">
			<h1 class="main-title">{$LANG.Home_index_Hottest_item}
				<a href="{url r="index" r="duobaos" p="r=hot"}" class="title-more">{$LANG.Home_index_tips02}>></a>
			</h1>
			<ul class="goods-list ui-list" width="241" pin_col_init_width="0" wSpan="-1" hSpan="1" style="width: 961px">
			{foreach from=$hot_duobao_list item=hot_duobao}
				<li class="goods ui-item">
				<div class="hover_line">
					{if $hot_duobao.min_buy eq 10}
					<div class="ico logo-box ten-logo-box"></div>
					{/if}
					{if $hot_duobao.unit_price eq 100}
					<div class="ico logo-box hundred-logo-box"></div>
					{/if}
					<div class="goods-wrap">
					<div class="imgbox">
						<a href="{url r="index" r="duobao" p="id=$hot_duobao.id"}" title="{$hot_duobao.name}">
							<img src="{function name="get_spec_image" v=$hot_duobao.icon w=200 h=200 g=1}" lazy="true" width="200" height="200" />
						</a>
					</div>
						<a href="{url r="index" r="duobao" p="id=$hot_duobao.id"}" class="goods-title" title="{$hot_duobao.name}">
							{$hot_duobao.name}
						</a>
						<div class="p-price f_l">
							{$LANG.Home_index_Total_need}{$hot_duobao.max_buy}{$LANG.Home_index_Person_times}
						</div>
						<div class="clear"></div>
						<!-- 进度条 -->
						<div class="progressBar" title="{$hot_duobao.progress}%">
						<!-- 进度条外层 -->
							<div class="progress">
							<!-- 进度条内层 -->
								<div class="progress-bar" style="width:{$hot_duobao.progress}%"></div>
							</div>
						</div>
						<ul class="person-info">
							<li class="f_l">
								<p class="num">{$hot_duobao.current_buy}</p>
								<p class="info">{$LANG.Home_index_Participants}</p>
							</li>
							<li class="f_r tar">
								<p class="num">{$hot_duobao.less_buy}</p>
								<p class="info">{$LANG.Home_index_Remaining}</p>
							</li>
							<div class="clear"></div>
						</ul>
						<div class="btn-box clearfix">
							<a class="duobao-now btn" buy_num="{$hot_duobao.min_buy}" data_id="{$hot_duobao.id}" title="{$LANG.Home_index_Capture_the_treasure_now}" onclick="add_cart(this,1)">{$LANG.Home_index_Capture_the_treasure_now}</a>
							<a class="cart-btn" buy_num="{$hot_duobao.min_buy}" data_id="{$hot_duobao.id}" title="{$LANG.Home_index_Add_to_cart}" onclick="add_cart(this,0)"></a>
						</div>
					</div>
				</div>
				</li>
				{/foreach}
			</ul>
		</div>
	{/if}
	<div class="lottery_list f_r">
			<h1 class="lottery-title">{$LANG.Home_index_Winning_record}</h1>
			<div class="txtScroll-top">
				<div class="bd">
					<div class="tempWrap">
						<ul class="lottery_box infoList">
						{foreach from=$newest_lottery_list item=newest_lottery name="newest_lottery_foreach"}
							<li class="clearfix lottery_info {if $smarty.foreach.newest_lottery_foreach.index%2 eq 0}gray-bac{/if}" >
									<div class="user-pic f_l"><img src="{function name="get_user_avatar" uid=$newest_lottery.luck_user_id type="small"}" width="40" height="40"></div>
									<div class="f_l bonus-info">
									<div class="user-time clearfix">
										<a href="{url x="index" r="home" p="id=$newest_lottery.luck_user_id"}" class="user_name f_l" title="{$newest_lottery.user_name}(ID:{$newest_lottery.luck_user_id})">{$newest_lottery.user_name}</a><sapn class="duobao-time f_r">{$LANG.Home_index_in}{$newest_lottery.span_time}</sapn>
									</div>
									<p class="info">{$LANG.Home_index_Win}<a href="{url r="index" r="duobao" p="id=$newest_lottery.id"}" class="bonus-goods">{$newest_lottery.name}</a></p>
									<div class="p-price">
										{$LANG.Home_index_Total_need}{$newest_lottery.max_buy}{$LANG.Home_index_Person_times}
									</div>
									</div>
							</li>
						{/foreach}
						</ul>
					</div>
				</div>
			</div>
			<h2>{$LANG.Home_index_tips03}</h2>
	</div>
</div>
<div class="clear"></div>
<div class="wrap_full_w">
	{if $cate_list_product}
		{foreach from=$cate_list_product item=cate_list}
		 {if $cate_list.duobao_list}
		<div class="index-goods-list" style="width: 1201px">
			<h1 class="main-title">{$cate_list.name}
			<a href="{url r="index" r="duobaos" p="id=$cate_list.id"}" class="title-more">{$LANG.Home_index_tips02}>></a>
			</h1>
			<ul class="ui-list" width="241" pin_col_init_width="240" wSpan="-1" hSpan="1">
			<li class="cate_list">
			<img src="{$cate_list.image }" width="238" height="400"  >
			
			<!-- {adv group="cate_banner" code="" w="238" h="400"} -->
			</li>
			{foreach from=$cate_list.duobao_list item=hot_duobao}
				<li class="goods ui-item">
				<div class="hover_line">
					{if $hot_duobao.min_buy eq 10}
					<div class="ico logo-box ten-logo-box"></div>
					{/if}
					{if $hot_duobao.unit_price eq 100}
					<div class="ico logo-box hundred-logo-box"></div>
					{/if}
					<div class="goods-wrap">
						<div class="imgbox">
						<a href="{url r="index" r="duobao" p="id=$hot_duobao.id"}" title="{$hot_duobao.name}">
							<img src="{function name="get_spec_image" v=$hot_duobao.icon w=200 h=200}" width="200" height="200" lazy="true" />
						</a>
						</div>
						<a href="{url r="index" r="duobao" p="id=$hot_duobao.id"}" class="goods-title" title="{$hot_duobao.name}">
							{$hot_duobao.name}
						</a>
						<div class="p-price f_l">
							{$LANG.Home_index_Total_need}{$hot_duobao.max_buy}{$LANG.Home_index_Person_times}
						</div>
						<div class="clear"></div>
						<!-- 进度条 -->
						<div class="progressBar" title="{$hot_duobao.progress}%">
						<!-- 进度条外层 -->
							<div class="progress">
							<!-- 进度条内层 -->
								<div class="progress-bar" style="width:{$hot_duobao.progress}%"></div>
							</div>
						</div>
						<ul class="person-info">
							<li class="f_l">
								<p class="num">{$hot_duobao.current_buy}</p>
								<p class="info">{$LANG.Home_index_Participants}</p>
							</li>
							<li class="f_r tar">
								<p class="num">{$hot_duobao.less_buy}</p>
								<p class="info">{$LANG.Home_index_Remaining}</p>
							</li>
							<div class="clear"></div>
						</ul>
						<div class="btn-box">
							<a class="duobao-now btn" buy_num="{$hot_duobao.min_buy}" data_id="{$hot_duobao.id}" title="{$LANG.Home_index_Capture_the_treasure_now}" onclick="add_cart(this,1)">{$LANG.Home_index_Capture_the_treasure_now}</a>
							<a class="cart-btn" buy_num="{$hot_duobao.min_buy}" data_id="{$hot_duobao.id}" title="{$LANG.Home_index_Add_to_cart}" onclick="add_cart(this,0)"></a>
						</div>
					</div>
					</div>
				</li>
				{/foreach}
			</ul>
		</div>
	{/if}
	{/foreach}
	{/if}
</div>
<div class="wrap_full_w">
	    {if $newest_duobao_list}
		<div class="index-new-goods-list" style="width: 1201px">
			<h1 class="main-title">{$LANG.Home_index_new_arrival}
			<a href="{url r="index" r="duobaos" p="r=new"}" class="title-more">{$LANG.Home_index_tips02}>></a>
			</h1>
			<ul class="ui-list" width="241" pin_col_init_width="0" wSpan="-1" hSpan="1">
				{foreach from=$newest_duobao_list item=newest_duobao}
				<li class="goods ui-item">
				<div class="hover_line">
				{if $newest_duobao.min_buy eq 10}
					<div class="ico logo-box ten-logo-box"></div>
					{/if}
					{if $newest_duobao.unit_price eq 100}
					<div class="ico logo-box hundred-logo-box"></div>
					{/if}
					<div class="goods-wrap">
						<div class="imgbox">
						<a href="{url r="index" r="duobao" p="id=$newest_duobao.id"}" title="{$newest_duobao.name}">
							<img src="{$newest_duobao.icon}" width="200" height="200" lazy="true" />
						</a>
						</div>
						<a href="{url r="index" r="duobao" p="id=$newest_duobao.id"}" class="goods-title" title="{$newest_duobao.name}">
							{$newest_duobao.name}
						</a>
						<div class="p-price f_l">
							{$LANG.Home_index_Total_need}{$newest_duobao.max_buy}{$LANG.Home_index_Person_times}
						</div>
					</div>
					</div>
				</li>
				{/foreach}
			</ul>
		</div>
		{/if}
</div>
<div class="wrap_full_w">
		<div class="index-share-list" style="width: 1201px;border-bottom: 1px solid #ddd">
			<h1 class="main-title" style="border-bottom: 1px solid #d2d2d2;">{$LANG.Home_index_new_arrival}
			<a href="{url r="index" r="share"}" class="title-more">{$LANG.Home_index_tips02}>></a>
			</h1>
			<div class="multipleLine">
				<div class="bd">
					<div class="ulWrap">
						{foreach from=$share_list item=share}
						<ul class="clearfix">
							{if $share.0}
							<li class="index-share f_l left">
								<a href="{url r="index" r="share#detail" p="id=$share.0.id"}" class="share-pic" target="_blank" style="background-image:url({$share.0.image_list.0.path});background-size:100% 100%;"></a>
								<div class="share-info">
									<i class="ico quote quote-b"></i>
									<i class="ico quote quote-a"></i>
									<p class="share-txt" style="cursor:pointer;" onclick="window.location.href= '{url r="index" r="share#detail" p="id=$share.0.id"}';return false">【{$share.0.title}】{$share.0.content}</p>
									<p class="author">
										—— <a href="{url r="index" r="home" p="id=$share.0.user_id"}" title="{{$share.0.user_name}}(ID:{$share.0.user_id})" target="_blank">{$share.0.user_name}</a>
										{$share.0.create_time}
									</p>
								</div>
							</li>
							{/if}
							{if $share.1}
							<li class="index-share f_l">
								<a href="{url r="index" r="share#detail" p="id=$share.1.id"}" class="share-pic" target="_blank" style="background-image:url({$share.1.image_list.0.path});background-size:100% 100%;"></a>
								<div class="share-info">
									<i class="ico quote quote-b"></i>
									<i class="ico quote quote-a"></i>
									<p class="share-txt" style="cursor:pointer;" onclick="window.location.href= '{url r="index" r="share#detail" p="id=$share.1.id"}';return false">【{$share.1.title}】{$share.1.content}</p>
									<p class="author">
										—— <a href="{url r="index" r="home" p="id=$share.1.user_id"}" title="{{$share.1.user_name}}(ID:{$share.1.user_id})" target="_blank">{$share.1.user_name}</a>
										{$share.1.create_time}
									</p>
								</div>
							</li>
							{/if}
						</ul>
						{/foreach}
					</div>
				</div>
			</div>
		</div>
</div>
<script>
/*轮播图*/
	var slide_count = $(".slideBox").find(".bd ul li").length;
	var ctl_html = "";
	for(var i=0;i<slide_count;i++)
	{
		ctl_html+="<li></li>";
	}
	 $(".slideBox").find(".hd ul").html(ctl_html);
	$(".slideBox").slide({mainCell:".bd ul",effect:"left",autoPlay:true}).hover(function() {
		$(".slideBox-control-btn").show()
	}, function() {
		$(".slideBox-control-btn").hide()
	});
/*中奖纪录*/
	$(".txtScroll-top").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"top",autoPlay:true,vis:8});
/*最新揭晓左右轮播*/
	$(".txtScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,scroll:2,vis:2}).hover(function() {
		$(".txtScroll-left-control-btn").show()
	}, function() {
		$(".txtScroll-left-control-btn").hide()
	});
/*新品推荐左右轮播*/
$(".txtScroll-left-2").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true}).hover(function() {
		$(".txtScroll-left-2-control-btn").show()
	}, function() {
		$(".txtScroll-left-2-control-btn").hide()
	});
/*晒单分享*/
jQuery(".multipleLine").slide({titCell:".hd ul",mainCell:".bd .ulWrap",autoPage:true,effect:"top",autoPlay:true,vis:2});
</script>
{include file="inc/footer.html"}