<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/index.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/cart_index.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/payment_done.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/goods_item.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/zone.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/lazyload.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";

?>
{include file="inc/header_cart.html"}
<!-- 支付成功 -->
<div class="blank20"></div>
<div class="wrap_full_w">
<!-- 充值成功 -->
	{if $order_info.type==1}
	<style>
		.process_head{display:none;}
	</style>
	
	<div class="message">
		<div class="suc-ico ico"></div>
		<h1 class="title">{$LANG.Home_payment_done_Congratulations_get}{$order_info.pay_amount}{$LANG.Home_payment_done_treasure_coins}
		</h1>
		<div class="tips">
			<p>{$LANG.Home_payment_done_You_can_now}
			<a class="btn btn-main" href="{$APP_ROOT}/">{$LANG.Home_payment_done_Back_to_homepage}</a>
			</p>
		</div>
	</div>
	{else}
	<div class="message">
		<div class="suc-ico ico"></div>
		<h1 class="title">{$LANG.Home_payment_done_tips01}<a style="font-size: 13px;font-weight: normal;" href="{url r="index" p="uc_duobao"}">{$LANG.Home_payment_done_View_Treasure_Record}</a>
		</h1>
		<div class="tips">
			<p>{$LANG.Home_payment_done_You_can_now}
			<a href="{$APP_ROOT}/">{$LANG.Home_payment_done_Back_to_homepage}</a>
				{$LANG.Home_payment_done_or}
			<a href="{url x="index" r="duobaos"}" class="btn btn-main">{$LANG.Home_payment_done_View_more_products}</a>
			</p>
			<p style="margin-top: 8px">{$LANG.Home_payment_done_tips02}{$total_number}{$LANG.Home_payment_done_tips03}</p>
		</div>
	</div>
	<table>
		<thead>
			<tr>
				<th width="219">{$LANG.Home_payment_done_Treasure_hunting_time}</th>
				<th width="270">{$LANG.Home_payment_done_product_name}</th>
				<th width="100" style="text-align: center;">{$LANG.Home_payment_done_Commodity_number}</th>
				<th width="100" style="text-align: center;">{$LANG.Home_payment_done_Participants}</th>
				<th width="361">{$LANG.Home_payment_done_Current_number}</th>
			</tr>
		</thead>
		{if $order_item}
		<tbody>
		{foreach from=$order_item item=item}
			<tr>
				<td>{$item.create_time_format}</td>
				<td><a href="{url r="index" p="duobao" b="id=$item.duobao_item_id"}">{$item.name}</a></td>
				<td style="text-align: center;">{$item.duobao_item_id}</td>
				<td style="text-align: center;">{$item.number}</td>
				<td>
					<ul>
					{foreach from=$item.lottery_sn_list item=lottery_item name="lottery_sn_list"}
						{if $smarty.foreach.lottery_sn_list.index lt 7}
						<li>{$lottery_item}</li>
						{/if }
					{/foreach}
					{if count($item.lottery_sn_list) gt 7}
						<li><a href="javascript:my_no_all({$item.duobao_item_id},{$order_info.user_id},{$item.id});">{$LANG.Home_payment_done_see_more}>></a></li>
						{/if}
					</ul>
				</td>
			</tr>
			{/foreach}
		</tbody>
		{/if}
	</table>
	{/if}
</div>
{include file="inc/footer.html"}