<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/share.css";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.SuperSlide.2.1.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/lazyload.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/share.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/share.js";




?>
{include file="inc/header.html"}

<div class="banner">
        <div class="wrap_full_w share-banner">
        	<div class="share-footer">
        		<img src="{$TMPL}/images/share-footer.png">
        	</div>
        </div>
        <div class="ico share-bolan"></div>
</div>
<div class="blank15"></div>
<div class="wrap_full_w">
	<div class="main-title"><h1>{$LANG.Home_share_A_total_of} <b class="txt-red">{$count}</b> {$LANG.Home_share_orders}</h1></div>
	{if $count eq 0 }
			<div class="null-data">
				<p class="txt">{$LANG.Home_share_No_single_record_yet}</p>
				<div class="blank20"></div>

			</div>
			{/if}
	<div class="pin-layout" id="share-pin-box">
		
	</div>
		<input type="hidden" name="page" id="hd_page" value="{$page}" />
		<input type="hidden" name="step_size" id="hd_step_size" value="{$step_size}" />
		<input type="hidden" name="step" id="hd_step" /> 
		<input type="hidden" name="ajax_wait" id="ajax_wait" /> 
	<div id="pin-loading" style="height:50px;text-align:center;">{$LANG.Home_share_Loading}</div>
	<div class="pages">{$pages}</div>
</div>
{include file="inc/footer.html"}