<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/zone.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/index.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/index.js";
?>
{include file="inc/header.html"}
	<div class="wrap_full_w">
		<div class="goods-list-wrap fl">
			<h1 class="main-title">所有商品</h1>
			<ul class="goods-list">
				<li class="goods">
				<div class="ten-logo-box"></div>
					<div class="goods-wrap">
						<a href="#" class="imgbox">
							<img src="http://img02.ygqq.com/upload/goodsfile/20151128/1_1448691146396.jpg_200x200.png">
						</a>
						<a href="#" class="goods-title">
						</a>
						<div class="p-price fl">
							总需：2000人次
						</div>
						<div class="clear"></div>
						<div class="progress">
							<div class="progress-now" style="width: 72%"></div>
						</div>
						<ul class="person-info">
							<li class="fl">
								<p class="num">10533</p>
								<p class="info">已参与人次</p>
							</li>
							<li class="fr tar">
								<p class="num">4047</p>
								<p class="info">剩余人次</p>
							</li>
							<div class="clear"></div>
						</ul>
						<div class="btn-box">
							<a class="duobao-now">立即夺宝</a>
						</div>
					</div>
				</li>
				<li class="goods">
				<div class="ten-logo-box"></div>
					<div class="goods-wrap">
						<a href="#" class="imgbox">
							<img src="http://img02.ygqq.com/upload/goodsfile/20151128/1_1448691146396.jpg_200x200.png">
						</a>
						<a href="#" class="goods-title">
						</a>
						<div class="p-price fl">
							总需：2000人次
						</div>
						<div class="clear"></div>
						<div class="progress">
							<div class="progress-now" style="width: 72%"></div>
						</div>
						<ul class="person-info">
							<li class="fl">
								<p class="num">10533</p>
								<p class="info">已参与人次</p>
							</li>
							<li class="fr tar">
								<p class="num">4047</p>
								<p class="info">剩余人次</p>
							</li>
							<div class="clear"></div>
						</ul>
						<div class="btn-box">
							<a class="duobao-now">立即夺宝</a>
						</div>
					</div>
				</li>				<li class="goods">
				<div class="ten-logo-box"></div>
					<div class="goods-wrap">
						<a href="#" class="imgbox">
							<img src="http://img02.ygqq.com/upload/goodsfile/20151128/1_1448691146396.jpg_200x200.png">
						</a>
						<a href="#" class="goods-title">
						</a>
						<div class="p-price fl">
							总需：2000人次
						</div>
						<div class="clear"></div>
						<div class="progress">
							<div class="progress-now" style="width: 72%"></div>
						</div>
						<ul class="person-info">
							<li class="fl">
								<p class="num">10533</p>
								<p class="info">已参与人次</p>
							</li>
							<li class="fr tar">
								<p class="num">4047</p>
								<p class="info">剩余人次</p>
							</li>
							<div class="clear"></div>
						</ul>
						<div class="btn-box">
							<a class="duobao-now">立即夺宝</a>
						</div>
					</div>
				</li>				<li class="goods">
				<div class="ten-logo-box"></div>
					<div class="goods-wrap">
						<a href="#" class="imgbox">
							<img src="http://img02.ygqq.com/upload/goodsfile/20151128/1_1448691146396.jpg_200x200.png">
						</a>
						<a href="#" class="goods-title">
						</a>
						<div class="p-price fl">
							总需：2000人次
						</div>
						<div class="clear"></div>
						<div class="progress">
							<div class="progress-now" style="width: 72%"></div>
						</div>
						<ul class="person-info">
							<li class="fl">
								<p class="num">10533</p>
								<p class="info">已参与人次</p>
							</li>
							<li class="fr tar">
								<p class="num">4047</p>
								<p class="info">剩余人次</p>
							</li>
							<div class="clear"></div>
						</ul>
						<div class="btn-box">
							<a class="duobao-now">立即夺宝</a>
						</div>
					</div>
				</li>				<li class="goods">
				<div class="ten-logo-box"></div>
					<div class="goods-wrap">
						<a href="#" class="imgbox">
							<img src="http://img02.ygqq.com/upload/goodsfile/20151128/1_1448691146396.jpg_200x200.png">
						</a>
						<a href="#" class="goods-title">
						</a>
						<div class="p-price fl">
							总需：2000人次
						</div>
						<div class="clear"></div>
						<div class="progress">
							<div class="progress-now" style="width: 72%"></div>
						</div>
						<ul class="person-info">
							<li class="fl">
								<p class="num">10533</p>
								<p class="info">已参与人次</p>
							</li>
							<li class="fr tar">
								<p class="num">4047</p>
								<p class="info">剩余人次</p>
							</li>
							<div class="clear"></div>
						</ul>
						<div class="btn-box">
							<a class="duobao-now">立即夺宝</a>
						</div>
					</div>
				</li>				<li class="goods">
				<div class="ten-logo-box"></div>
					<div class="goods-wrap">
						<a href="#" class="imgbox">
							<img src="http://img02.ygqq.com/upload/goodsfile/20151128/1_1448691146396.jpg_200x200.png">
						</a>
						<a href="#" class="goods-title">
						</a>
						<div class="p-price fl">
							总需：2000人次
						</div>
						<div class="clear"></div>
						<div class="progress">
							<div class="progress-now" style="width: 72%"></div>
						</div>
						<ul class="person-info">
							<li class="fl">
								<p class="num">10533</p>
								<p class="info">已参与人次</p>
							</li>
							<li class="fr tar">
								<p class="num">4047</p>
								<p class="info">剩余人次</p>
							</li>
							<div class="clear"></div>
						</ul>
						<div class="btn-box">
							<a class="duobao-now">立即夺宝</a>
						</div>
					</div>
				</li>				<li class="goods">
				<div class="ten-logo-box"></div>
					<div class="goods-wrap">
						<a href="#" class="imgbox">
							<img src="http://img02.ygqq.com/upload/goodsfile/20151128/1_1448691146396.jpg_200x200.png">
						</a>
						<a href="#" class="goods-title">
						</a>
						<div class="p-price fl">
							总需：2000人次
						</div>
						<div class="clear"></div>
						<div class="progress">
							<div class="progress-now" style="width: 72%"></div>
						</div>
						<ul class="person-info">
							<li class="fl">
								<p class="num">10533</p>
								<p class="info">已参与人次</p>
							</li>
							<li class="fr tar">
								<p class="num">4047</p>
								<p class="info">剩余人次</p>
							</li>
							<div class="clear"></div>
						</ul>
						<div class="btn-box">
							<a class="duobao-now">立即夺宝</a>
						</div>
					</div>
				</li>				<li class="goods">
				<div class="ten-logo-box"></div>
					<div class="goods-wrap">
						<a href="#" class="imgbox">
							<img src="http://img02.ygqq.com/upload/goodsfile/20151128/1_1448691146396.jpg_200x200.png">
						</a>
						<a href="#" class="goods-title">
						</a>
						<div class="p-price fl">
							总需：2000人次
						</div>
						<div class="clear"></div>
						<div class="progress">
							<div class="progress-now" style="width: 72%"></div>
						</div>
						<ul class="person-info">
							<li class="fl">
								<p class="num">10533</p>
								<p class="info">已参与人次</p>
							</li>
							<li class="fr tar">
								<p class="num">4047</p>
								<p class="info">剩余人次</p>
							</li>
							<div class="clear"></div>
						</ul>
						<div class="btn-box">
							<a class="duobao-now">立即夺宝</a>
						</div>
					</div>
				</li>
				<div class="clear"></div>
			</ul>
			
			<div class="clear"></div>
		</div>
	</div>
{include file="inc/footer.html"}
