<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/getpassword_page.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/user_getpassword.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/user_getpassword.js";
?>
{include file="inc/header.html"}
<div class="blank20"></div>
<div class="{function name="load_wrap" t=$wrap_type}">

	
	<div class="layout_box">	
	<div class="title">{$LANG.Home_user_getpassword_Retrieve_password}</div>
	<div class="content clearfix" id="getpassword_form">	
		<div class="form_panel">
		<div class="panel find_type">
			<div>
				<table>
					<tr>
						<td width="40"><span class="iconfont">&#xe617;</span></td>
						<td width="250">
							<h1>{$LANG.Home_user_getpassword_Through_the_bound_mailbox}</h1>
							<h2>{$LANG.Home_user_getpassword_tips01}</h2>
						</td>
						<td>
							<a href="{url r="index" r="user#e_getpassword"}"><button class="ui-button orange" rel="orange">{$LANG.Home_user_getpassword_Get_it_back_immediately}</button></a>
						</td>
					</tr>
				</table>				
			</div>
			{if app_conf("SMS_ON") eq 1}
			<div>
				<table>
					<tr>
						<td width="40"><span class="iconfont">&#xe61a;</span></td>
						<td width="250">
							<h1>{$LANG.Home_user_getpassword_Through_the_bound_mobile_phone}</h1>
							<h2>{$LANG.Home_user_getpassword_tips02}</h2>
						</td>
						<td>
							<a href="{url r="index" r="user#m_getpassword"}"><button class="ui-button blue" rel="blue">{$LANG.Home_user_getpassword_Get_it_back_immediately}</button></a>
						</td>
					</tr>
				</table>
			</div>
			{/if}
		</div>
		</div>
	</div><!--end content-->
	</div>
	

</div>
<div class="blank20"></div>
{include file="inc/footer.html"}