<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/register_page.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/user_register.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/user_register.js";
?>
{include file="inc/header.html"}
<div class="blank20"></div>
<div class="{function name="load_wrap" t=$wrap_type}">

<div class="layout_box" id="user_register_box">	
	<div class="title">{$LANG.Home_user_register_register}</div>
	<div class="content clearfix">	
		<div class="wrap_m1 f_l">
			{include file="inc/register_box.html"}
		</div>
		<div class="wrap_s1 f_r">
			<span class="login_tip">{$LANG.Home_user_register_Already_have_an_account}</span>
			<a href="{url x="index" r="user#login"}" class="do_login">
			<button class="ui-button f_l" rel="light" type="button">{$LANG.Home_user_register_log_in_immediately}</button>
			</a>
		</div>
	</div>
</div>	

</div>

<div class="blank20"></div>
{include file="inc/footer.html"}