<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/getpassword_page.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/user_getpassword.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/user_getpassword.js";
?>
{include file="inc/header.html"}
<div class="blank20"></div>
<div class="{function name="load_wrap" t=$wrap_type}">

	
	<div class="layout_box">	
	<div class="title">{$LANG.Home_user_e_getpassword_Retrieve_password_by_email}</div>
	<div class="content clearfix" id="getpassword_form">	
		<div class="form_panel">
		<div class="panel">
		<form name="getpassword_form" class="getpassword" method="post" action="{url x="index" r="user#dogetpassword"}">
			
			<dl>
				<dt>{$LANG.Home_user_e_getpassword_mailbox}</dt>
				<dd>
					<input class="ui-textbox" name="getpassword_email" holder="{$LANG.Home_user_e_getpassword_tips01}" />
					<span class="form_tip"></span>
				</dd>
			</dl>			
			<dl>
				<dt>{$LANG.Home_user_e_getpassword_Image_verification_code}</dt>
				<dd>
					<input type="text" name="verify_code" class="ui-textbox img_verify" holder="{$LANG.Home_user_e_getpassword_Please_enter_image_text}" />
					<img src="{$APP_ROOT}/verify.php" class="verify" rel="{$APP_ROOT}/verify.php" />
					<a href="javascript:void(0);" class="refresh_verify">{$LANG.Home_user_e_getpassword_tips02}</a>
					<span class="form_tip"></span>
				</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>

					<button class="ui-button orange f_l" rel="orange" type="submit">{$LANG.Home_user_e_getpassword_Retrieve_password}</button>
				</dd>
			</dl>
			
		</form>
		</div>
		</div>
	</div><!--end content-->
	</div>
	

</div>
<div class="blank20"></div>
{include file="inc/footer.html"}