<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/modify_password_page.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/user_modify_password.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/user_modify_password.js";
?>
{include file="inc/header.html"}
<div class="blank20"></div>
<div class="{function name="load_wrap" t=$wrap_type}">

	
	<div class="layout_box">	
	<div class="title">{$LANG.Home_user_modify_password_Reset_Password}</div>
	<div class="content clearfix" id="modify_password_form">	
		<div class="form_panel">
		<div class="panel" style="padding: 30px 400px">
		<form name="modify_password_form" class="modify_password" method="post" action="{url x="index" r="user#domodifypassword"}">
			<input type="hidden" name="code" value="{$find_user_info.password_verify}" />
			<input type="hidden" name="id" value="{$find_user_info.id}" />
			<dl>
				<dt>{$LANG.Home_user_modify_password_new_password}</dt>
				<dd>
					<input type="password" name="user_pwd" class="ui-textbox" holder="{$LANG.Home_user_modify_password_Please_enter_a_new_password}" />
					<span class="form_tip"></span>
				</dd>
			</dl>
			<dl class="pwd_chk_line">
				<dt></dt>
				<dd>
					<ul>
						<li rel="0">{$LANG.Home_user_modify_password_weak}</li>
						<li rel="1">{$LANG.Home_user_modify_password_in}</li>
						<li rel="2" class="no_margin">{$LANG.Home_user_modify_password_Strong}</li>
					</ul>
				</dd>
			</dl>
			<dl>
				<dt>{$LANG.Home_user_modify_password_confirm_password}</dt>
				<dd>
					<input type="password" name="user_pwd_confirm" class="ui-textbox" holder="{$LANG.Home_user_modify_password_Please_enter_the_password_again}" />
					<span class="form_tip"></span>
				</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>
					<button class="ui-button f_l orange" rel="orange" type="submit">{$LANG.Home_user_modify_password_Confirm_the_changes}</button>
					
				</dd>
			</dl>
			
		</form>
		</div>
		</div>
	</div><!--end content-->
	</div>
	

</div>
<div class="blank20"></div>
{include file="inc/footer.html"}