<script type="text/javascript">
var LOAD_REPLY_LIST_URL = "{:u("WeixinReply/ajaxnews",array('main_id'=>$reply['id']))}";
</script>
 <load href='__TMPL__Common/js/weixin/init_relate_reply.js' />
 <!-- 多图文 -->
<div class="control-group cf clearfix">
	<label class="control-label" >{%Public_Multi_text_reply}</label>
	<div class="controls">
		<button type="button" class="btn" id="add_relate_reply">{%ADD}</button>
		<span class="help-inline">{%Public_Up_to_9}</span>
	</div>
</div>
<div class="control-group cf clearfix" id="relate_table_div" <if condition="!$relate_replys">style="display:none;"</if> >
	<div class="controls" id="relate_reply_box">
 		<if condition="$relate_replys">
		<table id="relate_table" class="dataTable">
			<tr>
				<th>{%Public_Operate}</th>
				<th>{%Public_Reply_content}</th>
			</tr>
 			<foreach name="relate_replys" item="relate_reply">
			<tr>
				<td><a class="remove_relate" href="javascript:void(0);">{%DEL}</a></td>
				<td>
					<input type="hidden" value="{$relate_reply.id}" name="relate_reply_id[]" id="relate_reply_id_{$relate_reply.id}">
					{$relate_reply.reply_news_description}
				</td>
			</tr>
			</foreach>
		</table>
		</if>
	</div>
</div>
<!-- 多图文 -->