<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_duobao.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/home.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/plupload.full.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";


?>
{include file="inc/header.html"}

<div class="blank20"></div>

<div class="{function name="load_wrap" t=$wrap_type} clearfix">
	<div class="side_nav f_l ">
		{include file="inc/home_nav_list.html"}
	</div>
	<div class="m-user-frame-colMain">
		{include file="inc/home_info.html"}

		<div class="m-user-frame-content" pro="userFrameWraper">
			<div class="m-user-duobao">
				<div class="m-user-comm-wraper">
					<div class="m-user-comm-cont">
						<div class="m-user-comm-title">
							<div class="m-user-comm-navLandscape">
								<span class="title">{$LANG.Home_Duobao_Treasure_Record}</span>
							</div>

						</div>



						<div>
							{if $list}
							<div class="listCont">
								<div id="pro-view-18">
									<table class="m-user-comm-table">
										<thead style="background:#f2f2f2;">
										<tr>
											<th class="col-info-th">{$LANG.Home_Duobao_Product_information}</th>
											<th class="col-period-th">{$LANG.Home_Duobao_Issue}</th>
											<th class="col-joinNum-th">{$LANG.Participants}</th>
											<th class="col-status-th">{$LANG.Treasure_Status}</th>
											<th class="col-opt-th">{$LANG.Operate}</th>
										</tr>
										</thead>
									</table>
									<div class="duobaoList">
									<table class="m-user-comm-table">
										<tbody>
										{foreach from=$list item=value}
										<tr>
											<td class="col-info">
												<div class="w-goods-l">
													<div class="w-goods-pic">
														<a href="{url r="index" r="duobao" p="id=$value.duobao_item.id"}" style="text-decoration:none;color:#3399ff;">
															<img src="{function name="get_spec_image" v=$value.duobao_item.icon w=74 h=74 g=1}" alt="{$value.name}" width="74" height="74" style="border:0px;" />
														</a>
													</div>
													<p class="w-goods-title">
														{if $value.duobao_item.min_buy eq 10}
														<span class="type-ten">{$LANG.Ten_Money_Zone}</span>&nbsp;{/if}
														{if $value.duobao_item.unit_price eq 100}
														<span class="type-ten" style="background-color:red">{$LANG.Home_Duobao_Hundred_Money_Zone}</span>&nbsp;{/if}
														<a title="{$value.name}" href="{url r="index" r="duobao" p="id=$value.duobao_item.id"}" style="text-decoration:none;color:#333333;">{$value.name}</a>
													</p>
													<p class="w-goods-price">{$LANG.Home_Duobao_Total}：{$value.duobao_item.max_buy}{$LANG.Home_Duobao_Person_times}</p>
													<div class="winner">
														{if $value.duobao_item.has_lottery eq 1}
														<div class="name">{$LANG.Home_Duobao_Winner}：<a href="{url x="index" r="home" p="id=$value.duobao_item.luck_user_id"}" title="{$value.duobao_item.luck_user_name}" style="text-decoration:none;color:#3399ff;">{$value.duobao_item.luck_user_name}</a>（Participate issue<strong class="txt-dark" style="color:#333333;">{$value.duobao_item.luck_user_buy_count}</strong>Num）
														</div>
														<div class="code">{$LANG.Home_Duobao_Lucky_code}：<strong class="txt-impt" style="color:#db3652;">{$value.duobao_item.lottery_sn}</strong></div>
														<div class="time">{$LANG.Home_Duobao_Announce_time}：{function name="to_date" v=$value.duobao_item.lottery_time}</div>
														{else}
														<div class="progress">
                       									<div class="progress-bar" style="width: {$value.duobao_item.progress}%"></div>
                    									</div>
														{$LANG.Home_Duobao_Completed}{$value.duobao_item.progress}%，{$LANG.Home_Duobao_Remaining}{$value.duobao_item.less}
														{/if}
													</div>
												</div>
											</td>
											<td class="col-period">{$value.duobao_item.id}</td>
											<td class="col-joinNum">{$value.number}{$LANG.Home_Duobao_Person_times}</td>
											<td class="col-status">
												{if $value.duobao_item.has_lottery eq 1}
												{$LANG.Home_Duobao_Announced}
												{else}
												{$LANG.Home_Duobao_Ongoing}
												{/if}
											</td>
											<td class="col-opt" style="">
												{if $value.duobao_item.has_lottery eq 1}
													{if $value.duobao_item.new_duobao_item_id}
														<a class="w-button-main" href='{url r="index" r="duobao" p="dbid=$value.duobao_item.duobao_id"}'>{$LANG.Home_Duobao_Participate_in_the_latest}</a>
													{else}
														<a class="w-button-main" href='{url r="index" r="duobao" p="id=$value.duobao_item.id"}'>{$LANG.Home_Duobao_See_Details}</a>
													{/if}
												{else}
													{if $value.duobao_item.progress eq 100}
														{if $value.duobao_item.new_duobao_item_id}
															<a class="w-button-main" href='{url r="index" r="duobao" p="dbid=$value.duobao_item.duobao_id"}'>{$LANG.Home_Duobao_Participate_in_the_latest}</a>
														{else}
															<a class="w-button-main" href='{url r="index" r="duobao" p="id=$value.duobao_item.id"}'>{$LANG.Home_Duobao_See_Details}</a>
														{/if}
													{else}
													<a class="w-button-main" href='{url r="index" r="duobao" p="id=$value.duobao_item.id"}'>{$LANG.Home_Duobao_Follow_to_buy}</a>
													{/if}
												{/if}
												<p class="w-goods-price">
												Ta {$LANG.Home_Duobao_Participate}{$value.number}{$LANG.Home_Duobao_Times}<br />
													<a href="javascript:my_no_all({$value.duobao_item.id},{$home_user.id});"  style="color:#3399ff;">{$LANG.Home_Duobao_View_Raiders_Number}</a>
												</p>
											</td>
										</tr>
										{/foreach}
										</tbody>
									</table>
									</div>
									<div class="pages">{$pages}</div>
								</div>
							</div>

							{else}
							<div class="listCont">
							<div >
									<div class="duobaoList">
										<div class="m-user-comm-empty">
											<div class="i-desc">Ta {$LANG.Home_Duobao_There_is_no_corresponding_treasure_record}</div>
											<div class="i-opt">
												<a href="{url r="index" }" style="color:#ffffff;border:none;white-space:nowrap;font-size:18px;display:inline-block;vertical-align:middle;padding:0px 35px;height:45px;line-height:45px;border-radius:4px;cursor:pointer;font-family:'microsoft yahei', simhei;outline:none;text-decoration:none !important;background:#dd344f;">{$LANG.Home_Duobao_Go_shopping_immediately}</a>
											</div>
										</div>
									</div>
									<div pro="pager" class="pager" style="text-align:right;"></div>
								</div>
							</div>
							{/if}



						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="blank20"></div>
{include file="inc/footer.html"}
