<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_account.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/plupload.full.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_account.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_account.js";
?>
{include file="inc/header.html"}

<script type="text/javascript" src="{$APP_ROOT}/system/region.js"></script>	
<script>
var UPLOAD_URL = '{url x="index" r="file#upload_avatar"}';
</script>
<div class="blank20"></div>

<div class="{function name="load_wrap" t=$wrap_type} clearfix">
	<div class="side_nav f_l ">
		{include file="inc/uc_nav_list.html"}
	</div>
	<div class="right_box">
		<ul class="web-map clearfix">
			<li>{$LANG.Home_uc_account_index_current_location}</li>
			<li><a href="{url x="index" r="uc_center"}">{$LANG.Home_uc_account_index_My_treasure}</a> ></li>
			<li class="txt-red">{$LANG.Home_uc_account_index_account_settings}</li>
		</ul>
		<div class="setting_user_info">
			
			<form name="setting_user_info" action="{url x="index" r="uc_account#save"}" method="post" bindsubmit="true">
			<div class="content">

				{if $user_info.is_tmp eq 1}
				<div class="confirm_login_tip">
					{$LANG.Home_uc_account_index_tips01}
				</div>
				{/if}
				<div class="blank20"></div>
				<div class="content_item clearfix">
					
					<div class="upimg_box clearfix">

						<h3>{$LANG.Home_uc_account_index_No_face_rude}</h3>
						<div class="avatar_box">
							<img class="avatar" src="{function name="get_user_avatar" uid=$user_info.id type="big"}"/>
						</div>
						<div class="loading hide"></div>
						<div class="up_btn"><button class="ui-button upload_avatar_btn" rel="light" id="upload_avatar_btn" type="button">{$LANG.Home_uc_account_index_Select_a_document}</button></div>
						<div class="img_tip">{$LANG.Home_uc_account_index_stand_by}{function name="app_conf" p="ALLOW_IMAGE_EXT"}</div>
						<div class="blank0"></div>
					</div>
					<div class="info_box">
						<div class="blank20"></div>
						<div class="field_group clearfix">
							<label class="f_label">Email</label>
							<div class="f_text">
								{if $user_info.email}
									<input type="text" id="settings_email" name="email" value="{$user_info.email}"  holder="" readonly="readonly"/>
								{else}
									<input type="text" id="settings_email" name="email" value="{$user_info.email}" class="ui-textbox " holder=""/>
								{/if}
							</div>
						</div>
						<div class="field_group clearfix">
							<label class="f_label">{$LANG.Home_uc_account_index_username}</label>
							<div class="f_text">
								{if $user_info.is_tmp}
									<input type="text" id="settings_user_name" name="user_name" value="{$user_info.user_name}" class="ui-textbox " holder=""/>
								{else}
									<input type="text" id="settings_user_name" name="user_name" value="{$user_info.user_name}"  holder="" readonly="readonly" />
								{/if}
							</div>
						</div>
						<div class="field_group clearfix">
							<label class="f_label">{$LANG.Home_uc_account_index_current_password}</label>
							<div class="f_text">
								<input type="password" id="current_password" name="current_password" class="ui-textbox" holder="{$LANG.Home_uc_account_index_Please_enter_the_current_password}"/>
							</div>
						</div>
						<div class="field_group clearfix">
							<label class="f_label">{$LANG.Home_uc_account_index_new_password}</label>
							<div class="f_text">
								<input type="password" id="settings_password" name="user_pwd" class="ui-textbox" holder="{$LANG.Home_uc_account_index_tip02}"/>
							</div>
						</div>
						<div class="field_group clearfix">
							<label class="f_label">{$LANG.Home_uc_account_index_confirm_password}</label>
							<div class="f_text">
								<input type="password" id="settings_password_confirm" name="user_pwd_confirm" class="ui-textbox" holder=""/>
							</div>
						</div>	
						<div class="field_group clearfix">
							<label class="f_label">{$LANG.Home_uc_account_index_phone_number}</label>
							<div class="f_text">
								<input type="text" id="settings_mobile" name="mobile" value="{$user_info.mobile}" data="{$user_info.mobile}" class="ui-textbox f_text" holder=""/>
							</div>
							<input type="hidden" class="is_check_mobile" name="is_check_mobile" value="0"/>
						</div>	
						<!--短信验证手机号-->
						{if app_conf("SMS_ON") eq 1}
						<div class="field_group clearfix ph_sms_verify">
							<label class="f_label">{$LANG.Home_uc_account_index_Verify_mobile_phone_number}</label>
							<div class="sms_verify_box">
								<div class="f_text">
									<input class="ui-textbox f_l ph_verify" id="sms_verify" name="sms_verify" holder="{$LANG.Home_uc_account_index_please_enter_verification_code}" />
								</div>
								<button class="ui-button f_l light ph_verify_btn" rel="light" lesstime="{$sms_lesstime}" type="button">{$LANG.Home_uc_account_index_Send_the_verification_code}</button>
							</div>
							<div class="status_icon hide"> <i class=""></i></div>
							<div class="clear"></div>
						</div>
						<div class="ph_img_verify field_group clearfix ph_sms_verify" {if $sms_ipcount>1}style="display:block"{/if}>
							<label class="f_label">{$LANG.Home_uc_account_index_Captcha}</label>
							<div class="sms_verify_box">
								<div class="f_text">
									<input type="text" name="verify_code" class="ui-textbox img_verify f_l" style="width:150px;" holder="{$LANG.Home_uc_account_index_Please_enter_image_text}" />
									<img src="{$APP_ROOT}/verify.php" class="verify f_l" style="padding:8px 0 0 5px; cursor:pointer;" rel="{$APP_ROOT}/verify.php" />
									<a href="javascript:void(0);" class="refresh_verify f_l" style="padding:10px 0 0 5px;">{$LANG.Home_uc_account_index_tips03}</a>
								</div>
								
							</div>
							<div class="status_icon hide"> <i class=""></i></div>
							<div class="clear"></div>
						</div>
						{/if}
						<div class="content_item clearfix" style="border:none;">
							<div class="blank20"></div>
							<div class="field_group clearfix" style="margin-left:120px">
								<input type="hidden" value="{$user_info.id}" name="id" />
								<input type="hidden" name="is_ajax" value="1" />
								<button class="ui-button " rel="orange">{$LANG.Home_uc_account_index_Save_changes}</button>
							</div>
					</div>
					</div>
				
				
					
				</div>
			</div>
			
			<div class="blank20"></div>
			

			</form>

			<div class="blank20"></div>
		</div>
	</div>	
</div>
<div class="blank20"></div>
{include file="inc/footer.html"}