<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_consignee.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/plupload.full.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_consignee.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_consignee.js";
?>
{include file="inc/header.html"}
<script>
var AJAX_URL	= '{url x="index" r="ajax"}';
</script>
<script type="text/javascript" src="{$APP_ROOT}/public/runtime/region.js"></script>
<div class="blank20"></div>

<div class="{function name="load_wrap" t=$wrap_type} clearfix">
	<div class="side_nav f_l ">
		{include file="inc/uc_nav_list.html"}
	</div>
	<div class="right_box">
		<ul class="web-map clearfix">
			<li>{$LANG.Home_uc_consignee_current_location}</li>
			<li><a href="{url x="index" r="uc_center"}">{$LANG.Home_uc_consignee_My_treasure}</a> ></li>
			<li><a href="{url x="index" r="uc_consignee"}">{$LANG.Home_uc_consignee_Shipping_address}</a> ></li>
			<li class="txt-red">{$LANG.Home_uc_consignee_Add_address}</li>
		</ul>
		<div class="setting_user_info">
			<div class="blank30"></div>
			<div class="content">
				<form name="my_address" method="post" action="{url x="index" r="uc_consignee#save"}">
					<input type="hidden" value="{$consignee_id}" name="id"  />
					<div id="cart_consignee" rel="{$consignee_id}">
					</div>
					<dl class="submit_dl">
						<dt></dt>
						<dd>
						<button type="button" value="{$LANG.Home_uc_consignee_confirm}"  rel="orange" name="commit"  id="sub_address" class="btn btn-main noform"  >{$LANG.Home_uc_consignee_Saved}</button>
						</dd>
					</dl>
				</form>
			</div>
			<div class="blank20"></div>
		</div>
		</div>
	</div>
</div>
{include file="inc/footer.html"}