<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_consignee.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/plupload.full.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_consignee.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_consignee.js";
?>
{include file="inc/header.html"}
<script>
var AJAX_URL	= '{url x="index" r="ajax"}';
</script>
<div class="blank20"></div>

<div class="{function name="load_wrap" t=$wrap_type} clearfix">
	<div class="side_nav f_l ">
		{include file="inc/uc_nav_list.html"}
	</div>
	<div class="right_box">
			<div class="content">
				<ul class="web-map clearfix">
					<li>{$LANG.Home_uc_consignee_current_location}</li>
					<li><a href="{url x="index" r="uc_center"}">{$LANG.Home_uc_consignee_My_treasure}</a> ></li>
					<li class="txt-red">{$LANG.Home_uc_consignee_Shipping_address}</li>
				</ul>
				<div class="blank20"></div>

				<a style="line-height: 40px;height:40px;" class="btn btn-main" href="{url x="index" r="uc_consignee#add"}" title="{$LANG.Home_uc_consignee_Add_address}">{$LANG.Home_uc_consignee_Add_address}</a>
				<div class="blank10"></div>
				{if $consignee_list}
				<div class="info_table">
					<div class="address-title">
						<h1><strong>{$LANG.Home_uc_consignee_my_address}</strong><span>{$LANG.Home_uc_consignee_Saved}<b>{$count_consignee}</b>{$LANG.Home_uc_consignee_tips01}<b><?php echo (5-$this->_var['count_consignee']);?></b></span></h1>
					</div>
					<table>
						<tbody>
							<tr>
									<th width="183">{$LANG.Home_uc_consignee_Receiver}</th>
									<th width="344">{$LANG.Home_uc_consignee_Area}</th>
									<th width="216">{$LANG.Home_uc_consignee_Cell_phone}</th>
									<th width="221" style="padding-left: 30px;">{$LANG.Home_uc_consignee_operate}</th>
							</tr>
							{foreach from=$consignee_list item=item key=key}
							<tr class="alt">
									<td>{$item.consignee}</td>
									<td class="region">{$item.region_lv2}&nbsp;{$item.region_lv3}&nbsp;{$item.region_lv4} {$item.address}</td>
									<td class="mobile" width="80">{$item.mobile}</td>
									<td class="operate" style="padding: 0 25px">
										{if $item.is_default eq 1}<span class="default-add">{$LANG.Home_uc_consignee_default_address}</span>{else}<a href="javascript:void(0);" class="default" dfurl="{$item.dfurl}">{$LANG.Home_uc_consignee_tips02}</a>{/if}
										<a href="{url x="index" r="uc_consignee#add" p="id=$item.id"}">{$LANG.Home_uc_consignee_modify}</a> | <a href="javascript:void(0);" class="del" url="{$item.del_url}">{$LANG.DELETE}</a>
									</td>
	                         </tr>
	                         {/foreach}
						</tbody>
					</table>
				</div>
				{else}
				<div class="empty_tip">{$LANG.Home_uc_consignee_No_address}</div>
				{/if}
			</div>
		<div class="blank20"></div>
		</div>
	</div>
</div>
<div class="blank20"></div>
{include file="inc/footer.html"}