<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_duobao.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/plupload.full.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_duobao.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_duobao.js";

?>
{include file="inc/header.html"}

<div class="blank20"></div>

<div class="{function name="load_wrap" t=$wrap_type} clearfix">
	<div class="side_nav f_l ">
		{include file="inc/uc_nav_list.html"}
	</div>
	<div class="m-user-frame-colMain">
		<ul class="web-map clearfix">
			<li>{$LANG.Home_uc_consignee_current_location}</li>
			<li><a href="{url x="index" r="uc_center"}">{$LANG.Home_uc_consignee_My_treasure}</a> ></li>
			<li class="txt-red">{$LANG.Home_uc_duobao_Treasure_Record}</li>
		</ul>
		<div class="m-user-frame-content" pro="userFrameWraper">
			<div class="m-user-duobao">
				<div class="m-user-comm-wraper">
					<div class="m-user-comm-cont">
						<div class="m-user-comm-title">
							<div class="m-user-comm-navLandscape">
								<a href="{url r="index" r="uc_duobao" p="log_time_type=$data.log_time_type" }" class="i-item {if !$data.log_type}i-item-active{/if}" >{$LANG.Home_uc_duobao_Successful_participation}&nbsp;<span class="txt-impt">{$data.success_count}</span></a>&nbsp;
								<span class="i-sptln">|</span>&nbsp;
								<a href="{url r="index" r="uc_duobao" p="log_type=3&log_time_type=$data.log_time_type"}" class="i-item {if $data.log_type eq 3}i-item-active{/if}">{$LANG.Home_uc_duobao_Coming_soon}&nbsp;<span class="txt-impt">{$data.soon_count}</span></a>&nbsp;
								<span class="i-sptln">|</span>&nbsp;
								<a href="{url r="index" r="uc_duobao" p="log_type=1&log_time_type=$data.log_time_type"}" class="i-item {if $data.log_type eq 1}i-item-active{/if}">{$LANG.Home_uc_duobao_Ongoing}&nbsp;<span class="txt-impt">{$data.in_count}</span></a>&nbsp;
								<span class="i-sptln">|</span>&nbsp;
								<a href="{url r="index" r="uc_duobao" p="log_type=2&log_time_type=$data.log_time_type"}" class="i-item {if $data.log_type eq 2}i-item-active{/if}">{$LANG.Home_uc_duobao_Announced}&nbsp;<span class="txt-impt">{$data.complete_count}</span></a>
							</div>
							<div class="m-user-comm-selectTitle" >
								<span pro="text">
									{if $data.log_time_type eq 1}{$LANG.Home_uc_duobao_Nowadays}{/if}{if $data.log_time_type eq 2}{$LANG.Home_uc_duobao_Last_7_days}{/if}{if $data.log_time_type eq 3}{$LANG.Home_uc_duobao_Last_30_days}{/if}{if $data.log_time_type eq 4}{$LANG.Home_uc_duobao_Last_3_months}{/if}{if $data.log_time_type eq 5}{$LANG.Home_uc_duobao_Within_1_year}{/if}</span><span class="w-select-arr">▼</span>
									<div class="w-menu" tabindex="0" id="w_menu" style="display: none;">
										<a href="{url r="index" r="uc_duobao" p="log_type=$data.log_type&log_time_type=1"}">
										<div class="w-menu-item {if $data.log_time_type eq 1}w-menu-item-hover{/if}" tabindex="0" data-index="0" data-value="" id="pro-view-73">{$LANG.Home_uc_duobao_Nowadays}</div>
										</a>
										<a href="{url r="index" r="uc_duobao" p="log_type=$data.log_type&log_time_type=2"}">
										<div class="w-menu-item {if $data.log_time_type eq 2}w-menu-item-hover{/if}" tabindex="0" data-index="1" data-value="" id="pro-view-74" >{$LANG.Home_uc_duobao_Last_7_days}</div>
										</a>
										<a href="{url r="index" r="uc_duobao" p="log_type=$data.log_type&log_time_type=3"}">
										<div class="w-menu-item {if $data.log_time_type eq 3}w-menu-item-hover{/if}" tabindex="0" data-index="2" data-value="" id="pro-view-75" >{$LANG.Home_uc_duobao_Last_30_days}</div>
										</a>
										<a href="{url r="index" r="uc_duobao" p="log_type=$data.log_type&log_time_type=4"}">
										<div class="w-menu-item {if $data.log_time_type eq 4}w-menu-item-hover{/if}" tabindex="0" data-index="3" data-value="" id="pro-view-76" >{$LANG.Home_uc_duobao_Last_3_months}</div>
										</a>
										<a href="{url r="index" r="uc_duobao" p="log_type=$data.log_type&log_time_type=5"}">
										<div class="w-menu-item {if $data.log_time_type eq 5}w-menu-item-hover{/if}" tabindex="0" data-index="4" data-value="" id="pro-view-77" >{$LANG.Home_uc_duobao_Within_1_year}</div>
										</a>
									</div>
							</div>
						</div>



						<div>
						{if $list}
						
							<div class="listCont">
								<div id="pro-view-18">
									<table class="m-user-comm-table">
										<thead style="background:#f2f2f2;">
										<tr>
											<th class="col-info-th">{$LANG.Home_uc_duobao_Product_information}</th>
											<th class="col-period-th">{$LANG.Home_uc_duobao_Issue}</th>
											<th class="col-joinNum-th">{$LANG.Home_uc_duobao_Participants}</th>
											<th class="col-status-th">{$LANG.Home_uc_duobao_Treasure_status}</th>
											<th class="col-opt-th">{$LANG.Home_uc_duobao_operate}</th>
										</tr>
										</thead>
									</table>
									<div class="duobaoList">
									<table class="m-user-comm-table">
										<tbody>
										{foreach from=$list item=value}
										<tr {if $value.duobao_item.luck_user_id eq $user_info.id}class="get-win"{/if}>
											<td class="col-info">
												<div class="w-goods-l">
													<div class="w-goods-pic">
														<div class="{if $value.duobao_item.luck_user_id eq $user_info.id}ico winner-ico{/if}"></div>
														<a href="{url r="index" r="duobao" p="id=$value.duobao_item.id"}" style="text-decoration:none;color:#3399ff;">
															<img src="{function name="get_spec_image" v=$value.duobao_item.icon w=74 h=74 g=1}" alt="{$value.name}" width="74" height="74" style="border:0px;" />
														</a>
													</div>
													<p class="w-goods-title">
														{if $value.duobao_item.min_buy eq 10}
														<span class="type-ten">{$LANG.Home_uc_duobao_Ten_zone}</span>&nbsp;{/if}
														{if $value.duobao_item.unit_price eq 100}
														<span class="type-ten" style="background-color:red">{$LANG.Home_uc_duobao_Hundred_Zone}</span>&nbsp;{/if}
														<a title="{$value.duobao_item.name}" href="{url r="index" r="duobao" p="id=$value.duobao_item.id"}" style="text-decoration:none;color:#333333;">{$value.duobao_item.name}</a>
													</p>
													<p class="w-goods-price">{$LANG.Home_uc_duobao_Total_need}{$value.duobao_item.max_buy}{$LANG.Home_uc_duobao_Person_times}</p>
													<div class="winner">
														{if $value.duobao_item.has_lottery eq 1}
														<div class="name">{$LANG.Home_uc_duobao_Winner}<a href="{url i="index" r="home" p="id=$value.duobao_item.luck_user_id"}" title="{$value.duobao_item.luck_user_name}" style="text-decoration:none;color:#3399ff;">{$value.duobao_item.luck_user_name}</a>（{$LANG.Home_uc_duobao_Participate_in_this_issue}<strong class="txt-dark" style="color:#333333;">{$value.number}</strong>{$LANG.Home_uc_duobao_Person_times}）
														</div>
														<div class="code">{$LANG.Home_uc_duobao_Lucky_code}<strong class="txt-impt" style="color:#db3652;">{$value.duobao_item.lottery_sn}</strong></div>
														<div class="time">{$LANG.Home_uc_duobao_Announcement_time}{function name="to_date" v=$value.duobao_item.lottery_time}</div>
														{else}
														<div class="progress f_l">
                       									<div class="progress-bar f_l" style="width: {$value.duobao_item.progress}%"></div>
                    									</div>
                    									<div class="blank" style="height:1px;"></div>
														{$LANG.Home_uc_duobao_completed}{$value.duobao_item.progress}%{if $value.duobao_item.less gt 0}{$LANG.Home_uc_duobao_Remaining}{$value.duobao_item.less}{/if}
														{/if}
													</div>
												</div>
											</td>
											<td class="col-period">{$value.duobao_item.id}</td>
											<td class="col-joinNum">{$value.number}{$LANG.Home_uc_duobao_Person_times}</td>
											<td class="col-status">
												{if $value.duobao_item.has_lottery eq 1}
												{$LANG.Home_uc_duobao_Announced}
												{elseif $value.duobao_item.progress eq 100}
												{$LANG.Home_uc_duobao_Coming_soon}
												{else}
												{$LANG.Home_uc_duobao_Ongoing}
												{/if}
											</td>
											<td class="col-opt" style="">
												{if $value.duobao_item.has_lottery eq 1}
												<a class="w-button-main" href="{url r="index" r="duobao" p="dbid=$value.duobao_item.duobao_id"}">{$LANG.Home_uc_duobao_Participate_in_the_latest}</a>
												{else}
												<a class="w-button-main" href="{url r="index" r="duobao" p="id=$value.duobao_item.id"}">{if $value.duobao_item.progress eq 100}{$LANG.Home_uc_duobao_see_details}{else}{$LANG.Home_uc_duobao_Additional_people}{/if}</a>
												{/if}
												<p class="w-goods-price">
													<a href="javascript:my_no_all({$value.duobao_item.id});"  style="color:#3399ff;">{$LANG.Home_uc_duobao_View_Raiders_Number}</a>
												</p>
											</td>
										</tr>
										{/foreach}
										</tbody>
									</table>
									</div>
									<div class="pages">{$pages}</div>
								</div>
							</div>
						{else}
						<div class="listCont">
							<div >
								<div class="duobaoList">
									<div class="m-user-comm-empty">
										<div class="i-desc">
											{$LANG.Home_uc_duobao_you}{if $data.log_time_type eq 1}{$LANG.Home_uc_duobao_Nowadays}{/if}{if $data.log_time_type eq 2}{$LANG.Home_uc_duobao_Last_7_days}{/if}{if $data.log_time_type eq 3}{$LANG.Home_uc_duobao_Last_30_days}{/if}{if $data.log_time_type eq 4}{$LANG.Home_uc_duobao_Last_3_months}{/if}{if $data.log_time_type eq 5}{$LANG.Home_uc_duobao_Within_1_year}{/if}{$LANG.Home_uc_duobao_No_corresponding_treasure_record}</div>
										<div class="i-opt">
											<a href="{url r="index" }" style="color:#ffffff;border:none;white-space:nowrap;font-size:18px;display:inline-block;vertical-align:middle;padding:0px 35px;height:45px;line-height:45px;border-radius:4px;cursor:pointer;font-family:'microsoft yahei', simhei;outline:none;text-decoration:none !important;background:#dd344f;">{$LANG.Home_uc_duobao_Go_shopping_immediately}</a>
										</div>
									</div>
								</div>
								<div pro="pager" class="pager" style="text-align:right;"></div>
							</div>
						</div>
						
						{/if}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="blank20"></div>
{include file="inc/footer.html"}