<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_fx.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/plupload.full.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_invite.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_invite.js";
?>
{include file="inc/header.html"}
<script>
var MEDAL_BOX_URL = '{url x="index" r="uc_medal#load_medal"}';
</script>
<div class="blank20"></div>
<div class="{function name="load_wrap" t=$wrap_type} clearfix">
	<div class="side_nav f_l ">
		{include file="inc/uc_nav_list.html"}
	</div>
	<div class="right_box">
		<ul class="web-map clearfix">
			<li>{$LANG.Home_uc_consignee_current_location}</li>
			<li><a href="{url x="index" r="uc_center"}">{$LANG.Home_uc_consignee_My_treasure}</a> ></li>
			<li class="txt-red">{$LANG.Home_uc_fx_My_invitation}</li>
		</ul>
		<div class="main_box setting_user_info">
			<div class="my-fx-list">
				<div class="fx-title clearfix">
					<h1 class="f_l">{$LANG.Home_uc_fx_First_level_invited_users}</h1>
					<a href="{url x="index" r="uc_fx#user_list_one" p="id=$u.id"}" class="f_r">
						<span class="txt-red">{$LANG.Home_uc_fx_All_together}{$data.first_user_count}人</span>
						<i class="iconfont">&#xe660;</i>
					</a>
				</div>
				<!-- 只显示4个，套完数据删掉这行 -->
				<ul class="user-list clearfix">
					{foreach from="$data.first_fx_user" item="u"}
					<li>
						<a href="{url x="index" r="home" p="id=$u.id"}" >
						<img src="{if $u.user_logo}{$u.user_logo}{else}{$data.no_user_logo}{/if}" class="user-avatar">
						<p class="user-name">{$u.user_name}</p>
						</a>
					</li>
					{/foreach}
				</ul>
				<div class="fx-info">
					<p>{$LANG.Home_uc_fx_tips01}</p>
					<p><span class="txt-red">{$data.today_first_order_money}</span>{$LANG.Home_uc_fx_Treasure_coin}，<span class="txt-red">{$data.fx_count.three_fx_count}</span>{$LANG.Home_uc_fx_tips02}{if $data.fx_salary_type==1 }{$data.fx_level_one_salary}%{else}{$LANG.Home_uc_fx_Fixed_amount}{$data.fx_level_one_salary}{/if}{$LANG.Home_uc_fx_Commission_my_income}<span class="txt-red">{$data.today_first_money}</span>{$LANG.Home_uc_fx_Treasure_coin}</p>
				</div>
			</div>
			<div class="my-fx-list">
				<div class="fx-title clearfix">
					<h1 class="f_l">{$LANG.Home_uc_fx_Second_level_invited_users}</h1>
					<a href="{url x="index" r="uc_fx#user_list_two" p="id=$u.id"}" class="f_r">
						<span class="txt-red">{$LANG.Home_uc_fx_All_together}{$data.second_user_count}{$LANG.Home_uc_fx_people}</span>
						<i class="iconfont">&#xe660;</i>
					</a>
				</div>
				<!-- 只显示4个，套完数据删掉这行 -->
				<ul class="user-list clearfix">
					{if $data.second_user_count}
					{foreach from="$data.second_fx_user" item="u"}
					<li>
						<a href="{url x="index" r="home" p="id=$u.id"}" >
						<img src="{if $u.user_logo}{$u.user_logo}{else}{$data.no_user_logo}{/if}" class="user-avatar">
						<p class="user-name">{$u.user_name}</p>
						</a>
					</li>
					{/foreach}
					{/if}
				</ul>
				<div class="fx-info">
					<p>{$LANG.Home_uc_fx_tips03}</p>
					<p><span class="txt-red">{$data.today_second_order_money}</span>{$LANG.Home_uc_fx_Treasure_coin}，<span class="txt-red">{$data.fx_count.second_fx_count}</span>{$LANG.Home_uc_fx_tips02}{if $data.fx_salary_type==1 }{$data.fx_level_two_salary}%{else}{$LANG.Home_uc_fx_Fixed_amount}{$data.fx_level_two_salary}{/if}{$LANG.Home_uc_fx_Commission_my_income}<span class="txt-red">{$data.today_second_money}</span>{$LANG.Home_uc_fx_Treasure_coin}</p>
				</div>
			</div>
			<div class="my-fx-list">
				<div class="fx-title clearfix">
					<h1 class="f_l">{$LANG.Home_uc_fx_Third_level_invited_users}</h1>
					<a href="{url x="index" r="uc_fx#user_list_three" p="id=$u.id"}" class="f_r">
						<span class="txt-red">{$LANG.Home_uc_fx_All_together}{$data.three_user_count}人</span>
						<i class="iconfont">&#xe660;</i>
					</a>
				</div>
				<!-- 只显示4个，套完数据删掉这行 -->
				<ul class="user-list clearfix">
				
					{if $data.three_user_count}
					{foreach from="$data.three_fx_user" item="u"}
					<li>
						<a href="{url x="index" r="home" p="id=$u.id"}" >
						<img src="{if $u.user_logo}{$u.user_logo}{else}{$data.no_user_logo}{/if}" class="user-avatar">
						<p class="user-name">{$u.user_name}</p>
						</a>
					</li>
					{/foreach}
					{/if}
					 
				</ul>
				<div class="fx-info">
					<p>{$LANG.Home_uc_fx_tips04}</p>
					<p><span class="txt-red">{$data.today_three_order_money}</span>{$LANG.Home_uc_fx_Treasure_coin}，<span class="txt-red">{$data.fx_count.first_fx_count}</span>{$LANG.Home_uc_fx_tips02}{if $data.fx_salary_type==1 }{$data.fx_level_three_salary}%{else}{$LANG.Home_uc_fx_Fixed_amount}{$data.fx_level_three_salary}{/if}{$LANG.Home_uc_fx_Commission_my_income}<span class="txt-red">{$data.today_three_money}</span>{$LANG.Home_uc_fx_Treasure_coin}</p>
				</div>
			</div>
			<div class="fx-rule">
				<div class="fx-title clearfix">
					<h1 class="f_l">{$LANG.Home_uc_fx_Inviting_users_rules}</h1>
				</div>
				<div class="rule-info">
					<p>{$LANG.Home_uc_fx_First_level_invited_users}：</p>
					<p>{$LANG.Home_uc_fx_tips05}</p>
				</div>
				<div class="rule-info">
					<p>{$LANG.Home_uc_fx_Second_level_invited_users}：</p>
					<p>{$LANG.Home_uc_fx_tips06}</p>
				</div>
				<div class="rule-info">
					<p>{$LANG.Home_uc_fx_Third_level_invited_users}：</p>
					<p>{$LANG.Home_uc_fx_tips07}</p>
				</div>
				<div class="rule-info">
					<p class="txt-red">{$LANG.Home_uc_fx_tips08}</p>
					<p class="txt-red">{$LANG.Home_uc_fx_tips09}</p>
					<p class="txt-red">{$LANG.Home_uc_fx_tips10}</p>
					<p class="txt-red">{$LANG.Home_uc_fx_tips11}</p>
					<p class="txt-red">{$LANG.Home_uc_fx_tips12}</p>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
<div id="layer">{include file="inc/layer.html"}</div>
{include file="inc/footer.html"}