<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_invite.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/plupload.full.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_invite.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_invite.js";
?>
{include file="inc/header.html"}
<script>
var MEDAL_BOX_URL = '{url x="index" r="uc_medal#load_medal"}';
</script>

<div class="blank20"></div>

<div class="{function name="load_wrap" t=$wrap_type} clearfix">
	<div class="side_nav f_l ">
		{include file="inc/uc_nav_list.html"}
	</div>
	<div class="right_box">
		<ul class="web-map clearfix">
			<li>{$LANG.Home_uc_account_index_current_location}</li>
			<li><a href="{url x="index" r="uc_center"}">{$LANG.Home_uc_account_index_My_treasure}</a> ></li>
			<li class="txt-red">{$LANG.Home_uc_invite_Invitation_link}</li>
		</ul>
		<div class="main_box setting_user_info">
			<div class="content">
				
				<div class="money_box">
						{$LANG.TOTAL_REFERRALS}：
						<strong>{function name="format_price" value=$referrals_data.money}</strong>
						<strong>{function name="format_score" value=$referrals_data.score}</strong>
						<div class="btn" id="my-invite" style="float:right">
							<a href="{url x="index" r="uc_invite"}" style="color:#ffffff">返回</a>
						</div>
				</div>	
				<div class="blank20"></div>		
				
				<div class="info_table">
					{if $total_list}
					<table >
						<tbody>
							<tr>
								<th>{$LANG.USER_TITLE_USER_NAME}</th>
								<th>{$LANG.REFERRALS_STATUS}</th>
							</tr>
							{foreach from=$total_list item=invite key=key}
							<tr class="alt">
								<td>{$invite.user_name}</td>
								<td>
								{if $invite.score gt 0}
									{function name="format_score" value=$invite.score}
								{else}{$LANG.Home_uc_invite_no}{/if}
								</td>
	                         </tr>
	                         {/foreach}
						</tbody>
					</table>
					
					<div class="blank"></div>
					<div class="pages">{$pages}</div>
					{else}
					<div class="empty_tip">{$LANG.Home_uc_invite_tips01}</div>
					{/if}					
				</div>
				
			</div>				
				
		</div>

		<div class="blank20"></div>
		</div>
	</div>	
</div>
<div class="blank20"></div>
<div id="layer">{include file="inc/layer.html"}</div>
{include file="inc/footer.html"}