<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_invite.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/plupload.full.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_invite.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_invite.js";
?>
{include file="inc/header.html"}
<script>
var MEDAL_BOX_URL = '{url x="index" r="uc_medal#load_medal"}';
</script>
<div class="blank20"></div>

<div class="{function name="load_wrap" t=$wrap_type} clearfix">
	<div class="side_nav f_l ">
		{include file="inc/uc_nav_list.html"}
	</div>
	<div class="right_box">
		<ul class="web-map clearfix">
			<li>{$LANG.Home_uc_account_index_current_location}</li>
			<li><a href="{url x="index" r="uc_center"}">{$LANG.Home_uc_account_index_My_treasure}</a> ></li>
			<li class="txt-red">{$LANG.Home_uc_invite_Invitation_link}</li>
		</ul>
		<div class="main_box setting_user_info">
			<div class="content">
				
				<div class="money_box">
						{$LANG.TOTAL_REFERRALS}：
						<strong>{function name="format_price" value=$referrals_data.money}</strong>
						<strong>{function name="format_score" value=$referrals_data.score}</strong>
						<div class="btn" id="my-invite" style="float:right">
							<a href="{url x="index" r="uc_invite#invite_user_list"}" style="color:#ffffff">{$LANG.Home_uc_invite_People_i_invited}</a>
						</div>
				</div>	
				<div class="blank20"></div>		

				<div class="info_table">
				
					<div id="referrals">
								<div class="blk im refers" style="text-align:center">
									
										<h4>{$LANG.SHARE_LINK}：</h4>
										<input type="text" onfocus="this.select()" class="ui-textbox" id="share-copy-text" size="40" value="{$share_url}">
										<input type="button" class="formbutton" id="share-copy-button" value="{$LANG.COPY}">
								
								</div>
					</div>
					<div><img src="{function name="gen_qrcode" value=$share_url}" isload="true"></div>
					<div class="blank20"></div>				
					{if $list}
					<table>
						<tbody>
							<tr>
									<th>{$LANG.USER_TITLE_USER_NAME}</th>
									<!-- <th>{$LANG.REGISTER_TIME}</th>
									<th>{$LANG.REFERRALS_GEN}</th>
									<th>{$LANG.REFERRALS_PAID}</th> -->
									<th>{$LANG.REFERRALS_TYPE}</th>
									<th>{$LANG.REFERRALS_ORDER}</th>
									<th>{$LANG.REFERRALS_GEN_TIME}</th>
									<!-- <th>{$LANG.REFERRALS_PAID_TIME}</th> -->
									<th>{$LANG.REFERRALS_STATUS}</th>
							</tr>
							{foreach from=$list item=invite key=key}
							<tr class="alt">
									<td>{$invite.i_user_name}</td>
									<!-- <td class="dashed">{function name="to_date" value=$invite.i_reg_time}</td>
									<td>{if $invite.i_referral_count gt 0}{$LANG.YES}{else}{$LANG.NO}{/if}</td>
									<td class="dashed">{if $invite.i_pay_time gt 0}{$LANG.YES}{else}{$LANG.NO}{/if}</td> -->
									<td class="dashed">{if $invite.i_order_sn}{$LANG.Home_uc_invite_Buy_rebate}{else}{if $invite.i_referral_time}{$LANG.Home_uc_invite_Invite_rebate}{else}{$LANG.Home_uc_invite_Invitation_to_register}{/if}{/if}</td>
									<td>{if $invite.name}{$invite.name}{else}{$LANG.Home_uc_invite_no}{/if}</td>
									<td class="dashed">{if $invite.i_referral_time}{function name="to_date" value=$invite.i_referral_time}{else}{$LANG.Home_uc_invite_no}{/if}</td>
									<!-- <td>{function name="to_date" value=$invite.i_pay_time}</td> -->
									<td>
									{if $invite.i_referral_time}
										{if $invite.i_money gt 0}
											{function name="format_price" value=$invite.i_money}
										{/if}
										{if $invite.i_score gt 0}
											{$invite.invite_score}
										{/if}
										{if $invite.score eq ''}{$invite.i_score}
										{/if}
									{else}{$LANG.Home_uc_invite_no}{/if}
									</td>
	                         </tr>
	                         {/foreach}
						</tbody>
					</table>
					
					
					<div class="blank"></div>
					<div class="pages">{$pages}</div>
					{else}
					<div class="empty_tip">{$LANG.Home_uc_invite_tips01}</div>
					{/if}						
				</div>
				
			</div>				
				
		</div>

		<div class="blank20"></div>
		</div>
	</div>	
</div>
<div class="blank20"></div>
<div id="layer">{include file="inc/layer.html"}</div>
{include file="inc/footer.html"}