<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/plupload.full.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/uc_exchange.js";

?>
{include file="inc/header.html"}

<script type="text/javascript">
var ALLOW_EXCHANGE = 0;
{if $ACTION_NAME eq 'exchange'}
	ALLOW_EXCHANGE = '{$allow_exchange}';
	var EXCHANGE_JSON_DATA = {$exchange_json_data};
{/if}
</script>
<div class="blank20"></div>

<div class="{function name="load_wrap" t=$wrap_type} clearfix">
	<div class="side_nav f_l ">
		{include file="inc/uc_nav_list.html"}
	</div>
	<div class="right_box">
		<ul class="web-map clearfix">
			<li>{$LANG.Home_uc_account_index_current_location}</li>
			<li><a href="{url x="index" r="uc_center"}">{$LANG.Home_uc_account_index_My_treasure}</a> ></li>
			<li class="txt-red">{$LANG.Home_uc_log_My_assets}</li>
		</ul>
		<div class="main_box uc_info_box">
			<div class="info_nav" >
				<ul class="clearfix">
					<li {if $ACTION_NAME eq 'money'}class="cur"{/if}><a href="{url r="index" b="uc_log#money" }">{$LANG.Home_uc_log_My_funds}</a></li>
					<li {if $ACTION_NAME eq 'score'} class="cur"{/if}><a href="{url r="index" b="uc_log#score" }">{$LANG.Home_uc_log_My_scores}</a></li>
					{if $allow_exchange}<li {if $ACTION_NAME eq 'exchange'} class="cur"{/if}><a href="{url r="index" b="uc_log#exchange" }">uc {$LANG.Home_uc_log_exchange}</a></li>{/if}
				</ul>
			</div>
			<!-- 资产 -->
			{if $ACTION_NAME eq 'money'}
			<!-- 资产标题 -->
			<div class="info_box">
				<div class="blank20"></div>
				<h3>{$LANG.Home_uc_log_My_asset_information}</h3>
				<div class="blank10"></div>
				<div class="bg_box growth_content">
					
					<div class="info_items">
						<ul>
							<li><label>{$LANG.Home_uc_log_My_current_balance_is}</label><span class="main_color">{function name="format_price" v=$user_info.money}</span></li>
							<li><label>	{$LANG.Home_uc_log_Recharge_to}{function name="app_conf" v="SHOP_TITLE"}{$LANG.Home_uc_log_Account_easy_to_snap_up}</label><span><a class="main_color" href="{url r="index" b="uc_money#incharge"}" target="_blank">[{$LANG.Home_uc_log_Member_recharge}]</a></span></li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- 资产内容 -->
			<div class="blank20"></div>
			<div class="info_box">
				<h3>{$LANG.Home_uc_log_My_asset_record}</h3>
				<div class="blank10"></div>
				<div class="info_table">
					<table>
						<tbody>
							<tr>
								<th width="120">{$LANG.Home_uc_log_time}</th>
								<th width="700">{$LANG.Home_uc_log_Details}</th>
								<th width="176">{$LANG.Home_uc_log_Amount}</th>
							</tr>
							{foreach from=$data.list item=row}
							<tr class="alt">
                                <td>{$row.flog_time}</td>
                                <td class="detail">{$row.log_info}</td>
                                <td class="value increase" ><span class="growth">&yen;{if $row.money gt 0}{/if}{function name="round" v=$row.money v2="2"}</span></td>
                            </tr>
                            {/foreach}
                            
                            <tr >
                            	{if $data.count gt 0}
                                <td colspan="3"><div class="pages">{$pages}</div></td>
                                {else}
                                <td colspan="3"><span>{$LANG.Home_uc_log_No_funds_log_temporarily}</span></td>
                                {/if}

                            </tr>
						</tbody>
					</table>
				</div>
				
			</div>
			
			{/if}
			
			<!--经验-->
			{if $ACTION_NAME eq 'point'} 
			<div class="info_box">
				<div class="blank20"></div>
				<h3>{$LANG.Home_uc_log_My_growth_information}</h3>
				<div class="blank10"></div>
				<div class="bg_box growth_content">
					
					<div class="info_items">
						<ul>
							<li><label>{$LANG.Home_uc_log_My_current_level_is}</label><span class="level_bg level_{$uc_query_data.cur_level}" title="{$uc_query_data.cur_level_name}"></span></li>
							<li><label>{$LANG.Home_uc_log_My_current_experience_value_is}</label><span class="main_color">{$uc_query_data.cur_point}</span></li>
							{if $uc_query_data.next_level gt 0}
								<li><label>{$LANG.Home_uc_log_I_add}</label><span><em class="main_color">{$uc_query_data.next_point}</em> {$LANG.Home_uc_log_Experience_points_can_be_upgraded_to}<em class="lv_name">{$uc_query_data.next_level_name}</em></span></li>
							{/if}
						</ul>
					</div>
				</div>
			</div>

			<div class="blank20"></div>
			<div class="info_box">
				<h3>{$LANG.Home_uc_log_My_growth_record}</h3>
				<div class="blank10"></div>
				<div class="info_table">
					<table>
						<tbody>
							<tr>
								<th width="120">{$LANG.Home_uc_log_time}</th>
								<th width="auto">{$LANG.Home_uc_log_Details}</th>
								<th width="70">{$LANG.Home_uc_log_Experience}</th>
							</tr>
							{foreach from=$data.list item=row}
							<tr class="alt">
                                <td>{$row.flog_time}</td>
                                <td class="detail">{$row.log_info}</td>
                                <td class="value increase" ><span class="growth">{if $row.point gt 0}+{/if}{$row.point}</span></td>
                            </tr>
                            {/foreach}
                            
                            <tr >
                            	{if $data.count gt 0}
                                <td colspan="3"><div class="pages">{$pages}</div></td>
                                {else}
                                <td colspan="3"><span>{$LANG.Home_uc_log_tips01}</span></td>
                                {/if}

                            </tr>
						</tbody>
					</table>
				</div>
				
			</div>
			{/if}
			
			
			<!--积分-->
			{if $ACTION_NAME eq 'score'} 
			<div class="info_box">
				<div class="blank20"></div>
					<h3>{$LANG.Home_uc_log_My_points_information}</h3>
				<div class="blank10"></div>
				<div class="bg_box ">
					<div class="info_items">
						<ul>
							<li><label>{$LANG.Home_uc_log_My_current_points_are}</label><span class="main_color">{$uc_query_data.cur_score}</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="blank20"></div>
			<div class="info_box">
				<h3>{$LANG.Home_uc_log_My_points_record}</h3>
				<div class="blank10"></div>
				<div class="info_table">
					<table>
						<tbody>
							<tr>
								<th width="120">{$LANG.Home_uc_log_time}</th>
								<th width="auto">{$LANG.Home_uc_log_Details}</th>
								<th width="70">{$LANG.Home_uc_log_Integral_value}</th>
							</tr>
							{foreach from=$data.list item=row}
							<tr class="alt">
                                <td>{$row.flog_time}</td>
                                <td class="detail">{$row.log_info}</td>
                                <td class="value increase" ><span class="growth">{if $row.score gt 0}+{/if}{$row.score}</span></td>
                            </tr>
                            {/foreach}
                            <tr >
                            	{if $data.count gt 0}
                                <td colspan="3"><div class="pages">{$pages}</div></td>
                                {else}
                                <td colspan="3"><span>{$LANG.Home_uc_log_No_points_record_temporarily}</span></td>
                                {/if}
                            </tr>
						</tbody>
					</table>
				</div>
			</div>
			{/if}
			
			
			<!-- 兑换 -->
			{if $ACTION_NAME eq 'exchange' && $allow_exchange}
			<!-- 资产标题 -->
			<div class="info_box">
				<div class="blank20"></div>
				<h3>{$LANG.Home_uc_log_My_asset_preview}</h3>
				<div class="blank10"></div>
				<div class="bg_box growth_content">
					
					<div class="info_items">
						<ul>
							<li><label>{$LANG.Home_uc_log_My_current_balance_is}</label><span class="main_color">{function name="format_price" v=$user_info.money}</span></li>
							<li><label>{$LANG.Home_uc_log_My_accumulated_points_are}</label><span class="main_color">{$user_info.score}</span></li>
							<li><label>{$LANG.Home_uc_log_My_current_experience_is}</label><span class="main_color">{$user_info.point}</span></li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- 资产内容 -->
			<div class="blank20"></div>
			<div class="info_box">
				<h3>{$LANG.Home_uc_log_My_redemption_operation}</h3>
				<div class="blank10"></div>
				<div class="info_table cnt_tf_left">
					<table>
						<tbody>
							<tr>
								<th width="80">{$LANG.Home_uc_log_Exchange_quantity}</th>
								<th width="auto">{$LANG.Home_uc_log_Details}</th>
								<th width="150">{$LANG.Home_uc_log_Consume}</th>
							</tr>
							<tr class="alt">
                                <td>
                                	<input type="text" class="ui-textbox field_text" name="amountdesc" id="amountdesc" size="4"  />
                                </td>
                                <td class="detail">
                                		<div class="field_select w430">
			                                <select name="key" id="key" class="ui-select ">
												{foreach from=$exchange_data key=key item=exchange_desc}
												<option value="{$key}" rel="{$exchange_desc.title}">{$exchange_desc.title}({$exchange_desc.ratiodesc} {$exchange_desc.title}:{$exchange_desc.ratiosrc} {$exchange_desc.srctitle})</option>
												{/foreach}
											</select>
										</div>
                                </td>
                                <td class="value increase" >
                                	<input type="text" class="ui-textbox field_text" name="amountsrc" id="amountsrc"   size="4" readonly="true" />
                                	<span id="titlesrc"></span>
                                </td>
                            </tr>
							<tr >
                                <td colspan="3">
	                                <span>{$LANG.Home_uc_log_login_password}&nbsp;</span>
									<input type="password" name="user_pwd" id="user_pwd" class="ui-textbox field_text" />
								</td>
                            </tr>
                            <tr >
                                <td colspan="3">
                                <button id="doexchange" rel="orange" type="button" class="formbutton ui-button">{$LANG.Home_uc_log_exchange}</button>
                                </td>
                            </tr>
						</tbody>
					</table>
				</div>
				
			</div>
			
			{/if}
		</div>
	</div>	
</div>
<div class="blank20"></div>
{include file="inc/footer.html"}