<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_duobao.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_luck.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/plupload.full.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_msg.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_msg.js";
?>
{include file="inc/header.html"}
<div class="{function name="load_wrap" t=$wrap_type} clearfix">
	<div class="blank20"></div>
	<div class="side_nav f_l ">
		{include file="inc/uc_nav_list.html"}
	</div>
	{if $list}
	<div  class="right_box">
		<ul class="web-map clearfix">
			<li>{$LANG.Home_uc_account_index_current_location}</li>
			<li><a href="{url x="index" r="uc_center"}">{$LANG.Home_uc_account_index_My_treasure}</a> ></li>
			<li class="txt-red">{$LANG.Home_uc_luck_Lucky_record}</li>
		</ul>
		<div class="m-user-comm-wrapers f_r">
			<div class="wraper">
				<ul class="wraper-hd clearfix">
					<li class="info">{$LANG.Home_uc_luck_Product_information}</li>
					<li class="status">{$LANG.Home_uc_luck_Commodity_status}</li>
					<li class="opt">{$LANG.Home_uc_luck_operate}</li>
				</ul>
				{foreach from=$list item=value}
				<ul class="w-goods">
					<li class="info">
						<div class="w-goods-pics">
						    <a title="{$value.name}" href="{url r="index" r="duobao" p="id=$value.duobao_item_id"}">
							<img src="{$value.deal_icon}" alt="{$value.name}" width="120">
							</a>
						</div>
						<div class="w-goods-content">
							<p class="w-goods-title">
							{if $value.min_buy eq 10}
							<span class="type-ten">{$LANG.Home_uc_luck_Ten_areas}</span>&nbsp;{/if}<a title="{$value.name}" href="{url r="index" r="duobao" p="id=$value.duobao_item_id"}" style="color:#333;">{$value.name}</a>
							</p>
							<p class="w-goods-price" >{$LANG.Home_uc_luck_Issue}{$value.duobao_item_id}</p>
							<p class="w-goods-price" >{$LANG.Home_uc_luck_Total_need}{$value.max_buy}{$LANG.Home_uc_luck_Person_times}</p>
							<p class="w-goods-price" >{$LANG.Home_uc_luck_Lucky_number}<strong class="txt-impt">{$value.lottery_sn}</strong>{$LANG.Home_uc_luck_Participated_in_total}<strong class="txt-dark">{$value.number}</strong>{$LANG.Home_uc_luck_Person_times}</p>
							<p class="w-goods-price" >{$LANG.Home_uc_luck_Treasure_hunting_time}{$value.create_time}</p>
							<p class="w-goods-price" >{$LANG.Home_uc_luck_Announcement_time}{$value.lottery_time}</p>
						</div>
					</li>
					<li class="status">
						{if   $value.cate_id && $value.delivery_status eq 1}
							<p class="txt-green">{$LANG.Home_uc_luck_Goods_distributed}</p>
						{elseif $value.cate_id && $value.delivery_status eq 0 }
							<p class="txt-yellow">{$LANG.Home_uc_luck_Waiting_for_merchandise_distribution}</p>
						{elseif $value.is_set_consignee eq 0 }
							<p class="txt-red">{$LANG.Home_uc_luck_Delivery_address_to_be_filled}</p>
						{elseif $value.delivery_status eq 0 }
							<p class="txt-yellow">{$LANG.Home_uc_luck_Waiting_for_merchandise_distribution}</p>
						{elseif $value.delivery_status eq 1 && $value.is_arrival eq 0 }
							<p class="txt-green">{$LANG.Home_uc_luck_Goods_distributed}</p>
						{elseif $value.delivery_status eq 1 && $value.is_arrival eq 1}	
							<p class="txt-green">{$LANG.Home_uc_luck_Have_been_received}</p>
						{/if}
						

					</li>
					<li class="opt">
					{if $value.cate_id && $value.delivery_status eq 0}
					<p>
							<a href="{url r="index" p="uc_luck#detail" d="id=$value.id"}">{$LANG.Home_uc_luck_see_details}</a>
						</p>
					{elseif $value.is_set_consignee eq 0 && $value.delivery_status eq 0}
						<p>
							<a href="{url r="index" p="uc_luck#detail" d="id=$value.id"}">{$LANG.Home_uc_luck_fill_in}</a>
						</p>
					{else}
						<p>
							<a href="{url r="index" p="uc_luck#detail" d="id=$value.id"}">{$LANG.Home_uc_luck_see_details}</a>
						</p>
					{/if}
					{if $value.delivery_status eq 1 && $value.is_arrival eq 1 && $value.is_send_share eq 0}	
						<p>
							<a class="btn btn-s btn-main" href="{url x="index" r="uc_share#add" p="id=$value.id"}">{$LANG.Home_uc_luck_Display_order}</a>
						</p>
					{/if}
					{if $value.is_send_share eq 1}	
						<p>
							<a href="{url x="index" r="share#detail" p="id=$value.share_id"}">{$LANG.Home_uc_luck_View_display_order}</a>
						</p>
					{/if}
					</li>
				</ul>
				{/foreach}
			</div>
			<div class="pages">{$pages}</div>
		</div>
	</div>
	{else}
	<div class="m-user-frame-colMain">
		<ul class="web-map clearfix">
			<li>{$LANG.Home_uc_account_index_current_location}</li>
			<li><a href="{url x="index" r="uc_center"}">{$LANG.Home_uc_account_index_My_treasure}</a> ></li>
			<li class="txt-red">{$LANG.Home_uc_luck_Lucky_record}</li>
		</ul>
		<div class="m-user-frame-content" pro="userFrameWraper">
			<div class="m-user-duobao">
				<div class="m-user-comm-wraper">
					<div class="m-user-comm-cont">
						<div>
						<div class="listCont">
							<div >
								<div class="duobaoList">
									<div class="m-user-comm-empty" id="pro-view-11" style="text-align:center;padding:100px 0px 128px;">
										<div class="i-desc">{$LANG.Home_uc_luck_You_do_not_have_this_record}</div>
										<div class="i-opt">
											<a href="{url r="index" }" class="w-button w-button-main w-button-xl" style="color:#ffffff;border:none;white-space:nowrap;font-size:18px;display:inline-block;vertical-align:middle;padding:0px 35px;height:45px;line-height:45px;border-radius:4px;cursor:pointer;font-family:'microsoft yahei', simhei;outline:none;text-decoration:none !important;background:#dd344f;">{$LANG.Home_uc_luck_Try_your_luck_now}</a>
										</div>
									</div>
								</div>
								<div pro="pager" class="pager" style="text-align:right;"></div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{/if}
</div>
<div class="blank20"></div>
{include file="inc/footer.html"}