<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_consignee.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_luck_detail.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/plupload.full.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_msg.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_msg.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_consignee.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_consignee.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_luck_detail.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_luck_detail.js";

?>
{include file="inc/header.html"}
<script type="text/javascript" src="{$APP_ROOT}/public/runtime/region.js"></script>	
<div class="blank20"></div>
<div class="wrap_full_w">
	<ul class="web-map clearfix">
		<li>{$LANG.Home_uc_account_index_current_location}</li>
		<li><a href="{url x="index" r="uc_center"}">{$LANG.Home_uc_account_index_My_treasure}</a><span>></span></li>
		<li><a href="{url x="index" r="uc_luck"}">{$LANG.Home_uc_luck_Lucky_record}</a><span>></span></li>
		<li>{$LANG.Home_uc_luck_detail_Record_details}</li>
	</ul>
	<div class="detail-wrap">
	<!-- 进度 -->
	<!-- 虚拟 -->
		{if $order.cate_id}
		<div class="detail-progress">
			<ol class="inner">
				<li class="step step-1 act">
					<p class="step-hd">1. {$LANG.Home_uc_luck_detail_Waiting_for_delivery}</p>
					<i class="detail-ico"></i>
				</li>
				<li class="step step-2 {if ($order.is_arrival eq 1) || ($order.is_set_consignee  eq 1 && $order.delivery_status eq 0) || ($order.is_arrival eq 0 && $order.delivery_status eq 1)}act{/if}">
					<p class="step-hd">2. {$LANG.Home_uc_luck_detail_Commodity_distribution}</p>
					<i class="detail-ico"></i>
					<div class="line"></div>
				</li>
				<li class="step step-3 {if ($order.is_arrival eq 1) || ($order.is_arrival eq 0 && $order.delivery_status eq 1)}act{/if}">
					<p class="step-hd">3. {$LANG.Home_uc_luck_detail_Confirm_receipt}</p>
					<i class="detail-ico"></i>
					<div class="line"></div>
				</li>
				<li class="step step-4 {if ($order.is_arrival eq 1) }act{/if}">
					<p class="step-hd">4. {$LANG.Home_uc_luck_detail_Display_order_sharing}</p>
					<i class="detail-ico"></i>
					<div class="line"></div>
				</li>
			</ol>
		</div>
		{else}
		<!-- 非虚拟 -->
		<div class="detail-progress">
			<ol class="inner">
				<li class="step step-1 act">
					<p class="step-hd">1. {$LANG.Home_uc_luck_detail_Acquire_goods}</p>
					<i class="detail-ico"></i>
				</li>
				<li class="step step-2 act">
					<p class="step-hd">2. {$LANG.Home_uc_luck_detail_Confirm_the_delivery_address}</p>
					<i class="detail-ico"></i>
					<div class="line"></div>
				</li>
				<li class="step step-3 {if ($order.is_arrival eq 1) || ($order.is_set_consignee  eq 1 && $order.delivery_status eq 0) || ($order.is_arrival eq 0 && $order.delivery_status eq 1)}act{/if}">
					<p class="step-hd">3. {$LANG.Home_uc_luck_detail_Commodity_distribution}</p>
					<i class="detail-ico"></i>
					<div class="line"></div>
				</li>
				<li class="step step-4 {if ($order.is_arrival eq 1) || ($order.is_arrival eq 0 && $order.delivery_status eq 1)}act{/if}">
					<p class="step-hd">4. {$LANG.Home_uc_luck_detail_Confirm_receipt}</p>
					<i class="detail-ico"></i>
					<div class="line"></div>
				</li>
				<li class="step step-5 {if ($order.is_arrival eq 1) }act{/if}">
					<p class="step-hd">5. {$LANG.Home_uc_luck_detail_Display_order_sharing}</p>
					<i class="detail-ico"></i>
					<div class="line"></div>
				</li>
			</ol>
		</div>
		{/if}
	<!-- 当前状态 -->
	<!-- 虚拟 -->
	{if $order.cate_id }
		<div class="status">
			<div class="status-hd">
				
				{if $order.is_arrival eq 0 && $order.delivery_status eq 0 }
				{$LANG.Home_uc_luck_detail_tips01}
				{/if}
				{if $order.is_arrival eq 0 && $order.delivery_status eq 1}
				{$LANG.Home_uc_luck_detail_tips02}
				<a href="javascript:void(0);" class="detail btn btn-main" action="{url r="index" p="uc_order#verify_delivery" b="id=$order.id"}">确认收货</a>
				{/if}
				{if $order.is_arrival eq 1 && $order.delivery_status eq 1}
				{$LANG.Home_uc_luck_detail_tips03}
				{/if}
			</div>
			{if $order.is_arrival eq 0 && $order.delivery_status eq 1}
			<p class="tips">
				{$LANG.Home_uc_luck_detail_tips04}
			</p>
			{/if}
			{if $order.is_arrival eq 0 && $order.is_set_consignee eq 1 && $order.delivery_status eq 0}
			<p class="tips">{$LANG.Home_uc_luck_detail_tips05}</p>
			{/if}
		</div>
		
		<!-- 非虚拟 -->
	{else}
		<div class="status">
			<div class="status-hd">
				{if  $order.is_set_consignee  eq 0}
				{$LANG.Home_uc_luck_detail_tips06}
				{/if}
				{if $order.is_arrival eq 0 && $order.delivery_status eq 0 && $order.is_set_consignee  eq 1}
				{$LANG.Home_uc_luck_detail_tips01}
				{/if}
				{if $order.is_arrival eq 0 && $order.delivery_status eq 1}
				{$LANG.Home_uc_luck_detail_tips02}
				<a href="javascript:void(0);" class="verify_delivery btn btn-main" action="{url r="index" p="uc_order#verify_delivery" b="id=$order.id"}">确认收货</a>
				{/if}
				{if $order.is_arrival eq 1 && $order.delivery_status eq 1}
				{$LANG.Home_uc_luck_detail_tips03}
				{/if}
			</div>
			{if $order.is_arrival eq 0 && $order.delivery_status eq 1}
			<p class="tips">
				{$LANG.Home_uc_luck_detail_tips04}
			</p>
			{/if}
			{if $order.is_arrival eq 0 && $order.is_set_consignee eq 1 && $order.delivery_status eq 0}
			<p class="tips">{$LANG.Home_uc_luck_detail_tips05}</p>
			{/if}
		</div>
	{/if}
	<!-- 虚拟商品信息 -->
	{if $order.cate_id}
	{if $order.delivery_status eq 1  && $order.is_arrival eq 0}
		<div class="address-info">
			<div class="address-hd"><strong>{$LANG.Home_uc_luck_detail_virtual_product}</strong></div>
			<div class="address-bd">
			<p>{$LANG.Home_uc_luck_detail_tips07}</p>
			</div>
		</div>
	{elseif $order.delivery_status eq 1  && $order.is_arrival eq 1}
	<div class="address-info">
			<div class="address-hd"><strong>{$LANG.Home_uc_luck_detail_virtual_product}</strong></div>
			<div class="address-bd">
			<p>{$LANG.Home_uc_luck_detail_tips07}{$delivery_notice.fictitious_info}</p>
			</div>
		</div>
	{/if}
	<!-- 收货信息和物流信息 -->
	{else}
	{if $order.delivery_status eq 1}
	{if $order.is_arrival eq 0 && $order.delivery_status eq 1}
		<div class="address-info">
			<div class="address-hd"><strong>{$LANG.Home_uc_luck_detail_delivery_information}</strong></div>
			<div class="address-bd">
				<p>{$LANG.Home_uc_luck_detail_Receiver}{$order.consignee}</p>
				<p>{$LANG.Home_uc_luck_detail_contact_number}{$order.mobile}</p>
				<p>{$LANG.Home_uc_luck_detail_Shipping_address}{$order.region_info} ,{$order.zip}</p>
			</div>
		</div>
		{/if}
			{if $delivery_notice}
			<div class="address-info">
				<div class="address-hd"><strong>{$LANG.Home_uc_luck_detail_Logistics_information}</strong></div>
				<div class="address-bd">
					<p>{$LANG.Home_uc_luck_detail_Logistics_company}{$delivery_notice.express_name}</p>
					<p>{$LANG.Home_uc_luck_detail_Waybill_number}{$delivery_notice.notice_sn}</p>
				</div>
			</div>
			{/if}
		{/if}
		{/if}
		<!-- 添加地址 -->
		{if $order.is_set_consignee eq 0}
	<div class="uc_luck_add_consignee" {if $count_consignee gt 0}style="display:none;"{/if}>
		<form name="my_address" method="post" action="{url x="index" r="uc_consignee#save"}">
			<div id="cart_consignee" rel="{$consignee_id}">
	
					</div>
			<dl class="submit_dl">
				<dt></dt>
				<dd style="text-align: left">
				<input type="hidden" name="jump_type" value="uc_luck_detail"/>
				<input type="hidden" name="order_item_id" value="{$order.id}"/>
				<button type="button" value="{$LANG.Home_uc_luck_detail_Save_address}"  rel="orange" name="commit"  id="sub_address" class="btn btn-main noform"  >{$LANG.Home_uc_luck_detail_Save_address}</button>
				</dd>
			</dl>
		</form>	
		<div class="blank30">	</div>
	</div>
				
				{if !$order.cate_id  &&  $consignee_list}
						<div class="info_table">
							<div class="address-title">
								<h1><strong>{$LANG.Home_uc_luck_detail_my_address}</strong><span>{$LANG.Home_uc_luck_detail_Saved}<b>{$count_consignee}</b>{$LANG.Home_uc_luck_detail_Address_you_can_also_save}<b><?php echo (5-$this->_var['count_consignee']);?></b></span>
								{if $count_consignee lt 5}<a href="javascript:luck_add_consignee();" target="_blank" class="f_r">{$LANG.Home_uc_luck_detail_Add_address}>></a>{/if}
								</h1>
							</div>
							<table class="address-list">
								<tbody>
									<tr>
											<th width="183">{$LANG.Home_uc_luck_detail_Receiver}</th>
											<th width="344">{$LANG.Home_uc_luck_detail_Area}</th>
											<th width="216">{$LANG.Home_uc_luck_detail_Cell_phone}</th>
											<th width="221" style="padding-left: 30px;">{$LANG.Home_uc_luck_detail_operate}</th>
									</tr>
									{foreach from=$consignee_list item=item key=key}
									<tr class="alt {if $item.is_default eq 1}checked{/if}" data-id="{$item.id}">
											<td>{$item.consignee}</td>
											<td class="region">{$item.region_lv2}&nbsp;{$item.region_lv3}&nbsp;{$item.region_lv4} {$item.address}{if $item.zip} ,{$item.zip}{/if}</td>
											<td class="mobile" width="80">{$item.mobile}</td>
											<td class="operate" style="padding: 0 25px">
												{if $item.is_default eq 1}<span class="default-add">{$LANG.Home_uc_luck_detail_default_address}</span>{else}<a href="javascript:void(0);" class="default" dfurl="{$item.dfurl}">{$LANG.Home_uc_luck_detail_set_as_the_default_address}</a>{/if}
												<a href="{url x="index" r="uc_consignee#add" p="id=$item.id"}">{$LANG.Home_uc_luck_detail_modify}</a> | <a href="javascript:void(0);" class="del" url="{$item.del_url}">{$LANG.DELETE}</a>
												<div class="check-ico"></div>
											</td>
			                         </tr>
			                         {/foreach}
								</tbody>
							</table>
						</div>
						<dl class="submit_dl">
							<dt></dt>
							<dd>
							<input type="hidden" name="order_item_id" value="{$order.id}"/>
							<button type="button" value="{$LANG.Home_uc_luck_detail_Confirm_your_delivery_address}"  rel="orange" name="commit"  id="confirm_address" class="btn btn-main noform">{$LANG.Home_uc_luck_detail_Confirm_your_delivery_address}</button>
							</dd>
						</dl>
						
						{/if}
					{/if}
				
	<!-- 商品信息 -->
		<table class="goods-info">
			<thead>
				<tr>
		            <th class="col1">{$LANG.Home_uc_luck_detail_commodity}</th>
		            <th class="col2"></th>
		            <th class="col3">{$LANG.Home_uc_luck_detail_Price_Indonesia_Coin}</th>
		            <th class="col4">{$LANG.Home_uc_luck_detail_Quantity}</th>
		            <th class="col5">{$LANG.Home_uc_luck_detail_Commodity_status}</th>
		        </tr>
	    	</thead>
			<tbody>
				<tr>
		            <td class="col1">
		            	<div class="goods-pic">
		            		<a href="{url r="index" r="duobao" p="id=$duobao_item.id"}"><img src="{$order.deal_icon}" width="74" height="74"></a>
		            	</div>
		            </td>
		            <td class="col2">
		            	<div class="good-info">
		            		<p class="txt-over good-title"><a href="{url r="index" r="duobao" p="id=$duobao_item.id"}" style="color:#333">{$duobao_item.name}</a></p>
		            		<p class="code">{$LANG.Home_uc_luck_detail_Lucky_number}<strong class="txt-red">{$duobao_item.lottery_sn}</strong></p>
		            		<p class="time">{$LANG.Home_uc_luck_detail_Announcement_time}{function name="to_date" value="$duobao_item.lottery_time"}</p>
		            	</div>
		            </td>
		            <td class="col3">{$duobao_item.value_price}</td>
		            <td class="col4">1</td>
		            <td class="col5">
		            <!-- 虚拟 -->
		            {if $order.cate_id}
		            {if $order.is_arrival eq 0 && $order.delivery_status eq 0 }<p>{$LANG.Home_uc_luck_detail_Waiting_for_merchandise_dispatch}</p>{/if}
		            {if $order.is_arrival eq 0 && $order.delivery_status eq 1}<p>{$LANG.Home_uc_luck_detail_To_be_confirmed_receipt}</p>{/if}
		            {if $order.is_arrival eq 1 && $order.delivery_status eq 1}<p>{$LANG.Home_uc_luck_detail_Have_been_received} {if $order.is_send_share eq 1}<a  href="{url x="index" r="share#detail" p="id=$order.share_id"}">{$LANG.Home_uc_luck_detail_View_display_order}</a>{else}<a  href="{url x="index" r="uc_share#add" p="id=$order.id"}">{$LANG.Home_uc_luck_detail_Display_order}</a>{/if}</p>{/if}
		            <!-- end -->
		            {else}
		            	{if $order.is_arrival eq 0 && $order.delivery_status eq 0}<p>{$LANG.Home_uc_luck_detail_Waiting_for_merchandise_dispatch}</p>{/if}
		            	{if $order.is_arrival eq 0 && $order.delivery_status eq 1}<p>{$LANG.Home_uc_luck_detail_To_be_confirmed_receipt}</p>{/if}
		            	{if $order.is_arrival eq 0 && $order.is_set_consignee eq 0}<p>{$LANG.Home_uc_luck_detail_To_be_confirmed_delivery_address}</p>{/if}
		            	{if $order.is_arrival eq 1 && $order.delivery_status eq 1}<p>{$LANG.Home_uc_luck_detail_Have_been_received} {if $order.is_send_share eq 1}<a  href="{url x="index" r="share#detail" p="id=$order.share_id"}">{$LANG.Home_uc_luck_detail_View_display_order}</a>{else}<a  href="{url x="index" r="uc_share#add" p="id=$order.id"}">{$LANG.Home_uc_luck_detail_Display_order}</a>{/if}</p>{/if}
		            {/if}
		            </td>
		        </tr>
	    	</tbody>
		</table>
	</div>
</div>
<!-- 确认收货地址弹出框 -->
<div class="confirm-address-weebox" style="display:none;">
	<div class="address-weebox-content">
		<div class="aw-title"><h2>{$LANG.Home_uc_luck_detail_tips08}</h2></div>
		<div class="aw-info">
			<div class="addr-item">{$LANG.Home_uc_luck_detail_Receiver}<span></span></div>
			<div class="addr-item">{$LANG.Home_uc_luck_detail_contact_number}<span></span></div>
			<div class="addr-item">{$LANG.Home_uc_luck_detail_Shipping_address}<span></span></div>
			<div class="addr-item red">{$LANG.Home_uc_luck_detail_tips09}</div>
		</div>
		
	</div>
</div>

{include file="inc/footer.html"}
