<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_money_incharge.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/plupload.full.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_order.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_order.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_money_incharge.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_money_incharge.js";

?>
{include file="inc/header.html"}

<div class="blank20"></div>

<div class="{function name="load_wrap" t=$wrap_type} clearfix">
	<div class="side_nav f_l ">
		{include file="inc/uc_nav_list.html"}
	</div>
	<div class="right_box">
		<ul class="web-map clearfix">
			<li>Current location:</li>
			<li><a href="{url x="index" r="uc_center"}">My treasure</a> ></li>
			<li class="txt-red">My assets</li>
		</ul>
		<div class="main_box uc_info_box">
			<div class="main_roll f_l" id="main_roll">

			<ul class="roll">
			{adv group="slide" code="<li>__ADV_CODE__</li>" w="1000" h="96"}	
			</ul>
		
			</div>

			<!-- 资产标题 -->
			<div class="info_box">
				<div class="blank20"></div>
				<h3>My asset information</h3>
				<div class="blank10"></div>
				<div class="bg_box growth_content">
					
					<div class="info_items">
						<ul>
							<li><label>My current balance is:</label><span class="main_color">{function name="format_price" v=$user_info.money}</span>
							
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			
			<div id="cart_payment">
		
					<form name="incharge_form" action="{url x="index" r="uc_money#incharge_done"}" method="post" />	
					<div class="info_table">
					<table>
						<tr>
							<td colspan=2 class="payment_list_td">
								{if $bank_paylist}
								{foreach from=$bank_paylist item=payment_item}	
									{$payment_item.display_code}											
								{/foreach}	
								{/if}
								{if $bank_paylist && $icon_paylist}<div class="blank"></div>{/if}
								{if $icon_paylist}
								{foreach from=$icon_paylist item=payment_item}
									{$payment_item.display_code}
								{/foreach}
								{/if}
							</td>
						</tr>
						<tr>
							<td class="payment_input">
								<div style="width: 143px;float: right;">
									<input type="text" class="ui-textbox" name="money" holder="Please enter the top-up amount" />
								</div>
							</td>
							<td class="payment_btn"><button class="ui-button orange" rel="orange" type="submit">Pay now</button></td>
						</tr>
					</table>
					</div>
					</form>
					
	
			</div>
			
			<!-- 资产内容 -->
			<div class="blank20"></div>
			<div class="info_box">
				<h3>Recharge record</h3>
				<div class="blank10"></div>
				<div class="info_table order_table">
					<table>
						<tbody>
						<tr>
							<th width="120">Time</th>
							<th width="auto">Details</th>
							<th width="100">Handling fee</th>
							<th width="100">Operation</th>
						</tr>
							
							{foreach from=$list item=row}
							<tr class="alt">
                                <td>
								{function name="to_date" value=$row.create_time}
								</td>
                                <td class="tl">
									Recharge order number: <h1>{$row.order_sn}</h1><br />
									Payment note number: <h1>{$row.payment_notice.notice_sn}</h1>, payment method: <h1>{$row.payment.name}</h1><br />
									{if $row.payment_notice.outer_notice_sn}
									Payment platform number:<h1>{$row.payment_notice.outer_notice_sn}</h1><br />
									{/if}
									Recharge amount:<h1><?PHP echo format_price($this->_var['row']['total_price']-$this->_var['row']['payment_fee']);?></h1>
									{if $row.pay_status eq 2}
									&nbsp;&nbsp;Recharge arrival time:<h1>{function name="to_date" value=$row.payment_notice.pay_time}</h1>
									{/if}
                                </td>
                                <td>{function name="format_price" v=$row.payment_fee}</td>
								<td class="op_box">
									{if $row.pay_status eq 0}									
									<a href="{url x="index" r="payment#pay" p="id=$row.payment_notice.id"}">Continue payment</a><br />
									<a href="javascript:void(0);" class="del_order" action="{url x="index" r="uc_order#cancel" p="id=$row.id"}">delete</a>
									{/if}
									{if $row.order_status eq 1}
									{if $row.pay_status eq 2}<br />{/if}
									<a href="javascript:void(0);" class="del_order" action="{url x="index" r="uc_order#cancel" p="id=$row.id"}">delete</a>
									{/if}
								</td>
                            </tr>
                            {/foreach}
                           
                            <tr >
                            	{if $list}
                                <td colspan="4"><div class="pages">{$pages}</div></td>
                                {else}
                                <td colspan="4"><span>No recharge record temporarily</span></td>
                                {/if}
                            </tr>
						</tbody>
					</table>
				</div>
				
			</div>	
			
			
		</div>
	</div>	
</div>
<div class="blank20"></div>
{include file="inc/footer.html"}