<?php
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/style.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/uc_share.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/weebox.css";
$this->_var['pagecss'][] = $this->_var['TMPL_REAL']."/css/utils/fanweUI.css";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.bgiframe.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.weebox.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.pngfix.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.animateToClass.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/jquery.timer.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/utils/plupload.full.min.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/fanwe_utils/fanweUI.js";

$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/script.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/login_panel.js";
$this->_var['pagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_share_add.js";
$this->_var['cpagejs'][] = $this->_var['TMPL_REAL']."/js/page_js/uc/uc_share_add.js";
?>
{include file="inc/header.html"}

<script type="text/javascript" src="{$APP_ROOT}/system/region.js"></script>	
<script>
var UPLOAD_URL = '{url x="index" r="file#upload_share" p="id=$duobao_item.id"}';
</script>
<div class="blank20"></div>

<div class="{function name="load_wrap" t=$wrap_type} clearfix">
	<div class="side_nav f_l ">
		{include file="inc/uc_nav_list.html"}
	</div>
	<div class="right_box">
		<ul class="web-map clearfix">
			<li>Current location:</li>
			<li><a href="{url x="index" r="uc_center"}">My treasure</a> ></li>
			<li><a href="{url x="index" r="uc_share"}">My order</a> ></li>
			<li class="txt-red">Add new orders</li>
		</ul>
		<div class="share-banner"></div>
		<div class="blank20"></div>
		<div class="add-share-box">
			<div class="share-add-pic"></div>
			<div class="share-add-info">
				<p class="title" style="padding-bottom: 14px;">Dear user</p>
				<p>Congratulations on your lucky number in Loot! </p>
				<p>Now, we invite you to post your order! You can take photos of the products you get, and put them online with text. </p>
				<p>You can share your joy with netizens with your posting order, and help everyone understand more about the fun of the One Dollar Looting Platform. Moreover, if you post your order successfully, you will receive a direct red envelope reward, with a maximum value of 10 Looting Coins ! </p>
				<p class="title">When posting the order, we remind you to pay attention to the following points:</p>
				<p class="item"><span class="num">1</span>
					The detailed content is the essence of the posting. Therefore, it is recommended that your posting is no less than 30 words and accompanied by more than 3 different photos (guiqiu HD without code);</p>
				<p class="item"><span class="num">2</span>
					Truth is the soul of the order, so you can also post the express order number~</p>
				<p class="item"><span class="num">3</span>
					Generally, everyone likes to be immortal, so it would be great if you can take a photo with the merchandise and worship it together! </p>
				<p class="item"><span class="num">4</span>
					The higher the quality of the order, the more fun, the higher the value of the red envelope! </p>
				<p class="item"><span class="num">5</span>
					If the same type of goods have been obtained multiple times, please do not simply copy and paste the previous list. </p>
			</div>
			<div class="blank20"></div>
			<div class="blank20"></div>
			<div class="share-add-btn-box">
				<button class="btn btn-main share-add-btn">I got it, start posting</button>
			</div>
			<div class="blank30"></div>
			<div class="blank20"></div>
		</div>
		<form name="share_form" action="{url x="index" b="uc_share#save"}" method="post">
		<div class="share-add-form">
			<h1 class="title">
				Edit the content of the order <span>Win a red envelope with a maximum value of 10 treasure coins</span>
			</h1>
			<div class="blank30"></div>
			<div class="share-title">
				<label>Posting list subject:</label>
				<div class="input-box">
					<input name="title" type="text" holder="not less than 6 words" placeholder="not less than 6 words">
				</div>
			</div>
			<div class="blank20"></div>
			<div class="share-info">
				<label>Lucky words:</label>
				<div class="input-box textarea-box">
					<span class="textarea-holder">In order to better share your joy with netizens, the text content is <b>not less than 30 words. If you pass the review, you will receive a direct red envelope reward, with a maximum value of 10 treasure coins! </b></span>
					<textarea name="content"  class="share-textarea"></textarea>
					<div class="blank10"></div>
				</div>
				
			</div>
			<div class="blank20"></div>
			<div class="share-img">
				<label>Upload image:</label>
				<div class="pic-upload">
					<button class="btn btn-sim share_imgs_upbtn">Select photo</button>
					<span class="upload-tips">The uploaded photo must be a real product photo, and the size of a single photo should not exceed {$img_max_size}M </span>
				</div>
			</div>
			<div class="share_imgs_upload_box pub_upload_img_box"></div>
			<div class="blank30"></div>
			<div class="share-button">
				<input type="hidden" name="duobao_item_id" value="{$duobao_item.id}"/>
				<button class="btn btn-main">Release</button>
			</div>
		</div>
		</form>
	</div>
</div>
<div class="blank20"></div>
{include file="inc/footer.html"}