{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<script type="text/javascript" src="__TMPL__Common/js/calendar/calendar.php?lang=zh-cn" ></script>
<load href='__TMPL__Common/js/calendar/calendar.css' />
<load href='__TMPL__Common/js/calendar/calendar.js' />
<PHP>
	function get_handle($id, $duobaoItem)
	{
		$str.="<a href='javascript:del_duobao(".$id.");'>".l("DEL")."</a>";
		if($duobaoItem['success_time']==0)
		{
			$str.="&nbsp;<a href='javascript:prepare_lottery(".$id.");'>".l("DuobaoItem_index_tips01")."</a>";
			
			if($GLOBALS['db']->getOne("select robot_type from ".DB_PREFIX."duobao where id = ".$duobaoItem['duobao_id'])==1)
			{
				$str.="&nbsp;<a href='javascript:prepare_lottery_1(".$id.");'>".l("DuobaoItem_index_tips02")."</a>";
			}
		}
		if($duobaoItem['success_time']>0&&$duobaoItem['has_lottery']==0)
		{
			if($duobaoItem['fair_type']=="yydb")
			$str.="&nbsp;<a href='javascript:draw_lottery_yydb(".$id.",".$duobaoItem['max_buy'].");'>".l("DuobaoItem_index_Manual_draw")."</a>";
			else
			$str.="&nbsp;<a href='javascript:draw_lottery(".$id.");'>".l("DuobaoItem_index_Manual_draw")."</a>";
		}
		return $str;
	}
	
	function get_has_lottery($has_lottery){
		if($has_lottery == 1){
			$str = '{$DuobaoItem_index_Draw}';
		}else{
			$str = '{$DuobaoItem_index_No_draw}';
		}
		return $str;
	}
	
	function get_current_buy($current_id, $duobao_id){
		$str = "<a href='".u("DuobaoItemLog/index",array("duobao_item_id"=>$duobao_id))."'>".$current_id."</a>";
		return $str;
	}
</php>
<script type="text/javascript">
//完全删除
function del_duobao(id)
{
	if(!id)
	{
		idBox = $(".key:checked");
		if(idBox.length == 0)
		{
			alert(LANG['DELETE_EMPTY_WARNING']);
			return;
		}
		idArray = new Array();
		$.each( idBox, function(i, n){
			idArray.push($(n).val());
		});
		id = idArray.join(",");
	}
	if(confirm(LANG['CONFIRM_DELETE']+"{%DuobaoItem_index_tips03}"))
	$.ajax({ 
			url: ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=foreverdelete&id="+id, 
			data: "ajax=1",
			dataType: "json",
			success: function(obj){
				
				if(obj.status==1)
				{
					$("#info").html(obj.info);
					location.href=location.href;
				}
				else
				{
					if(confirm("{%DuobaoItem_index_tips04}"))
					{
						$.ajax({ 
								url: ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=foreverdelete&force=1&id="+id, 
								data: "ajax=1",
								dataType: "json",
								success: function(obj){
									$("#info").html(obj.info);
									if(obj.status==1)
									{										
										location.href=location.href;
									}
								}
						});
					}
				}
			}
	});
}
	function prepare_lottery(id)
	{
		if(confirm("{%DuobaoItem_index_tips05}"))
		$.ajax({ 
				url: ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=prepare_lottery&id="+id, 
				data: "ajax=1",
				dataType: "json",
				success: function(obj){
					alert(obj.info);
					if(obj.status==1)
					location.href=location.href;
				}
		});
	}
	
	function prepare_lottery_1(id)
	{
		if(confirm("{%DuobaoItem_index_tips06}"))
		$.ajax({ 
				url: ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=prepare_lottery_1&id="+id, 
				data: "ajax=1",
				dataType: "json",
				success: function(obj){
					alert(obj.info);
					if(obj.status==1)
					location.href=location.href;
				}
		});
	}
	
	function draw_lottery(id)
	{
		if(confirm("{%DuobaoItem_index_tips07}"))
		$.ajax({ 
				url: ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=draw_lottery&id="+id, 
				data: "ajax=1",
				dataType: "json",
				success: function(obj){
					alert(obj.info);
					if(obj.status==1)
					location.href=location.href;
				}
		});
	}
	
	function draw_lottery_yydb(id,max)
	{
		var lottery_sn = prompt("{%DuobaoItem_index_tips08}"+max+"{%DuobaoItem_index_tips09}");
		if(lottery_sn!=null)
		{
			var draw_lottery = true;
			if(isNaN(lottery_sn)||lottery_sn<1||lottery_sn>max)
			{
				if(confirm("{%DuobaoItem_index_tips10}"))
					draw_lottery = true;
				else 
					draw_lottery = false;
			}

			if(draw_lottery)
			$.ajax({ 
				url: ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=draw_lottery&id="+id+"&lottery_sn="+lottery_sn, 
				data: "ajax=1",
				dataType: "json",
				success: function(obj){
					alert(obj.info);
					if(obj.status==1)
					location.href=location.href;
				}
			});
		}
		
		
	}
	
	
</script>
<load href='__TMPL__Common/js/jquery.bgiframe.js' />
<load href='__TMPL__Common/js/jquery.weebox.js' />
<load href='__TMPL__Common/style/weebox.css' />
<div class="main">
<div class="main_title">{%DuobaoItem_index_tips11}</div>
<div class="blank5"></div>
<form name="search" action="__APP__" method="get">	
<div class="search_row">

	{%DuobaoItem_index_Issue}：<input type="text" class="textbox" name="id" value="{:strim($_REQUEST['id'])}" style="width:100px;" />
	{%DuobaoItem_index_product_name}：<input type="text" class="textbox" name="duobaoitem_name" value="{:strim($_REQUEST['duobaoitem_name'])}" style="width:100px;" />
	{%DuobaoItem_index_Human_needs_are_full}:
		<select name="is_success">
			<option value="-1" <if condition="intval($_REQUEST['is_success']) eq '-1'">selected="selected"</if>>{%common_All}</option>
			<option value="0" <if condition="intval($_REQUEST['is_success']) eq '0'">selected="selected"</if>>{%common_no}</option>
			<option value="1" <if condition="intval($_REQUEST['is_success']) eq '1'">selected="selected"</if>>{%common_Yes}</option>
		</select>


	{%DuobaoItem_index_Waiting_for_the_draw}：
		<select name="prepare_lottery">
			<option value="-1" <if condition="intval($_REQUEST['prepare_lottery']) eq '-1'">selected="selected"</if>>{%common_All}</option>
			<option value="0" <if condition="intval($_REQUEST['prepare_lottery']) eq '0'">selected="selected"</if>>{%common_no}</option>
			<option value="1" <if condition="intval($_REQUEST['prepare_lottery']) eq '1'">selected="selected"</if>>{%common_Yes}</option>
		</select>

		{%DuobaoItem_index_Draw}：
		<select name="has_lottery">
			<option value="-1" <if condition="intval($_REQUEST['has_lottery']) eq '-1'">selected="selected"</if>>{%common_All}</option>
			<option value="0" <if condition="intval($_REQUEST['has_lottery']) eq '0'">selected="selected"</if>>{%common_no}</option>
			<option value="1" <if condition="intval($_REQUEST['has_lottery']) eq '1'">selected="selected"</if>>{%common_Yes}</option>
		</select>
		
		<input type="hidden" value="DuobaoItem" name="m" />
		<input type="hidden" value="index" name="a" />
		
		<input type="submit" class="button" value="{%SEARCH}" />
		<input type="button" class="button" value="{%DEL}" onclick="del_duobao();" />
</div>
</form>
<div class="blank5"></div>
<html:list 
	id="dataTable" 
	style="dataTable" 
	name="duobaoItem" 
	checkbox="true" 
	action="true" 
	datasource="list" 
	show="id:{%DuobaoItem_index_Issue}|50px
			,duobao_id:{%DuobaoItem_index_Treasure_number}
			,duobaoitem_name:{%DuobaoItem_index_product_name}
			,user_name:{%DuobaoItem_index_Winner}
			,lottery_sn:{%DuobaoItem_index_prize_number}
			,has_lottery|get_has_lottery:{%DuobaoItem_index_Lottery_status}
			,success_time|to_date:{%DuobaoItem_index_Success_time}
			,lottery_time|to_date:{%DuobaoItem_index_Draw_time}
			,fair_sn_local:{%DuobaoItem_index_Value_A}
			,fair_sn:{%DuobaoItem_index_tips12}
			,fair_period:{%DuobaoItem_index_Draw_date_number}
			,max_buy:{%DuobaoItem_index_tips13}
			,current_buy|get_current_buy=$duobaoItem['id']:{%DuobaoItem_index_Purchased}
			,progress:{%DuobaoItem_index_schedule}
			,sort|get_sort=$duobaoItem['id']:{%SORT}
		 	,is_effect|get_toogle_status=$duobaoItem['id']#is_effect:{%DuobaoItem_index_effective}"
	actionlist="id|get_handle=$duobaoItem" />

<div class="blank5"></div>
<div class="page">{$page}</div>
</div>
<include file="Public:footer" />