{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<script type="text/javascript">
	
</script>
<div class="main">
<div class="main_title">{$vo.title}{%EDIT} <a href="{:u("WebArticleCate/index")}" class="back_list">{%BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{%TITLE_SHOW}:</td>
		<td class="item_input"><input type="text" class="textbox require" name="title" value="{$vo.title}" /></td>
	</tr>
	<!-- 	
	<tr>
		<td class="item_title">{%BRIEF}:</td>
		<td class="item_input"><textarea class="textarea" name="brief" >{$vo.brief}</textarea></td>
	</tr>
	 -->	

	<tr id="iconfont_row">
		<td class="item_title">{%WebAritcleCate_Classification_icon}:</td>
		<td class="item_input">
			<a href="javascript:void(0);" class="ui_upload upload_iconfont">{%WebAritcleCate_Upload_new_icon_library}</a>
			<span id="ui_iconfont" >		
				<span class="diyfont" id="diyfont" style="color:{$vo.iconcolor}">{$vo.iconfont}</span>
				<input type="hidden" name="iconfont" value="{$vo.iconfont}" />
			</span>			
			
			<div class="ui_iconfont_select_title">{%WebAritcleCate_tips01}</div>
			<div id="ui_iconfont_select">				
			
			</div>	
		</td>
	</tr>
	<tr>
		<td class="item_title">{%SORT}:</td>
		<td class="item_input"><input type="text" class="textbox" name="sort" value="{$vo.sort}" /></td>
	</tr>
	<tr>
		<td class="item_title">{%IS_EFFECT}:</td>
		<td class="item_input">
			<lable>{%IS_EFFECT_1}<input type="radio" name="is_effect" value="1" <if condition="$vo['is_effect'] eq 1">checked="checked"</if> /></lable>
			<lable>{%IS_EFFECT_0}<input type="radio" name="is_effect" value="0" <if condition="$vo['is_effect'] eq 0">checked="checked"</if> /></lable>
		</td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$vo.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="WebArticleCate" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{%EDIT}" />
			<input type="reset" class="button" value="{%RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer" />