{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<script type="text/javascript">
	var webadv_cfg_json = {$webadv_cfg_json};
	var group_selected = '{$vo.group}';
</script>
<load href='__TMPL__Common/js/webadv_cfg.js' />
<script type="text/javascript">
	$(document).ready(function(){
		load_u_define();
		$("select[name='u_module']").bind("change",function(){ load_u_define();});		
	});
	function load_u_define()
	{
		if($("select[name='u_module']").val()=='')
		{
			$("#u_config").hide();
			$("#u_act").hide();
			$("#u_define").show();
		}
		else
		{
			var module = $("select[name='u_module']").val();
			var id = $("input[name='id']").val();
			$.ajax({ 
					url: ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=load_module&module="+module+"&id="+id, 
					data: "ajax=1",
					dataType: "json",
					success: function(obj){
						if(obj.data)
						{
							var html="<select name='u_action'>";
							for(nameo in obj.data)
							{
								html+="<option value='"+nameo+"' ";
								if(obj.info==nameo)
								{
									html+=" selected='selected' ";
								}
								html+=" >"+obj.data[nameo]+"</option>";
							}
							html+="</select>";
							$("#u_act").html(html);
						}
						else
						{
							$("#u_act").html("");
						}
					}
			});
			$("#u_act").show();
			$("#u_define").hide();
			$("#u_config").show();
		}
	}
</script>
<div class="main">
<div class="main_title">{%EDIT} <a href="{:u("Adv/index")}" class="back_list">{%BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{%ADV_NAME}123:</td>
		<td class="item_input"><input type="text" class="textbox require" name="name" value="{$vo.name}" /></td>
	</tr>
	<tr>
		<td class="item_title">{%Adv_edit_form_On_the_page}:</td>
		<td class="item_input">
			<select name="page_module" class="require">
			<option value="">{%Adv_edit_form_Please_select_page}</option>
			<foreach name="webadv_cfg" key="key" item="page">
				<option value="{$key}" <if condition="$vo['page_module'] eq $key">selected="selected"</if>>{$page.page_name}</option>
			</foreach>
			</select>
		</td>
	</tr>
	<tr>
		<td class="item_title">{%Adv_edit_form_Group}:</td>
		<td class="item_input">
			<select name="group" class="require">
		
			</select>
		</td>
	</tr>
	<tr id="group" >
		<td class="item_title">{%Adv_edit_form_classification}:</td>
		<td class="item_input">
		<select name="page_module_ins" class="require">
		<option value="">{%Adv_edit_form_please_select_a_type}</option>
			 <foreach name="le" key="key" item="le">
			<option value="{$le.id}" <if condition="$vo['cate_id'] eq $le['id']">selected="selected"</if> >{$le.name}</option>
			</foreach>
			</select>
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%Adv_edit_form_Ads_pictures}:</td>
		<td class="item_input">
			<html:imgUpload name = 'image' id='image' value='$vo.image' />
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%Adv_edit_form_Advertising_address}:</td>
		<td class="item_input">
			<select name="u_module">
					<option value="">{%U_DEFINE}</option>
					<foreach name="navs" item="nav" key="key" >
						<option value="{$key}" <if condition="$key eq $vo['u_module']">selected="selected"</if> >{$nav.name}</option>
					</foreach>
			</select>
			<span id="u_act">				
			</span>
			<span id="u_config">				
				{%U_PARAM}：<input type="text" class="textbox" name="u_param"  value="{$vo.u_param} "/>
			</span>
			
			<span id="u_define">
				<input type="text" class="textbox" name="url" value="{$vo.url}" />
			</span>
		</td>
	</tr>
	

	<tr>
		<td class="item_title">{%IS_EFFECT}:</td>
		<td class="item_input">
			<lable>{%IS_EFFECT_1}<input type="radio" name="is_effect" value="1" <if condition="$vo['is_effect'] eq 1 and $vo['id'] gt 0">checked="checked"<else />checked="checked"</if> /></lable>
			<lable>{%IS_EFFECT_0}<input type="radio" name="is_effect" value="0" <if condition="$vo['is_effect'] eq 0 and $vo['id'] gt 0">checked="checked"</if> /></lable>
		</td>
	</tr>
	
	<tr>
		<td class="item_title">{%SORT}:</td>
		<td class="item_input"><input type="text" class="textbox" name="sort" value="{$vo.sort}" /></td>
	</tr>

	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$vo.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="Adv" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="save" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{%Adv_edit_form_save}" />
			<input type="reset" class="button" value="{%RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer" />